Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Ensure duration_ext is added
  appsec/src/extension/ddappsec.c
Due: appsec

Fix crash with double parent key in tracestate
  ext/distributed_tracing_headers.c
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids_tracecontext.phpt
Due: appsec

Fix crash with double parent key in tracestate (#2837)
  ext/distributed_tracing_headers.c
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids_tracecontext.phpt
Due: appsec

Loader: Use the same version number as for other extensions
  .circleci/continue_config.yml
  loader/php_dd_library_loader.h
Due: appsec

Fix #2831
  Cargo.lock
  tests/ext/force_flush_traces.phpt
  tests/ext/pcntl/pcntl_fork_long_running_autoflush.phpt
  tests/ext/telemetry/config.phpt
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

Loader: Use the same version number as for other extensions (#2838)
  .circleci/continue_config.yml
  loader/php_dd_library_loader.h
Due: appsec

Track peak memory usage in root span metrics
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  appsec/tests/extension/root_span_add_tag.phpt
  appsec/tests/extension/root_span_add_tag_with_intermediate_spans.phpt
  docker-compose.yml
  ext/configuration.h
  ext/serializer.c
  github-actions-helpers/Build.Github.cs
  tests/Common/SnapshotTestTrait.php
  tests/Common/SpanChecker.php
  tests/Integrations/Custom/Autoloaded/CompileTimeDisabledTest.php
  tests/Integrations/Custom/Autoloaded/CompileTimeEnabledTest.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V7/GuzzleIntegrationTest.php
  tests/Integrations/Symfony/V4_4/MessengerTest.php
  tests/Integrations/Symfony/V5_2/MessengerTest.php
  tests/Integrations/Symfony/V6_2/MessengerTest.php
  tests/Integrations/Symfony/V7_0/MessengerTest.php
  tests/ext/close_spans_until.phpt
  tests/ext/distributed_tracing/distributed_trace_bogus_ids.phpt
  tests/ext/distributed_tracing/distributed_trace_inherit.phpt
  tests/ext/integrations/source_code/commit_sha_env_var.phpt
  tests/ext/integrations/source_code/git_metadata_injection_from_env.phpt
  tests/ext/integrations/source_code/git_metadata_injection_from_global_tags.phpt
  tests/ext/integrations/source_code/git_metadata_injection_remove_credentials_from_env.phpt
  tests/ext/integrations/source_code/repository_url_env_var.phpt
  tests/ext/sandbox-prehook/dd_trace_method.phpt
  tests/ext/sandbox/dd_trace_function_complex.phpt
  tests/ext/sandbox/dd_trace_function_internal.phpt
  tests/ext/sandbox/dd_trace_method.phpt
  tests/ext/sandbox/die_in_sandbox.phpt
  tests/ext/sandbox/errors_are_flagged_from_userland.phpt
  tests/ext/sandbox/span_clone.phpt
  tests/ext/span_with_removed_exception.phpt
  tests/ext/start_span_with_all_properties.phpt
  tests/ext/start_span_without_closing.phpt
Due: appsec

Fix #2831 (#2839)
  Cargo.lock
  tests/ext/force_flush_traces.phpt
  tests/ext/pcntl/pcntl_fork_long_running_autoflush.phpt
  tests/ext/telemetry/config.phpt
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

Fix github actions permissions
  .github/workflows/auto_add_pr_to_miletone.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_label_prs.yml
Due: none

Track peak memory usage in root span metrics (#2840)
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  appsec/tests/extension/root_span_add_tag.phpt
  appsec/tests/extension/root_span_add_tag_with_intermediate_spans.phpt
  docker-compose.yml
  ext/configuration.h
  ext/serializer.c
  github-actions-helpers/Build.Github.cs
  tests/Common/SnapshotTestTrait.php
  tests/Common/SpanChecker.php
  tests/Integrations/Custom/Autoloaded/CompileTimeDisabledTest.php
  tests/Integrations/Custom/Autoloaded/CompileTimeEnabledTest.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V7/GuzzleIntegrationTest.php
  tests/Integrations/Symfony/V4_4/MessengerTest.php
  tests/Integrations/Symfony/V5_2/MessengerTest.php
  tests/Integrations/Symfony/V6_2/MessengerTest.php
  tests/Integrations/Symfony/V7_0/MessengerTest.php
  tests/ext/close_spans_until.phpt
  tests/ext/distributed_tracing/distributed_trace_bogus_ids.phpt
  tests/ext/distributed_tracing/distributed_trace_inherit.phpt
  tests/ext/integrations/source_code/commit_sha_env_var.phpt
  tests/ext/integrations/source_code/git_metadata_injection_from_env.phpt
  tests/ext/integrations/source_code/git_metadata_injection_from_global_tags.phpt
  tests/ext/integrations/source_code/git_metadata_injection_remove_credentials_from_env.phpt
  tests/ext/integrations/source_code/repository_url_env_var.phpt
  tests/ext/sandbox-prehook/dd_trace_method.phpt
  tests/ext/sandbox/dd_trace_function_complex.phpt
  tests/ext/sandbox/dd_trace_function_internal.phpt
  tests/ext/sandbox/dd_trace_method.phpt
  tests/ext/sandbox/die_in_sandbox.phpt
  tests/ext/sandbox/errors_are_flagged_from_userland.phpt
  tests/ext/sandbox/span_clone.phpt
  tests/ext/span_with_removed_exception.phpt
  tests/ext/start_span_with_all_properties.phpt
  tests/ext/start_span_without_closing.phpt
Due: appsec

Fix github actions permissions (#2842)
  .github/workflows/auto_add_pr_to_miletone.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_label_prs.yml
Due: none

Bump to 1.3.1
  VERSION
  package.xml
Due: none

Test with Edmunds perf improvements
  Makefile
Due: none

Improve pcntl tests stability
  tests/Common/TracerTestTrait.php
  tests/Integrations/PCNTL/PCNTLTest.php
Due: none

Simplify code
  tests/Common/TracerTestTrait.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
  tests/OpenTracing/InternalTelemetryTest.php
Due: none

Throw an exception when expected request is not found
  tests/Common/TracerTestTrait.php
  tests/Integrations/CLI/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V6_2/CommonScenariosTest.php
Due: none

Increase sleep time + make test easier to debug
  tests/Common/TracerTestTrait.php
  tests/Integrations/PCNTL/PCNTLTest.php
  tests/Integrations/PCNTL/scripts/long-running-autoflush.php
Due: none

Work around race conditions leading to different orders or numbers of requests
  tests/Common/TracerTestTrait.php
  tests/Integrations/PCNTL/PCNTLTest.php
  tests/Integrations/PCNTL/scripts/long-running-autoflush.php
Due: none

Install appsec extension and helper
  Makefile
  benchmark/runall.sh
Due: none

Check debbuging logging files
  Makefile
  benchmark/runall.sh
Due: none

Output php modules installed
  benchmark/runall.sh
Due: none

Crashtracker: fix a use-after-free error
  ext/signals.c
Due: appsec

Enable appsec cli on benchmarks
  Makefile
Due: none

Set DD_LOG_BACKTRACE default value to "false" when compiled with libasan
  ext/configuration.h
Due: appsec

Crashtracker: fix a use-after-free error (#2843)
  ext/configuration.h
  ext/signals.c
Due: appsec

Add PHP 8.0 to correctness tests
  .github/workflows/prof_correctness.yml
Due: none

Add PHP 8.0 to correctness tests (#2845)
  .github/workflows/prof_correctness.yml
Due: none

Update rules configuration
  Makefile
Due: none

Remove custom DD_TRACE_SHUTDOWN_TIMEOUT value for most pcntl tests
  tests/Integrations/PCNTL/PCNTLTest.php
Due: none

Give a bit more time to Circle CI
  .gitlab-ci.yml
Due: none

Remove debug mode
  Makefile
Due: none

Avoid failure when no logs generated
  benchmark/runall.sh
Due: none

hook into error callback
  profiling/src/lib.rs
  profiling/src/php_ffi.h
Due: profiling

cleanup
  profiling/build.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
Due: profiling

dear clippy, I am sorry
  profiling/build.rs
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
Due: profiling

report fatals
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
Due: profiling

change to .NET terminology of `stop` vs `end`
  profiling/src/timeline.rs
Due: profiling

report thread start and end
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
Due: profiling

PHP 8.0
  profiling/build.rs
  profiling/src/timeline.rs
Due: profiling

fix PHP 7
  profiling/src/lib.rs
Due: profiling

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
