Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

feat(profiler): Support PHP DEBUG builds for the profiler (#3908)
  .github/workflows/prof_asan.yml
  profiling/build.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/bindings/mod.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
Due: profiling

bump PHP versions and reduce image size
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/bookworm/Dockerfile
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
Due: none

Fix OpenFeature autoload state for ZTS requests
  ext/autoload_php_files.c
  ext/ddtrace.h
Due: appsec

fix(profiling): avoid phantom live-heap entries when alloc channel is full
  profiling/src/profiling/mod.rs
Due: profiling

fix(profiling): skip heap-live tracking for null pointers from malloc
  profiling/src/profiling/mod.rs
Due: profiling

perf(profiling): replace DashMap::len() cap check with AtomicUsize counter
  profiling/src/profiling/mod.rs
Due: profiling

Fix void post hook overwriting retval in OTel hook polyfill
  ext/hook/uhook_otel.c
  tests/ext/sandbox/install_hook/otel_void_post_hook_preserves_retval.phpt
Due: appsec

perf(profiling): snapshot heap-live tracker before processing to reduce lock contention
  profiling/src/profiling/mod.rs
Due: profiling

refactor(profiling): remove redundant is_heap_live_enabled() guards in free/update methods
  profiling/src/profiling/mod.rs
Due: profiling

perf(profiling): replace hand-rolled PointerHasher with FxHasher
  profiling/src/profiling/mod.rs
Due: profiling

refactor(profiling): use SampleTypeFilter in TimeCollector to build heap-live sample values
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
Due: profiling

Skip OTel void-posthook test on PHP < 8.0
  tests/ext/sandbox/install_hook/otel_void_post_hook_preserves_retval.phpt
Due: none

Address FFE evaluation review feedback
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/ffe.rs
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  src/DDTrace/OpenFeature/DataDogProvider.php
  src/api/FeatureFlags/Client.php
  src/api/FeatureFlags/Internal/NativeEvaluator.php
  src/api/FeatureFlags/Internal/NoopWarningEmitter.php
  src/api/FeatureFlags/Internal/RemoteConfigClient.php
  src/api/FeatureFlags/Internal/TriggerErrorWarningEmitter.php
  src/api/FeatureFlags/Internal/UnavailableEvaluator.php
  src/api/FeatureFlags/Internal/WarningEmitter.php
  src/api/Log/TriggerErrorLogger.php
  src/bridge/_files_tracer.php
  tests/OpenFeature/DataDogProviderTest.php
  tests/api/Unit/FeatureFlags/ClientTest.php
  tests/api/Unit/FeatureFlags/RemoteConfigClientTest.php
  tests/ext/ffe/system_test_data_evaluate.phpt
Due: appsec

Simplify FFE result ownership
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/ffe.rs
  ext/ddtrace.c
Due: appsec

Gate OTel void-posthook .phpt on CLI tracing being enabled
  tests/ext/sandbox/install_hook/otel_void_post_hook_preserves_retval.phpt
Due: none

Start using bookworm-8 images in CI
  docker-compose.yml
  dockerfiles/ci/bookworm/.env
Due: none

fix build
  .gitlab/build-appsec.sh
  appsec/src/extension/compatibility.h
  appsec/src/extension/ddappsec.c
  appsec/src/extension/ddtrace.c
  appsec/src/extension/helper_process.c
  appsec/src/extension/network.c
  appsec/src/extension/request_lifecycle.c
  appsec/tests/extension/client_init_bad_msg.phpt
  appsec/tests/extension/client_init_fail.phpt
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/client_init_wrong_version.phpt
  appsec/tests/extension/inc/mock_helper.php
Due: appsec

Check how content-length is reported when zero content-length
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/www/base/public/non_zero_content_length.php
  appsec/tests/integration/src/test/www/base/public/zero_content_length.php
Due: appsec

docs: explain minimal rust install
  dockerfiles/ci/bookworm/Dockerfile
Due: none

build(profiling): allow zend_strdup on macOS
  profiling/build.rs
Due: profiling

build(profiling): allow zend_strdup on macOS (#3923)
  profiling/build.rs
Due: profiling

style(profiling): fix clippy::useless-nonzero-new-unchecked
  profiling/src/allocation/mod.rs
  profiling/src/config.rs
Due: profiling

style(profiling): fix clippy::useless-nonzero-new-unchecked (#3924)
  profiling/src/allocation/mod.rs
  profiling/src/config.rs
Due: profiling

ci(appsec): adopt bookworm-8
  .gitlab/generate-appsec.php
Due: none

ci: use versioned images for shared-ext too
  .gitlab/generate-package.php
  .gitlab/generate-shared.php
Due: none

ci(appsec): clang 17 to clang 20
  .gitlab/generate-appsec.php
Due: none

Address FFE runtime review feedback
  .github/dependabot.yml
  components-rs/ffe.rs
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/remote_config.c
  ext/remote_config.h
  src/DDTrace/OpenFeature/DataDogProvider.php
  src/api/FeatureFlags/Client.php
  src/api/FeatureFlags/Internal/NativeEvaluator.php
  src/api/FeatureFlags/Internal/ResultMapper.php
  tests/OpenFeature/DataDogProviderTest.php
  tests/api/Unit/FeatureFlags/ClientTest.php
  tests/api/Unit/FeatureFlags/ResultMapperTest.php
  tests/ext/ffe/native_bridge_evaluate.phpt
  tests/ext/ffe/remote_config_lifecycle.phpt
  tests/ext/ffe/system_test_data_evaluate.phpt
Due: appsec

Restrict FFE fixture submodule updates
  .github/dependabot.yml
Due: none

ci(appsec): bump Rust to 1.87
  appsec/tests/integration/build.gradle
  appsec/tests/integration/src/docker/nginx-fpm-musl/Dockerfile
  appsec/tests/integration/src/docker/php/Dockerfile-php-deps
Due: appsec

Address FFE API review follow-up
  ext/ddtrace.c
  src/api/FeatureFlags/Client.php
  src/api/FeatureFlags/EvaluationDetails.php
  tests/api/Unit/FeatureFlags/ClientTest.php
  tests/ext/ffe/native_bridge_evaluate.phpt
Due: appsec

bump PHP and Rust for Windows too
  dockerfiles/ci/windows/basetools.Dockerfile
  dockerfiles/ci/windows/docker-compose.yml
Due: none

fix(ffe): use compatible result property updates
  ext/ddtrace.c
Due: appsec

Avoid FFE metric stress argument explosion
  tests/internal-api-stress-test.php
Due: none
