Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

comments
  .gitlab/generate-ci-images.php
Due: none

remove 'learnings'
  dockerfiles/ci/README.md
Due: none

ci-images: clean up comments, wait on public-images publish status
  .gitlab/generate-ci-images.php
Due: none

fix(curl): enforce DD_TRACE_SPANS_LIMIT for curl_multi_exec parent spans (APMS-19944)
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  tests/ext/integrations/curl/curl_multi_exec_span_limit.phpt
Due: none

test(curl): drop flaky is_limited assertion from span-limit test
  tests/ext/integrations/curl/curl_multi_exec_span_limit.phpt
Due: none

test(curl): remove comments from span-limit test
  tests/ext/integrations/curl/curl_multi_exec_span_limit.phpt
Due: none

Remove data being unwillingly propagated according to spec
  tracer/distributed_tracing_headers.c
  tracer/functions.c
Due: none

Proper extract result cleanup in restart path
  tracer/distributed_tracing_headers.c
Due: none

add a workflow to delete pr images when the pr is closed
  .github/workflows/delete-pr-image.yml
Due: none

refactor: realign after meeting with Bob and Ivo
  Cargo.lock
  components-rs/datadog.h
  components-rs/lib.rs
  datadog.sym
  profiling/src/profiling/mod.rs
  tracer/profiling.c
  tracer/profiling.h
Due: profiling

delete image with same tag before pushing
  .gitlab/generate-package.php
Due: none

prevent two uploading jobs from running concurrently, skip uploading images them in the default branch
  .gitlab/generate-package.php
Due: none

ci: publish CI images to internal registry first (#4002)
  .github/workflows/prof_asan.yml
  .gitlab-ci.yml
  .gitlab/ci-images.yml
  .gitlab/generate-appsec.php
  .gitlab/generate-ci-images.php
  .gitlab/generate-package.php
  .gitlab/generate-profiler.php
  .gitlab/generate-shared.php
  .gitlab/generate-tracer.php
  docker-compose.yml
  dockerfiles/ci/README.md
  dockerfiles/ci/alpine/docker-compose.yml
  dockerfiles/ci/alpine/php-8.0/Dockerfile
  dockerfiles/ci/alpine_compile_extension/Dockerfile
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/bookworm/build-extensions.sh
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/centos/7/php.Dockerfile
  dockerfiles/ci/windows/Dockerfile
  dockerfiles/ci/windows/basetools.Dockerfile
  dockerfiles/ci/windows/docker-compose.yml
  dockerfiles/ci/windows/setup_deps.bat
  dockerfiles/ci/windows/vc15.Dockerfile
  tooling/bin/build-debug-artifact
Due: none

Gate upload to having a PR open
  .github/chainguard/gitlab-ci-publish-packages.sts.yaml
  .gitlab/generate-package.php
Due: none

upload image with builds for all archs
  .gitlab/generate-package.php
Due: none

ci: publish docker image for system tests (#4013)
  .github/chainguard/gitlab-ci-publish-packages.sts.yaml
  .github/workflows/delete-pr-image.yml
  .gitlab/generate-package.php
Due: none

fix(curl): check span limit at top of curl_multi_exec hook
  src/DDTrace/Integrations/Curl/CurlIntegration.php
Due: none

meta tags are necessary when building the link in `dd_parse_distributed_tracing_headers_function`, but not in progagation behavior extract restart
  tracer/functions.c
Due: none

fix(curl): enforce DD_TRACE_SPANS_LIMIT for curl_multi_exec parent spans (APMS-19944) (#4030)
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  tests/ext/integrations/curl/curl_multi_exec_span_limit.phpt
Due: none

Increase default timeout a bit more, for sidecar only
  Makefile
  ext/configuration.h
  metadata/supported-configurations.json
  tests/ext/background-sender/agent_headers_unix_domain_socket.phpt
  tests/ext/background-sender/default_unix_domain_socket_agent.phpt
  tracer/coms.c
Due: appsec

[CIEXE-2016] Migrate GitLab CI jobs to pod-level resource variables
  .gitlab/generate-appsec.php
  .gitlab/generate-package.php
  .gitlab/generate-profiler.php
  .gitlab/generate-tracer.php
Due: none

[CIEXE-2016] Account for service container resources in pod-level budget
  .gitlab/generate-common.php
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
Due: none

[CIEXE-2016] Fix pod resource budgets for dind jobs and OOMKilled jobs
  .gitlab/generate-appsec.php
  .gitlab/generate-package.php
  .gitlab/generate-profiler.php
  .gitlab/generate-tracer.php
Due: none

[CIEXE-2016] Fix pod resource budgets to satisfy pod-level scheduling constraints
  .gitlab/generate-appsec.php
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
Due: none

manual running of publish jobs otherwised blocked by flaky jobs
  .gitlab/generate-package.php
Due: none

appsec/benchmark
  appsec/examples/benchmark/.dockerignore
  appsec/examples/benchmark/.gitignore
  appsec/examples/benchmark/Caddyfile
  appsec/examples/benchmark/Dockerfile
  appsec/examples/benchmark/README.md
  appsec/examples/benchmark/docker-compose.yml
  appsec/examples/benchmark/run-benchmark.py
  appsec/examples/benchmark/www/index.php
Due: appsec

Use $GITLAB_PERSONAL_ACCESS_TOKEN in check-ci-jobs
  appsec/helper-rust/CLAUDE.md
  appsec/helper-rust/scripts/check-ci-jobs.py
Due: appsec

Update libddwaf-rust to 2.0.1
  appsec/helper-rust/Cargo.lock
  appsec/helper-rust/src/client.rs
Due: appsec

Fix _tshutdown_handler() calling
  appsec/src/extension/ddappsec.c
  appsec/src/extension/ddappsec.h
Due: appsec

lint
  appsec/src/extension/ddappsec.c
Due: appsec

fix helper-rust test build
  appsec/helper-rust/src/client/protocol.rs
Due: appsec

ci: sign CI images with ddsign
  .gitlab/generate-ci-images.php
Due: none

docs: describe ddsign image signing in dockerfiles/ci README
  dockerfiles/ci/README.md
Due: none

ci: fix ddsign signing for bake-built images
  .gitlab/generate-ci-images.php
  dockerfiles/ci/README.md
Due: none

Consolidate Claude config: shared vs personal split + project.md
  .claude/.gitignore
  .claude/personal/README.md
  .claude/project.md
  CLAUDE.md
Due: none

Auto-load common config via @import (general.md, project.md)
  CLAUDE.md
Due: none

fix(live-debugger): key spans_map by config_id to prevent probe hook use-after-free
  components-rs/remote_config.rs
  tests/ext/live-debugger/debugger_remove_shared_probe_id.phpt
Due: none

test(live-debugger): distinguish configs by an ignored field, not tags
  tests/ext/live-debugger/debugger_remove_shared_probe_id.phpt
Due: none

Embed default ruleset in helper-rust
  appsec/cmake/update_helper_rust_stamp.cmake
  appsec/helper-rust/src/service.rs
  appsec/helper-rust/src/service/waf_ruleset.rs
  appsec/tests/integration/build.gradle
  datadog-setup.php
Due: appsec

ci: fix jq reslice for bake-sanitized target names
  .gitlab/generate-ci-images.php
  dockerfiles/ci/README.md
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
