Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling

refactor: use zai_string_view apis instead of reaching in
  zend_abstract_interface/config/config.c
Due: zend_abstract_interface, profiling

Add run and directory
  .github/workflows/prof_correctness.yml
Due: none

fix: move 'comment' to actual comment as it was a syntax error
  profiling/tests/correctness/strange_frames.php
Due: profiling

Regex fun
  profiling/tests/correctness/strange_frames.json
Due: profiling

fix fix fix
  profiling/tests/correctness/strange_frames.json
Due: profiling

fix: zai_config_initialize_ini_value to use zai_string_stuffed
  zend_abstract_interface/config/config_ini.c
Due: zend_abstract_interface, profiling

Add zai_option_str and use it in zai config
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_ini.h
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

refactor!: zai_string_view APIs and use them more
  ext/configuration.c
  ext/ddtrace.c
  ext/hook/uhook.c
  ext/integrations/integrations.c
  ext/serializer.c
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/exceptions/exceptions.h
  zend_abstract_interface/exceptions/tests/exceptions.cc
  zend_abstract_interface/interceptor/tests/resolver.cc
  zend_abstract_interface/symbols/api/call.h
  zend_abstract_interface/symbols/api/class.h
  zend_abstract_interface/symbols/api/constant.h
  zend_abstract_interface/symbols/api/function.h
  zend_abstract_interface/symbols/api/property.h
  zend_abstract_interface/symbols/lookup.c
  zend_abstract_interface/symbols/tests/api/call.cc
  zend_abstract_interface/symbols/tests/api/class.cc
  zend_abstract_interface/symbols/tests/api/constant.cc
  zend_abstract_interface/symbols/tests/api/function.cc
  zend_abstract_interface/symbols/tests/api/property.cc
  zend_abstract_interface/symbols/tests/call/closure.cc
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

refactor!: add zai_str_is_empty, remove zai_string_stuffed
  zend_abstract_interface/config/config_runtime.c
  zend_abstract_interface/env/env.c
  zend_abstract_interface/headers/headers.c
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

[ci skip] fix grammar in comment
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

refactor: shorten the new zai_string_view APIs
  ext/configuration.c
  ext/hook/uhook.c
  ext/serializer.c
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/exceptions/exceptions.h
  zend_abstract_interface/symbols/lookup.c
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

test: add `Datadog\Profiling\trigger_time_sample` (#2201)
  .github/workflows/prof_correctness.yml
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/capi.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/tests/correctness/strange_frames.json
  profiling/tests/correctness/strange_frames.php
Due: profiling

Add extra services (#282)
  src/extension/commands/client_init.c
  src/extension/configuration.c
  src/extension/configuration.h
  src/helper/remote_config/client.cpp
  src/helper/remote_config/protocol/client_tracer.hpp
  src/helper/remote_config/protocol/tuf/serializer.cpp
  src/helper/service_identifier.hpp
  tests/extension/rinit_rshutdown_basic.phpt
  tests/helper/remote_config/client_handler_test.cpp
  tests/helper/remote_config/client_test.cpp
  tests/helper/remote_config/serializer_test.cpp
  tests/helper/service_manager_test.cpp
  tests/helper/service_test.cpp
Due: none

Add theme name + ease UI individual placeholder rendering
  src/Integrations/Integrations/Drupal/DrupalIntegration.php
Due: none

Handle killed workers and change root span initialization in the integrations (#2176)
  ext/compatibility.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  src/Integrations/Integrations/CakePHP/CakePHPIntegration.php
  src/Integrations/Integrations/CodeIgniter/V2/CodeIgniterIntegration.php
  src/Integrations/Integrations/Laminas/LaminasIntegration.php
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Integrations/LaravelQueue/LaravelQueueIntegration.php
  src/Integrations/Integrations/Logs/LogsIntegration.php
  src/Integrations/Integrations/Lumen/LumenIntegration.php
  src/Integrations/Integrations/Nette/NetteIntegration.php
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
  src/Integrations/Integrations/Yii/YiiIntegration.php
  tests/Frameworks/Symfony/Version_5_2/.env
  tests/ext/force_flush_traces.phpt
Due: none

Update test: Deprecation warnings not shown if disabled
  tests/ext/dd_trace_push_span_id_from_userland.phpt
Due: none

(SIGSEGV) Add a safety check
  ext/span.c
Due: none

upadte buster
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-php.sh
Due: none

update rust to 1.70
  Cargo.lock
  dockerfiles/ci/alpine_compile_extension/Dockerfile
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/base.Dockerfile
  profiling/rust-toolchain.toml
Due: profiling

Add lld
  dockerfiles/ci/alpine_compile_extension/Dockerfile
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/centos/7/base.Dockerfile
Due: none

update
  dockerfiles/ci/alpine_compile_extension/Dockerfile
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/centos/7/base.Dockerfile
Due: none

blazingly fast
  dockerfiles/ci/README.md
  dockerfiles/ci/alpine_compile_extension/Dockerfile
Due: none

update centos PHP
  dockerfiles/ci/centos/7/docker-compose.yml
Due: none

update llvm
  dockerfiles/ci/alpine_compile_extension/Dockerfile
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/centos/7/base.Dockerfile
  dockerfiles/ci/centos/7/download-src.sh
Due: none

build: Update to Rust 1.71 / Alpine 3.18 (#2208)
  Cargo.lock
  dockerfiles/ci/README.md
  dockerfiles/ci/alpine_compile_extension/Dockerfile
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-php.sh
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/base.Dockerfile
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/centos/7/download-src.sh
  profiling/rust-toolchain.toml
Due: profiling

Update libdatadog to `v3.0.0`
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/uploader.rs
Due: profiling

Prepare metrics information
  src/Integrations/Integrations/Drupal/DrupalIntegration.php
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
Due: none

fix: add Symfony command's exception to the root span (#2194)
  ext/span.c
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
  tests/Frameworks/Symfony/Version_4_4/src/Command/ThrowCommand.php
  tests/Frameworks/Symfony/Version_5_2/src/Command/ThrowCommand.php
  tests/Frameworks/Symfony/Version_6_2/src/Command/ThrowCommand.php
  tests/Integrations/CLI/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V6_2/CommonScenariosTest.php
  tests/ext/dd_trace_push_span_id_from_userland.phpt
Due: none

Release v0.12.0 (#284)
  CHANGELOG.md
  CMakeLists.txt
Due: none

Point to Appsec 0.12.0
  Makefile
Due: none

Add zai_option_str and use it in zai config (#2205)
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_ini.h
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

Refactor zai_string_view APIs and use them more (#2203)
  ext/configuration.c
  ext/ddtrace.c
  ext/hook/uhook.c
  ext/integrations/integrations.c
  ext/serializer.c
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_runtime.c
  zend_abstract_interface/env/env.c
  zend_abstract_interface/exceptions/exceptions.h
  zend_abstract_interface/exceptions/tests/exceptions.cc
  zend_abstract_interface/headers/headers.c
  zend_abstract_interface/interceptor/tests/resolver.cc
  zend_abstract_interface/symbols/api/call.h
  zend_abstract_interface/symbols/api/class.h
  zend_abstract_interface/symbols/api/constant.h
  zend_abstract_interface/symbols/api/function.h
  zend_abstract_interface/symbols/api/property.h
  zend_abstract_interface/symbols/lookup.c
  zend_abstract_interface/symbols/tests/api/call.cc
  zend_abstract_interface/symbols/tests/api/class.cc
  zend_abstract_interface/symbols/tests/api/constant.cc
  zend_abstract_interface/symbols/tests/api/function.cc
  zend_abstract_interface/symbols/tests/api/property.cc
  zend_abstract_interface/symbols/tests/call/closure.cc
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

Rename zai_string_view_new to zai_str_new
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

Rename ZAI_STRING_FROM_ZSTR to ZAI_STR_FROM_ZSTR
  ext/ddtrace.c
  ext/hook/uhook.c
  ext/hook/uhook_legacy.c
  ext/serializer.c
  profiling/src/php_ffi.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/exceptions/exceptions.h
  zend_abstract_interface/hook/hook.c
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

Rename ZAI_STRL_VIEW to ZAI_STRL
  ext/ddtrace.c
  ext/integrations/integrations.c
  ext/serializer.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/tests/decode.cc
  zend_abstract_interface/config/tests/id.cc
  zend_abstract_interface/config/tests/ini.cc
  zend_abstract_interface/config/tests/zai_tests_common.hpp
  zend_abstract_interface/env/env.h
  zend_abstract_interface/env/tests/error.cc
  zend_abstract_interface/exceptions/tests/exceptions.cc
  zend_abstract_interface/headers/headers.h
  zend_abstract_interface/hook/tests/internal/request.cc
  zend_abstract_interface/hook/tests/internal/static.cc
  zend_abstract_interface/interceptor/tests/interceptor.cc
  zend_abstract_interface/interceptor/tests/resolver.cc
  zend_abstract_interface/symbols/tests/api/call.cc
  zend_abstract_interface/symbols/tests/api/class.cc
  zend_abstract_interface/symbols/tests/api/constant.cc
  zend_abstract_interface/symbols/tests/api/function.cc
  zend_abstract_interface/symbols/tests/api/property.cc
  zend_abstract_interface/symbols/tests/call/closure.cc
  zend_abstract_interface/symbols/tests/call/generator.cc
  zend_abstract_interface/symbols/tests/call/internal.cc
  zend_abstract_interface/symbols/tests/call/user.cc
  zend_abstract_interface/symbols/tests/lookup/class.cc
  zend_abstract_interface/symbols/tests/lookup/constant.cc
  zend_abstract_interface/symbols/tests/lookup/function.cc
  zend_abstract_interface/symbols/tests/lookup/local/frame.cc
  zend_abstract_interface/symbols/tests/lookup/local/static.cc
  zend_abstract_interface/symbols/tests/lookup/property.cc
  zend_abstract_interface/uri_normalization/tests/uri_normalization.cc
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

Rename ZAI_STRING_EMPTY to ZAI_STR_EMPTY
  ext/hook/uhook.c
  ext/hook/uhook_legacy.c
  ext/integrations/integrations.c
  ext/telemetry.c
  profiling/src/php_ffi.c
  zend_abstract_interface/hook/hook.c
  zend_abstract_interface/hook/tests/internal/request.cc
  zend_abstract_interface/hook/tests/internal/static.cc
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

Use zai_str APIs a bit more
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/tests/decode.cc
  zend_abstract_interface/interceptor/tests/interceptor.cc
  zend_abstract_interface/symbols/tests/call/internal.cc
  zend_abstract_interface/symbols/tests/lookup/class.cc
Due: zend_abstract_interface, profiling

Use zai_str APIs a bit more (#2207)
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/tests/decode.cc
  zend_abstract_interface/interceptor/tests/interceptor.cc
  zend_abstract_interface/symbols/tests/call/internal.cc
  zend_abstract_interface/symbols/tests/lookup/class.cc
Due: zend_abstract_interface, profiling

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
