Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling

Fix ZAI config handling for .htaccess with php-fpm (#2298)
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/tests/ini.cc
Due: zend_abstract_interface, profiling

Upgrade appsec to v0.14.2 (#2300)
  Makefile
Due: none

Add release notes and update versions for 0.92.2
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling

Add release notes and update versions for 0.92.2 (#2308)
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling

DD_TRACE_GENERATE_ROOT_SPAN=0 for curl tests as well
  tests/Integrations/Curl/CurlIntegrationTest.php
Due: none

fix typo (#2307)
  profiling/src/exception.rs
Due: profiling

Some of the curl tests didn't need to avoid root span
  tests/Integrations/Curl/CurlIntegrationTest.php
Due: none

Expand arrays and public properties of objects in meta into nested-tag format (#2302)
  ext/compat_string.c
  ext/compatibility.h
  ext/serializer.c
  tests/ext/sandbox/safe_to_string_metadata.phpt
  tests/ext/sandbox/safe_to_string_metadata_drops_invalid_keys.phpt
  tests/ext/sandbox/safe_to_string_properties.phpt
Due: none

Start Tracing Tests with OTel API
  bridge/dd_register_optional_deps_autoloader.php
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  src/DDTrace/OpenTelemetry/SpanContext.php
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/SDK/SpanBuilderTest.php
  tests/OpenTelemetry/Integration/SDK/TracerTest.php
  tests/OpenTelemetry/Unit/SDK/Trace/SpanBuilderTest.php
  tests/OpenTelemetry/Unit/SDK/Trace/SpanTest.php
  tests/composer.json
  tests/phpunit.xml
Due: none

Subclass SpanData with RootSpanData
  config.m4
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/handlers_exception.c
  ext/hook/uhook.c
  ext/hook/uhook_attributes.c
  ext/hook/uhook_legacy.c
  ext/priority_sampling/priority_sampling.c
  ext/priority_sampling/priority_sampling.h
  ext/random.c
  ext/serializer.c
  ext/span.c
  ext/span.h
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  tests/ext/active_span.phpt
  tests/ext/sandbox/span_clone.phpt
Due: none

Simplify a condition
  ext/serializer.c
Due: none

On par w/ Java
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Unit/SDK/Trace/SpanBuilderTest.php
  tests/OpenTelemetry/Unit/SDK/Trace/SpanTest.php
  tests/OpenTelemetry/Unit/SDK/Util/TestClock.php
  tests/phpunit.xml
Due: none

Use traceparent and implement SpanContextInterface
  bridge/dd_register_optional_deps_autoloader.php
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  src/DDTrace/OpenTelemetry/SpanContext.php
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/SDK/TracerTest.php
Due: none

upgrade to libdatadog 5
  .github/workflows/prof_correctness.yml
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

update cargo deps
  Cargo.lock
Due: none

another `cargo update` run
  Cargo.lock
Due: none

Update libdatadog and propagate env to sidecar
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/serializer.c
  ext/telemetry.c
Due: none

Add test to ensure service and env are propagated
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/simple.phpt
Due: none

Subclass SpanData with RootSpanData (#2309)
  config.m4
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/handlers_exception.c
  ext/hook/uhook.c
  ext/hook/uhook_attributes.c
  ext/hook/uhook_legacy.c
  ext/priority_sampling/priority_sampling.c
  ext/priority_sampling/priority_sampling.h
  ext/random.c
  ext/serializer.c
  ext/span.c
  ext/span.h
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  tests/ext/active_span.phpt
  tests/ext/sandbox/span_clone.phpt
Due: none

Explicitly drop dd.p.dm if provided in propagated tags when the incoming sampling priority is reject (#2310)
  ext/ddtrace.c
  tests/ext/integrations/curl/distributed_tracing_curl_drop_dm.phpt
Due: none

Restore the deletion of temporary files in simple.phpt
  tests/ext/telemetry/simple.phpt
Due: none

Fix integration test using app-integrations-change
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
Due: none

Update libdatadog and propagate env to sidecar (#2313)
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/serializer.c
  ext/telemetry.c
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/simple.phpt
Due: none

Strictly validate dd.p.tid
  ext/ddtrace.c
  ext/serializer.c
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  ext/tracer_tag_propagation/tracer_tag_propagation.h
Due: none

Strictly validate dd.p.tid (#2303)
  ext/ddtrace.c
  ext/serializer.c
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  ext/tracer_tag_propagation/tracer_tag_propagation.h
Due: none

Report extensions used in telemetry
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/telemetry.c
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/ext/telemetry/composer.phpt
  tests/ext/telemetry/integration.phpt
Due: none

Refactor tightly coupled extraction state
  config.m4
  ddtrace.sym
  ext/compatibility.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/distributed_tracing_headers.c
  ext/distributed_tracing_headers.h
  ext/handlers_http.h
  ext/priority_sampling/priority_sampling.c
  ext/priority_sampling/priority_sampling.h
  ext/random.c
  ext/serializer.c
  ext/serializer.h
  ext/span.c
  ext/span.h
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  ext/tracer_tag_propagation/tracer_tag_propagation.h
  tests/Integration/DatabaseMonitoringTest.php
  tests/Integrations/Laravel/V5_8/QueueTest.php
  tests/Integrations/Laravel/V8_x/QueueTest.php
  tests/Sapi/CliServer/CliServer.php
  tests/ext/active_span.phpt
  tests/ext/distributed_tracing/distributed_trace_bogus_ids.phpt
  tests/ext/distributed_tracing/distributed_trace_overwrite_active_span.phpt
  tests/ext/distributed_tracing/distributed_trace_span_link_from_headers.phpt
  tests/ext/inherit_meta_from_parent.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_sampling_priority.phpt
  tests/ext/priority_sampling/001-default-sampling.phpt
  tests/ext/priority_sampling/002-user-reject.phpt
  tests/ext/priority_sampling/003-user-keep.phpt
  tests/ext/sandbox/span_clone.phpt
  tests/ext/span_stack/span_stack_swap.phpt
  tests/ext/span_stack/span_trace_swap.phpt
  tests/ext/span_stack/start_span_new_trace.phpt
Due: none

Interoperability
  bridge/_files_integrations.php
  bridge/dd_register_optional_deps_autoloader.php
  composer.json
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/DDTrace/OpenTelemetry/Context.php
  src/DDTrace/OpenTelemetry/Scope.php
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  src/Integrations/Integrations/IntegrationsLoader.php
  src/Integrations/Integrations/OpenTelemetry/OpenTelemetryIntegration.php
  tests/Common/BaseTestCase.php
  tests/OpenTelemetry/Integration/API/ContextTest.php
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/OpenTelemetry/Integration/SDK/SpanBuilderTest.php
  tests/OpenTelemetry/Integration/SDK/TracerTest.php
  tests/phpunit.xml
Due: none

Add even more tests
  src/DDTrace/OpenTelemetry/Context.php
  src/DDTrace/OpenTelemetry/Span.php
  src/Integrations/Integrations/OpenTelemetry/OpenTelemetryIntegration.php
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
Due: none

Remove dead code
  src/DDTrace/OpenTelemetry/Context.php
  src/DDTrace/OpenTelemetry/Scope.php
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  src/DDTrace/OpenTelemetry/SpanContext.php
  src/DDTrace/OpenTelemetry/Tracer.php
  src/DDTrace/OpenTelemetry/TracerProvider.php
Due: none

feat: add DD_PROFILING_WALLTIME_ENABLED
  profiling/src/capi.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/tests/overhead/web1/index.php
Due: profiling

Add B3 & W3C Propagation Tests
  Makefile
  composer.json
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/OpenTelemetry/Integration/SDK/SpanContextTest.php
  tests/OpenTelemetry/Integration/SDK/SpanProcessorTest.php
  tests/OpenTelemetry/Unit/Context/ContextStorageTest.php
  tests/OpenTelemetry/Unit/Context/ContextTest.php
  tests/OpenTelemetry/Unit/Context/Propagation/MultiTextMapPropagatorTest.php
  tests/OpenTelemetry/Unit/Context/Propagation/NoopTextMapPropagatorTest.php
  tests/OpenTelemetry/Unit/Context/ScopeTest.php
  tests/OpenTelemetry/Unit/Propagation/B3/B3MultiPropagatorTest.php
  tests/OpenTelemetry/Unit/Propagation/B3/B3PropagatorTest.php
  tests/OpenTelemetry/Unit/Propagation/B3/B3SinglePropagatorTest.php
  tests/OpenTelemetry/Unit/Propagation/W3C/W3CPropagatorTest.php
  tests/composer.json
  tests/phpunit.xml
Due: none

Check for DDTrace\\install_hook existence
  bridge/autoload.php
Due: none

Report extensions used in telemetry (#2295)
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/telemetry.c
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/ext/telemetry/composer.phpt
  tests/ext/telemetry/integration.phpt
Due: none

fix: remove unused file
  profiling/tests/overhead/web1/index.php
Due: profiling

Revert reduction to message queue size
  profiling/src/capi.rs
  profiling/src/profiling/mod.rs
Due: profiling

test: disabling walltime
  profiling/src/profiling/mod.rs
Due: profiling

Add Baggage API Tests
  tests/OpenTelemetry/Integration/API/BaggageTest.php
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/OpenTelemetry/Integration/SDK/SpanBuilderTest.php
  tests/OpenTelemetry/Integration/SDK/TracerTest.php
  tests/OpenTelemetry/Unit/API/Baggage/BaggageTest.php
  tests/OpenTelemetry/Unit/API/Baggage/Propagation/BaggagePropagatorTest.php
  tests/OpenTelemetry/Unit/API/Trace/NonRecordingSpanTest.php
  tests/OpenTelemetry/Unit/API/Trace/SpanContextTest.php
  tests/OpenTelemetry/Unit/API/Trace/TraceTest.php
  tests/OpenTelemetry/Unit/Context/ContextTest.php
  tests/OpenTelemetry/Unit/Propagation/B3/B3MultiPropagatorTest.php
  tests/OpenTelemetry/Unit/Propagation/B3/B3PropagatorTest.php
  tests/OpenTelemetry/Unit/Propagation/B3/B3SinglePropagatorTest.php
  tests/OpenTelemetry/Unit/Propagation/W3C/W3CPropagatorTest.php
  tests/OpenTelemetry/Unit/SDK/Trace/NonRecordingSpanTest.php
  tests/OpenTelemetry/Unit/SDK/Trace/SpanBuilderTest.php
  tests/phpunit.xml
Due: none

Clean up DD_TRACE_GENERATE_ROOT_SPAN after tests
  tests/Integrations/Curl/CurlIntegrationTest.php
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
