Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  version: 2

  setup-workflows:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue_config.yml
          # <path regular expression> <pipeline parameter>  <value>
          mapping: |
            components/.*  components-c  true
            zend_abstract_interface/.*  zend_abstract_interface true
            zend_abstract_interface/.*  profiling true
            zend_abstract_interface/.*  appsec true
            profiling/.*  profiling true
            ext/handlers_api.[ch] profiling true
            appsec/.* appsec true
            ext/.* appsec true
            .circleci/continue_config.yml appsec true

Add schema extraction enabling flag
  appsec/src/extension/commands/client_init.c
  appsec/src/extension/configuration.h
  appsec/tests/extension/inc/mock_helper.php
  appsec/tests/extension/rinit_rshutdown_basic.phpt
  appsec/tests/extension/schema_extraction_01.phpt
  appsec/tests/extension/schema_extraction_02.phpt
  appsec/tests/extension/schema_extraction_03.phpt
Due: appsec

Remove schema extraction system tests
  .circleci/continue_config.yml
Due: appsec

wip
  .circleci/continue_config.yml
Due: appsec

Exec integration: remove usage of dynamic property
  ext/integrations/exec_integration.c
  src/Integrations/Integrations/Exec/ExecIntegration.php
Due: appsec

Create stub
  ext/integrations/exec_integration.c
  ext/integrations/exec_integration.stub.php
  ext/integrations/exec_integration_arginfo.h
Due: appsec

Add exec integration
  bridge/_files_integrations.php
  config.m4
  ext/ddtrace.c
  ext/handlers_internal.c
  ext/hook/uhook.c
  ext/integrations/exec_integration.c
  ext/integrations/exec_integration.h
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  ext/span.c
  ext/span.h
  src/Integrations/Integrations/Exec/ExecIntegration.php
  src/api/Tag.php
  src/api/Type.php
  tests/Common/CLITestCase.php
  tests/Common/TracerTestTrait.php
  tests/Common/WebFrameworkTestCase.php
  tests/Integrations/CLI/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V6_2/CommonScenariosTest.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/Integrations/Exec/ExecIntegrationTest.php
  tests/Integrations/Exec/exit_33.sh
  tests/Integrations/Symfony/V5_2/ConsoleCommandTest.php
  tests/Integrations/Symfony/V6_2/ConsoleCommandTest.php
  tests/Sapi/CliServer/CliServer.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
  tests/api/Unit/UserAvailableConstantsTest.php
  zend_abstract_interface/symbols/call.c
Due: zend_abstract_interface, profiling, appsec

PR comments
  ext/integrations/exec_integration.c
  src/Integrations/Integrations/Exec/ExecIntegration.php
Due: appsec

test: add phpt for ZEND_FUNC_GET_ARGS opline issue
  profiling/tests/phpt/allocation_func_get_args.phpt
Due: profiling

Avoid declaring unnecessary variable
  src/Integrations/Integrations/Slim/SlimIntegration.php
Due: none

update gitattributes file
  .gitattributes
Due: none

Move var annotation to a more suitable location
  src/Integrations/Integrations/Slim/SlimIntegration.php
Due: none

Change schema extraction zip compression to PHP_ZLIB_ENCODING_GZIP
  appsec/src/helper/compression.cpp
Due: appsec

Create docker base image for dd-library-php
  .gitlab-ci.yml
  tooling/ci/Dockerfile-ddlib
  tooling/ci/ddlib-info.sh
  tooling/ci/download-binary-php-library.sh
Due: none

Change schema extraction zip compression to PHP_ZLIB_ENCODING_GZIP (#2447)
  appsec/src/helper/compression.cpp
Due: appsec

update gitattributes file (#2401)
  .gitattributes
Due: none

Fix removal of the directly accessed hook after binding in DDTrace\remove_hook
  tests/ext/sandbox/install_hook/exclude_inherited_hook_after_binding.phpt
  tests/ext/sandbox/install_hook/remove_hook_null_logger.phpt
  zend_abstract_interface/hook/hook.c
Due: zend_abstract_interface, profiling, appsec

add lsof
  dockerfiles/ci/bookworm/.env
  dockerfiles/ci/bookworm/Dockerfile
Due: none

Avoid resolving unresolved functions and classes
  tests/ext/traced_attribute.phpt
  tests/ext/traced_attribute_delayed.phpt
  zend_abstract_interface/interceptor/php8/resolver_pre-8_2.c
Due: zend_abstract_interface, profiling, appsec

format
  tooling/ci/ddlib-info.sh
Due: none

Don't override already set information + Set info if not set during info_read
  src/Integrations/Integrations/Curl/CurlIntegration.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
Due: none

test: Try to reduce flakiness
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
Due: none

test: Use httpbin's redirect-to instead of google.com
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
Due: none

test: Remove flaky promises
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
Due: none

Fix removal of the directly accessed hook after binding in DDTrace\remove_hook (#2449)
  tests/ext/sandbox/install_hook/exclude_inherited_hook_after_binding.phpt
  tests/ext/sandbox/install_hook/remove_hook_null_logger.phpt
  zend_abstract_interface/hook/hook.c
Due: zend_abstract_interface, profiling, appsec

Add foundation files
  Makefile
  tests/Benchmarks/HookOverheadBench.php
  tests/composer.json
  tests/phpbench.json
Due: none

(WIP) Handle environment reloads
  .editorconfig
  Makefile
  composer.json
  src/Integrations/Integrations/Logs/LogsIntegration.php
  tests/Benchmarks/BasicScenarioBench.php
  tests/Benchmarks/ContextPropagationBench.php
  tests/Benchmarks/HookOverheadBench.php
  tests/Benchmarks/LogsInjectionBench.php
  tests/composer.json
  tests/ext/php_bug_84130.phpt
Due: none

fix: Exclude hook after class binding
  zend_abstract_interface/hook/hook.c
Due: zend_abstract_interface, profiling, appsec

Send traces (if any) through sidecar
  tests/phpbench-opcache.json
  tests/phpbench.json
Due: none

Add trace flush & serialization benchmarks
  tests/Benchmarks/Integrations/LaravelBench.php
  tests/Benchmarks/Integrations/SymfonyBench.php
  tests/Benchmarks/Integrations/WordPressBench.php
  tests/Benchmarks/TraceFlushBench.php
  tests/Benchmarks/TraceSerializationBench.php
Due: none

Add SamplingRuleMatchingBench, TraceAnnotationsBench, & PHPRedisBench
  tests/Benchmarks/API/ContextPropagationBench.php
  tests/Benchmarks/API/HookBench.php
  tests/Benchmarks/API/SamplingRuleMatchingBench.php
  tests/Benchmarks/API/SpanBench.php
  tests/Benchmarks/API/TraceAnnotationsBench.php
  tests/Benchmarks/API/TraceFlushBench.php
  tests/Benchmarks/API/TraceSerializationBench.php
  tests/Benchmarks/Integrations/PHPRedisBench.php
  tests/composer.json
  tests/phpbench-opcache.json
  tests/phpbench.json
Due: none

fix: Benchmark bootstrapping & Fatal Errors
  Makefile
  src/Integrations/Integrations/Logs/LogsIntegration.php
  tests/Benchmarks/BasicScenarioBench.php
  tests/Benchmarks/ContextPropagationBench.php
  tests/Benchmarks/HookOverheadBench.php
  tests/Benchmarks/LogsInjectionBench.php
  tests/bootstrap_utils.php
  tests/phpbench.json
Due: none

Add `benchmarks_opcache`
  Makefile
  tests/Benchmarks/HookOverheadBench.php
  tests/phpbench-opcache.json
Due: none

Add PDO, Laravel, Symfony, & WordPress Benchmarks
  Makefile
  tests/Benchmarks/BasicScenarioBench.php
  tests/Benchmarks/HookOverheadBench.php
  tests/Benchmarks/Integrations/LaravelBench.php
  tests/Benchmarks/Integrations/LogsInjectionBench.php
  tests/Benchmarks/Integrations/PDOBench.php
  tests/Benchmarks/Integrations/SymfonyBench.php
  tests/Benchmarks/Integrations/WordPressBench.php
  tests/Benchmarks/README.md
  tests/Common/Utils.php
  tests/Common/WebFrameworkTestCase.php
  tests/bootstrap_utils.php
  tests/phpbench-opcache.json
Due: none

Fix HookBench's hook
  tests/Benchmarks/API/HookBench.php
  tests/Benchmarks/Integrations/WordPressBench.php
Due: none

Change report to `default`
  tests/Benchmarks/API/HookBench.php
  tests/phpbench-opcache.json
  tests/phpbench.json
Due: none

Run `benchmarks` & `benchmarks_opcache`
  benchmark/runall.sh
Due: none

Increase RetryThreshold to 10
  tests/Benchmarks/API/ContextPropagationBench.php
  tests/Benchmarks/API/HookBench.php
  tests/Benchmarks/API/SamplingRuleMatchingBench.php
  tests/Benchmarks/API/SpanBench.php
  tests/Benchmarks/API/TraceAnnotationsBench.php
  tests/Benchmarks/API/TraceFlushBench.php
  tests/Benchmarks/API/TraceSerializationBench.php
  tests/Benchmarks/Integrations/LaravelBench.php
  tests/Benchmarks/Integrations/LogsInjectionBench.php
  tests/Benchmarks/Integrations/PDOBench.php
  tests/Benchmarks/Integrations/PHPRedisBench.php
  tests/Benchmarks/Integrations/SymfonyBench.php
  tests/Benchmarks/Integrations/WordPressBench.php
Due: none

Refactor & Remove Dead Code
  composer.json
  tests/Benchmarks/API/ContextPropagationBench.php
  tests/Benchmarks/API/HookBench.php
  tests/Benchmarks/API/SamplingRuleMatchingBench.php
  tests/Benchmarks/API/SpanBench.php
  tests/Benchmarks/API/TraceAnnotationsBench.php
  tests/Benchmarks/API/TraceFlushBench.php
  tests/Benchmarks/API/TraceSerializationBench.php
  tests/Benchmarks/Integrations/LaravelBench.php
  tests/Benchmarks/Integrations/LogsInjectionBench.php
  tests/Benchmarks/Integrations/PDOBench.php
  tests/Benchmarks/Integrations/PHPRedisBench.php
  tests/Benchmarks/Integrations/SymfonyBench.php
  tests/Benchmarks/Integrations/WordPressBench.php
  tests/Common/Utils.php
  tests/composer.json
  tests/ext/php_bug_84130.phpt
  tests/ext/sandbox/install_hook/exclude_inherited_hook_after_binding.phpt
  zend_abstract_interface/hook/hook.c
Due: zend_abstract_interface, profiling, appsec

Add README.md
  benchmark/runall.sh
  tests/Benchmarks/README.md
  tests/Benchmarks/reports/.gitkeep
  tests/phpbench-opcache.json
  tests/phpbench.json
Due: none

Move `phpbench/phpbench` to the `benchmarks` scenario
  tests/composer.json
Due: none
