Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

Inject profiling and appsec
  loader/dd_library_loader.c
  loader/tests/functional/test_incompatibility_jit.php
  loader/tests/functional/test_telemetry_error.php
  tooling/bin/generate-ssi-package.sh
Due: none

Add the product as a tag
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
  loader/tests/functional/includes/assert.php
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_error.php
  tooling/bin/generate-ssi-package.sh
Due: none

Add profiling and appsec to SSIo
  tooling/bin/generate-ssi-package.sh
Due: none

Fix tests
  loader/tests/functional/includes/assert.php
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_complete.php
  loader/tests/functional/test_telemetry_error.php
  loader/tests/functional/test_telemetry_php5.php
Due: none

Profiling is not available on PHP 7.0
  loader/dd_library_loader.c
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_php_output.php
  tooling/bin/generate-ssi-package.sh
Due: none

Test profiling/appssec are loaded
  loader/tests/functional/test_php_output.php
Due: none

Add a hashmap of supported proxies
  ext/ddtrace.c
  ext/inferred_proxy_headers.c
  ext/inferred_proxy_headers.h
  ext/span.c
  tests/Integrations/Laravel/APIGWTest.php
  tests/Integrations/Laravel/Octane/APIGWTest.php
  tests/Integrations/Roadrunner/APIGWTest.php
  tests/ext/inferred_proxy/alter_service.phpt
  tests/ext/inferred_proxy/basic_test.phpt
  tests/ext/inferred_proxy/distributed_tracing.phpt
  tests/ext/inferred_proxy/error_propagated.phpt
  tests/ext/inferred_proxy/incomplete_headers.phpt
  tests/snapshots/tests.integrations.laravel.apigw_test.test_laravel_inferred_proxy.json
  tests/snapshots/tests.integrations.laravel.apigw_test.test_laravel_inferred_proxy_exception.json
  tests/snapshots/tests.integrations.laravel.octane.apigw_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.laravel.octane.apigw_test.test_inferred_proxy_exception.json
  tests/snapshots/tests.integrations.roadrunner.apigw_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.roadrunner.apigw_test.test_inferred_proxy_exception.json
Due: appsec

Strip symbols to reduce the package size
  tooling/bin/generate-ssi-package.sh
Due: none

Bump to 1.7.0
  VERSION
  package.xml
Due: none

Remove debug / update libdatadog
  Cargo.lock
  src/DDTrace/OpenTelemetry/CachedInstrumentation.php
Due: none

Checkpoint
  Cargo.lock
  components-rs/crashtracker.h
  components-rs/sidecar.h
  config.w32
  ddtrace.sym
  ext/crashtracking_windows.c
  ext/crashtracking_windows.h
  ext/ddtrace.c
Due: appsec

Checkpoint
  Cargo.lock
  components-rs/sidecar.h
  config.w32
  ext/crashtracking_windows.c
  ext/crashtracking_windows.h
Due: appsec

Update header
  components-rs/crashtracker.h
  ext/crashtracking_windows.c
Due: appsec

Merge
  Cargo.lock
  Makefile
Due: none

fix: getScriptLocation path
  Makefile
  tests/Integrations/CLI/Laravel/Latest/CommonScenariosTest.php
Due: none

Bump to 1.7.0 (#3100)
  Cargo.lock
  VERSION
  package.xml
  src/DDTrace/OpenTelemetry/CachedInstrumentation.php
Due: none

feat(integrations: Laravel): add authenticated user tracking feature
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  tests/Integrations/Laravel/AutomatedLoginEventsTestSuite.php
Due: none

chore: apply feedbacks
  appsec/src/extension/attributes.h
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/commands_helpers.h
  appsec/src/extension/user_tracking.h
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.hpp
  appsec/tests/helper/remote_config/listeners/asm_features_listener_test.cpp
Due: appsec

Wip
  appsec/src/extension/backtrace.c
  appsec/src/extension/commands_helpers.c
Due: appsec

fix: test_integrations_phpredis6
  Makefile
  dockerfiles/ci/buster/build-extensions.sh
  tests/Integrations/PHPRedis/V6/PHPRedisClusterTest.php
  tests/Integrations/PHPRedis/V6/PHPRedisTest.php
Due: none

feat(appsec): add auto_user_instrum remote config capabilities (#3079)
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/user_tracking.c
  appsec/src/extension/user_tracking.h
  appsec/src/helper/client.cpp
  appsec/src/helper/json_helper.cpp
  appsec/src/helper/json_helper.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.hpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_features_aggregator.cpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_features_aggregator.hpp
  appsec/src/helper/service_config.hpp
  appsec/tests/extension/inc/mock_helper.php
  appsec/tests/extension/remote_config_auto_user_instrum_default_anon.phpt
  appsec/tests/extension/remote_config_auto_user_instrum_default_disabled.phpt
  appsec/tests/extension/remote_config_auto_user_instrum_default_ident.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/remote_config/listeners/asm_features_listener_test.cpp
  appsec/tests/helper/remote_config/listeners/config_aggregators/asm_features_aggregator_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
Due: appsec

wip
  appsec/src/extension/backtrace.c
Due: appsec

Adding simple tests and adding baggage to default config
  ext/configuration.h
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_alone.phpt
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_default.phpt
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_first.phpt
Due: appsec

feat(prof): add 'tracing' features
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
Due: profiling

Adding incorrectly deleted code
  ext/distributed_tracing_headers.c
Due: appsec

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Integrations/AMQP/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
Due: none

Remove message on backtrace as no mandatory
  appsec/src/extension/backtrace.c
Due: appsec

feat(integrations: Wordpress): add authenticated user event tracking
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  tests/Integrations/WordPress/AutomatedLoginEventsTestSuite.php
Due: none

feat(components-rs: remote-config): add new auto_user_instrum capability
  components-rs/remote_config.rs
Due: none

Support ZSTR_PARENT known_string
  ext/compatibility.h
  ext/ddtrace.c
  ext/ddtrace_arginfo.h
Due: appsec

Report appsec event on stack_trace generation
  appsec/src/extension/commands_helpers.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
Due: appsec

fix fork() call handling before rinit
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
Due: profiling

Update profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_ge84.rs
Due: profiling

Update profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/allocation_le83.rs
Due: profiling

style(prof): refactor based on new guards
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
Due: profiling

fix(prof): `fork()` call handling before rinit (#3104)
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
Due: profiling

style(prof): `cargo +nightly fmt` and some minor docs fixes
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/io.rs
Due: profiling

style(prof): `cargo +nightly fmt` and some minor docs fixes (#3105)
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/io.rs
Due: profiling
