Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

test(probe,filters): emit diagnostic when probe install + trace filters fail
  tests/ext/live-debugger/live_debugger.inc
  tests/ext/request-replayer/client_side_stats_trace_filters.phpt
Due: none

fix(test): use await_agent_info to deflake dd_trace_agent_env.phpt
  tests/ext/request-replayer/dd_trace_agent_env.phpt
Due: none

fix(svc_src): drop void return type + add missing test expectations
  src/DDTrace/Integrations/Integration.php
  tests/Integrations/CLI/CakePHP/V3_10/CommonScenariosTest.php
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/Integrations/Laravel/Octane/Latest/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_7/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V5_8/EloquentTest.php
  tests/Integrations/Laravel/V8_x/EloquentTest.php
  tests/Integrations/Laravel/V8_x/InternalExceptionsTest.php
  tests/Integrations/Laravel/V8_x/RouteCachingTest.php
  tests/Integrations/Laravel/V8_x/TraceSearchConfigTest.php
  tests/Integrations/Lumen/V5_2/TraceSearchConfigTest.php
  tests/Integrations/PHPRedis/V3/PHPRedisClusterTest.php
  tests/Integrations/PHPRedis/V4/PHPRedisClusterTest.php
  tests/Integrations/Ratchet/V0_4/RatchetTest.php
Due: none

/crash-analysis: adapt to 1.8 schema
  .claude/skills/crash-analysis/SKILL.md
Due: none

appsec: impl waf.error and rasp.error
  appsec/helper-rust/src/client.rs
  appsec/helper-rust/src/client/metrics.rs
  appsec/helper-rust/src/telemetry.rs
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

ci(appsec): fix codecov key fetch from dead keybase URL
  .gitlab/generate-appsec.php
Due: none

test(svc_src): more test expectation fixes from CI iteration 2
  tests/Integrations/CakePHP/V2_8/CommonScenariosTest.php
  tests/Integrations/CakePHP/V3_10/CommonScenariosTest.php
  tests/Integrations/Laravel/V8_x/EloquentTest.php
  tests/Integrations/Laravel/V8_x/InternalExceptionsTest.php
  tests/Integrations/Laravel/V8_x/QueueTest.php
  tests/Integrations/Laravel/V8_x/RouteCachingTest.php
  tests/Integrations/Laravel/V8_x/TraceSearchConfigTest.php
  tests/Integrations/Mysqli/MysqliTest.php
  tests/Integrations/Yii/Latest/CommonScenariosTest.php
  tests/Integrations/Yii/Latest/LazyLoadingIntegrationsFromYiiTest.php
  tests/Integrations/Yii/Latest/ModuleTest.php
  tests/Integrations/Yii/Latest/ParameterizedRouteTest.php
Due: none

appsec: fix extension build and update tests
  appsec/cmake/ddtrace.cmake
  appsec/cmake/extension.cmake
  appsec/cmake/helper_rust.cmake
  appsec/src/extension/request_lifecycle.c
  appsec/tests/extension/http_client_ip_generation_01.phpt
  appsec/tests/extension/rinit_fail_malformed_resp.phpt
  appsec/tests/extension/user_tracking_block_from_set_user.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_set_user.phpt
  appsec/tests/extension/user_tracking_redirect_from_set_user.phpt
Due: appsec

appsec: fix PHP version compatibility in rshutdown bailout handler
  appsec/src/extension/request_lifecycle.c
Due: appsec

appsec: expand single-line function bodies to satisfy clang-format-20
  appsec/src/extension/request_lifecycle.c
Due: appsec

test(svc_src): Laravel V8_x framework spans use lowercase 'laravel'
  tests/Integrations/Laravel/V8_x/InternalExceptionsTest.php
  tests/Integrations/Laravel/V8_x/RouteCachingTest.php
  tests/Integrations/Laravel/V8_x/TraceSearchConfigTest.php
  tests/Integrations/ZendFramework/V1/TraceSearchConfigTest.php
Due: none

chore: bump libdatadog
  Cargo.lock
  Makefile
  cbindgen.toml
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/live-debugger.h
Due: none

Check how content-length is reported when zero content-length (#3922)
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/www/base/public/non_zero_content_length.php
  appsec/tests/integration/src/test/www/base/public/zero_content_length.php
Due: appsec

fix untrack semantics in realloc cases and document
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
Due: profiling

ci: prepare for PHP 8.4.22/8.5.7 rebuilds
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/bookworm/php-8.5/0001-Disable-preserve_none-under-ASan.patch
  dockerfiles/ci/bookworm/php-8.5/Dockerfile
  tests/opcache/jit_trace_num_bailout.phpt
Due: none

test(svc_src): drop stray svc_src in Symfony V3_4 misc + Frankenphp
  tests/Integrations/Frankenphp/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_4/AutofinishedTracesSymfony34Test.php
  tests/Integrations/Symfony/V3_4/TemplateEnginesTest.php
Due: none

fix: update remote_config imports to renamed libdd-remote-config crate
  components-rs/remote_config.rs
Due: none

ci: bump more images to 8.4.22 and 8.5.7
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/windows/docker-compose.yml
Due: none

revert short cut
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Due: profiling

test(svc_src): fix DB/cache integration testNoFakeServices + split-by-instance
  tests/Integrations/Guzzle/V5/GuzzleIntegrationTest.php
  tests/Integrations/Memcache/MemcacheTest.php
  tests/Integrations/Memcached/MemcachedTest.php
  tests/Integrations/MongoDB/Latest/MongoDBTest.php
  tests/Integrations/PDO/PDOTest.php
  tests/Integrations/PHPRedis/V5/PHPRedisClusterTest.php
  tests/Integrations/SQLSRV/SQLSRVTest.php
Due: none

fix(crasht): metadata correctness (#3965)
  ext/signals.c
  tests/ext/crashtracker_jit_tags.phpt
Due: appsec

fix naming
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/profiling/mod.rs
Due: profiling

fix test
  profiling/tests/phpt/heap_live_02.phpt
Due: profiling

feat(otlp): plumb OTLP trace export config to the sidecar
  components-rs/datadog.h
  components-rs/lib.rs
  components-rs/sidecar.rs
  ext/configuration.h
  ext/endpoints.c
  ext/endpoints.h
  ext/otel_config.c
  ext/otel_config.h
  ext/sidecar.c
  ext/sidecar.h
  tests/ext/otlp_traces_endpoint_fallback.phpt
  tests/ext/otlp_traces_explicit_config.phpt
  tests/ext/otlp_traces_exporter_enabled.phpt
  tests/ext/otlp_traces_exporter_none.phpt
  tests/ext/otlp_traces_protocol_version_gate.phpt
  tracer/tracer_otel_config.c
Due: appsec

feat(otlp): route OTLP traces through the sidecar TraceExporter
  components-rs/datadog.h
  components-rs/sidecar.h
  components-rs/sidecar.rs
  ext/endpoints.c
  ext/endpoints.h
  ext/sidecar.c
Due: appsec

feat: otel context sharing
  Cargo.lock
  Makefile
  components-rs/Cargo.toml
  components-rs/lib.rs
  components-rs/otel-thread-ctx.h
  datadog.sym
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  tracer/ddtrace.c
  tracer/handlers_fiber.c
  tracer/profiling.c
  tracer/profiling.h
  tracer/span.c
Due: profiling

Address pre-push review: surface OTLP no-op, clamp timeout, protocol notice
  components-rs/lib.rs
  ext/sidecar.c
Due: appsec

disable heap live if allocation is disabled
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/tests/phpt/heap_live_phpinfo_04.phpt
Due: profiling

test(svc_src): fix PHPRedis V5 / Laravel V5_8 / CakePHP CLI V2_8
  tests/Integrations/CLI/CakePHP/V2_8/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_8/EloquentTest.php
  tests/Integrations/Laravel/V5_8/QueueTest.php
  tests/Integrations/PHPRedis/V5/PHPRedisClusterTest.php
  tests/Integrations/PHPRedis/V5/PHPRedisTest.php
Due: none

ci: set CPU/memory requests for request-replayer service
  .gitlab/generate-common.php
Due: none

test(svc_src): fix Laravel V5_7 Eloquent + PHPRedis V5 testNoFakeServices
  tests/Integrations/Laravel/V5_7/EloquentTest.php
  tests/Integrations/PHPRedis/V5/PHPRedisTest.php
Due: none

test(elasticsearch): add _dd.svc_src to V1 testConstructor
  tests/Integrations/Elasticsearch/V1/ElasticSearchIntegrationTest.php
Due: none

feat(prof): use a trampoline for FLF functions to intercept timings (#3595)
  Cargo.lock
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/wall_time.rs
Due: profiling

ci: set CPU/memory requests for request-replayer service (#3972)
  .gitlab/generate-common.php
Due: none

chore: bump libdatadog (#3968)
  Cargo.lock
  Makefile
  cbindgen.toml
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/live-debugger.h
  components-rs/remote_config.rs
Due: none

fix(tracing): reset jit_trace_num on PHP 8.5 sandbox bailout
  zend_abstract_interface/sandbox/sandbox.h
Due: zend_abstract_interface, profiling, appsec

refactor(svc_src): address PR feedback
  src/DDTrace/Integrations/CakePHP/V2/CakePHPIntegrationLoader.php
  src/DDTrace/Integrations/CakePHP/V3/CakePHPIntegrationLoader.php
  src/DDTrace/Integrations/Drupal/DrupalIntegration.php
  src/DDTrace/Integrations/Integration.php
  src/DDTrace/Integrations/Laminas/LaminasIntegration.php
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/Slim/SlimIntegration.php
  tracer/functions.c
  tracer/serializer.c
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
