Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

Amend leak
  appsec/src/extension/commands_helpers.c
Due: appsec

Use the ddtrace handle instead of dlopen(NULL) (#3249)
  appsec/src/extension/ddtrace.c
Due: appsec

Update version
  .gitlab/one-pipeline.locked.yml
Due: none

Lint
  appsec/src/extension/msgpack_helpers.c
Due: appsec

Enhance Guzzle integration to handle promise fulfillment state
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
Due: none

try to explicitly create docker network
  .gitlab/generate-package.php
Due: none

skip randomized tests arm64
  .gitlab/generate-package.php
Due: none

Skip flow tty test
  dockerfiles/frameworks/contrib/Dockerfile
  dockerfiles/frameworks/contrib/flow/tty.patch
  dockerfiles/verify_packages/centos/install.sh
  dockerfiles/verify_packages/debian/install.sh
Due: none

internal: add opcache tags in crash report (#3231)
  ext/compatibility.h
  ext/signals.c
  tests/ext/crashtracker_jit_tags.phpt
Due: appsec

fix(prof): crash in ZEND_INIT_ARRAY
  profiling/src/php_ffi.c
Due: profiling

Init ddtrace_coms_globals.tmp_stack
  ext/coms.c
Due: appsec

fix(prof): crash in ZEND_INIT_ARRAY (#3255)
  profiling/src/php_ffi.c
Due: profiling

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

Fix rasp error slo tag
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

chore: update supported versions (#3254)
  aggregated_tested_versions.json
  integration_versions.md
Due: none

Update Dockerfile and run.sh for PHP and Flow version adjustments
  dockerfiles/frameworks/contrib/Dockerfile
  dockerfiles/frameworks/contrib/flow/run.sh
  dockerfiles/frameworks/flow.yml
Due: none

Init ddtrace_coms_globals.tmp_stack (#3256)
  ext/coms.c
Due: appsec

internal(prof): DD_PROFILING_UPLOAD_COMPRESSION
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

fix: system settings in tests
  profiling/src/profiling/mod.rs
Due: profiling

tests: Add reproducer
  tests/Integrations/Guzzle/Latest/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V5/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V6/response_body_stream_closed.phpt
Due: none

fix tests
  tests/Integrations/Guzzle/V5/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V6/response_body_stream_closed.phpt
Due: none

chore: fix tests
  components-rs/bytes.rs
  ext/serializer.c
  tests/ext/close_spans_until.phpt
  tests/ext/sandbox/die_in_sandbox.phpt
  tests/ext/sandbox/safe_to_string_metadata_ge_php_84.phpt
  tests/ext/span_on_close.phpt
Due: appsec

skip tests under coverage mode
  tests/Integrations/Guzzle/Latest/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V5/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V6/response_body_stream_closed.phpt
Due: none

chore: remove useless free statements
  ext/serializer.c
Due: appsec

WIP: baggage span tags
  ext/configuration.h
  ext/distributed_tracing_headers.c
Due: appsec

fix test sfailure
  tests/Integrations/Guzzle/Latest/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V5/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V6/response_body_stream_closed.phpt
Due: none

fix skip if
  tests/Integrations/Guzzle/Latest/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V5/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V6/response_body_stream_closed.phpt
Due: none

fix and tests
  ext/distributed_tracing_headers.c
  tests/ext/distributed_tracing/baggage/baggage_span_tags.phpt
  tests/ext/distributed_tracing/baggage/baggage_span_tags_keys.phpt
  tests/ext/distributed_tracing/baggage/baggage_span_tags_wildcard.phpt
Due: appsec

switch-php for flow test
  dockerfiles/frameworks/contrib/flow/run.sh
Due: none

more tests
  tests/ext/distributed_tracing/baggage/baggage_span_tags_empty.phpt
  tests/ext/distributed_tracing/baggage/baggage_span_tags_wildcard.phpt
Due: none

chore: fix remaining failing tests
  ddtrace-windows.sym
  tests/ext/close_spans_until.phpt
  tests/ext/sandbox/die_in_sandbox.phpt
  tests/ext/sandbox/memory_limit_graceful_bailout.phpt
  tests/ext/sandbox/safe_to_string_metadata.phpt
  tests/ext/sandbox/safe_to_string_metadata_ge_php_84.phpt
  tests/ext/sandbox/safe_to_string_properties.phpt
  tests/ext/span_on_close.phpt
  tests/ext/span_with_removed_exception.phpt
Due: none

Implement track_user_login_success_event v2 when user id is string
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  tests/ext/track_user_login_success_01.phpt
  tests/ext/track_user_login_success_02.phpt
  tests/ext/track_user_login_success_03.phpt
  tests/ext/track_user_login_success_04.phpt
  tests/ext/track_user_login_success_05.phpt
  tests/ext/track_user_login_success_06.phpt
  tests/ext/track_user_login_success_07.phpt
Due: appsec

Add v2 track_user_login_failure
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  tests/ext/track_user_login_failure_01.phpt
  tests/ext/track_user_login_failure_02.phpt
  tests/ext/track_user_login_failure_03.phpt
Due: appsec

test: fix windows compiling tests
  components-rs/bytes.rs
  components-rs/common.h
  components-rs/data-pipeline.h
  components-rs/ddtrace.h
  ddtrace-windows.sym
  ext/compat_string.c
  ext/ddtrace.c
Due: appsec

Check exception event response (+ SC < 500)
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: none

Try to ignore exception if it has a response
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: none

Revise exception ignoring logic
  ext/serializer.c
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.latest.common_scenarios_test.test_scenario_get_to_missing_route.json
Due: appsec

foo
  ext/serializer.c
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Frameworks/Laravel/Latest/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Latest/bootstrap/app.php
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/Symfony/Latest/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
Due: appsec

error/exception distinction
  ext/serializer.c
Due: appsec

Don't serialize error if ignored
  ext/serializer.c
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.latest.common_scenarios_test.test_scenario_get_to_missing_route.json
Due: appsec
