Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

refactor(profiling): shrink max file and function name (#3712)
  profiling/src/profiling/stack_walking.rs
Due: profiling

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Nette/Latest/composer.json
  tests/Frameworks/Slim/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Frameworks/Yii/Latest/composer.json
  tests/Integrations/AMQP/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/Logs/MonologLatest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

fix(remote-config): poll for new config after unblocking SIGVTALRM to fix flaky valgrind test (#3717)
  config.m4
  ext/handlers_signal.c
Due: appsec

Fix crash when reconnecting in background sender thread
  ext/process_tags.c
  tests/ext/telemetry/broken_pipe.phpt
Due: appsec

Bump to 1.17.0
  CHANGELOG.md
  VERSION
Due: none

Add Datadog code coverage upload (#3702)
  .gitlab/generate-appsec.php
  code-coverage.datadog.yml
Due: none

Bump to 1.17.0 (#3720)
  CHANGELOG.md
  VERSION
Due: none

Fix _dd.p.ksr scientific notation for very small sampling rates
  ext/priority_sampling/priority_sampling.c
  tests/ext/priority_sampling/028-ksr-tag-formatting.phpt
  tests/ext/priority_sampling/029-ksr-tag-small-rate-formatting.phpt
Due: appsec

Add PHP 8.5 to asan runs
  .github/workflows/prof_asan.yml
Due: none

update checkout and cache action
  .github/workflows/prof_asan.yml
Due: none

fix caching
  .github/workflows/prof_asan.yml
Due: none

test
  .github/workflows/prof_asan.yml
Due: none

run asan also on arm64
  .github/workflows/prof_asan.yml
Due: none

run phpt tests in parallel
  .github/workflows/prof_asan.yml
Due: none

use nightly rust baked into the image
  .github/workflows/prof_asan.yml
Due: none

Test optim upload fix
  .gitlab/generate-package.php
  .gitlab/upload-junit-to-datadog.sh
Due: none

fix: potential misalignment on aarch64
  profiling/src/wall_time.rs
Due: profiling

SSI execsolib impl
  Cargo.lock
  components-rs/Cargo.toml
  components-rs/build.rs
  components-rs/ssi_entry.c
  config.m4
Due: none

chore: disable automated dependency updater config [incident-51602]
  tests/Frameworks/Laminas/Mvc/Latest/renovate.json
Due: none

chore: disable automated dependency updater config [incident-51602]
  tests/Frameworks/Laminas/Mvc/Latest/renovate.json.disabled
Due: none

chore: disable automated dependency updater config [incident-51602]
  tests/Frameworks/Laminas/Mvc/Version_3_3/renovate.json
Due: none

chore: disable automated dependency updater config [incident-51602]
  tests/Frameworks/Laminas/Mvc/Version_3_3/renovate.json.disabled
Due: none

Also ignore SIGVTALRM for stream_select
  ext/handlers_signal.c
Due: appsec

wip
  .gitlab/compile_extension.sh
Due: none

Implement stripe sdk appsec events
  Makefile
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
  tests/Integrations/Stripe/Latest/StripeTest.php
  tests/Integrations/Stripe/Latest/composer.json
Due: appsec

Add some integration tests
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_stripe/MockStripeServer.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/PaymentEventsTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
  appsec/tests/integration/src/test/www/payment/composer.json
  appsec/tests/integration/src/test/www/payment/initialize.sh
  appsec/tests/integration/src/test/www/payment/public/hello.php
  appsec/tests/integration/src/test/www/payment/public/payment.php
  ext/integrations/integrations.c
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
Due: appsec

Fix integration tests
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
Due: none

Wrap missing methods
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/PaymentEventsTests.groovy
  appsec/tests/integration/src/test/www/payment/public/payment.php
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
  tests/Integrations/Stripe/Latest/StripeTest.php
Due: appsec

Does small fixes
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_stripe/MockStripeServer.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/PaymentEventsTests.groovy
  appsec/tests/integration/src/test/www/payment/public/payment.php
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
  tests/Integrations/Stripe/Latest/StripeTest.php
Due: appsec

Fix integration
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
  tests/Integrations/Stripe/Latest/StripeTest.php
Due: none

Check exceptions
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
Due: none

Refactor integration
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
Due: none

Make it compatible with PHP>=7.0
  Makefile
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/PaymentEventsTests.groovy
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
  tests/Integrations/Stripe/Latest/StripeTest.php
Due: appsec

Fix tests
  tests/Integrations/Stripe/Latest/StripeTest.php
Due: none

Add stripe configurations
  metadata/supported-configurations.json
Due: none

Fix build on appsec test integration
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/PaymentEventsTests.groovy
  appsec/tests/integration/src/test/www/payment/initialize.sh
Due: appsec

Change mock reponse approach
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_stripe/MockStripeServer.groovy
Due: appsec
