Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

Merging baggages, fixing related test and api ones
  ext/distributed_tracing_headers.c
  ext/handlers_http.h
  src/DDTrace/Span.php
  tests/Unit/SpanTest.php
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_alone.phpt
Due: appsec

Updating arginfo file
  ext/ddtrace_arginfo.h
Due: appsec

Set system config at first rinit
  tests/ext/library_config/default_config.yaml
  tests/ext/library_config/system_config.phpt
  tests/ext/library_config/system_config_overloads_env.phpt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_ini.h
  zend_abstract_interface/config/config_stable_file.c
  zend_abstract_interface/config/config_stable_file.h
Due: zend_abstract_interface, profiling, appsec

Add the product as a tag
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
  loader/tests/functional/includes/assert.php
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_error.php
  tooling/bin/generate-ssi-package.sh
Due: none

Inject profiling and appsec
  loader/dd_library_loader.c
  loader/tests/functional/test_incompatibility_jit.php
  loader/tests/functional/test_telemetry_error.php
  tooling/bin/generate-ssi-package.sh
Due: none

Add profiling and appsec to SSIo
  tooling/bin/generate-ssi-package.sh
Due: none

Test profiling/appssec are loaded
  loader/tests/functional/test_php_output.php
Due: none

Strip symbols to reduce the package size
  tooling/bin/generate-ssi-package.sh
Due: none

Fix tests
  loader/tests/functional/includes/assert.php
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_complete.php
  loader/tests/functional/test_telemetry_error.php
  loader/tests/functional/test_telemetry_php5.php
Due: none

Profiling should be disabled by default
  loader/dd_library_loader.c
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_profiling_and_appsec_are_disabled_by_default.php
Due: none

Profiling is not available on PHP 7.0
  loader/dd_library_loader.c
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_php_output.php
  tooling/bin/generate-ssi-package.sh
Due: none

Disable symbols stripping
  tooling/bin/generate-ssi-package.sh
Due: none

Replace ZaiConfigOnUpdateIni by zend_alter_ini_entry_ex
  zend_abstract_interface/config/config_stable_file.c
Due: zend_abstract_interface, profiling, appsec

Update bindings
  components-rs/common.h
  components-rs/ddtrace.h
Due: none

Re-enable symbols stripping
  dockerfiles/packaging/fpm_packaging/Dockerfile
  tooling/bin/generate-ssi-package.sh
Due: none

Disable tests with valgrind as it does not work with stripped so
  .circleci/continue_config.yml
Due: appsec

Add test
  loader/tests/functional/test_profiling_and_appsec_can_be_enabled.php
Due: none

Fix encoding and decoding based on system tests
  ext/distributed_tracing_headers.c
  ext/handlers_http.h
  ext/span.h
  tests/Unit/SpanTest.php
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_context_propagated.phpt
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_decoding_encoding.phpt
Due: appsec

Remove useless inferred_span_created initialization
  ext/ddtrace.c
Due: appsec

Replace transfered data from error.ignored to error
  ext/serializer.c
Due: appsec

feat(helper: remote_config): add config aggregator for asm features
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.hpp
  appsec/src/helper/service_config.hpp
Due: appsec

feat(extension: user_tracking): add quto_user_instrum capability
  appsec/src/extension/attributes.h
  appsec/src/extension/commands_helpers.h
  appsec/src/helper/network/proto.hpp
  appsec/tests/extension/inc/mock_helper.php
Due: appsec

feat(helper: client): add settings field to requests
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
Due: appsec

feat(extension): add warning logs on unexpected cases
  appsec/src/helper/remote_config/listeners/asm_features_listener.hpp
Due: appsec

test(integrations): add auto_user_instrum rc tests
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
Due: appsec

chore: restore end-of-line newline
  appsec/src/extension/commands_helpers.h
  appsec/src/helper/remote_config/listeners/asm_features_listener.hpp
  appsec/src/helper/service_config.hpp
  appsec/tests/extension/inc/mock_helper.php
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
Due: appsec

chore: apply feedbacks
  appsec/src/extension/attributes.h
  appsec/src/extension/commands_helpers.h
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
Due: appsec

chore: apply feedbacks
  appsec/src/extension/commands_helpers.h
Due: appsec

feat(extension): add authenticated user tracking functions
  appsec/src/extension/tags.c
  appsec/tests/extension/track_authenticated_user_event.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_anon_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_anon_mode_compat.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_anon_mode_full_name.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_anon_mode_no_user.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_default_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_disabled_config.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_disabled_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_ident_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_ident_mode_compat.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_ident_mode_full_name.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_ident_mode_no_user.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_invalid_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_no_root_span.phpt
  appsec/tests/extension/track_authenticated_user_event_no_root_span.phpt
  appsec/tests/extension/track_authenticated_user_event_no_user.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority_02.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority_03.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority_04.phpt
  tests/Appsec/Mock.php
Due: appsec

feat(integrations: Laravel): add authenticated user tracking feature
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  tests/Integrations/Laravel/AutomatedLoginEventsTestSuite.php
Due: none

feat(integrations: Wordpress): add authenticated user event tracking
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  tests/Frameworks/WordPress/Version_6_1/index.php
  tests/Integrations/Laravel/AutomatedLoginEventsTestSuite.php
  tests/Integrations/WordPress/AutomatedLoginEventsTestSuite.php
Due: appsec

Upgrade libddwaf
  Makefile
  appsec/.clang-tidy
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/engine_ruleset.cpp
  appsec/src/helper/engine_ruleset.hpp
  appsec/src/helper/json_helper.cpp
  appsec/src/helper/json_helper.hpp
  appsec/src/helper/parameter.cpp
  appsec/src/helper/parameter.hpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_aggregator.cpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_aggregator.hpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_data_aggregator.cpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_data_aggregator.hpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_dd_aggregator.cpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_dd_aggregator.hpp
  appsec/src/helper/remote_config/listeners/engine_listener.cpp
  appsec/src/helper/subscriber/base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/CMakeLists.txt
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/parameter_test.cpp
  appsec/tests/helper/remote_config/listeners/config_aggregators/asm_aggregator_test.cpp
  appsec/tests/helper/remote_config/listeners/config_aggregators/asm_data_aggregator_test.cpp
  appsec/tests/helper/remote_config/listeners/config_aggregators/asm_dd_aggregator_test.cpp
  appsec/tests/helper/remote_config/listeners/engine_listener_test.cpp
  appsec/tests/helper/remote_config/mocks.cpp
  appsec/tests/helper/remote_config/mocks.hpp
  appsec/tests/helper/tel_subm_mock.hpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

test(appsec: integrations): add authenticated user event auto instrum test
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/www/base/public/behind_auth.php
Due: appsec

Attempt to solve flakiness in appsec int tests
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_aggregator.cpp
  appsec/src/helper/remote_config/listeners/config_aggregators/config_aggregator.hpp
  config.m4
Due: appsec

ssi tests one-pipeline
  .gitlab-ci.yml
Due: none

Add system-tests APPSEC_API_SECURITY scenarios
  .circleci/continue_config.yml
Due: appsec

ssi tests one-pipeline (#3128)
  .gitlab-ci.yml
Due: none
