Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

[Profiling] Accept `auto` as valid value for DD_PROFILING_ENABLED (#3166)
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/php_ffi.c
  profiling/tests/phpt/phpinfo_08.phpt
  profiling/tests/phpt/phpinfo_ini_02.phpt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_decode.c
  zend_abstract_interface/config/config_decode.h
  zend_abstract_interface/config/config_ini.c
Due: zend_abstract_interface, profiling, appsec

fix test and ensure key string terminates
  ext/configuration.c
  tests/Unit/ConfigurationTest.php
Due: appsec

take 2 trying to terminal the string
  ext/configuration.c
Due: appsec

take 3 use zval for key
  ext/configuration.c
  tests/Unit/ConfigurationTest.php
Due: appsec

ignore delim test
  tests/Unit/ConfigurationTest.php
Due: none

Defer dropping the exec span to close time
  ext/span.c
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Common/TracerTestTrait.php
  tests/Frameworks/Symfony/Latest/composer.json
Due: appsec

Fix zend_compile_file setup
  appsec/src/extension/ddappsec.c
  appsec/src/extension/request_abort.c
  appsec/src/extension/request_abort.h
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
Due: appsec

Fix gradle/images.grade
  appsec/tests/integration/gradle/images.gradle
Due: appsec

Rollback broken stuff
  ext/configuration.c
  tests/Unit/ConfigurationTest.php
Due: appsec

Fix key length handling
  ext/configuration.c
Due: appsec

Remove useless condition
  ext/configuration.c
Due: appsec

fix(dd_tags): Update precedence of USTs
  ext/serializer.c
  tests/ext/ust_precedence_over_ddtags.phpt
Due: appsec

remove test
  tests/ext/dogstatsd/metrics_host_config.phpt
Due: none

update ddtrace_dogstatsd_url, next step is the refactor
  ext/dogstatsd.c
Due: appsec

fix failing test
  tests/ext/ust_precedence_over_ddtags.phpt
Due: none

foo
  ext/serializer.c
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Frameworks/Laravel/Latest/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Latest/bootstrap/app.php
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/Symfony/Latest/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
Due: appsec

Defer dropping the exec span to close time (#3181)
  ext/span.c
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Common/TracerTestTrait.php
  tests/Frameworks/Symfony/Latest/composer.json
Due: appsec

Bump to 1.8.1
  VERSION
  package.xml
Due: none

Amend bug on ip collection not happening
  appsec/src/extension/request_lifecycle.c
Due: appsec

perf
  ext/serializer.c
Due: appsec

Revise exception ignoring logic
  ext/serializer.c
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.latest.common_scenarios_test.test_scenario_get_to_missing_route.json
Due: appsec

Don't serialize error if ignored
  ext/serializer.c
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.latest.common_scenarios_test.test_scenario_get_to_missing_route.json
Due: appsec

error/exception distinction
  ext/serializer.c
Due: appsec

Amend bug on ip collection not happening (#3183)
  appsec/src/extension/request_lifecycle.c
Due: appsec

tmp
  ext/serializer.c
Due: appsec

fix serialization order
  ext/serializer.c
Due: appsec

ci: add gitlab builds for php debug and debug-zts-asan
  .gitlab-ci.yml
  .gitlab/append-build-id.sh
  .gitlab/compile.yml
  .gitlab/compile_extension.sh
Due: none

Bump to 1.8.2
  VERSION
  package.xml
Due: none

Update package.xml
  package.xml
Due: none

check for default service name and add regression test
  ext/serializer.c
  tests/ext/ust.phpt
  tests/ext/ust_via_ddtags.phpt
Due: appsec

refactor to use ddtrace_dogstatsd_url
  ext/dogstatsd_client.c
Due: appsec

memory clean ups
  ext/dogstatsd_client.c
Due: appsec

use ZVal to manage url memory
  ext/dogstatsd_client.c
Due: appsec

remove unnessary if statement
  ext/dogstatsd_client.c
Due: appsec

Integrating revolt
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/Integrations/Integrations/Revolt/RevoltIntegration.php
  tests/Frameworks/Revolt/composer.json
  tests/Frameworks/Revolt/trace_revolt_test_suite.php
Due: appsec

fix failing test and mem leak
  ext/serializer.c
  tests/ext/ust.phpt
Due: appsec
