Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Fix log fd opening on windows (#3076)
  components/atomic_win32_polyfill.h
  ext/logging.c
Due: components-c, appsec

bump
  VERSION
  package.xml
Due: none

Add track_error: false on ignored caught exceptions (#3074)
  ext/serializer.c
Due: appsec

add release artifact job
  .github/workflows/add-asset-to-gh-release.yml
Due: none

add release artifact job (#3086)
  .github/workflows/add-asset-to-gh-release.yml
Due: none

fix runner size
  .github/workflows/add-asset-to-gh-release.yml
Due: none

fix runner size (#3087)
  .github/workflows/add-asset-to-gh-release.yml
Due: none

foo
  .github/workflows/add-asset-to-gh-release.yml
Due: none

Well ... (#3088)
  .github/workflows/add-asset-to-gh-release.yml
Due: none

fix(trace): crash when disabled by webserver config
  ext/span.c
Due: appsec

chore: update latest versions
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Yii/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
Due: none

style: Refactor using DDTRACE_INFERRED_SPAN type
  ext/ddtrace.c
  ext/handlers_curl.c
  ext/handlers_curl_php7.c
  ext/serializer.c
  ext/serializer.h
  ext/span.c
  ext/span.h
Due: appsec

tests: Add some (unfinished) tests
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
  tests/Integrations/Laravel/Latest/InferredProxyTest.php
  tests/Integrations/Laravel/Octane/Latest/InferredProxyTest.php
  tests/ext/inferred_proxy/alter_service.phpt
  tests/ext/inferred_proxy/error_propagated.phpt
  tests/snapshots/tests.integrations.laravel.octane.latest.inferred_proxy_test.test_inferred_proxy.json
Due: none

feat: Very quick Roadrunner support (to be enhanced)
  src/DDTrace/Integrations/Roadrunner/RoadrunnerIntegration.php
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
  tests/Integrations/Roadrunner/V2/InferredProxyTest.php
  tests/snapshots/tests.integrations.roadrunner.v2.inferred_proxy_test.test_inferred_proxy.json
Due: none

Set `_dd.inferred_span` to `1`
  ext/span.c
  tests/snapshots/tests.integrations.laravel.latest.inferred_proxy_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.laravel.latest.inferred_proxy_test.test_inferred_proxy_exception.json
  tests/snapshots/tests.integrations.laravel.octane.latest.inferred_proxy_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.roadrunner.v2.inferred_proxy_test.test_inferred_proxy.json
Due: appsec

try
  .circleci/continue_config.yml
Due: appsec

sdf
  .circleci/continue_config.yml
Due: appsec

Add patch
  .circleci/continue_config.yml
Due: appsec

brute force
  .circleci/continue_config.yml
Due: appsec

Work around preloaded enums being broken on early PHP 8.4 versions with observers
  Makefile
  ext/ddtrace.c
  zend_abstract_interface/interceptor/php8/interceptor.c
  zend_abstract_interface/interceptor/php8/interceptor.h
Due: zend_abstract_interface, profiling, appsec

Try -fPIC
  .circleci/continue_config.yml
Due: appsec

tests: Clean EXPECTF section
  tests/ext/inferred_proxy/alter_service.phpt
  tests/ext/inferred_proxy/basic_test.phpt
  tests/ext/inferred_proxy/error_propagated.phpt
Due: none

fix: Memory leak
  ext/ddtrace.c
Due: appsec

chore: update snapshots
  tests/snapshots/tests.integrations.laravel.latest.inferred_proxy_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.laravel.latest.inferred_proxy_test.test_inferred_proxy_exception.json
  tests/snapshots/tests.integrations.laravel.octane.latest.inferred_proxy_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.roadrunner.v2.inferred_proxy_test.test_inferred_proxy.json
Due: none

Amend login failure event being reported by mistake
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  tests/Integrations/WordPress/AutomatedLoginEventsTestSuite.php
  tests/Integrations/WordPress/V6_1/AutomatedLoginEventsTest.php
Due: none

tests: Distributed Tracing
  tests/ext/inferred_proxy/distributed_tracing.phpt
Due: none

tests: Exceptions in Roadrunner/Swoole
  tests/Integrations/Laravel/Octane/Latest/InferredProxyTest.php
  tests/Integrations/Roadrunner/V2/InferredProxyTest.php
  tests/snapshots/tests.integrations.roadrunner.v2.inferred_proxy_test.test_inferred_proxy_exception.json
Due: none

fix: Laravel Latest CLI Test Script Location
  tests/Integrations/CLI/Laravel/Latest/CommonScenariosTest.php
Due: none

fix: persisting DD_SERVICE on Laravel Tests
  tests/Integrations/Laravel/Latest/InferredProxyTest.php
  tests/snapshots/tests.integrations.laravel.octane.latest.inferred_proxy_test.test_inferred_proxy_exception.json
Due: none

fix: Roadrunner tests order
  tests/Integrations/Roadrunner/V2/APIGWTest.php
  tests/snapshots/tests.integrations.roadrunner.v2.apigw_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.roadrunner.v2.apigw_test.test_inferred_proxy_exception.json
Due: none

fix: Laravel Connection issue
  tests/Frameworks/Laravel/Latest/.env
  tests/Integrations/Laravel/Latest/CommonScenariosTest.php
  tests/Integrations/Laravel/Latest/InferredProxyTest.php
Due: none

fix: Laravel Connection issue
  tests/Integrations/Laravel/Latest/APIGWTest.php
  tests/snapshots/tests.integrations.laravel.latest.apigw_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.laravel.latest.apigw_test.test_inferred_proxy_exception.json
Due: none

Allow users to be registered on Wordpres 6.1
  tests/Frameworks/WordPress/Version_6_1/scripts/wp_initdb.sql
  tests/Integrations/WordPress/V6_1/AutomatedLoginEventsTest.php
Due: none

Checkpoint
  Cargo.lock
  Makefile
  components-rs/crashtracker.h
  components-rs/sidecar.h
  config.w32
  ddtrace.sym
  ext/crashtracking_windows.c
  ext/crashtracking_windows.h
  ext/ddtrace.c
Due: appsec

error output
  tests/Sapi/CliServer/CliServer.php
Due: none

Amend login failure event being reported by mistake (#3092)
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  tests/Frameworks/WordPress/Version_6_1/scripts/wp_initdb.sql
  tests/Integrations/WordPress/AutomatedLoginEventsTestSuite.php
  tests/Integrations/WordPress/V6_1/AutomatedLoginEventsTest.php
Due: none

Remove a bit of flakiness
  .circleci/continue_config.yml
  Makefile
  components-rs/common.h
  components-rs/crashtracker.h
  ext/configuration.h
  ext/ddtrace.c
  tests/ext/background-sender/agent_sampling.phpt
  tests/ext/background-sender/agent_sampling_sidecar.phpt
  tests/ext/crashtracker_segfault.phpt
  tests/ext/dogstatsd/metrics_uds.inc
  tests/ext/remote_config/dynamic_config_auto_update.phpt
  tests/ext/remote_config/dynamic_config_update.phpt
  tests/ext/root_span_url_as_resource_names.phpt
  tests/ext/single-span_sampling/check-sample-rate.phpt
  tests/ext/single-span_sampling/limited-single-span.phpt
  tests/ext/telemetry/config.phpt
  tests/internal-api-stress-test.php
Due: appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
