Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling

Trigger action rerun
  tests/Common/SnapshotTestTrait.php
Due: none

Trigger action rerun on push
  .github/workflows/auto_check_snapshots.yml
Due: none

Retrieve PR number on push event
  .github/workflows/auto_check_snapshots.yml
Due: none

(Vanilla) Retrieve PR number on push event
  .github/workflows/auto_check_snapshots.yml
Due: none

Revert changes
  .github/workflows/auto_check_snapshots.yml
Due: none

Bump to version 0.91.0
  Cargo.lock
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling

Handle exit code 5 specifically
  .circleci/continue_config.yml
  Makefile
Due: none

Add comment
  Makefile
Due: none

Add comment
  .circleci/continue_config.yml
Due: none

Bump to version 0.91.0 (#2240)
  Cargo.lock
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling

Use average diffs instead of the slope/intercept ratio
  tests/randomized/analyze-results.php
Due: none

Pipeline without jit
  tests/randomized/config/inis.php
Due: none

Revert #2227
  ext/hook/uhook.c
Due: none

Remove log line
  ext/hook/uhook.c
Due: none

Add the files foundations
  bridge/_files_integrations.php
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/Integrations/Integrations/IntegrationsLoader.php
  src/Integrations/Integrations/Magento/MagentoIntegration.php
Due: none

Update testWeDidNotForgetToRegisterALibraryForAutoLoading
  tests/Unit/Integrations/IntegrationsLoaderTest.php
Due: none

fix `sed` calls, when INI file is a symlink
  datadog-setup.php
Due: none

Stop sending http.route normalized
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Util/Normalizer.php
  tests/Integrations/Laravel/V4/CommonScenariosTest.php
  tests/Integrations/Laravel/V4/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V5_7/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_7/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V5_8/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_8/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V8_x/CommonScenariosTest.php
  tests/Integrations/Laravel/V8_x/InternalExceptionsTest.php
  tests/Integrations/Laravel/V8_x/RouteCachingTest.php
  tests/Integrations/Laravel/V8_x/TraceSearchConfigTest.php
  tests/Unit/Util/Normalizer/NormalizerTest.php
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_with_view.json
Due: none

fix `end_timestamp_ns` usage in profiler
  profiling/src/profiling/mod.rs
Due: profiling

update pecl changelog
  package.xml
Due: none

use `readlink` as `--follow-symlinks` is not supported on Busybox
  datadog-setup.php
Due: none

Generate integration artifact
  bridge/_files_integrations.php
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/Integrations/Integrations/IntegrationsLoader.php
  src/Integrations/Integrations/Magento/MagentoIntegration.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
Due: none

fix: `datadog-setup.php` when INI file is a symlink (#2242)
  datadog-setup.php
  package.xml
Due: none

Add laminas deferred loading on Application::bootstrap
  ext/integrations/integrations.c
Due: none

Fix DD_SERVICE_NAME alias and release 1.13.1 (#293)
  CHANGELOG.md
  CMakeLists.txt
  cmake/run-tests-wrapper.sh
  src/extension/configuration.h
  tests/extension/calias_configuration.phpt
  tests/extension/ddtrace_basic.phpt
  tests/extension/rinit_rshutdown_basic.phpt
  tests/extension/root_span_add_tag.phpt
  tests/extension/shared_module_configuration.phpt
Due: none

fix(profiling): empty profiles with timeline due to `end_timestamp_ns` unit being set (#2244)
  package.xml
  profiling/src/profiling/mod.rs
Due: profiling

Update appsec to v0.13.1
  Makefile
  package.xml
Due: none

Stop sending http.route normalized (#2241)
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Util/Normalizer.php
  tests/Integrations/Laravel/V4/CommonScenariosTest.php
  tests/Integrations/Laravel/V4/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V5_7/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_7/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V5_8/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_8/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V8_x/CommonScenariosTest.php
  tests/Integrations/Laravel/V8_x/InternalExceptionsTest.php
  tests/Integrations/Laravel/V8_x/RouteCachingTest.php
  tests/Integrations/Laravel/V8_x/TraceSearchConfigTest.php
  tests/Unit/Util/Normalizer/NormalizerTest.php
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_with_view.json
Due: none

Document change on changelog
  package.xml
Due: none

Work around JITting when using HookData->overrideArguments
  config.m4
  ext/ddtrace.c
  ext/hook/uhook.c
  package.xml
  tests/ext/sandbox/install_hook/override_argument_jit.phpt
  zend_abstract_interface/jit_utils/jit_blacklist.c
  zend_abstract_interface/jit_utils/jit_blacklist.h
Due: zend_abstract_interface, profiling

Update appsec to v0.13.1 (#2245)
  Makefile
  package.xml
Due: none

Work around JITting when using HookData->overrideArguments (#2243)
  config.m4
  ext/ddtrace.c
  ext/hook/uhook.c
  package.xml
  tests/ext/sandbox/install_hook/override_argument_jit.phpt
  zend_abstract_interface/jit_utils/jit_blacklist.c
  zend_abstract_interface/jit_utils/jit_blacklist.h
Due: zend_abstract_interface, profiling

Fix bad version range for phpt test SKIPIF, introduced in 83e44ea19b87dc2d9a0b8cb3c83695205d7b7b75
  tests/ext/sandbox/install_hook/override_argument_jit.phpt
Due: none

Enable allocation profiling on PHP versions with fixed JIT
  profiling/src/allocation.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.h
  profiling/tests/phpt/jit_02.phpt
  profiling/tests/phpt/phpinfo_02.phpt
  profiling/tests/phpt/phpinfo_03.phpt
Due: profiling

fix tests
  profiling/tests/correctness/timeline.json
  profiling/tests/correctness/timeline.php
  profiling/tests/correctness/timeline_call.php
  profiling/tests/correctness/timeline_empty.php
Due: profiling

add prof correctness tests for timeline
  .github/workflows/prof_correctness.yml
  profiling/tests/correctness/timeline.json
  profiling/tests/correctness/timeline.php
  profiling/tests/correctness/timeline_empty.php
Due: profiling

Refactor to use a `PHP_VERSION_ID`
  profiling/build.rs
  profiling/src/allocation.rs
  profiling/src/lib.rs
Due: profiling

revert overwritten test
  profiling/tests/phpt/phpinfo_01.phpt
  profiling/tests/phpt/phpinfo_04.phpt
Due: profiling

update
  Cargo.lock
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
