Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

chore: update latest versions
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
Due: none

tests: Update Laravel v11 & Latest
  Makefile
  tests/Frameworks/Laravel/Latest/.env
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Version_11_x/.env
  tests/Frameworks/Laravel/Version_11_x/composer.json
  tests/Integrations/CLI/Laravel/V11_X/CommonScenariosTest.php
  tests/Integrations/Laravel/Latest/CommonScenariosTest.php
  tests/Integrations/Laravel/V11_x/CommonScenariosTest.php
  tests/phpunit.xml
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_dynamic_route.json
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_with_view.json
Due: none

tests: Update MongoDB Test
  tests/Integrations/MongoDB/Latest/MongoDBTest.php
Due: none

chore: add MongoDB version for PHP 8.0 & 7.4
  dockerfiles/ci/buster/build-extensions.sh
Due: none

chore: update MongoDB integration tests to version 1.x
  Makefile
Due: none

tests: Refactor OpenAITest to use dynamic error log paths and improve test ID generation
  tests/Integrations/OpenAI/Latest/OpenAITest.php
  tests/OpenAI/Fixtures/Completion.php
  tests/OpenAI/OpenAIUtils.php
Due: none

Revert coms.c changes and try custom libdatadog logic to prefix remote config path for sidecar with /tmp
  .gitmodules
  ext/coms.c
Due: appsec

Revert changes to .gitmodules
  .gitmodules
Due: none

start fresh use git submodule command to update config
  .gitmodules
Due: none

update gitmodules to point to my repo/branch
  .gitmodules
Due: none

Try to create libdatadog dir in ci...
  .circleci/continue_config.yml
Due: appsec

Try to add --no-recurse-submodules to fetch when checking out branch
  .circleci/continue_config.yml
Due: appsec

Fix symbols not exported in PECL build
  components-rs/lib.rs
Due: none

chore: apply feedbacks
  appsec/src/extension/commands_helpers.h
Due: appsec

chore: restore end-of-line newline
  appsec/src/extension/commands_helpers.h
  appsec/src/helper/remote_config/listeners/asm_features_listener.hpp
  appsec/src/helper/service_config.hpp
  appsec/tests/extension/inc/mock_helper.php
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
Due: appsec

feat(integrations: Wordpress): add authenticated user event tracking
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  tests/Frameworks/WordPress/Version_6_1/index.php
  tests/Integrations/Laravel/AutomatedLoginEventsTestSuite.php
  tests/Integrations/WordPress/AutomatedLoginEventsTestSuite.php
Due: appsec

feat(extension): add warning logs on unexpected cases
  appsec/src/helper/remote_config/listeners/asm_features_listener.hpp
Due: appsec

feat(extension): add authenticated user tracking functions
  appsec/src/extension/tags.c
  appsec/tests/extension/track_authenticated_user_event.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_anon_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_anon_mode_compat.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_anon_mode_full_name.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_anon_mode_no_user.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_default_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_disabled_config.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_disabled_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_ident_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_ident_mode_compat.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_ident_mode_full_name.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_ident_mode_no_user.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_invalid_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_no_root_span.phpt
  appsec/tests/extension/track_authenticated_user_event_no_root_span.phpt
  appsec/tests/extension/track_authenticated_user_event_no_user.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority_02.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority_03.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority_04.phpt
  tests/Appsec/Mock.php
Due: appsec

test(integrations): add auto_user_instrum rc tests
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
Due: appsec

test(appsec: integrations): add authenticated user event auto instrum test
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/www/base/public/behind_auth.php
Due: appsec

feat(helper: remote_config): add config aggregator for asm features
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.hpp
  appsec/src/helper/service_config.hpp
Due: appsec

feat(integrations: Laravel): add authenticated user tracking feature
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  tests/Integrations/Laravel/AutomatedLoginEventsTestSuite.php
Due: none

chore: apply feedbacks
  appsec/src/extension/attributes.h
  appsec/src/extension/commands_helpers.h
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
Due: appsec

feat(extension: user_tracking): add quto_user_instrum capability
  appsec/src/extension/attributes.h
  appsec/src/extension/commands_helpers.h
  appsec/src/helper/network/proto.hpp
  appsec/tests/extension/inc/mock_helper.php
Due: appsec

feat(helper: client): add settings field to requests
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
Due: appsec

Try to fix Windows
  zend_abstract_interface/config/config_stable_file.c
Due: zend_abstract_interface, profiling, appsec

Improve cli server
  src/DDTrace/Integrations/Laravel/LaravelIntegrationException.php
  tests/Sapi/CliServer/CliServer.php
Due: none

Replace DD_EXPERIMENTAL_APPSEC_STANDALONE_ENABLED with DD_APM_TRACING_ENABLED
  appsec/src/extension/configuration.h
  appsec/src/extension/tags.c
  ext/asm_event.c
  ext/auto_flush.c
  ext/coms.c
  ext/configuration.h
  ext/handlers_http.h
  ext/limiter/limiter.c
  ext/priority_sampling/priority_sampling.c
  ext/serializer.c
  tests/ext/background-sender/agent_sampling-standalone-asm_01.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_02.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_03.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_01.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_02.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_propagate_asm_event.phpt
  tests/ext/limiter/003-limiter-with-asm-standalone.phpt
  tests/ext/priority_sampling/asm-standalone.phpt
Due: appsec

wip
  ext/asm_event.c
  ext/products.h
  ext/span.h
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  ext/tracer_tag_propagation/tracer_tag_propagation.h
Due: appsec

Solve rebase conflicts
  appsec/src/extension/configuration.h
Due: appsec

appsec helper: new error logic when updating waf handle
  appsec/src/helper/engine.cpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/remote_config/changeset.hpp
  appsec/src/helper/remote_config/client.cpp
  appsec/src/helper/remote_config/config.cpp
  appsec/src/helper/remote_config/config.hpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_dd_aggregator.cpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_dd_aggregator.hpp
  appsec/src/helper/remote_config/listeners/engine_listener.cpp
  appsec/src/helper/remote_config/product.hpp
  appsec/src/helper/subscriber/base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/src/helper/utils.hpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/remote_config/listeners/engine_listener_test.cpp
  appsec/tests/helper/remote_config/mocks.hpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

Crashtracking for Windows
  components-rs/crashtracker.h
  components-rs/sidecar.h
  config.w32
  ddtrace.sym
  ext/crashtracking_windows.c
  ext/crashtracking_windows.h
  ext/ddtrace.c
  tests/ext/crashtracker_segfault_windows.phpt
Due: appsec

Fix exports
  ddtrace.sym
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
