Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Revert phpredis5 changes
  tests/composer.json
Due: none

Add back again test_integrations_phpredis5 to the PHP 8.0 test suite
  Makefile
Due: none

Add gpg to the base buster container
  dockerfiles/ci/buster/Dockerfile
Due: none

Upgrade phpredis5 scenario to redis-5.3.7
  tests/composer.json
Due: none

Revert phpredis5 changes
  Makefile
Due: none

Only run test coverage for PHP 7.4+
  tests/phpunit.xml
Due: none

Move the dummy function of call_attribute_constructor onto the VM stack
  ext/ddtrace.c
Due: appsec

Merge master
  .circleci/continue_config.yml
  Makefile
Due: appsec

fix: Iteration over null
  src/Integrations/Integrations/Curl/CurlIntegration.php
Due: none

fix: missing coverage_file definition
  Makefile
Due: none

fix: Undefined variable `data`
  src/Integrations/Integrations/Curl/CurlIntegration.php
Due: none

fix: Unique codecov/upload upload_name
  .circleci/continue_config.yml
Due: appsec

Exclude `dogstatsd/`
  tests/phpunit.xml
Due: none

Re-enable code coverage using codecov (#2464)
  .circleci/continue_config.yml
  Makefile
  codecov.yml
  dockerfiles/ci/buster/Dockerfile
  src/Integrations/Integrations/Curl/CurlIntegration.php
  tests/composer.json
  tests/phpunit.xml
Due: appsec

fix(profiler) prevent emitting empty profiles (#2397)
  profiling/src/profiling/mod.rs
Due: profiling

refactor(profiling): extract SampleTypeFilter
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
Due: profiling

refactor(profiling): extract wall_time.rs file (#2467)
  ext/engine_hooks.c
  profiling/src/capi.rs
  profiling/src/lib.rs
  profiling/src/wall_time.rs
Due: profiling, appsec

feat: Add `GlobalTracer::reset`
  src/api/GlobalTracer.php
Due: none

fix: Reset the root context when resetting the tracer
  src/DDTrace/Tracer.php
Due: none

Fix removing an end observer with other observers active
  tests/ext/sandbox/install_hook/remove_executing_hook.phpt
  zend_abstract_interface/hook/hook.c
  zend_abstract_interface/hook/hook.h
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

Add log line for mprotect failure
  ext/ddtrace.c
Due: appsec

Fix removing an end observer with other observers active (#2469)
  tests/ext/sandbox/install_hook/remove_executing_hook.phpt
  zend_abstract_interface/hook/hook.c
  zend_abstract_interface/hook/hook.h
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

Move the dummy function of call_attribute_constructor onto the VM stack (#2446)
  ext/ddtrace.c
Due: appsec

update symbol
  tests/tea/profiling/profiling.cc
  tests/tea/profiling/profiling.h
Due: none

run zai tests on profiler changes
  .circleci/config.yml
Due: none

fix(profiler) zai tests (#2475)
  .circleci/config.yml
  tests/tea/profiling/profiling.cc
  tests/tea/profiling/profiling.h
Due: none

refactor: move some prof tests to better place
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
Due: profiling

Bump to 0.97.0
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  github-actions-helpers/Build.cs
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling, appsec

Bump to 0.97.0 (#2478)
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  github-actions-helpers/Build.cs
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling, appsec

Fix typo in package.xml
  package.xml
Due: none

default enable timeline
  datadog-setup.php
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
  profiling/tests/phpt/phpinfo_06.phpt
  profiling/tests/phpt/phpinfo_07.phpt
Due: profiling

update deps
  Cargo.lock
  profiling/Cargo.toml
Due: profiling

apply clippy suggestions
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/wall_time.rs
Due: profiling

breaking-change: require system INIs for profiling features (#2468)
  profiling/src/allocation.rs
  profiling/src/config.rs
  profiling/src/exception.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/profiling/uploader.rs
  profiling/src/timeline.rs
  profiling/src/wall_time.rs
Due: profiling

fix(profiling): handle Apache graceful restarts more accurately
  profiling/src/lib.rs
  profiling/src/logging.rs
Due: profiling

style(profiling): fix clippy::single-match
  profiling/src/timeline.rs
Due: profiling

build(profiler): update dependencies and pin ahash (#2479)
  Cargo.lock
  profiling/Cargo.toml
Due: profiling

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
