Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

feat(ext: tracer): apply PR feedbacks
  cbindgen.toml
  components-rs/bytes.rs
  components-rs/common.h
  components-rs/data-pipeline.h
  components-rs/ddtrace.h
  ext/exception_serialize.c
  ext/exception_serialize.h
  ext/serializer.c
  ext/serializer.h
  ext/sidecar.h
Due: appsec

remove external: true for docker compose network
  tests/randomized/lib/templates/docker-compose.template.yml
Due: none

Revert "remove external: true for docker compose network"
  tests/randomized/lib/templates/docker-compose.template.yml
Due: none

chore: fix tests
  ext/serializer.c
Due: appsec

fix(prof): borrow error in request shutdown
  profiling/src/profiling/stack_walking.rs
Due: profiling

style(prof): use local_key_cell_methods
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/config.rs
  profiling/src/exception.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/timeline.rs
Due: profiling

fix(prof): borrow error in request shutdown (#3247)
  profiling/src/profiling/stack_walking.rs
Due: profiling

feat: use zend_ini_parse_quantity
  ext/signals.c
Due: appsec

style: keep variable for better readability
  profiling/src/io.rs
Due: profiling

fix: errstr shouldn't be NULL
  ext/signals.c
Due: appsec

test: opcache.jit_buffer_size in phpt
  tests/ext/crashtracker_segfault.phpt
Due: none

style(prof): use local_key_cell_methods (#3248)
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/config.rs
  profiling/src/exception.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/timeline.rs
Due: profiling

Revert "test: opcache.jit_buffer_size in phpt"
  tests/ext/crashtracker_segfault.phpt
Due: none

Update rasp metrics
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

Rename waf_error tag
  appsec/src/helper/subscriber/waf.cpp
Due: appsec

Lint
  appsec/tests/helper/waf_test.cpp
Due: appsec

Clarify rule_variant
  appsec/src/helper/subscriber/waf.cpp
Due: appsec

Add appsec.rasp.error metric
  appsec/src/extension/commands_helpers.c
  appsec/src/helper/metrics.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

Issue speced telemetry log messages
  appsec/src/helper/remote_config/client.cpp
  appsec/src/helper/remote_config/product.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/utils.hpp
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/TelemetryHelpers.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

Truncate string inputs
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/ddappsec.c
  appsec/src/extension/msgpack_helpers.c
  appsec/src/extension/msgpack_helpers.h
  appsec/tests/extension/rshutdown_telemetry_truncated.phpt
Due: appsec

test: php.opcache.jit_buffer_size exists in tags
  tests/ext/crashtracker_jit_tags.phpt
Due: none

test: fix request-replayer config
  tests/ext/crashtracker_jit_tags.phpt
Due: none

refactor: attach more tags
  ext/signals.c
  tests/ext/crashtracker_jit_tags.phpt
Due: appsec

refactor: avoid attaching tags in more cases
  ext/signals.c
Due: appsec

style: fix unused parameter warning
  ext/signals.c
Due: appsec

Fix crash with non-interned string in Trace attribute tags
  ext/hook/uhook_attributes.c
  tests/ext/traced_attribute.phpt
Due: appsec

refactor: use zend_get_extension and extract ddtrace_crasht_push_tag
  ext/signals.c
Due: appsec

refactor: polyfill zend_ini_str{,_ex} on < 8.3
  ext/compatibility.h
  ext/signals.c
Due: appsec

Add missing dep to injected ddappsec
  loader/dd_library_loader.c
Due: none

Fix crash with non-interned string in Trace attribute tags (#3251)
  ext/hook/uhook_attributes.c
  tests/ext/traced_attribute.phpt
Due: appsec

Add missing dep to injected ddappsec (#3252)
  loader/dd_library_loader.c
Due: none

tests: Add Laravel 10 example
  tests/Frameworks/Laravel/Version_10_x/app/Exceptions/Handler.php
  tests/Frameworks/Laravel/Version_10_x/app/Exceptions/IgnoredException.php
  tests/Frameworks/Laravel/Version_10_x/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Version_10_x/routes/web.php
  tests/Integrations/Laravel/V10_x/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_ignored_exception.json
Due: none

tests: Add another Laravel 10 example
  tests/Frameworks/Laravel/Version_10_x/app/Exceptions/ExceptionExtendingIgnored.php
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_ignored_exception.json
Due: none

Use the ddtrace handle instead of dlopen(NULL)
  appsec/src/extension/ddtrace.c
Due: appsec

emit tags on disable states too
  ext/signals.c
  tests/ext/crashtracker_jit_tags.phpt
Due: appsec

Switch to new way to pass zend_strings
  components-rs/bytes.rs
  ext/serializer.c
  tests/ext/sandbox/safe_to_string_metadata_ge_php_84.phpt
Due: appsec

Truncate data sent to WAF
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/msgpack_helpers.c
  appsec/tests/extension/input_truncated_01.phpt
  appsec/tests/extension/input_truncated_02.phpt
  appsec/tests/extension/input_truncated_03.phpt
  appsec/tests/extension/input_truncated_04.phpt
Due: appsec

fix: Handle recursive handlers
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: none

Pin shared pipeline
  .gitlab-ci.yml
  .gitlab/one-pipeline.locked.yml
Due: none
