Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

[AAP] Change helper runner thread from detached to joinable
  appsec/src/helper/main.cpp
Due: appsec

Implement new SSI configuration telemetry
  ddtrace.sym
  ext/startup_logging.c
  ext/telemetry.c
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
  loader/tests/functional/test_configuration_telemetry.php
Due: appsec

Take into account force flag set with PHP ini config
  loader/dd_library_loader.c
  loader/tests/functional/test_configuration_telemetry.php
Due: none

Don't store getenv pointer as it can become invalid
  ddtrace.sym
  ext/telemetry.c
  loader/dd_library_loader.c
Due: appsec

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
Due: none

ZTS support for allocation profiling was added a while ago
  .github/workflows/prof_correctness.yml
Due: none

ZTS support for allocation profiling was added a while ago (#3307)
  .github/workflows/prof_correctness.yml
Due: none

Update .gitlab/one-pipeline.locked.yml
  .gitlab/one-pipeline.locked.yml
Due: none

Update .gitlab/one-pipeline.locked.yml (#3308)
  .gitlab/one-pipeline.locked.yml
Due: none

fix ZTS tests not running
  .gitlab/generate-profiler.php
Due: none

Update one pipeline reference
  .gitlab/one-pipeline.locked.yml
Due: none

ci: add benchmark stages and SLO breach notifications (#3292)
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
  .gitlab/generate-package.php
Due: none

Try custom allocator for spans
  Cargo.lock
  components-rs/Cargo.toml
  components-rs/bytes.rs
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/lib.rs
  components-rs/sidecar.h
  ext/ddtrace.c
Due: appsec

Fix buffer overread
  components-rs/bytes.rs
Due: none

Fix rust types
  components-rs/bytes.rs
Due: none

Add support for PHP DEBUG builds
  profiling/build.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/bindings/mod.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
Due: profiling

fix missing weak polyill
  .gitlab/generate-profiler.php
  profiling/src/allocation/mod.rs
  profiling/src/php_ffi.c
Due: profiling

Actually pass on debug parameters
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
Due: profiling

enable profiling tests for DEBUG builds
  .gitlab/generate-profiler.php
Due: none

Fix ZEND_DEBUG conditions
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
Due: profiling

fix unused warnings
  profiling/src/php_ffi.c
Due: profiling

cleanup
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/bindings/mod.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
Due: profiling

Use erealloc as well
  components-rs/bytes.rs
  components-rs/ddtrace.h
  ext/ddtrace.c
Due: appsec

Update one pipeline reference (#3311)
  .gitlab/one-pipeline.locked.yml
Due: none

fix(telemetry): add redaction in autoload_php_file
  ext/autoload_php_files.c
Due: appsec

update and fail on error
  .github/workflows/prof_correctness.yml
Due: none

Fix pipeline
  appsec/src/extension/user_tracking.c
  appsec/tests/extension/track_user_login_failure_v2_01.phpt
  appsec/tests/extension/track_user_login_failure_v2_02.phpt
  appsec/tests/extension/track_user_login_failure_v2_03.phpt
  appsec/tests/extension/track_user_login_success_v2_01.phpt
  appsec/tests/extension/track_user_login_success_v2_02.phpt
  appsec/tests/extension/track_user_login_success_v2_03.phpt
  appsec/tests/extension/track_user_login_success_v2_04.phpt
  appsec/tests/extension/track_user_login_success_v2_05.phpt
  appsec/tests/extension/track_user_login_success_v2_06.phpt
  appsec/tests/extension/track_user_login_success_v2_07.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_failure_v2.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success_v2.phpt
Due: appsec

update and fail on error (#3314)
  .github/workflows/prof_correctness.yml
Due: none

release mutable borrow early
  profiling/src/exception.rs
Due: profiling

format
  profiling/src/exception.rs
Due: profiling

less borrow for allocations
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
Due: profiling

fix: borrow errors for CACHED_STRINGS/FUNCTION_CACHE_STATS instead of panicking
  profiling/rust-toolchain.toml
  profiling/src/profiling/stack_walking.rs
Due: profiling

fix: borrow errors for REQUEST_LOCALS instead of panicking
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/capi.rs
  profiling/src/exception.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
  profiling/src/wall_time.rs
Due: zend_abstract_interface, profiling

mark cold functions
  profiling/src/allocation/mod.rs
  profiling/src/exception.rs
  profiling/src/io.rs
Due: profiling

less borrowing
  profiling/src/io.rs
Due: profiling

fix: borrow errors for EXCEPTION_PROFILING_STATS instead of panicking
  profiling/src/exception.rs
Due: profiling

fix: borrow errors for io.rs instead of panicking
  profiling/src/io.rs
Due: profiling

style: remove unused import
  profiling/src/allocation/allocation_le83.rs
Due: profiling

fix: borrow errors for ALLOCATION_PROFILING_STATS instead of panicking
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
Due: profiling

style: fix unused RefCellExtError on earlier PHP versions
  profiling/src/profiling/stack_walking.rs
Due: profiling
