Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

build: remove intermediate extension archives
  .gitlab/link-tracing-extension.sh
Due: none

build: discard unused extension sections
  config.m4
Due: none

test: match combined JIT configuration order
  loader/tests/functional/test_incompatibility_jit.php
Due: none

Fix symfony
  .gitignore
  tests/Frameworks/Symfony/Version_6_2/composer.lock
Due: none

Fix symfony
  tests/Frameworks/Symfony/Version_6_2/docker-init.sh
  tests/Frameworks/Symfony/Version_6_2/public/.htaccess
Due: none

upd libdatadog
  Cargo.lock
Due: none

Fix symfony
  tests/Frameworks/Symfony/Version_6_2/public/.htaccess
Due: none

chore(libdatadog): bump to direct V1 builder FFI + regenerate cbindgen headers
  components-rs/bytes.rs
  components-rs/datadog.h
  components-rs/sidecar.h
Due: none

feat(tracer): build native V1 payload directly on the sidecar path
  tracer/serializer.c
  tracer/serializer.h
  tracer/span.h
  tracer/span_stats.c
  tracer/span_stats.h
Due: none

feat(tracer): downgrade to v0.4 on the in-process sender, flip sidecar default
  metadata/supported-configurations.json
  tooling/generate-supported-configurations.sh
  tracer/auto_flush.c
  tracer/coms.c
  tracer/coms.h
Due: none

feat(tracer): drop the PHP-version gate on the sidecar sender default
  tracer/configuration.h
Due: none

test: cover V1/v0.4 wire shape for background-sender + request-replayer
  tests/ext/background-sender/agent_headers.phpt
  tests/ext/background-sender/agent_headers_container_id.phpt
  tests/ext/background-sender/agent_headers_container_id_empty.phpt
  tests/ext/background-sender/agent_headers_container_id_fargate.phpt
  tests/ext/background-sender/agent_headers_unix_domain_socket.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_01.phpt
  tests/ext/background-sender/agent_sampling.phpt
  tests/ext/background-sender/agent_sampling_sidecar.phpt
  tests/ext/env_meta_fallback_promoted.phpt
  tests/ext/request-replayer/client_side_stats_dd_tags_env.phpt
  tests/ext/request-replayer/client_side_stats_inferred_span_sampling.phpt
  tests/ext/request-replayer/dd_trace_exception_span_event.phpt
  tests/ext/request-replayer/dd_trace_span_event.phpt
  tests/ext/request-replayer/dd_trace_span_link_with_exception.phpt
  tests/ext/request-replayer/serializer_wire_inprocess_v04.phpt
  tests/ext/request-replayer/serializer_wire_inprocess_v1.phpt
  tests/ext/request-replayer/serializer_wire_sidecar_v1.phpt
  tests/ext/span_kind_meta_fallback_promoted.phpt
Due: none

fix(ext): include <stdbool.h> in agent_info.h for PHP 7.x build
  ext/agent_info.h
Due: appsec

docs(tracer): tighten V1-migration comments; bump libdatadog
  components-rs/bytes.rs
  tracer/auto_flush.c
  tracer/coms.c
  tracer/coms.h
  tracer/configuration.h
  tracer/serializer.c
  tracer/span.h
  tracer/span_stats.c
Due: none

build: optimize packaged PHP debug artifacts
  .gitlab/build-profiler.sh
  Cargo.toml
  config.m4
Due: none

Restore needs: on .macrobenchmarks after package extension split
  .gitlab/benchmarks.yml
Due: none

test: fix loader/profiler test gaps for combined ddtrace.so
  .gitlab/generate-profiler.php
  loader/tests/functional/test_incompatibility_jit.php
  profiling/tests/phpt/gc_mem_caches_01.phpt
Due: profiling

Bump libdatadog
  Cargo.toml
  components-rs/common.h
  components-rs/datadog.h
  components-rs/sidecar.h
Due: none

build: fix stale Rust archive reuse across NTS/ZTS configure runs
  .gitlab/generate-profiler.php
  config.m4
Due: none

Prevent issues after fork reconnect
  components-rs/datadog.h
  components-rs/sidecar.rs
  ext/sidecar.c
Due: appsec

Exclude OTLP header and Datadog key configs from telemetry (#3961)
  ext/configuration.h
  ext/telemetry.c
  loader/tests/functional/test_configuration_telemetry.php
  metadata/supported-configurations.json
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  src/DDTrace/OpenTelemetry/Configuration.php
  tests/ext/telemetry/sensitive_config.phpt
  tooling/generate-supported-configurations.sh
  tracer/functions.c
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
Due: zend_abstract_interface, profiling, appsec

Bump to 1.25.0
  CHANGELOG.md
  VERSION
Due: none

profiling: init logger before other MINIT logging
  profiling/src/config.rs
  profiling/src/lib.rs
Due: profiling

[PROF-15878] Restore I/O GOT hooks on module shutdown
  profiling/src/io/got_elf64.rs
  profiling/src/io/got_macho.rs
  profiling/src/io/mod.rs
  profiling/src/lib.rs
Due: profiling

Validate images before restoring I/O hooks
  profiling/src/io/got_elf64.rs
  profiling/src/io/got_macho.rs
  profiling/src/io/mod.rs
Due: profiling

Keep profiler loaded after incomplete I/O unhook
  profiling/src/io/got_elf64.rs
  profiling/src/io/got_macho.rs
  profiling/src/io/mod.rs
  profiling/src/lib.rs
Due: profiling

fix(profiling): use exponential sampling in IOProfilingStats
  profiling/src/io/mod.rs
Due: profiling

test(profiling): stabilize I/O correctness tests
  profiling/tests/correctness/io_upscaling.json
  profiling/tests/correctness/io_upscaling.php
  profiling/tests/correctness/socket_io.json
  profiling/tests/correctness/socket_io.php
Due: profiling

+4154
  CHANGELOG.md
Due: none

Bump to 1.25.0 (#4157)
  CHANGELOG.md
  VERSION
Due: none

fix(profiling): Restore I/O GOT hooks on module shutdown (#4154)
  profiling/src/io/got_elf64.rs
  profiling/src/io/got_macho.rs
  profiling/src/io/mod.rs
  profiling/src/lib.rs
Due: profiling

fix(profiling): use exponential allocation sampling
  profiling/src/allocation/mod.rs
  profiling/tests/correctness/allocation_time_combined.json
  profiling/tests/correctness/allocation_time_combined.php
  profiling/tests/correctness/allocations.json
  profiling/tests/correctness/allocations.php
Due: profiling

fix(profiling): record bytes instead of item count in fread and fwrite
  profiling/src/io/mod.rs
Due: profiling

fix(profiling): correct poll event evaluation and nfds bounds check
  profiling/src/io/mod.rs
Due: profiling

fix(profiling): restore GNU_RELRO page protection after patching GOT entries
  profiling/src/io/got_elf64.rs
Due: profiling

refactor(profiling): call libc directly and eliminate static mut ORIG function pointers
  profiling/src/io/got_elf64.rs
  profiling/src/io/got_macho.rs
  profiling/src/io/mod.rs
Due: profiling

fix(profiling): mask local/abs symbol flags and bounds check Mach-O tables
  profiling/src/io/got_macho.rs
Due: profiling

perf(profiling): optimize ELF relocation scan, bound dynamic loop, and cache base address
  profiling/src/io/got_elf64.rs
Due: profiling

perf(profiling): fast-path bypass on non-PHP threads for all IO hooks
  profiling/src/io/mod.rs
Due: profiling
