Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  version: 2

  setup-workflows:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue_config.yml
          # <path regular expression> <pipeline parameter>  <value>
          mapping: |
            components/.*  components-c  true
            zend_abstract_interface/.*  zend_abstract_interface true
            zend_abstract_interface/.*  profiling true
            zend_abstract_interface/.*  appsec true
            profiling/.*  profiling true
            ext/handlers_api.[ch] profiling true
            appsec/.* appsec true
            ext/.* appsec true
            .circleci/continue_config.yml appsec true

Test commit
  README.md
Due: none

fix: Exclude hook after class binding
  tests/ext/sandbox/install_hook/exclude_inherited_hook_after_binding.phpt
  tests/ext/sandbox/install_hook/remove_hook_null_logger.phpt
  zend_abstract_interface/hook/hook.c
Due: zend_abstract_interface, profiling, appsec

fix: Benchmark bootstrapping & Fatal Errors
  Makefile
  src/Integrations/Integrations/Logs/LogsIntegration.php
  tests/Benchmarks/BasicScenarioBench.php
  tests/Benchmarks/ContextPropagationBench.php
  tests/Benchmarks/HookOverheadBench.php
  tests/Benchmarks/LogsInjectionBench.php
  tests/bootstrap_utils.php
  tests/phpbench.json
Due: none

Use SSH instead of HTTPS to clone appsec-event-rules
  appsec/third_party/CMakeLists.txt
Due: appsec

Add some remove_hook logs
  ext/hook/uhook.c
  tests/Benchmarks/Core/ContextPropagationBench.php
  tests/Benchmarks/Core/HookOverheadBench.php
  tests/Benchmarks/Integrations/LogsInjectionBench.php
  tests/Benchmarks/Integrations/PDOBench.php
  tests/ext/sandbox/install_hook/exclude_inherited_hook.phpt
  tests/ext/sandbox/install_hook/remove_hook_null_logger.phpt
  zend_abstract_interface/hook/hook.c
Due: zend_abstract_interface, profiling, appsec

Force PR checks
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_parameterized.json
Due: none

Remove mistaken file
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_parameterized.json
Due: none

Fix recommended json file
  .circleci/continue_config.yml
  appsec/recommended.json
  appsec/third_party/CMakeLists.txt
Due: appsec

Add PDO, Laravel, Symfony, & WordPress Benchmarks
  Makefile
  tests/Benchmarks/BasicScenarioBench.php
  tests/Benchmarks/HookOverheadBench.php
  tests/Benchmarks/Integrations/LaravelBench.php
  tests/Benchmarks/Integrations/LogsInjectionBench.php
  tests/Benchmarks/Integrations/PDOBench.php
  tests/Benchmarks/Integrations/SymfonyBench.php
  tests/Benchmarks/Integrations/WordPressBench.php
  tests/Benchmarks/README.md
  tests/Common/Utils.php
  tests/Common/WebFrameworkTestCase.php
  tests/bootstrap_utils.php
  tests/phpbench-opcache.json
Due: none

Fix recommended json file (#2425)
  .circleci/continue_config.yml
  appsec/recommended.json
  appsec/third_party/CMakeLists.txt
Due: appsec

fix: Don't set a user if a user is not authenticated
  src/Integrations/Integrations/WordPress/V2/WordPressIntegrationLoader.php
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_view.json
Due: none

fix: Explicitly check for true !(case sensitive) when overriding analytics event
  ext/serializer.c
  tests/OpenTelemetry/Integration/API/TracerTest.php
Due: appsec

Mimics Go's `strconv.ParseBool` & add tests
  ext/serializer.c
  tests/OpenTelemetry/Integration/API/TracerTest.php
Due: appsec

style: Refactor
  ext/serializer.c
Due: appsec

Don't set the '_dd1.sr.eausr' on parsing failure
  ext/serializer.c
Due: appsec

Don't set the '_dd1.sr.eausr' on parsing failure
  tests/OpenTelemetry/Integration/API/TracerTest.php
Due: none

tests: Remove debug logs
  tests/ext/sandbox/install_hook/remove_hook_null_logger.phpt
Due: none

Add `benchmarks_opcache`
  Makefile
  tests/Benchmarks/HookOverheadBench.php
  tests/phpbench-opcache.json
Due: none

fix: Don't set a user if a user is not authenticated (#2424)
  src/Integrations/Integrations/WordPress/V2/WordPressIntegrationLoader.php
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_view.json
Due: none

define CATCH_CONFIG_ENABLE_BENCHMARKING
  Makefile
  components/CMakeLists.txt
  tea/CMakeLists.txt
  tea/include/benchmarking/catch2.hpp
  tea/include/testing/catch2.hpp
  tests/tea/CMakeLists.txt
  zend_abstract_interface/CMakeLists.txt
  zend_abstract_interface/catch2_main.cc
Due: components-c, zend_abstract_interface, profiling, appsec

Refactor service mapping to a more general location
  src/Integrations/Integrations/DatabaseIntegrationHelper.php
  src/Integrations/Integrations/Integration.php
Due: none

tests: Fix DBM Tests
  tests/Integration/DatabaseMonitoringTest.php
Due: none

fix: dddbs service mapping
  src/Integrations/Integrations/DatabaseIntegrationHelper.php
  tests/Integration/DatabaseMonitoringTest.php
Due: none

use `experimental features` flag
  .github/workflows/prof_correctness.yml
Due: none

move feature decision to config
  profiling/src/config.rs
  profiling/src/lib.rs
Due: profiling

reflect that exception profiling is not experimental anymore
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/tests/phpt/phpinfo_06.phpt
  profiling/tests/phpt/phpinfo_07.phpt
Due: profiling

allow to enable all experimental features
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/tests/phpt/phpinfo_06.phpt
  profiling/tests/phpt/phpinfo_07.phpt
Due: profiling

make the expression more logical
  profiling/src/config.rs
Due: profiling

Add smallest reproducer
  tea/include/testing/catch2.hpp
  tea/tests/sapi.cc
Due: none

test: Add `DD_DBM_PROPAGATION_MODE=[none|service]` scenario
  tests/Integration/DatabaseMonitoringTest.php
Due: none

feat(profiling): allow to enable all experimental features (#2385)
  .github/workflows/prof_correctness.yml
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/tests/phpt/phpinfo_06.phpt
  profiling/tests/phpt/phpinfo_07.phpt
Due: profiling

Add nightly run (#2420)
  .github/workflows/prof_correctness.yml
Due: none

Fix analytics.event override (#2409)
  ext/serializer.c
  tests/OpenTelemetry/Integration/API/TracerTest.php
Due: appsec

Fix dddbs service mapping (#2413)
  src/Integrations/Integrations/Integration.php
  tests/Integration/DatabaseMonitoringTest.php
Due: none

bump
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  github-actions-helpers/Build.cs
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling, appsec

Update package.xml
  package.xml
Due: none

Bump versions for `0.96.0` release (#2429)
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  github-actions-helpers/Build.cs
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling, appsec

Implement http.route for Yii
  src/Integrations/Integrations/Yii/YiiIntegration.php
  tests/Frameworks/Yii/Version_2_0/config/web.php
  tests/Frameworks/Yii/Version_2_0/controllers/SimpleController.php
  tests/Integrations/Yii/V2_0/CommonScenariosTest.php
  tests/Integrations/Yii/V2_0/ModuleTest.php
  tests/Integrations/Yii/V2_0/ParameterizedRouteTest.php
  tests/Integrations/Yii/V2_0/YiiDetailsTest.php
Due: none

ci: add PHP 8.3 NTS+ASAN build
  dockerfiles/ci/buster/php-8.3/Dockerfile
Due: none
