Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

feat(CI): disable soap_qname_crash language test
  dockerfiles/ci/xfail_tests/8.5.list
  dockerfiles/ci/xfail_tests/README.md
Due: none

fix CI
  src/DDTrace/OpenTelemetry/CompositeResolver.php
  src/DDTrace/OpenTelemetry/Configuration.php
Due: none

feat(CI): add auto-retry on infrastructure failures on run_php_language_tests
  .gitlab/run_php_language_tests.sh
  dockerfiles/ci/xfail_tests/7.1.list
  dockerfiles/ci/xfail_tests/README.md
Due: none

fix(tracer): fix segfault on sidecar reconnection
  .gitlab/generate-tracer.php
  .gitlab/run_php_language_tests.sh
  dockerfiles/ci/xfail_tests/README.md
  ext/ddtrace.c
  ext/ddtrace.h
  ext/sidecar.c
Due: appsec

Fix build
  Cargo.lock
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/telemetry.h
  components-rs/telemetry.rs
Due: none

feat(PDO): correct a bug on prepared statement regarding DBM correlation
  src/DDTrace/Integrations/PDO/PDOIntegration.php
  tests/Integrations/PDO/PDOTest.php
Due: none

Point to latest libdatadog
  Cargo.lock
Due: none

Fix appsec int tests not actually running
  appsec/tests/integration/build.gradle
Due: appsec

Fix build on Mac Os
  appsec/cmake/ddtrace.cmake
  appsec/cmake/extension.cmake
  appsec/cmake/pcre2.cmake
Due: appsec

Remove debugging lines
  tests/Integrations/WordPress/V4_8/CommonScenariosTest.php
Due: none

Fix http_response_header deprecation in installer
  datadog-setup.php
Due: none

Avoid failing tests to report success
  Makefile
Due: none

Fix Yii Tests
  tests/Frameworks/Yii/Latest/.bowerrc
  tests/Frameworks/Yii/Latest/config/console.php
  tests/Frameworks/Yii/Latest/config/test.php
  tests/Frameworks/Yii/Latest/config/web.php
  tests/Frameworks/Yii/Version_2_0_49/.bowerrc
  tests/Frameworks/Yii/Version_2_0_49/config/console.php
  tests/Frameworks/Yii/Version_2_0_49/config/test.php
  tests/Frameworks/Yii/Version_2_0_49/config/web.php
Due: none

Fix Drupal tests
  tests/Frameworks/Drupal/Version_10_1/composer.json
Due: none

feat(CI): remove auto-retry (#3539)
  .gitlab/generate-common.php
  .gitlab/generate-tracer.php
  dockerfiles/ci/xfail_tests/7.1.list
  dockerfiles/ci/xfail_tests/8.5.list
  dockerfiles/ci/xfail_tests/README.md
  ext/ddtrace.c
  ext/ddtrace.h
  ext/sidecar.c
Due: appsec

Fix http_response_header deprecation in installer (#3553)
  datadog-setup.php
Due: none

Avoid resumption of unfinished hooks on PHP 7
  tests/ext/bailout_double_hook_clear.phpt
  zend_abstract_interface/hook/hook.c
  zend_abstract_interface/interceptor/php7/interceptor.c
Due: zend_abstract_interface, profiling, appsec

Reduce telemetry heartbeat lapse
  tests/Integrations/Laravel/V4/TelemetryTest.php
  tests/Integrations/Laravel/V5_7/TelemetryTest.php
  tests/Integrations/Symfony/Latest/TelemetryTest.php
  tests/Integrations/Symfony/V2_3/TelemetryTest.php
  tests/Integrations/Symfony/V2_8/TelemetryTest.php
  tests/Integrations/Symfony/V3_0/TelemetryTest.php
  tests/Integrations/Symfony/V3_3/TelemetryTest.php
  tests/Integrations/Symfony/V3_4/TelemetryTest.php
  tests/Integrations/Symfony/V4_0/TelemetryTest.php
  tests/Integrations/Symfony/V4_2/TelemetryTest.php
  tests/Integrations/Symfony/V4_4/TelemetryTest.php
  tests/Integrations/Symfony/V5_0/TelemetryTest.php
  tests/Integrations/Symfony/V5_1/TelemetryTest.php
  tests/Integrations/Symfony/V5_2/TelemetryTest.php
  tests/Integrations/Symfony/V6_2/TelemetryTest.php
  tests/Integrations/WordPress/V4_8/CommonScenariosTest.php
Due: none

Refactor test to avoid duplication
  tests/Integrations/Laravel/TelemetryTestSuite.php
  tests/Integrations/Laravel/V4/TelemetryTest.php
  tests/Integrations/Laravel/V5_7/TelemetryTest.php
  tests/Integrations/Symfony/TelemetryTestSuite.php
  tests/Integrations/Symfony/V2_3/TelemetryTest.php
  tests/Integrations/Symfony/V2_8/TelemetryTest.php
  tests/Integrations/Symfony/V3_0/TelemetryTest.php
  tests/Integrations/Symfony/V3_3/TelemetryTest.php
  tests/Integrations/Symfony/V3_4/TelemetryTest.php
  tests/Integrations/Symfony/V4_0/TelemetryTest.php
  tests/Integrations/Symfony/V4_2/TelemetryTest.php
  tests/Integrations/Symfony/V4_4/TelemetryTest.php
  tests/Integrations/Symfony/V5_0/TelemetryTest.php
  tests/Integrations/Symfony/V5_1/TelemetryTest.php
  tests/Integrations/Symfony/V5_2/TelemetryTest.php
  tests/Integrations/Symfony/V6_2/TelemetryTest.php
Due: none

Update docker image PHP versions
  dockerfiles/ci/bookworm/.env
  dockerfiles/ci/bookworm/docker-compose.yml
Due: none

Test wordpress
  tests/Integrations/WordPress/TelemetryTestSuite.php
  tests/Integrations/WordPress/V4_8/TelemetryTest.php
  tests/Integrations/WordPress/V5_5/TelemetryTest.php
  tests/Integrations/WordPress/V5_9/TelemetryTest.php
  tests/Integrations/WordPress/V6_1/TelemetryTest.php
Due: none

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Nette/Latest/composer.json
  tests/Frameworks/Slim/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/AMQP/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/Logs/MonologLatest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

Fix telemetry
  tests/Integrations/Symfony/TelemetryTestSuite.php
  tests/Integrations/Symfony/V2_3/TelemetryTest.php
  tests/Integrations/Symfony/V2_8/TelemetryTest.php
Due: none

fix(guzzle): distributed tracing header injection in HyperF/Swoole environments (#3544)
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
Due: none

Enable http.endpoint calculation when appsec is explicitly enabled
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Apache2FpmTests.groovy
  ext/configuration.h
  ext/span.c
Due: appsec

Add appsec is_fully_disabled() func
  appsec/src/extension/ddappsec.c
  appsec/tests/extension/is_fully_disabled_01.phpt
  appsec/tests/extension/is_fully_disabled_02.phpt
  appsec/tests/extension/is_fully_disabled_03.phpt
  appsec/tests/extension/is_fully_disabled_04.phpt
Due: appsec

Support parsing partial json in appsec
  .gitlab/build-appsec.sh
  .gitlab/generate-appsec.php
  appsec/CMakeLists.txt
  appsec/cmake/boost.cmake
  appsec/cmake/clang-format.cmake
  appsec/cmake/ddtrace.cmake
  appsec/cmake/ext_asan.cmake
  appsec/cmake/extension.cmake
  appsec/cmake/helper.cmake
  appsec/src/extension/.clang-tidy
  appsec/src/extension/entity_body.c
  appsec/src/extension/entity_body.stub.php
  appsec/src/extension/entity_body_arginfo.h
  appsec/src/extension/json_truncated_parser.cpp
  appsec/src/extension/json_truncated_parser.h
  appsec/src/extension/logging.h
  appsec/src/extension/php_compat.c
  appsec/src/extension/php_compat.h
  appsec/src/helper/.clang-tidy
  appsec/src/helper/.gitignore
  appsec/src/helper/network/proto.hpp
  appsec/tests/extension/convert_json.phpt
  appsec/tests/extension/convert_json_max_depth.phpt
  appsec/tests/extension/convert_json_special_values.phpt
  appsec/tests/extension/convert_json_truncated.phpt
  appsec/tests/extension/convert_xml_basic.phpt
  appsec/tests/extension/convert_xml_external_dtd.phpt
  appsec/tests/extension/convert_xml_external_entity.phpt
  appsec/tests/extension/convert_xml_iso88591.phpt
  appsec/tests/extension/rshutdown_command_body_size_exceeded.phpt
  appsec/tests/integration/build.gradle
  appsec/valgrind.supp
Due: appsec

Configure gdb with debuginfod support
  dockerfiles/ci/bookworm/Dockerfile
  dockerfiles/ci/buster/Dockerfile
Due: none

Modify request_exec message
  appsec/src/extension/commands/request_exec.c
  appsec/src/extension/commands/request_exec.h
  appsec/src/extension/ddappsec.c
  appsec/src/extension/user_tracking.c
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/subscriber/base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/extension/actions_handling_01.phpt
  appsec/tests/extension/input_truncated_05.phpt
  appsec/tests/extension/push_params_ok_01.phpt
  appsec/tests/extension/push_params_ok_02.phpt
  appsec/tests/extension/push_params_ok_03.phpt
  appsec/tests/extension/push_params_ok_04.phpt
  appsec/tests/extension/push_params_ok_07.phpt
  appsec/tests/extension/push_params_ok_08.phpt
  appsec/tests/extension/push_params_ok_09.phpt
  appsec/tests/extension/push_params_ok_10.phpt
  appsec/tests/extension/request_exec.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success_v2.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_set_user.phpt
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/remote_config/listeners/engine_listener_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

invoke waf for curl requests
  appsec/cmake/extension.cmake
  appsec/src/extension/configuration.h
  appsec/src/extension/curl.c
  appsec/src/extension/curl.h
  appsec/src/extension/ddappsec.c
  appsec/src/extension/entity_body.c
  appsec/src/extension/json_truncated_parser.cpp
  appsec/src/extension/request_abort.c
  appsec/src/extension/request_lifecycle.c
  appsec/src/helper/parameter_base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/suppressions.txt
  appsec/tests/extension/convert_json_object_keys.phpt
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WafSubContextTestServer.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WafSubcontextNegativeTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WafSubcontextTests.groovy
  appsec/tests/integration/src/test/resources/empty_ruleset.json
  appsec/tests/integration/src/test/waf/recommended.json
  appsec/tests/integration/src/test/www/base/public/curl_requests.php
  appsec/tests/integration/src/test/www/base/public/curl_requests_endpoint.php
  appsec/tests/integration/src/test/www/base/public/example.json
  ext/integrations/integrations.c
  src/DDTrace/Integrations/Curl/CurlAppSec.php
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  tests/Appsec/Mock.php
Due: appsec

Upgrade to libbdwaf pre-v2
  appsec/src/helper/engine.cpp
  appsec/src/helper/json_helper.cpp
  appsec/src/helper/json_helper.hpp
  appsec/src/helper/parameter.cpp
  appsec/src/helper/parameter.hpp
  appsec/src/helper/parameter_base.cpp
  appsec/src/helper/parameter_base.hpp
  appsec/src/helper/parameter_view.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/json_helper_test.cpp
  appsec/tests/helper/parameter_test.cpp
  appsec/tests/helper/parameter_view_test.cpp
  appsec/tests/helper/waf_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WorkerStrategyTests.groovy
Due: appsec

WIP helper-rust
  appsec/tests/integration/build.gradle
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
Due: appsec

fix(packaging): update fpm version from 1.15.1 to 1.17.0
  dockerfiles/packaging/fpm_packaging/Dockerfile
  dockerfiles/packaging/fpm_packaging/fpm_apk_alpine323.patch
Due: none

perf(profiling): piggyback time samples onto allocation samples
  profiling/src/allocation/mod.rs
  profiling/src/profiling/mod.rs
  profiling/tests/correctness/allocation_time_combined.json
  profiling/tests/correctness/allocation_time_combined.php
  profiling/tests/phpt/allocation_time_piggyback_01.phpt
Due: profiling

fix PHP 8.4 allocation profiling
  profiling/build.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/mod.rs
Due: profiling

remove tls prepare access
  profiling/src/allocation/allocation_ge84.rs
Due: profiling

add correctness with another custom allocater
  .github/workflows/prof_correctness.yml
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
