Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  version: 2

  setup-workflows:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue_config.yml
          # <path regular expression> <pipeline parameter>  <value>
          mapping: |
            components/.*  components-c  true
            zend_abstract_interface/.*  zend_abstract_interface true
            zend_abstract_interface/.*  profiling true
            zend_abstract_interface/.*  appsec true
            profiling/.*  profiling true
            ext/handlers_api.[ch] profiling true
            appsec/.* appsec true
            ext/.* appsec true
            .circleci/continue_config.yml appsec true

style(profiling): fix clippy::single-match (#2482)
  profiling/src/timeline.rs
Due: profiling

fix: Access to undefined method `attempts`
  src/Integrations/Integrations/LaravelQueue/LaravelQueueIntegration.php
  tests/Frameworks/Laravel/Version_8_x/app/Events/NoopEvent.php
  tests/Frameworks/Laravel/Version_8_x/app/Http/Controllers/QueueTestController.php
  tests/Frameworks/Laravel/Version_8_x/routes/web.php
  tests/Integrations/Laravel/V8_x/QueueTest.php
  tests/snapshots/tests.integrations.laravel.v8_x.queue_test.test_broadcast.json
Due: none

tests: Remove MessageLogged span
  tests/snapshots/tests.integrations.laravel.v8_x.queue_test.test_broadcast.json
Due: none

Remove non-debug run for phpredis5
  .circleci/continue_config.yml
  Makefile
Due: appsec

fix: Access to undefined method `attempts` (#2485)
  src/Integrations/Integrations/LaravelQueue/LaravelQueueIntegration.php
  tests/Frameworks/Laravel/Version_8_x/app/Events/NoopEvent.php
  tests/Frameworks/Laravel/Version_8_x/app/Http/Controllers/QueueTestController.php
  tests/Frameworks/Laravel/Version_8_x/routes/web.php
  tests/Integrations/Laravel/V8_x/QueueTest.php
  tests/snapshots/tests.integrations.laravel.v8_x.queue_test.test_broadcast.json
Due: none

Reduce macrobenchmark flakiness
  .gitlab/benchmarks.yml
Due: none

Increase normal op and high load duration
  .gitlab/benchmarks.yml
Due: none

default enable timeline (#2480)
  datadog-setup.php
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/timeline.rs
  profiling/tests/phpt/phpinfo_06.phpt
  profiling/tests/phpt/phpinfo_07.phpt
Due: profiling

refactor(profiling): use SystemSettings in locals
  profiling/src/allocation.rs
  profiling/src/capi.rs
  profiling/src/config.rs
  profiling/src/exception.rs
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
  profiling/src/timeline.rs
  profiling/src/wall_time.rs
Due: profiling

ci: adjust params for better debugging
  .circleci/continue_config.yml
  .github/workflows/prof_asan.yml
  profiling/src/lib.rs
Due: profiling, appsec

fix(profiling): init system settings properly
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/uploader.rs
  profiling/src/timeline.rs
  profiling/tests/phpt/phpinfo_01.phpt
  profiling/tests/phpt/phpinfo_ini_01.phpt
Due: profiling

Fix execution of pipeline
  .gitlab/benchmarks.yml
Due: none

Extract path in Symfony
  bridge/_files_integrations.php
  src/Integrations/Integrations/Symfony/PathExtractor.php
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
  tests/Unit/Integrations/PathExtractorTest.php
  tests/Unit/Integrations/PhpAnnotationClasses.php
  tests/Unit/Integrations/Route.php
Due: none

Ensure name matches
  src/Integrations/Integrations/Symfony/PathExtractor.php
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
  tests/Unit/Integrations/PathExtractorTest.php
Due: none

Adapt integration tests
  tests/Integrations/Symfony/V3_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_3/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_3/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_1/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_1/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V6_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V6_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V7_0/CommonScenariosTest.php
Due: none

Get symfony routing componenet for unit testing
  src/Integrations/Integrations/Symfony/PathExtractor.php
  tests/Unit/Integrations/PathExtractorTest.php
  tests/Unit/Integrations/PhpAnnotationClasses.php
  tests/Unit/Integrations/Route.php
  tests/composer.json
Due: none

Format
  src/Integrations/Integrations/Symfony/PathExtractor.php
  tests/Unit/Integrations/PathExtractorTest.php
Due: none

Make it compatible with PHP<8
  src/Integrations/Integrations/Symfony/PathExtractor.php
  tests/Integrations/Symfony/V3_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_3/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_3/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_1/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_1/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_2/TraceSearchConfigTest.php
  tests/Unit/Integrations/PathExtractorTest.php
Due: none

Adapt controllers
  tests/Frameworks/Symfony/Version_6_2/src/Controller/CommonScenariosController.php
Due: none

Fix name generator
  src/Integrations/Integrations/Symfony/PathExtractor.php
  tests/Unit/Integrations/PathExtractorTest.php
Due: none

Refactor path extractor
  src/Integrations/Integrations/Symfony/PathExtractor.php
Due: none

Adapt for older php versions
  src/Integrations/Integrations/Symfony/PathExtractor.php
Due: none

Parse docblocks
  src/Integrations/Integrations/Symfony/PathExtractor.php
  tests/Unit/Integrations/PathExtractorTest.php
  tests/Unit/Integrations/PhpAnnotationClasses.php
  tests/composer.json
Due: none

Fix composer dependencies
  tests/composer.json
Due: none

Fix old tests
  tests/Integrations/Symfony/V3_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_3/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_3/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_1/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_1/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_2/TraceSearchConfigTest.php
Due: none

Add compatibility with PHP7
  src/Integrations/Integrations/Symfony/PathExtractor.php
Due: none

Fix older versions Route class
  src/Integrations/Integrations/Symfony/PathExtractor.php
Due: none

Fix Symfony 3.4
  tests/Integrations/Symfony/V3_4/AutofinishedTracesSymfony34Test.php
  tests/Integrations/Symfony/V3_4/TemplateEnginesTest.php
Due: none

fix: uninitialized profiling system settings without requests
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/timeline.rs
  profiling/tests/phpt/jit_01.phpt
Due: profiling

Fix php<=7.1 versions
  src/Integrations/Integrations/Symfony/PathExtractor.php
Due: none

ci: Run Macrobenchmarks nightly (#2457)
  .gitlab/benchmarks.yml
Due: none

Fix PHP 7.0
  src/Integrations/Integrations/Symfony/PathExtractor.php
Due: none

feat: log output_pprof successes
  profiling/src/profiling/uploader.rs
Due: profiling

Add http.route to wordpress
  src/Integrations/Integrations/WordPress/WordPressIntegration.php
Due: none

Update wordpress snapshots with http.route
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_with_view.json
Due: none

Fix Windows command searching code in installer
  datadog-setup.php
Due: none

prof correctness supports lz4 now
  .github/workflows/prof_correctness.yml
Due: none

prof correctness supports lz4 now (#2493)
  .github/workflows/prof_correctness.yml
Due: none
