Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

Adding spacing tests based on system-test examples
  tests/ext/dd_trace_serialize_header_to_meta.phpt
Due: none

Removing redundant check
  zend_abstract_interface/config/config_decode.c
Due: zend_abstract_interface, profiling, appsec

Fix crash with locals collection in generator close sequence
  ext/collect_backtrace.c
Due: appsec

feat: Add tooling to generate stubs for the Public PHP API
  Makefile
  src/ddtrace_php_api.stubs.php
  tooling/stubs/composer.json
  tooling/stubs/generate-stubs.php
Due: none

feat(profiling): Add fatals and thread start/end events to timeline (#2820)
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
Due: profiling

Handle hooks on trampoline fake closures (#2925)
  ext/hook/uhook.c
  tests/ext/sandbox-regression/trampoline_install_fake_closure_hook.phpt
Due: appsec

Fix crash with locals collection in generator close sequence (#2932)
  ext/collect_backtrace.c
Due: appsec

fix test
  profiling/tests/phpt/exceptions_01.phpt
Due: profiling

fix asan run
  .github/workflows/prof_asan.yml
Due: none

add tests
  profiling/src/lib.rs
  profiling/src/profiling/thread_utils.rs
Due: profiling

fix linux tests
  profiling/src/profiling/thread_utils.rs
Due: profiling

Fix macos build where ld will break with -Wl,--undefined-version
  config.m4
Due: none

fix clippy warnings/errors
  profiling/src/profiling/thread_utils.rs
Due: profiling

fix zts tests
  profiling/tests/phpt/exceptions_zts_01.phpt
Due: profiling

Avoid the hook frame in mysqli connection error tracking
  src/DDTrace/Integrations/Mysqli/MysqliIntegration.php
Due: none

Fix macos build where ld will break with -Wl,--undefined-version (#2936)
  config.m4
Due: none

add tests
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions_zts.json
Due: profiling

chore: Merge all stubs into one single file during artifact generation
  tooling/bin/generate-final-artifact.sh
Due: none

fix: typo
  tooling/bin/generate-final-artifact.sh
Due: none

fix: language
  tooling/bin/generate-final-artifact.sh
Due: none

Rename `/home/circleci/app` to `/home/circleci/datadog`
  tooling/bin/generate-final-artifact.sh
Due: none

fix tests
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions_zts.json
Due: profiling

fix nts thread names
  profiling/src/profiling/thread_utils.rs
  profiling/tests/correctness/exceptions.json
Due: profiling

update
  profiling/src/profiling/thread_utils.rs
  profiling/tests/correctness/exceptions_zts.json
Due: profiling

Avoid the hook frame in mysqli connection error tracking (#2937)
  src/DDTrace/Integrations/Mysqli/MysqliIntegration.php
Due: none

fix(tests: integration): remove useless build arg
  appsec/tests/integration/gradle/images.gradle
Due: appsec

cache thread name in thread local
  profiling/src/profiling/thread_utils.rs
Due: profiling

update PHP 8.4 RC3 -> RC4
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/windows/docker-compose.yml
Due: none

images are debian, not ubuntu
  .gitlab/ci-images.yml
Due: none

ci: update PHP 8.4 to rc4 (#2938)
  .gitlab/ci-images.yml
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/windows/docker-compose.yml
Due: none

fix alpine
  .github/workflows/prof_tests.yml
Due: none

Fix compatilibity with PHP 5
  loader/compat_php.c
  loader/compat_php.h
  loader/dd_library_loader.c
Due: none

test
  .github/workflows/prof_tests.yml
Due: none

appsec inttests: support building 8.4 images
  appsec/tests/integration/gradle/images.gradle
  appsec/tests/integration/src/docker/php/Dockerfile
  appsec/tests/integration/src/docker/php/build_dev_php.sh
Due: appsec

update rust deps
  Cargo.lock
  profiling/Cargo.toml
Due: profiling

feat(libddwaf): bump to 1.20.1 (#2913)
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/main.cpp
  appsec/tests/helper/remote_config/listeners/engine_listener_test.cpp
  appsec/tests/helper/waf_test.cpp
  appsec/tests/integration/build.gradle
  appsec/tests/integration/gradle/images.gradle
  appsec/tests/integration/src/docker/apache2-fpm/Dockerfile
  appsec/tests/integration/src/docker/apache2-mod/Dockerfile
  appsec/tests/integration/src/docker/nginx-fpm/Dockerfile
  appsec/tests/integration/src/docker/php/Dockerfile
  appsec/tests/integration/src/docker/php/build_dev_php.sh
  appsec/tests/integration/src/docker/toolchain/CHECKSUMS
  appsec/tests/integration/src/docker/toolchain/Dockerfile
  appsec/tests/integration/src/docker/toolchain/Makefile
  appsec/tests/integration/src/docker/toolchain/Toolchain.cmake
  appsec/tests/integration/src/docker/toolchain/Toolchain.env
  appsec/tests/integration/src/docker/toolchain/ToolchainGCC.cmake
  appsec/tests/integration/src/docker/toolchain/alltypes.h.diff
  appsec/tests/integration/src/docker/toolchain/glibc_compat.c
  appsec/tests/integration/src/docker/toolchain/locale.h.diff
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RoadRunnerTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
Due: appsec

fix comment style
  profiling/src/allocation.rs
Due: profiling

downgrade cc to 1.1.28
  Cargo.lock
Due: none

Fix compatilibity with PHP 5 (#2939)
  loader/compat_php.c
  loader/compat_php.h
  loader/dd_library_loader.c
Due: none

Add rudimentary DD_TRACE_DEBUG_MEMORY_PAGES to track memory corruptions
  config.m4
  ext/alloc_debug.c
  ext/alloc_debug.h
  ext/configuration.h
  ext/ddtrace.c
Due: appsec
