Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

Clean blocking parameter on shutdown
  appsec/src/extension/request_lifecycle.c
Due: appsec

put needs: on .macrobenchmarks before rules
  .gitlab/benchmarks.yml
Due: none

simplify .macrobenchmarks-rules
  .gitlab/benchmarks.yml
Due: none

simplify .macrobenchmarks-rules further
  .gitlab/benchmarks.yml
Due: none

create an anchor for a rule shared across macrobenchmarks and pre-release gates
  .gitlab/benchmarks.yml
Due: none

update pre-release gates rules
  .gitlab/benchmarks.yml
Due: none

fix off by one
  appsec/src/extension/request_abort.c
Due: appsec

Addres PR comments
  appsec/src/extension/request_abort.c
Due: appsec

fix off by one (#3506)
  appsec/src/extension/request_abort.c
Due: appsec

appsec: fix duration_ext metric
  appsec/src/extension/ddappsec.c
  appsec/src/extension/rasp.c
  appsec/src/extension/rasp.h
  appsec/src/extension/request_lifecycle.c
  appsec/src/extension/tags.c
  appsec/src/extension/tags.h
  appsec/tests/extension/push_params_ok_04.phpt
  appsec/tests/extension/rasp_duration_ext_user_requests.phpt
Due: appsec

test: make CI interruptible on master only
  .gitlab/check_test_agent.sh
  .gitlab/generate-appsec.php
  .gitlab/generate-common.php
  .gitlab/generate-package.php
  .gitlab/generate-shared.php
  .gitlab/generate-tracer.php
  .gitlab/run_php_language_tests.sh
  .gitlab/wait-for-service-ready.sh
  Makefile
  tests/bootstrap_common.php
Due: none

fixed asserting lenght of INI
  profiling/src/config.rs
Due: profiling

ci: update slo check and notification rules (#3504)
  .gitlab/benchmarks.yml
Due: none

feat(CI): add service healthcheck and better retry policy (#3497)
  .gitlab/check_test_agent.sh
  .gitlab/generate-appsec.php
  .gitlab/generate-common.php
  .gitlab/generate-package.php
  .gitlab/generate-shared.php
  .gitlab/generate-tracer.php
  .gitlab/wait-for-service-ready.sh
  Makefile
Due: none

Fix code
  appsec/src/extension/request_abort.c
Due: appsec

fix: add null guard check in callback (#3499)
  ext/sidecar.c
Due: appsec

Update .gitlab/one-pipeline.locked.yml
  .gitlab/one-pipeline.locked.yml
Due: none

test: add missing CI image to mirror
  dockerfiles/frameworks/flow.yml
  dockerfiles/frameworks/laravel.yml
  dockerfiles/frameworks/mongodb-driver.yml
  dockerfiles/frameworks/symfony.yml
  dockerfiles/frameworks/wordpress.yml
  dockerfiles/verify_packages/Makefile
  tests/randomized/docker-compose.yml
  tests/randomized/docker/buster.Dockerfile
  tests/randomized/docker/centos.Dockerfile
  tests/randomized/lib/docker-compose.yml
Due: none

remove global block_params; centralize blocking logic
  appsec/src/extension/commands/request_exec.c
  appsec/src/extension/commands/request_exec.h
  appsec/src/extension/commands_ctx.h
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/ddappsec.c
  appsec/src/extension/request_abort.c
  appsec/src/extension/request_abort.h
  appsec/src/extension/request_lifecycle.c
  appsec/src/extension/request_lifecycle.h
  appsec/src/extension/user_tracking.c
  appsec/tests/extension/input_truncated_05.phpt
  appsec/tests/extension/req_abort_redirection_03.phpt
Due: appsec

Add comment
  appsec/src/extension/request_abort.h
Due: appsec

switch to reqwest
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/uploader.rs
Due: profiling

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Nette/Latest/composer.json
  tests/Frameworks/Slim/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/AMQP/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

Minify blocking json message
  appsec/src/extension/request_abort.c
  appsec/tests/extension/push_params_block_01.phpt
  appsec/tests/extension/push_params_block_04.phpt
  appsec/tests/extension/req_abort_empty_custom_json_template.phpt
  appsec/tests/extension/req_abort_from_rinit_auto.phpt
  appsec/tests/extension/req_abort_from_rinit_invalid_content_type.phpt
  appsec/tests/extension/req_abort_from_rinit_invalid_status_code.phpt
  appsec/tests/extension/req_abort_from_rinit_json_404.phpt
  appsec/tests/extension/req_abort_from_rshutdown_auto.phpt
  appsec/tests/extension/req_abort_from_user_login_success_event.phpt
  appsec/tests/extension/req_abort_mid_request_auto.phpt
  appsec/tests/extension/req_abort_mid_request_json.phpt
  appsec/tests/extension/req_abort_mid_request_json_fallback.phpt
  appsec/tests/extension/req_abort_mid_request_json_multiaccept.phpt
  appsec/tests/extension/req_abort_mid_request_json_weight.phpt
  appsec/tests/extension/req_abort_redirection_03.phpt
  appsec/tests/extension/req_abort_redirection_04.phpt
  appsec/tests/extension/req_abort_redirection_05.phpt
  appsec/tests/extension/user_req_basic_01.phpt
  appsec/tests/extension/user_req_basic_02.phpt
  appsec/tests/extension/user_tracking_block_from_login_failure_v2.phpt
  appsec/tests/extension/user_tracking_block_from_login_success.phpt
  appsec/tests/extension/user_tracking_block_from_login_success_v2.phpt
  appsec/tests/extension/user_tracking_block_from_set_user.phpt
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WorkerStrategyTests.groovy
Due: appsec

fixed asserting lenght of INI (#3508)
  profiling/src/config.rs
Due: profiling

fix: ext/parallel support
  ext/ddtrace.c
Due: appsec

perf: const-ify some logging thread-local variables
  components-rs/log.rs
Due: none

perf: const-ify some logging thread-local variables (#3513)
  components-rs/log.rs
Due: none

Minify blocking json message (#3502)
  appsec/src/extension/request_abort.c
  appsec/tests/extension/push_params_block_01.phpt
  appsec/tests/extension/push_params_block_04.phpt
  appsec/tests/extension/req_abort_empty_custom_json_template.phpt
  appsec/tests/extension/req_abort_from_rinit_auto.phpt
  appsec/tests/extension/req_abort_from_rinit_invalid_content_type.phpt
  appsec/tests/extension/req_abort_from_rinit_invalid_status_code.phpt
  appsec/tests/extension/req_abort_from_rinit_json_404.phpt
  appsec/tests/extension/req_abort_from_rshutdown_auto.phpt
  appsec/tests/extension/req_abort_from_user_login_success_event.phpt
  appsec/tests/extension/req_abort_mid_request_auto.phpt
  appsec/tests/extension/req_abort_mid_request_json.phpt
  appsec/tests/extension/req_abort_mid_request_json_fallback.phpt
  appsec/tests/extension/req_abort_mid_request_json_multiaccept.phpt
  appsec/tests/extension/req_abort_mid_request_json_weight.phpt
  appsec/tests/extension/req_abort_redirection_03.phpt
  appsec/tests/extension/req_abort_redirection_04.phpt
  appsec/tests/extension/req_abort_redirection_05.phpt
  appsec/tests/extension/user_req_basic_01.phpt
  appsec/tests/extension/user_req_basic_02.phpt
  appsec/tests/extension/user_tracking_block_from_login_failure_v2.phpt
  appsec/tests/extension/user_tracking_block_from_login_success.phpt
  appsec/tests/extension/user_tracking_block_from_login_success_v2.phpt
  appsec/tests/extension/user_tracking_block_from_set_user.phpt
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WorkerStrategyTests.groovy
Due: appsec

Detect parallel threads by reading the TLS runtime pointer
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/profiling/thread_utils.rs
  profiling/tests/correctness/exceptions_zts.json
Due: profiling

Fix call with wrong arg
  appsec/src/extension/ddappsec.c
Due: appsec

test(Integrations: Symfony): Add readyness check on Redis, PDO and Memcached
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: none

Amend security_response_id being release before displaying it (#3493)
  appsec/src/extension/commands/request_exec.c
  appsec/src/extension/commands/request_exec.h
  appsec/src/extension/commands_ctx.h
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/ddappsec.c
  appsec/src/extension/request_abort.c
  appsec/src/extension/request_abort.h
  appsec/src/extension/request_lifecycle.c
  appsec/src/extension/request_lifecycle.h
  appsec/src/extension/user_tracking.c
  appsec/tests/extension/input_truncated_05.phpt
Due: appsec

chore: update to latest changes
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
Due: profiling

make stats const so that we avoid runtime lazy init checks
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
Due: profiling

Speedup hotpath in allocator by makeing `ALLOCATION_PROFILING_STATS` an `UnsafeCell` and document why it is safe anyway.
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
Due: profiling

appsec/laravel: be more defensive
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: none

remove stats from hot path
  profiling/Cargo.toml
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/exception.rs
  profiling/src/profiling/uploader.rs
Due: profiling

chore: bump tracing-core from 0.1.33 to 0.1.35
  Cargo.lock
Due: none

fixed UnsafeCell vs MaybeUninit
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling
