Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

revert: remove --allow-to-run-as-root from php-fpm test helper
  tests/Sapi/PhpFpm/PhpFpm.php
Due: none

fix(tests): remove void return type for PHP 7.0 compatibility
  tests/Common/WebFrameworkTestCase.php
  tests/Integrations/Custom/Autoloaded/SidecarThreadModeRootTest.php
Due: none

test(sidecar): allow root FPM test to run via sudo in CI
  tests/Integrations/Custom/Autoloaded/SidecarThreadModeRootTest.php
  tests/Sapi/PhpFpm/PhpFpm.php
  tests/WebServer.php
Due: none

fix(tests): avoid global env pollution from putenv in SidecarThreadModeRootTest
  tests/Integrations/Custom/Autoloaded/SidecarThreadModeRootTest.php
  tests/WebServer.php
Due: none

test(sidecar): force fpm-fcgi mode in root test to run in all CI jobs
  tests/Integrations/Custom/Autoloaded/SidecarThreadModeRootTest.php
Due: none

test(sidecar): fix flaky multi-worker trace assertion
  tests/Integrations/Custom/Autoloaded/SidecarThreadModeRootTest.php
Due: none

fix(ffe): Address code review findings across FFI, PHP provider, and OpenFeature layers
  components-rs/ffe.rs
  src/DDTrace/FeatureFlags/ExposureWriter.php
  src/DDTrace/FeatureFlags/Provider.php
  src/DDTrace/OpenFeature/DataDogProvider.php
Due: none

feat(ffe): Implement FlagEvalMetrics OTel hook
  src/DDTrace/FeatureFlags/FlagEvalMetrics.php
  src/DDTrace/FeatureFlags/Provider.php
  src/bridge/_files_tracer.php
Due: none

fix(ffe): Correct error code mapping and enforce ERROR reason for non-zero error codes
  src/DDTrace/FeatureFlags/FlagEvalMetrics.php
  src/DDTrace/FeatureFlags/Provider.php
Due: none

fix(ffe): PHP 7.0 compat + regenerate supported-configurations.json
  metadata/supported-configurations.json
  src/DDTrace/FeatureFlags/FlagEvalMetrics.php
Due: none

Update libdatadog
  Cargo.lock
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/sidecar.h
  tests/ext/background-sender/agent_sampling_sidecar.phpt
  tests/ext/crashtracker_segfault.phpt
  tests/ext/live-debugger/debugger_span_decoration_probe.phpt
Due: none

fix(ffe): C89/MSVC compliance — move variable declarations before statements
  ext/ddtrace.c
Due: appsec

perf(config): cache sys getenv
  ext/otel_config.c
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/env/env.c
  zend_abstract_interface/env/env.h
Due: zend_abstract_interface, profiling, appsec

perf(config): avoid interim string copies
  ext/otel_config.c
  ext/otel_config.h
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_ini.h
  zend_abstract_interface/env/env.c
  zend_abstract_interface/env/env.h
  zend_abstract_interface/env/tests/host.cc
  zend_abstract_interface/env/tests/sapi.cc
Due: zend_abstract_interface, profiling, appsec

fix: zero name len test
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/env/env.h
  zend_abstract_interface/env/tests/error.cc
  zend_abstract_interface/env/tests/host.cc
  zend_abstract_interface/env/tests/sapi.cc
Due: zend_abstract_interface, profiling, appsec

fix: missed a getenv -> getenv_ex conversion
  zend_abstract_interface/config/config_ini.c
Due: zend_abstract_interface, profiling, appsec

perf: skip getenv cache refresh on CLI
  zend_abstract_interface/config/config.c
Due: zend_abstract_interface, profiling, appsec

test: sapi precedence and cached sys env
  zend_abstract_interface/config/tests/env.cc
  zend_abstract_interface/config/tests/ini.cc
Due: zend_abstract_interface, profiling, appsec

test: better output on zval str failure
  zend_abstract_interface/config/tests/config_test_helpers.h
  zend_abstract_interface/config/tests/ini.cc
Due: zend_abstract_interface, profiling, appsec

test: fix headers/build for zai (hopefully)
  zend_abstract_interface/config/tests/config_test_helpers.h
  zend_abstract_interface/config/tests/ini.cc
Due: zend_abstract_interface, profiling, appsec

test: fix sapi_getenv mock
  zend_abstract_interface/config/tests/ini.cc
Due: zend_abstract_interface, profiling, appsec

test: try to fix sapi env priority
  zend_abstract_interface/config/tests/ini.cc
Due: zend_abstract_interface, profiling, appsec

build(profiling): update libdatadog to v29
  Cargo.lock
  profiling/Cargo.toml
Due: profiling

fix(ffe): address code review findings
  ext/ddtrace.c
  src/DDTrace/FeatureFlags/ExposureWriter.php
  src/DDTrace/FeatureFlags/FlagEvalMetrics.php
  src/DDTrace/FeatureFlags/Provider.php
  src/DDTrace/OpenFeature/DataDogProvider.php
Due: appsec

chore: add FFE SDK team as codeowners for FeatureFlags and OpenFeature paths
  .github/CODEOWNERS
Due: none

test(ffe): add UFC evaluation test harness with fixture-driven cases
  src/DDTrace/FeatureFlags/LRUCache.php
  tests/FeatureFlags/EvaluationTest.php
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-boolean-false-assignment.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-boolean-one-of-matches.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-comparator-operator-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-disabled-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-empty-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-empty-string-variation.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-falsy-value-assignments.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-flag-with-empty-string.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-integer-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-kill-switch-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-microsecond-date-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-new-user-onboarding-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-no-allocations-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-null-operator-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-numeric-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-numeric-one-of.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-of-7-empty-targeting-key.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-regex-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-case-start-and-end-date-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-flag-that-does-not-exist.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-json-config-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-no-allocations-flag.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-special-characters.json
  tests/FeatureFlags/fixtures/evaluation-cases/test-string-with-special-characters.json
Due: none

Amend pr comments
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
  tests/Integrations/Stripe/Latest/StripeTest.php
Due: none

Add Datadog code coverage upload alongside Codecov
  .gitlab/generate-appsec.php
  code-coverage.datadog.yml
Due: none

Every day schedule (include weekends)
  .github/workflows/system_tests.yml
Due: none

ci: trim verbose comments in Windows workspace cleanup scripts
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
Due: none

perf(profiling): avoid copy of func name when utf8 (#3700)
  profiling/src/profiling/stack_walking.rs
Due: profiling

ci: extract Windows workspace cleanup to shared function in generate-common.php
  .gitlab/generate-common.php
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
Due: none

test(sidecar): skip root FPM test under apache2handler SAPI
  .gitlab/build-sidecar.sh
  .gitlab/generate-tracer.php
  Cargo.lock
  Cargo.toml
  Makefile
  components-rs/common.h
  components-rs/library-config.h
  profiling/Cargo.toml
  tests/Integrations/Custom/Autoloaded/SidecarThreadModeRootTest.php
  tests/Integrations/Custom/Autoloaded/SidecarThreadModeTest.php
  tests/Sapi/PhpFpm/PhpFpm.php
  tests/WebServer.php
  tests/ext/background-sender/sidecar_thread_mode_permissions.phpt
  tests/ext/pcntl/pcntl_fork_thread_mode_orphan.phpt
Due: profiling

debug
  .gitlab/silent-upload-junit-to-datadog.sh
Due: none

ci: fix verify windows job by preserving artifacts across workspace cleanup
  .gitlab/generate-common.php
  .gitlab/generate-package.php
Due: none

Fix script order
  .gitlab/upload-junit-to-datadog.sh
Due: none

Use upload-junit-to-datadog.sh
  .gitlab/generate-package.php
  .gitlab/upload-junit-to-datadog.sh
Due: none

Remove debug instruction
  .gitlab/silent-upload-junit-to-datadog.sh
Due: none

Remove github workflow
  .github/workflows/system_tests.yml
  .gitlab/generate-package.php
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
