Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Fix appsec format
  appsec/src/extension/configuration.c
Due: appsec

Bump to 1.5.0
  VERSION
  package.xml
Due: none

tests: Update OpenAI snapshots
  tests/snapshots/tests.integrations.open_ai.open_ai_test.test_create_completions_with_multiple_error_messages.json
  tests/snapshots/tests.integrations.open_ai.open_ai_test.test_list_models_with_error.json
  tests/snapshots/tests.integrations.open_ai.open_ai_test.test_list_models_with_null_error_type.json
Due: none

Bump to 1.5.0 (#2958)
  VERSION
  package.xml
Due: none

Reduce the amount of diagnostic messages sent
  Cargo.lock
  components-rs/remote_config.rs
  components-rs/sidecar.h
Due: none

Block remote config signals during ftp functions
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  config.m4
  ext/handlers_internal.c
  ext/handlers_signal.c
  ext/remote_config.c
  ext/remote_config.h
Due: appsec

tests: Update OpenAI snapshots (#2959)
  tests/snapshots/tests.integrations.open_ai.open_ai_test.test_create_completions_with_multiple_error_messages.json
  tests/snapshots/tests.integrations.open_ai.open_ai_test.test_list_models_with_error.json
  tests/snapshots/tests.integrations.open_ai.open_ai_test.test_list_models_with_null_error_type.json
Due: none

Avoid redundant signal checking on linux
  ext/handlers_signal.c
Due: appsec

feat(helper): avoid meta compression for fingerprints
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/client_test.cpp
Due: appsec

Block remote config signals during ftp functions (#2957)
  Cargo.lock
  appsec/src/extension/configuration.c
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  components-rs/sidecar.h
  config.m4
  ext/handlers_internal.c
  ext/handlers_signal.c
  ext/remote_config.c
  ext/remote_config.h
Due: appsec

Keep DDTraceStamp
  src/DDTrace/Integrations/SymfonyMessenger/DDTraceStamp.php
Due: none

Revert DDTraceStamp removal
  src/DDTrace/Integrations/SymfonyMessenger/DDTraceStamp.php
Due: none

Update src/DDTrace/Integrations/SymfonyMessenger/DDTraceStamp.php
  src/DDTrace/Integrations/SymfonyMessenger/DDTraceStamp.php
Due: none

Keep DDTraceStamp (#2960)
  src/DDTrace/Integrations/SymfonyMessenger/DDTraceStamp.php
Due: none

test(integration): add integration test for fingerprints
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
Due: appsec

Add mysqli_real_query to MysqliIntegration
  src/DDTrace/Integrations/Mysqli/MysqliIntegration.php
  tests/Integrations/Mysqli/MysqliTest.php
Due: none

chore(helper): correct variable names
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
Due: appsec

Remove the 'debug' versions from the SSI package to reduce its size
  .circleci/continue_config.yml
  tooling/bin/generate-ssi-package.sh
Due: appsec

Add mysqli_real_query to MysqliIntegration (#2965)
  src/DDTrace/Integrations/Mysqli/MysqliIntegration.php
  tests/Integrations/Mysqli/MysqliTest.php
Due: none

test: apply reviewer suggestions
  appsec/tests/helper/client_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
Due: appsec

test(integration): add integration test for all fingerprints types
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
Due: appsec

Remove the 'debug' versions from the SSI package to reduce its size (#2964)
  .circleci/continue_config.yml
  tooling/bin/generate-ssi-package.sh
Due: appsec

test(helper): add unitary test for all fingerprints types
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/main.cpp
Due: appsec

Bump version to 1.5.1
  VERSION
  package.xml
Due: none

test(helper): create separate config for fingerprints
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/common.hpp
  appsec/tests/helper/main.cpp
Due: appsec

Bump version to 1.5.1 (#2967)
  VERSION
  package.xml
Due: none

apply cargo fmt
  profiling/src/timeline.rs
Due: profiling

test(helper): add unitary test for all request types
  appsec/tests/helper/client_test.cpp
Due: appsec

chore(appsec: tests): apply feedbacks
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/main.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
Due: appsec

test(appsec: helper): fix client_test configurations split
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/common.hpp
  appsec/tests/helper/main.cpp
Due: appsec

fix(helper): fix processing on fingerprint derivatives
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
Due: appsec

chore: Add the amqp extension to the buster images
  dockerfiles/ci/buster/build-extensions.sh
Due: none

Fix detection of JIT enabled
  loader/dd_library_loader.c
Due: none

chore: Add the librabbitmq library
  dockerfiles/ci/buster/Dockerfile
Due: none

chore: Add the librabbitmq library
  Makefile
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/DDTrace/Integrations/PeclAMQP/PeclAMQPIntegration.php
  tests/Integrations/PeclAMQP/PeclAMQPTest.php
  tests/Integrations/PeclAMQP/scripts/receive.php
  tests/Integrations/PeclAMQP/scripts/send.php
Due: appsec

chore: Add the amqp extension to the buster images (#2970)
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-extensions.sh
Due: none

tests: Add snapshots
  tests/snapshots/tests.integrations.pecl_amqp.pecl_amqp_test.test_distributed_tracing_consumer.json
  tests/snapshots/tests.integrations.pecl_amqp.pecl_amqp_test.test_distributed_tracing_producer.json
Due: none

Add AMQP Integration boilerplate
  Makefile
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/DDTrace/Integrations/PeclAMQP/PeclAMQPIntegration.php
  tests/Integrations/PeclAMQP/PeclAMQPTest.php
  tests/Integrations/PeclAMQP/scripts/receive.php
  tests/Integrations/PeclAMQP/scripts/send.php
  tests/snapshots/tests.integrations.pecl_amqp.pecl_amqp_test.test_hello_world.json
  tests/snapshots/tests.integrations.pecl_amqp_test.test_distributed_tracing_consumer.json
  tests/snapshots/tests.integrations.pecl_amqp_test.test_distributed_tracing_producer.json
Due: appsec

fix(tests: helper): remove alternative configuration and fix parameter type
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/main.cpp
Due: appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
