Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

appsec: format_fix
  appsec/src/extension/helper_process.c
Due: appsec

helper-rust: fix log message origin
  appsec/helper-rust/src/client/log.rs
Due: appsec

chore: bump bytes crate from 1.9.0 to 1.11.1 to address CVE-2026-25541
  Cargo.lock
Due: none

experiment: does not sending affect background thread's overhead much?
  profiling/src/profiling/mod.rs
Due: profiling

refactor(config): change when getenv is called
  ext/otel_config.c
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/tests/env.cc
  zend_abstract_interface/config/tests/ini.cc
  zend_abstract_interface/env/env.c
  zend_abstract_interface/env/env.h
  zend_abstract_interface/env/tests/host.cc
  zend_abstract_interface/env/tests/sapi.cc
Due: zend_abstract_interface, profiling, appsec

Explain the values of the array
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
Due: none

ci(appsec): request more memory
  .gitlab/generate-appsec.php
Due: none

ci(profiling): limit CPU, increase mem
  .gitlab/generate-profiler.php
Due: none

ci: add cpu core diagnostics
  .gitlab/generate-profiler.php
Due: none

Have helper-rust report telemetry log for failed product rc update
  appsec/helper-rust/src/client/log.rs
  appsec/helper-rust/src/rc.rs
  appsec/helper-rust/src/service.rs
  appsec/helper-rust/src/service/updateable_waf.rs
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

ci: fix gitlab config
  .gitlab/generate-profiler.php
Due: none

ci: increase memory again
  .gitlab/generate-profiler.php
Due: none

ci: reduce CPU to see if it reduces memory as well
  .gitlab/generate-profiler.php
Due: none

Misc fixes
  .gitlab/generate-appsec.php
  appsec/src/extension/commands/client_init.c
  appsec/src/extension/helper_process.c
Due: appsec

debug: does nproc get adjusted when request==limit?
  .gitlab/generate-profiler.php
Due: none

Set helper container resource limits for Guaranteed QoS on profiling tests
  .gitlab/generate-profiler.php
Due: none

ci(profiling): helper container resource limits
  .gitlab/generate-profiler.php
Due: none

test(ci): skip phpinfo language test on PHP <=8.1
  dockerfiles/ci/xfail_tests/7.0.list
  dockerfiles/ci/xfail_tests/7.1.list
  dockerfiles/ci/xfail_tests/7.2.list
  dockerfiles/ci/xfail_tests/7.3.list
  dockerfiles/ci/xfail_tests/7.4.list
  dockerfiles/ci/xfail_tests/8.0.list
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/README.md
Due: none

Revert config update
  appsec/src/extension/configuration.c
  appsec/src/extension/configuration.h
  ext/auto_flush.c
  ext/configuration.h
  ext/dogstatsd.c
Due: appsec

Add integration tests for llm events
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_agent/MockOpenAIServer.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/LlmEventsTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
  appsec/tests/integration/src/test/www/base/composer.json
  appsec/tests/integration/src/test/www/base/initialize.sh
  appsec/tests/integration/src/test/www/base/public/llm.php
Due: appsec

Fix port
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_agent/MockOpenAIServer.groovy
Due: appsec

Make it compatible with php 7.0
  tests/Appsec/Mock.php
Due: none

feat(request-replayer): write remote config requests to a separate file
  dockerfiles/services/request-replayer/src/index.php
Due: none

fix(crashtracker_segfault_disabled): suppress segfault output and use non-debug request-replayer
  .gitlab/generate-common.php
  tests/ext/crashtracker_segfault_disabled.phpt
Due: none

test(crashtracker_segfault_disabled): limit number of iterations and properly filter
  tests/ext/crashtracker_segfault_disabled.phpt
Due: none

test(crashtracker_segfault_disabled): update tet to make it more reliable
  .gitlab/generate-common.php
  tests/ext/crashtracker_segfault_disabled.phpt
  tests/ext/includes/request_replayer.inc
Due: none

test(request-replayer): restore latest request-replayer image
  .gitlab/generate-common.php
Due: none

test(CI): filter default value in profiler code
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/php_ffi.c
Due: profiling

build: publish to aws latest only on default branch
  .gitlab/generate-package.php
Due: none

chore: use locked specific version for cbindgen
  Makefile
Due: none

ci: add system-tests Test Optimization upload and tracer-release nightly
  .github/workflows/system-tests-nightly.yml
  .gitlab/generate-package.php
Due: none

ci: fix after_script by using upload script directly
  .gitlab/generate-package.php
Due: none

ci: fix system-tests Test Optimization upload
  .gitlab/generate-package.php
Due: none

ci: suppress package-oci in parent pipeline
  .gitlab-ci.yml
Due: none

profiling: migrate to SHM-only strings
  Cargo.lock
  profiling/.cargo/config.toml
  profiling/Cargo.toml
  profiling/benches/stack_walking.rs
  profiling/build.rs
  profiling/src/allocation/mod.rs
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/interning.rs
  profiling/src/lib.rs
  profiling/src/module_globals.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/backtrace.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/profiling/uploader.rs
  profiling/src/shm_cache.rs
  profiling/src/string_set.rs
  profiling/src/timeline.rs
  profiling/src/vec_ext.rs
Due: profiling

feat(profiling): intern internal funcs too
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/shm_cache.rs
Due: profiling

style: fix clippy
  profiling/src/shm_cache.rs
Due: profiling

fix: lock file
  Cargo.lock
  profiling/src/shm_cache.rs
Due: profiling

style: fix not(frameless)
  profiling/src/profiling/stack_walking.rs
Due: profiling

chore: switch libdatadog to levi/profiling-shm-remove-legacy branch
  Cargo.lock
  profiling/Cargo.toml
Due: profiling
