Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

chore: bump tracing-core from 0.1.33 to 0.1.35 (#3516)
  Cargo.lock
Due: none

more unsafe, less checks :tada:
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
Due: profiling

relaxed is fine for stats
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/exception.rs
  profiling/src/profiling/uploader.rs
Due: profiling

Atomicity is enough for intervals, no happens-before relation
  profiling/src/allocation/mod.rs
  profiling/src/exception.rs
  profiling/src/io/mod.rs
  profiling/src/profiling/mod.rs
Due: profiling

Fix macos build
  appsec/src/helper/main.cpp
  appsec/third_party/CMakeLists.txt
Due: appsec

Potentially fix segfault iterating mapping
  appsec/src/helper/network/proto.cpp
Due: appsec

Fix double end hook run/segault when blocking in PHP 7.x
  tests/ext/bailout_double_hook_clear.phpt
  zend_abstract_interface/hook/hook.c
  zend_abstract_interface/interceptor/php7/interceptor.c
Due: zend_abstract_interface, profiling, appsec

appsec helper: add send timeouts
  appsec/src/helper/network/broker.cpp
Due: appsec

refactor: encapsulate ALLOCATION_PROFILING_STATS for safety
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/allocation/tls_allocation_profiling_stats.rs
  profiling/src/lib.rs
Due: profiling

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Nette/Latest/composer.json
  tests/Frameworks/Slim/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/AMQP/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

fix comment
  profiling/src/allocation/tls_allocation_profiling_stats.rs
Due: profiling

fix: Protect sidecar globals access with mutex in ddtrace_get_telemetry_rc_info
  appsec/src/extension/commands/client_init.c
  appsec/src/extension/request_lifecycle.c
  ext/sidecar.c
  ext/sidecar.h
Due: appsec

adding tests
  tests/OpenTelemetry/Integration/MetricsTest.php
Due: none

Add capabilities
  components-rs/remote_config.rs
Due: none

Test capabilities
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
Due: appsec

fix(guzzle): inject distributed tracing headers before request execution
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
Due: none

test: add missing CI image to mirror
  dockerfiles/frameworks/flow.yml
  dockerfiles/frameworks/laravel.yml
  dockerfiles/frameworks/mongodb-driver.yml
  dockerfiles/frameworks/symfony.yml
  dockerfiles/frameworks/wordpress.yml
  dockerfiles/verify_packages/Makefile
  tests/randomized/docker-compose.yml
  tests/randomized/docker/buster.Dockerfile
  tests/randomized/docker/centos.Dockerfile
  tests/randomized/lib/docker-compose.yml
Due: none

make stats const so that we avoid runtime lazy init checks
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
Due: profiling

Speedup hotpath in allocator by makeing `ALLOCATION_PROFILING_STATS` an `UnsafeCell` and document why it is safe anyway.
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
Due: profiling

remove stats from hot path
  profiling/Cargo.toml
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/exception.rs
  profiling/src/profiling/uploader.rs
Due: profiling

fixed UnsafeCell vs MaybeUninit
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

refactor: encapsulate ALLOCATION_PROFILING_STATS for safety (#3519)
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/allocation/tls_allocation_profiling_stats.rs
  profiling/src/lib.rs
Due: profiling

fixes from review
  ext/ddtrace.c
  src/DDTrace/OpenTelemetry/CompositeResolver.php
  src/DDTrace/OpenTelemetry/Configuration.php
  src/DDTrace/OpenTelemetry/Detectors/DetectorHelper.php
  src/DDTrace/OpenTelemetry/Detectors/Environment.php
  src/DDTrace/OpenTelemetry/Detectors/Host.php
  src/DDTrace/OpenTelemetry/Detectors/Service.php
  tests/OpenTelemetry/Integration/MetricsTest.php
Due: appsec

Add Custom Data Classification (#3524)
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
  components-rs/remote_config.rs
Due: appsec

[AAP] Minor fixes and improvements to file descriptor reclamation
  appsec/src/helper/main.cpp
  appsec/src/helper/network/acceptor.cpp
  appsec/src/helper/worker_pool.cpp
Due: appsec

Add metric for extension connections
  appsec/src/extension/configuration.h
  appsec/src/extension/helper_process.c
  appsec/src/extension/telemetry.c
  appsec/src/extension/telemetry.h
Due: appsec

feedback
  ext/ddtrace.c
  src/bridge/_files_opentelemetry.php
Due: appsec

call public API function and fallback if not available
  profiling/src/php_ffi.c
Due: profiling

Format fixes
  appsec/src/helper/network/acceptor.cpp
  appsec/src/helper/worker_pool.cpp
Due: appsec

Use owned_fd
  appsec/.clang-tidy
  appsec/src/helper/network/acceptor.cpp
  appsec/src/helper/network/acceptor.hpp
  appsec/src/helper/runner.cpp
  appsec/src/helper/utils.hpp
Due: appsec

Appsec: use socket in abstract ns
  appsec/src/extension/configuration.h
  appsec/src/extension/helper_process.c
  appsec/src/extension/network.c
  appsec/src/helper/config.hpp
  appsec/src/helper/main.cpp
  appsec/src/helper/network/acceptor.cpp
Due: appsec

Improve 8.5 support
  appsec/run-tests-internal.php
  appsec/tests/extension/module_order_opcache_php85.phpt
  appsec/tests/integration/src/docker/php/build_dev_php.sh
Due: appsec

Update PHP 8.5 images
  appsec/src/helper/network/acceptor.cpp
  appsec/tests/integration/gradle/tag_mappings.gradle
Due: appsec

CI fixes
  appsec/tests/extension/module_order_opcache.phpt
Due: appsec

fix(tracing): avoid curl's getenv calls
  ext/coms.c
  ext/coms.h
  ext/ddtrace.c
Due: appsec

docs: ddtrace_coms_minit_proxy_env patterns
  ext/coms.c
Due: appsec

Lint
  appsec/src/helper/main.cpp
  appsec/src/helper/network/acceptor.cpp
Due: appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
