Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  version: 2

  setup-workflows:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue_config.yml
          # <path regular expression> <pipeline parameter>  <value>
          mapping: |
            components/.*  components-c  true
            zend_abstract_interface/.*  zend_abstract_interface true
            zend_abstract_interface/.*  profiling true
            profiling/.*  profiling true
            ext/handlers_api.[ch] profiling true

Fix typo
  .circleci/continue_config.yml
Due: none

Add http.route to CodeIgniter
  src/Integrations/Integrations/CodeIgniter/V2/CodeIgniterIntegration.php
  tests/Frameworks/CodeIgniter/Version_2_2/application/config/routes.php
  tests/Frameworks/CodeIgniter/Version_2_2/application/controllers/parameterized.php
  tests/Integrations/CodeIgniter/V2_2/CommonScenariosTest.php
  tests/Integrations/CodeIgniter/V2_2/ExitTest.php
  tests/Integrations/CodeIgniter/V2_2/NoCI_ControllertTest.php
Due: none

Use correct libfuzzer based on the host architecture
  appsec/tests/fuzzer/CMakeLists.txt
Due: none

String concat in php doesn't use +
  tests/Frameworks/CodeIgniter/Version_2_2/application/controllers/parameterized.php
Due: none

Fix installer verification on plesk
  dockerfiles/verify_packages/installer/test_install_on_plesk.sh
Due: none

[ASM] Upgrade libddwaf to v1.15.1 (#2377)
  appsec/cmake/helper.cmake
  appsec/src/helper/client.cpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: none

[ASM] Helper fuzzer (#2378)
  .circleci/continue_config.yml
  appsec/cmake/helper.cmake
  appsec/tests/fuzzer/CMakeLists.txt
  appsec/tests/fuzzer/corpus_generator.cpp
  appsec/tests/fuzzer/helpers.hpp
  appsec/tests/fuzzer/main.cpp
  appsec/tests/fuzzer/mutators.cpp
  appsec/tests/fuzzer/mutators.hpp
  appsec/tests/fuzzer/network.hpp
Due: none

Fix installer verification on plesk (#2380)
  dockerfiles/verify_packages/installer/test_install_on_plesk.sh
Due: none

Use routes correctly
  tests/Frameworks/CodeIgniter/Version_2_2/application/config/routes.php
  tests/Integrations/CodeIgniter/V2_2/CommonScenariosTest.php
Due: none

Fix handling of invalid persistent JSON
  tests/ext/priority_sampling/invalid-json-rule.phpt
  zend_abstract_interface/json/json.c
Due: zend_abstract_interface, profiling

build: pin mongodb for PHP 7.2-7.3
  dockerfiles/ci/buster/build-extensions.sh
Due: none

Use global-dynamic for tsrm cache
  ext/ddtrace.h
  ext/handlers_api.h
  zend_abstract_interface/tsrmls_cache.h
Due: zend_abstract_interface, profiling

Fix mongodb integration tests
  tests/Integrations/MongoDB/MongoDBTest.php
Due: none

Add sapi/cli/tests/bug80092.phpt to language tests xfail
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/README.md
  tests/ext/force_flush_traces.phpt
Due: none

Update CI images to use PHP 8.3.0rc6, pin mongodb for PHP 7.2-7.3 (#2382)
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/build-extensions.sh
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/README.md
  tests/Integrations/MongoDB/MongoDBTest.php
  tests/ext/force_flush_traces.phpt
Due: none

Fix #2312: More precise installer error message
  datadog-setup.php
Due: none

Add compression library to helper (#316)
  cmake/helper.cmake
  src/helper/compression.cpp
  src/helper/compression.hpp
  tests/fuzzer/CMakeLists.txt
  tests/helper/compression_test.cpp
  third_party/CMakeLists.txt
Due: none

Use global-dynamic for tsrm cache (#2383)
  ext/ddtrace.h
  ext/handlers_api.h
  zend_abstract_interface/tsrmls_cache.h
Due: zend_abstract_interface, profiling

Fix #2312: More precise installer error message (#2387)
  datadog-setup.php
Due: none

Enable appsec extension tests on PHP 8.0 Debug + ZTS + ASAN
  .circleci/continue_config.yml
Due: none

Enable appsec tests on CI config change
  .circleci/config.yml
Due: none

Enable appsec tests on PHP 8.0 with debug-zts-asan (#2389)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Fix handling of invalid persistent JSON (#2381)
  tests/ext/priority_sampling/invalid-json-rule.phpt
  zend_abstract_interface/json/json.c
Due: zend_abstract_interface, profiling

Merge back changes (#2388)
  appsec/cmake/helper.cmake
  appsec/src/helper/client.cpp
  appsec/src/helper/compression.cpp
  appsec/src/helper/compression.hpp
  appsec/src/helper/engine_settings.hpp
  appsec/src/helper/json_helper.cpp
  appsec/src/helper/network/msgpack_helpers.cpp
  appsec/src/helper/parameter.cpp
  appsec/src/helper/parameter.hpp
  appsec/src/helper/parameter_base.hpp
  appsec/src/helper/sampler.hpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service.hpp
  appsec/tests/fuzzer/CMakeLists.txt
  appsec/tests/helper/compression_test.cpp
  appsec/tests/helper/json_helper_test.cpp
  appsec/tests/helper/parameter_test.cpp
  appsec/tests/helper/sampler_test.cpp
  appsec/tests/helper/service_test.cpp
  appsec/third_party/CMakeLists.txt
Due: none

Use http_code instead of connect_time to detect curl errors
  src/Integrations/Integrations/Curl/CurlIntegration.php
Due: none

add allocation and exception count to `event.json`
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/allocation.rs
  profiling/src/exception.rs
  profiling/src/profiling/uploader.rs
Due: profiling

add test to ensure the profiler does not emit profiles when inactive
  .github/workflows/prof_correctness.yml
Due: none

Draft implementation for http.route in laminas
  src/Integrations/Integrations/Laminas/LaminasIntegration.php
  tests/Frameworks/Laminas/Version_2_0/module/Application/config/module.config.php
  tests/Frameworks/Laminas/Version_2_0/module/Application/src/Controller/CommonSpecsController.php
  tests/Integrations/Laminas/V2_0/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_parameterized.json
Due: none

do not emit profiles if the feature is inactive
  profiling/src/timeline.rs
Due: profiling

Add foundation files
  Makefile
  tests/Benchmarks/HookOverheadBench.php
  tests/composer.json
  tests/phpbench.json
Due: none

Use http_code instead of connect_time to detect curl errors (#2391)
  src/Integrations/Integrations/Curl/CurlIntegration.php
Due: none

fix(profiler) do not emit profiles when profiler is disabled (#2393)
  .github/workflows/prof_correctness.yml
  profiling/src/timeline.rs
Due: profiling

bump version numbers for `0.94.1` release
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling
