Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

chore(codeowners): give FFE sole ownership of product paths
  .github/CODEOWNERS
Due: none

upd tag_mappings.gradle
  appsec/tests/integration/gradle/tag_mappings.gradle
Due: appsec

fix(profiling): I/O profiling gotchas (#4156)
  profiling/src/io/got_elf64/mod.rs
  profiling/src/io/got_elf64/tests.rs
  profiling/src/io/got_macho.rs
  profiling/src/io/mod.rs
Due: profiling

fix re-entrancy in minfo()
  profiling/src/lib.rs
Due: profiling

refactor(tracer): Box-per-node pointer handles for the V1 builder FFI
  components-rs/bytes.rs
  components-rs/common.h
  components-rs/datadog.h
  components-rs/sidecar.h
  tracer/serializer.c
  tracer/span.h
Due: none

refactor(profiling): store string cache in PHP globals
  profiling/src/module_globals.rs
  profiling/src/php_ffi.c
  profiling/src/profiler/stack_walking.rs
  profiling/tests/phpt/native_thread_alloc_01.phpt
Due: profiling

fix(profiling): support stack test on PHP 7
  profiling/src/profiler/stack_walking.rs
Due: profiling

fix: crash in zend extension shutdown with zai_hook_unresolve_op_array
  zend_abstract_interface/hook/hook.c
Due: zend_abstract_interface, profiling, appsec

perf(otel): compact sampling state and allocate unknown fields lazily
  tests/ext/distributed_tracing/otel_sampling_formatting.phpt
  tests/ext/distributed_tracing/otel_sampling_propagation_behavior_ignore.phpt
  tests/ext/distributed_tracing/otel_sampling_propagation_behavior_restart.phpt
  tests/ext/distributed_tracing/otel_sampling_state_lifetime.phpt
  tests/ext/pcntl/otel_sampling_fork.phpt
  tracer/ddtrace.c
  tracer/distributed_tracing_headers.c
  tracer/functions.c
  tracer/otel_sampling.c
  tracer/otel_sampling.h
  tracer/serializer.c
  tracer/span.h
Due: none

perf(otel): fast-path zero thresholds and trim before storing
  tests/ext/distributed_tracing/otel_sampling_probability_keep_all.phpt
  tracer/otel_sampling.c
Due: none

perf(otel): avoid temporary tracestate allocations and scans
  tests/ext/distributed_tracing/otel_sampling_state_lifetime.phpt
  tracer/functions.c
  tracer/otel_sampling.c
Due: none

test(otel): isolate cap cases and retain PHP 7.0 compatibility
  tests/ext/distributed_tracing/otel_sampling_caps.phpt
  tests/ext/distributed_tracing/otel_sampling_state_lifetime.phpt
  tests/ext/pcntl/otel_sampling_fork.phpt
Due: none

fix: crash in zend extension shutdown with zai_hook_unresolve_op_array (#4218)
  zend_abstract_interface/hook/hook.c
Due: zend_abstract_interface, profiling, appsec

fix(ci): constrain Symfony 6.2 to Twig 3.28
  tests/Frameworks/Symfony/Version_6_2/composer.json
  tests/Frameworks/Symfony/Version_6_2/composer.lock
Due: none

fix(ci): propagate exhausted Composer retries
  Makefile
Due: none

fix(debugger): wait for shared probes without racing
  tests/ext/live-debugger/debugger_remove_shared_probe_id.phpt
  tests/ext/live-debugger/live_debugger.inc
Due: none

fix(tests): isolate Swoole runner remote config
  Makefile
  tests/Common/IntegrationTestCase.php
Due: none

fix(ci): keep sidecar covered by valgrind
  .gitlab/generate-tracer.php
Due: none

fix(ci): preserve Windows failure diagnostics
  .gitlab/generate-tracer.php
Due: none

fix(ci): retain minimum-install sidecar logs
  .gitlab/generate-package.php
Due: none

fix(ci): update Symfony 3.4 Composer scripts
  tests/Frameworks/Symfony/Version_3_4/composer.json
Due: none

fix(ci): support Laravel tests on MySQL 5.6
  tests/Frameworks/Laravel/Latest/app/Providers/AppServiceProvider.php
  tests/Frameworks/Laravel/Version_11_x/app/Providers/AppServiceProvider.php
Due: none

fix(ci): avoid changing Laminas cache permissions
  tests/Frameworks/Laminas/ApiTools/Latest/composer.json
Due: none

fix(tooling): use GitLab OAuth for artifacts
  tooling/bin/download-artifacts
Due: none

fix(profiling): stabilize timeline eval assertion
  profiling/tests/correctness/timeline.php
Due: profiling

fix(ci): avoid eager Laravel database connections
  tests/Frameworks/Laravel/Latest/app/Providers/AppServiceProvider.php
  tests/Frameworks/Laravel/Version_11_x/app/Providers/AppServiceProvider.php
Due: none

fix(loader): wait for telemetry completion
  loader/tests/functional/test_configuration_telemetry.php
Due: none

fix(tests): allow ASAN telemetry to drain
  tests/ext/telemetry/simple.phpt
Due: none

fix(tests): wait for nonempty trace payload
  tests/ext/request-replayer/client_side_stats_trace_filters.phpt
Due: none

fix(tests): await debugger diagnostic states
  tests/ext/live-debugger/debugger_span_probe_class.phpt
Due: none

fix(tests): wait for FrankenPHP readiness
  tests/Sapi/Frankenphp/FrankenphpServer.php
Due: none

fix(ci): retry transient libddwaf downloads
  .gitlab/compile_extension.sh
Due: none

fix(logging): preserve timestamp microseconds
  src/api/Log/DatadogLogger.php
  tests/Unit/Log/DatadogLoggerTest.php
Due: none

fix(tests): cap Twig for Symfony 5.2
  tests/Frameworks/Symfony/Version_5_2/composer.json
Due: none

fix(tests): ignore partial telemetry records
  tests/ext/telemetry/simple.phpt
Due: none

fix(tests): isolate sidecar sampling state
  tests/ext/background-sender/agent_sampling_sidecar.phpt
Due: none

fix(tests): ignore sidecar flush log timing
  tests/ext/background-sender/agent_sampling_sidecar.phpt
Due: none

build(appsec): update vendored libxml2 to 2.15.4
  appsec/third_party/libxml2/VERSION
  appsec/third_party/libxml2/src/CMakeLists.txt
  appsec/third_party/libxml2/src/VERSION
  appsec/third_party/libxml2/src/buf.c
  appsec/third_party/libxml2/src/dict.c
  appsec/third_party/libxml2/src/globals.c
  appsec/third_party/libxml2/src/include/private/memory.h
  appsec/third_party/libxml2/src/include/private/parser.h
  appsec/third_party/libxml2/src/parser.c
  appsec/third_party/libxml2/src/parserInternals.c
  appsec/third_party/libxml2/src/tree.c
  appsec/third_party/libxml2/src/uri.c
  appsec/third_party/libxml2/src/valid.c
  appsec/third_party/libxml2/src/xmlIO.c
  appsec/third_party/libxml2/src/xmlmemory.c
Due: appsec

fix(tracing): avoid synchronous flush starvation
  tracer/coms.c
Due: none
