Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

Update CLAUDE.md: libddwaf is linked statically
  appsec/helper-rust/CLAUDE.md
Due: appsec

Show which version of the helper we're connected to in phpinfo()
  appsec/src/extension/ddappsec.c
Due: appsec

fix(sidecar): encode master uid in thread-mode socket name for setuid compatibility
  tests/ext/background-sender/sidecar_thread_mode_permissions.phpt
Due: none

Cache gradle dist to avoid transient ci failures
  .gitlab/generate-appsec.php
Due: none

ci: suppress promote-oci jobs that bypass SKIP_SHARED_PIPELINE
  .gitlab-ci.yml
Due: none

chore: update libdatadog submodule (fix Windows compilation)
  tests/ext/background-sender/sidecar_thread_mode_permissions.phpt
  tests/ext/pcntl/pcntl_fork_thread_mode_orphan.phpt
Due: none

strip prefix on artifact download
  appsec/helper-rust/scripts/check-ci-jobs.py
Due: appsec

helper-rust: report legacy diagnostics also on rc updates
  appsec/helper-rust/src/service.rs
Due: appsec

helper-rust: clippy
  appsec/helper-rust/src/service/metrics.rs
Due: appsec

Run tooling/generate-supported-configurations.sh
  metadata/supported-configurations.json
Due: none

fix(sidecar): thread mode uses abstract socket, fix ASAN warnings
  tests/ext/background-sender/sidecar_thread_mode_permissions.phpt
Due: none

chore: bump cbindgen
  Cargo.lock
  components-rs/common.h
  components-rs/crashtracker.h
Due: none

ci: move one-pipeline jobs to shared child pipeline
  .gitlab-ci.yml
  .gitlab/generate-package.php
Due: none

Refactor integration
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
Due: none

Try to prevent dangling tracked_streams
  ext/integrations/exec_integration.c
Due: appsec

fix(test): suppress LSan leak detection in orphan fork test
  tests/ext/pcntl/pcntl_fork_thread_mode_orphan.phpt
Due: none

Upgrade libxml2
  appsec/third_party/libxml2/VERSION
  appsec/third_party/libxml2/src/CMakeLists.txt
  appsec/third_party/libxml2/src/VERSION
  appsec/third_party/libxml2/src/encoding.c
  appsec/third_party/libxml2/src/include/libxml/catalog.h
  appsec/third_party/libxml2/src/include/libxml/relaxng.h
  appsec/third_party/libxml2/src/include/private/threads.h
  appsec/third_party/libxml2/src/parser.c
  appsec/third_party/libxml2/src/tree.c
  appsec/third_party/libxml2/src/uri.c
  appsec/third_party/libxml2/src/xmlIO.c
  appsec/third_party/libxml2/src/xmlstring.c
  appsec/third_party/libxml2/vendor_libxml2.py
Due: appsec

refactor(profiling): register zend_extension in get_module
  profiling/src/config.rs
  profiling/src/lib.rs
Due: profiling

feat(profiling): load as either extension/zend_extension
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
Due: profiling

Check exceptions
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
Due: none

Tracer release scenario group on main
  .github/workflows/system_tests.yml
  .gitlab/generate-package.php
Due: none

Test
  .github/workflows/system_tests.yml
Due: none

Remove ref argument
  .github/workflows/system_tests.yml
Due: none

Make it compatible with PHP>=7.0
  Makefile
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/PaymentEventsTests.groovy
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
  tests/Integrations/Stripe/Latest/StripeTest.php
Due: appsec

Fix build on appsec test integration
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/PaymentEventsTests.groovy
  appsec/tests/integration/src/test/www/payment/initialize.sh
Due: appsec

Add opm to agent /info schema
  components-rs/sidecar.h
  ext/agent_info.c
  ext/agent_info.h
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/distributed_tracing_headers.c
  ext/distributed_tracing_headers.h
  ext/handlers_http.h
  ext/span.h
  tests/ext/active_span.phpt
  tests/ext/distributed_tracing/org_propagation/opm_inject_received_datadog.phpt
  tests/ext/distributed_tracing/org_propagation/opm_inject_received_tracestate.phpt
  tests/ext/distributed_tracing/org_propagation/opm_no_enforce_without_local.phpt
  tests/ext/distributed_tracing/org_propagation/opm_no_inject_without_opm.phpt
  tests/ext/request-replayer/opm_enforce_match.phpt
  tests/ext/request-replayer/opm_enforce_mismatch.phpt
  tests/ext/request-replayer/opm_enforce_trusted.phpt
  tests/ext/request-replayer/opm_inject_local.phpt
  tests/ext/sandbox/span_clone.phpt
Due: appsec

ci: move one-pipeline jobs to shared child pipeline (#3688)
  .gitlab-ci.yml
  .gitlab/generate-package.php
Due: none

Fix tests
  tests/Integrations/Stripe/Latest/StripeTest.php
Due: none

Optimize Symfony http.route caching with path map approach
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: none

Fix DD_TRACE_SYMFONY_HTTP_ROUTE=false
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Symfony62Tests.groovy
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: appsec

Improve check-ci-jobs.py
  appsec/helper-rust/scripts/check-ci-jobs.py
Due: appsec

Send error message also in the unlikely event of a WAF error
  appsec/helper-rust/src/client.rs
  appsec/helper-rust/src/client/protocol.rs
Due: appsec

Add stripe configurations
  metadata/supported-configurations.json
Due: none

Avoid calling event intrumentation twice
  ext/integrations/integrations.c
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
Due: appsec

fix: enforce span limit in curl_multi_exec and start_span code paths
  ext/ddtrace.c
  ext/handlers_curl.c
  ext/handlers_curl_php7.c
Due: appsec

fix: revert span limit check from user-facing DDTrace\start_span APIs
  ext/ddtrace.c
Due: appsec
