Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

Updated OTEL classes to pass dd<>otel tests
  ext/distributed_tracing_headers.c
  ext/handlers_http.h
  ext/serializer.c
  src/DDTrace/OpenTelemetry/Context.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/OpenTelemetry/composer.json
Due: appsec

Updating arginfo.h file
  ext/ddtrace_arginfo.h
Due: appsec

feat(integrations: Wordpress): add authenticated user event tracking
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  tests/Integrations/WordPress/AutomatedLoginEventsTestSuite.php
Due: appsec

feat: Add auto user instrum capability
  appsec/src/extension/tags.c
  appsec/src/extension/user_tracking.c
  appsec/src/extension/user_tracking.h
  appsec/src/helper/remote_config/client_handler.cpp
  appsec/src/helper/remote_config/client_handler.hpp
  components-rs/remote_config.rs
Due: appsec

chore: fix nit
  components-rs/remote_config.rs
Due: none

feat: InferredSpanData
  Makefile
  config.m4
  config.w32
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/distributed_tracing_headers.c
  ext/distributed_tracing_headers.h
  ext/inferred_proxy_headers.c
  ext/inferred_proxy_headers.h
  ext/serializer.c
  ext/span.c
  ext/span.h
  src/DDTrace/Integrations/Roadrunner/RoadrunnerIntegration.php
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
  tests/Frameworks/Laravel/Latest/.env
  tests/Integrations/CLI/Laravel/Latest/CommonScenariosTest.php
  tests/Integrations/Laravel/APIGWTest.php
  tests/Integrations/Laravel/Latest/CommonScenariosTest.php
  tests/Integrations/Laravel/Octane/APIGWTest.php
  tests/Integrations/Roadrunner/APIGWTest.php
  tests/ext/inferred_proxy/alter_service.phpt
  tests/ext/inferred_proxy/basic_test.phpt
  tests/ext/inferred_proxy/distributed_tracing.phpt
  tests/ext/inferred_proxy/error_propagated.phpt
  tests/ext/inferred_proxy/incomplete_headers.phpt
  tests/phpunit.xml
  tests/snapshots/tests.integrations.laravel.apigw_test.test_laravel_inferred_proxy.json
  tests/snapshots/tests.integrations.laravel.apigw_test.test_laravel_inferred_proxy_exception.json
  tests/snapshots/tests.integrations.laravel.octane.apigw_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.laravel.octane.apigw_test.test_inferred_proxy_exception.json
  tests/snapshots/tests.integrations.roadrunner.apigw_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.roadrunner.apigw_test.test_inferred_proxy_exception.json
Due: appsec

Add support for file based configuration (library-config)
  Cargo.lock
  Makefile
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/lib.rs
  components-rs/library-config.h
  docker-compose.linux.override.yml
  ext/configuration.c
  ext/configuration.h
  ext/ddtrace.c
Due: appsec

Move to zend_abstract_interface/config so that it's used by all extensions
  config.m4
  config.w32
  ext/configuration.c
  ext/configuration.h
  ext/ddtrace.c
  zend_abstract_interface/config/CMakeLists.txt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_stable_file.c
  zend_abstract_interface/config/config_stable_file.h
Due: zend_abstract_interface, profiling, appsec

Add a ratchet integration
  Makefile
  ext/configuration.h
  ext/ddtrace.stub.php
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  ext/startup_logging.c
  ext/telemetry.c
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
  src/api/Type.php
  src/ddtrace_php_api.stubs.php
  tests/Common/SpanChecker.php
  tests/Integrations/Ratchet/V0_4/RatchetTest.php
  tests/Integrations/Ratchet/V0_4/composer.json
  tests/api/Unit/UserAvailableConstantsTest.php
  tests/bootstrap_common.php
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_runtime.c
  zend_abstract_interface/hook/hook.c
Due: zend_abstract_interface, profiling, appsec

Adding DD API and related tests
  src/DDTrace/Span.php
  tests/Unit/SpanTest.php
Due: none

fix: remove added refcount
  ext/span.c
Due: appsec

Create inferred span from distributed headers consumption
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/span.c
  ext/span.h
  src/DDTrace/Integrations/Roadrunner/RoadrunnerIntegration.php
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
  tests/ext/inferred_proxy/consume_distributed_tracing_headers.phpt
  tests/ext/inferred_proxy/multiple_traces.phpt
Due: appsec

cr: Check that the inferred_span property is an instance of ddtrace_ce_inferred_span_data
  ext/span.c
Due: appsec

style: Refactor metrics/meta data transfer during serialization
  ext/serializer.c
Due: appsec

chore: apply feedbacks
  appsec/src/extension/helper_process.c
  appsec/src/extension/helper_process.h
  appsec/src/extension/user_tracking.c
  appsec/src/helper/client.cpp
  appsec/src/helper/remote_config/client_handler.cpp
  appsec/src/helper/remote_config/client_handler.hpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service.hpp
  appsec/src/helper/service_manager.cpp
  appsec/src/helper/service_manager.hpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/service_manager_test.cpp
  appsec/tests/helper/service_test.cpp
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  ext/ddtrace.c
  ext/sidecar.c
  ext/sidecar.h
Due: appsec

feat(components-rs: remote-config): add new auto_user_instrum capability (#3103)
  appsec/src/extension/helper_process.c
  appsec/src/extension/helper_process.h
  appsec/src/extension/tags.c
  appsec/src/extension/user_tracking.c
  appsec/src/extension/user_tracking.h
  appsec/src/helper/client.cpp
  appsec/src/helper/remote_config/client_handler.cpp
  appsec/src/helper/remote_config/client_handler.hpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service.hpp
  appsec/src/helper/service_manager.cpp
  appsec/src/helper/service_manager.hpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/service_manager_test.cpp
  appsec/tests/helper/service_test.cpp
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  ext/ddtrace.c
  ext/sidecar.c
  ext/sidecar.h
Due: appsec

Try to fix compilation
  .circleci/continue_config.yml
  Cargo.lock
  Makefile
  appsec/cmake/extension.cmake
  components-rs/Cargo.toml
  ddtrace.sym
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/bindings/mod.rs
  zend_abstract_interface/config/CMakeLists.txt
  zend_abstract_interface/config/config_stable_file.c
Due: zend_abstract_interface, profiling, appsec

Test blocking on all versions of Laravel
  tests/Appsec/Mock.php
  tests/Common/AppsecTestCase.php
  tests/Frameworks/Laravel/Version_10_x/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_10_x/routes/web.php
  tests/Frameworks/Laravel/Version_11_x/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_11_x/routes/web.php
  tests/Frameworks/Laravel/Version_4_2/app/controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_4_2/app/routes.php
  tests/Frameworks/Laravel/Version_5_7/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_5_7/routes/web.php
  tests/Frameworks/Laravel/Version_5_8/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_5_8/routes/web.php
  tests/Frameworks/Laravel/Version_8_x/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_8_x/routes/web.php
  tests/Frameworks/Laravel/Version_9_x/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_9_x/routes/web.php
  tests/Integrations/Laravel/RaspEventsTestSuite.php
  tests/Integrations/Laravel/V10_x/RaspEventsTest.php
  tests/Integrations/Laravel/V4/RaspEventsTest.php
  tests/Integrations/Laravel/V5_7/RaspEventsTest.php
  tests/Integrations/Laravel/V5_8/RaspEventsTest.php
  tests/Integrations/Laravel/V8_x/RaspEventsTest.php
  tests/Integrations/Laravel/V9_x/RaspEventsTest.php
Due: none

Adding inject configurations
  ext/configuration.h
  ext/handlers_http.h
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_configured_bytes.phpt
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_configured_items.phpt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
Due: zend_abstract_interface, profiling, appsec

fix upscaling and len issues
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/io.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

Update
  Cargo.lock
  profiling/src/profiling/uploader.rs
Due: profiling

restore sampling distance of 1KB
  profiling/src/io.rs
Due: profiling

apply cargo fmt
  profiling/src/io.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

Adding encoding/decoding details
  ext/distributed_tracing_headers.c
  ext/handlers_http.h
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_decoding_encoding.phpt
Due: appsec

cleanup
  profiling/src/io.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

(raw) Handle propagated tags & sampling rules
  ext/ddtrace.c
  ext/distributed_tracing_headers.c
  ext/priority_sampling/priority_sampling.c
  ext/serializer.c
  ext/span.c
  tests/ext/inferred_proxy/propagated_tags_after_span_start.phpt
  tests/ext/inferred_proxy/propagated_tags_before_span_start.phpt
  tests/ext/inferred_proxy/sampling_rules.phpt
Due: appsec

fix read/write usage on socket and bump libdatadog
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/io.rs
  profiling/src/profiling/uploader.rs
Due: profiling

cache fstat() calls
  profiling/src/io.rs
Due: profiling

Ignore tested versions
  .gitignore
Due: none

fix naming to how Rust libc::fwrite/fread is
  profiling/src/io.rs
Due: profiling

fix(profiling) I/O upscaling (#3118)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/io.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

Amend Laravel 4
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  tests/Frameworks/Laravel/Version_4_2/app/routes.php
Due: none

Bump to 1.7.2
  Cargo.lock
  VERSION
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/ddtrace.h
  components-rs/live-debugger.h
  components-rs/sidecar.h
  components-rs/telemetry.h
  package.xml
Due: none

build: update Cargo.lock
  Cargo.lock
Due: none

feat(prof): add DD_TAGS support
  profiling/src/config.rs
  profiling/src/lib.rs
Due: profiling
