Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

todo: fix enabled types with no values
  profiling/src/profiling/mod.rs
Due: profiling

refactor: first rinit alloc logs are now info
  profiling/src/allocation/mod.rs
Due: profiling

build: profiler with debug symbols
  .gitlab/build-profiler.sh
  profiling/src/profiling/samples.rs
Due: profiling

fix: poisson upscaling, add debugging
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
Due: profiling

perf(prof): wake up the aggregator less
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
Due: profiling

style: fix clippy
  profiling/src/profiling/mod.rs
Due: profiling

Send Laravel endpoints
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/sidecar.h
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: appsec

Point to latest
  ext/ddtrace.c
Due: appsec

extract got code into it's own file
  profiling/src/io/got.rs
  profiling/src/io/mod.rs
Due: profiling

Fix add-routes-collection
  appsec/tests/integration/build.gradle
  ext/ddtrace.c
Due: appsec

Add block id to static pages
  appsec/src/extension/request_abort.c
  appsec/tests/extension/push_params_block_01.phpt
  appsec/tests/extension/push_params_block_04.phpt
  appsec/tests/extension/push_params_block_05.phpt
  appsec/tests/extension/req_abort_empty_custom_json_template.phpt
  appsec/tests/extension/req_abort_from_rinit_auto.phpt
  appsec/tests/extension/req_abort_from_rinit_invalid_content_type.phpt
  appsec/tests/extension/req_abort_from_rinit_invalid_status_code.phpt
  appsec/tests/extension/req_abort_from_rinit_json_404.phpt
  appsec/tests/extension/req_abort_from_rshutdown_auto.phpt
  appsec/tests/extension/req_abort_from_user_login_success_event.phpt
  appsec/tests/extension/req_abort_mid_request_auto.phpt
  appsec/tests/extension/req_abort_mid_request_json.phpt
  appsec/tests/extension/req_abort_mid_request_json_fallback.phpt
  appsec/tests/extension/req_abort_mid_request_json_multiaccept.phpt
  appsec/tests/extension/req_abort_mid_request_json_weight.phpt
  appsec/tests/extension/req_abort_redirection_03.phpt
  appsec/tests/extension/req_abort_redirection_04.phpt
  appsec/tests/extension/req_abort_redirection_05.phpt
  appsec/tests/extension/user_req_basic_01.phpt
  appsec/tests/extension/user_req_basic_02.phpt
  appsec/tests/extension/user_tracking_block_from_login_failure_v2.phpt
  appsec/tests/extension/user_tracking_block_from_login_success.phpt
  appsec/tests/extension/user_tracking_block_from_login_success_v2.phpt
  appsec/tests/extension/user_tracking_block_from_set_user.phpt
Due: appsec

Remove non necesary files
  appsec/tests/integration/src/test/www/base/public/add_endpoint.php
  appsec/tests/integration/src/test/www/laravel8x/public/phpinfo.php
Due: appsec

Test block id on integration level
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
Due: appsec

Lint
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/request_abort.c
Due: appsec

perf(prof): pre-reserve function name buffer
  profiling/src/profiling/stack_walking.rs
Due: profiling

perf(prof): don't reserve mem if stack is empty
  profiling/src/profiling/stack_walking.rs
Due: profiling

Change html block id messaging
  appsec/src/extension/request_abort.c
  appsec/tests/extension/push_params_block_02.phpt
  appsec/tests/extension/push_params_block_05.phpt
  appsec/tests/extension/req_abort_empty_custom_html_template.phpt
  appsec/tests/extension/req_abort_from_rinit_html_500.phpt
  appsec/tests/extension/req_abort_from_rshutdown_html_500.phpt
  appsec/tests/extension/req_abort_mid_request_html.phpt
  appsec/tests/extension/req_abort_mid_request_html_multiaccept.phpt
  appsec/tests/extension/req_abort_mid_request_html_weight.phpt
  appsec/tests/extension/user_req_content_negotiation.phpt
Due: appsec

Allow multiple block ids on a single template
  appsec/src/extension/request_abort.c
  appsec/tests/extension/req_abort_custom_html_template_01.phpt
  appsec/tests/extension/req_abort_custom_html_template_02.phpt
  appsec/tests/extension/req_abort_custom_json_template_01.phpt
  appsec/tests/extension/req_abort_custom_json_template_02.phpt
  appsec/tests/extension/templates/response_with_block_id.html
  appsec/tests/extension/templates/response_with_block_id.json
Due: appsec

Amend appsec integration tests
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
Due: appsec

Lint
  appsec/src/extension/request_abort.c
Due: appsec

perf(prof): avoid std hasher due to hashdos resistance
  Cargo.lock
  profiling/src/profiling/mod.rs
Due: profiling

perf: hoist stable_config NULL check outside zai_config_ini_rinit loops
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_stable_file.c
  zend_abstract_interface/config/config_stable_file.h
Due: zend_abstract_interface, profiling, appsec

perf: refactor strcpy calls to avoid side effects in conditionals
  zend_abstract_interface/config/config_ini.c
Due: zend_abstract_interface, profiling, appsec

perf: skip config entries with no names in zai_config_ini_rinit
  zend_abstract_interface/config/config_ini.c
Due: zend_abstract_interface, profiling, appsec

perf: avoid redundant strlen calls in zai_config_process_runtime_env
  zend_abstract_interface/config/config_ini.c
Due: zend_abstract_interface, profiling, appsec

Code review comments
  appsec/src/extension/request_abort.c
  appsec/src/extension/request_abort.h
  appsec/src/extension/request_lifecycle.c
Due: appsec

perf(prof): batch SampleData
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Due: profiling

perf(prof): centralize queue instead of using tls
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Due: profiling

perf(prof): adjust when queue processing happens
  profiling/src/profiling/mod.rs
Due: profiling

Refactor code
  appsec/src/extension/ddappsec.c
  appsec/src/extension/request_abort.c
  appsec/src/extension/request_abort.h
  appsec/src/extension/request_lifecycle.c
Due: appsec

Investigate if joining meaningfully reduces CPU
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
Due: profiling

Amend leak
  appsec/src/extension/request_abort.c
Due: appsec

feat(components-rs: tracer-flare): began integration, bump on libdatadog
  .gitignore
  Cargo.lock
  components-rs/Cargo.toml
  components-rs/remote_config.rs
Due: none

Upload SSI symbols to our backend
  .gitlab/generate-package.php
Due: none
