Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

feat(prof): add I/O profiling for macOS
  profiling/src/io/got_elf64.rs
  profiling/src/io/got_macho.rs
  profiling/src/io/mod.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Due: profiling

use `mach2` crate instead of depracated Mach-O types from `libc` crate
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/io/got_macho.rs
Due: profiling

fix tests
  tests/ext/includes/request_replayer.inc
  tests/ext/live-debugger/debugger_span_decoration_probe.phpt
  tests/ext/remote_config/process_tags.phpt
Due: none

fix(sidecar): set SHM open mode to 0644 when master runs as root
  components-rs/sidecar.h
  ext/sidecar.c
Due: appsec

test
  tests/ext/remote_config/process_tags.phpt
Due: none

fix "argument unused during compilation" warning
  .github/workflows/prof_correctness.yml
  profiling/build.rs
Due: profiling

chore(ci): add final_status property on junit XML [APMSP-2610]
  .gitlab/add_final_status.xsl
  .gitlab/upload-junit-to-datadog.sh
Due: none

fix: enforce span limit in curl_multi_exec and DDTrace\start_span code paths (#3691)
  ext/handlers_curl.c
  ext/handlers_curl_php7.c
Due: appsec

Fix composer on appsec integrations for 7.0 and 7.1
  appsec/tests/integration/build.gradle
Due: appsec

ci: fix Windows workspace cleanup and fail-fast for git operations
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
Due: none

Change mock reponse approach
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_stripe/MockStripeServer.groovy
Due: appsec

Make parameter names more accurate
  src/DDTrace/Integrations/Stripe/StripeIntegration.php
Due: none

ci: use cmd.exe rd to handle junction points during Windows workspace cleanup
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
Due: none

fixing RC tests
  .gitlab/generate-common.php
  tests/ext/remote_config/process_tags.phpt
Due: none

feat(profiling): convert to universal extension supporting PHP 7.1–8.5
  Cargo.lock
  profiling/.cargo/config.toml
  profiling/Cargo.toml
  profiling/README.md
  profiling/build.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/allocation/profiling_stats.rs
  profiling/src/bindings/ffi.rs
  profiling/src/bindings/mod.rs
  profiling/src/capi.rs
  profiling/src/config.rs
  profiling/src/exception.rs
  profiling/src/io/got.rs
  profiling/src/io/mod.rs
  profiling/src/lib.rs
  profiling/src/module_globals.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/profiling/thread_utils.rs
  profiling/src/pthread.rs
  profiling/src/sapi.rs
  profiling/src/timeline.rs
  profiling/src/universal/exception_message.rs
  profiling/src/universal/features.rs
  profiling/src/universal/matrix.rs
  profiling/src/universal/mod.rs
  profiling/src/universal/runtime.rs
  profiling/src/wall_time.rs
  profiling/src/zend_string.rs
Due: zend_abstract_interface, profiling

style: fix clippy
  profiling/src/capi.rs
  profiling/src/config.rs
  profiling/src/io/got.rs
  profiling/src/io/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/sapi.rs
Due: zend_abstract_interface, profiling

Update libdatadog
  Cargo.lock
  components-rs/common.h
  components-rs/crashtracker.h
  tests/ext/background-sender/agent_sampling_sidecar.phpt
  tests/ext/crashtracker_segfault.phpt
  tests/ext/live-debugger/debugger_span_decoration_probe.phpt
Due: none

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Nette/Latest/composer.json
  tests/Frameworks/Slim/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Frameworks/Yii/Latest/composer.json
  tests/Integrations/AMQP/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/Logs/MonologLatest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

"tighten" value and error for this test
  .github/workflows/prof_correctness.yml
  profiling/tests/correctness/allocation_time_combined.json
Due: profiling

merge allocations & time combined test to "normal" path without changed allocation sampling distance
  .github/workflows/prof_correctness.yml
  profiling/tests/correctness/allocation_time_combined.json
Due: profiling

Fix exploration logic
  .gitlab/upload-junit-to-datadog.sh
Due: none

bump libdatadog
  Cargo.lock
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  ext/sidecar.c
  tests/ext/crashtracker_segfault.phpt
  tests/ext/live-debugger/debugger_span_decoration_probe.phpt
Due: appsec

incremental change 1/n
  ext/process_tags.c
  ext/process_tags.h
Due: appsec

tmp
  ext/process_tags.c
Due: appsec

incremental change 2/n
  ext/process_tags.h
  ext/sidecar.c
Due: appsec

test(profiling): add missing prof correctness tests for I/O profiling (#3652)
  .github/workflows/prof_correctness.yml
  profiling/src/profiling/sample_type_filter.rs
  profiling/tests/correctness/io.json
  profiling/tests/correctness/io.php
Due: profiling

incremental changes 3/n
  tests/ext/includes/request_replayer.inc
  tests/ext/remote_config/process_tags.phpt
Due: none

incremental changes 4/n
  tests/ext/remote_config/rc_process_tags.phpt
Due: none

incremental changes 5/n
  tests/ext/telemetry/telemetry_process_tags.phpt
Due: none

fix "argument unused during compilation" warning (#3692)
  .github/workflows/prof_correctness.yml
  profiling/build.rs
Due: profiling

incremental changes 6/n
  tests/ext/remote_config/rc_process_tags.phpt
  tests/ext/telemetry/telemetry_process_tags.phpt
Due: none

incremental changes 6/n
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_agent/rem_cfg/RemoteConfigRequest.java
Due: appsec

remove left-over comment
  profiling/src/io/got_macho.rs
Due: profiling

Adds process tags to remote config payload
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_agent/rem_cfg/RemoteConfigRequest.java
  ext/process_tags.c
  ext/process_tags.h
  ext/sidecar.c
  tests/ext/includes/request_replayer.inc
  tests/ext/remote_config/rc_process_tags.phpt
  tests/ext/telemetry/telemetry_process_tags.phpt
Due: appsec

feat(prof): add I/O profiling for macOS (#3648)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/io/got_elf64.rs
  profiling/src/io/got_macho.rs
  profiling/src/io/mod.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Due: profiling

Test
  Cargo.lock
  profiling/Cargo.toml
Due: profiling

Adds container tags support for DBM
  components-rs/sidecar.h
  config.m4
  config.w32
  ext/agent_info.c
  ext/agent_info.h
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/fnv.c
  ext/fnv.h
  ext/process_tags.c
  ext/process_tags.h
  src/DDTrace/Integrations/DatabaseIntegrationHelper.php
  src/api/Tag.php
  tests/Integration/DatabaseMonitoringTest.php
Due: appsec

fix memory leak
  ext/agent_info.c
  ext/agent_info.h
Due: appsec

ci(prof): run additional allocation test on all PHP versions (#3592)
  .github/workflows/prof_correctness.yml
  profiling/tests/correctness/allocation_time_combined.json
Due: profiling

build(profiling): allow list of undefined symbols
  profiling/.cargo/config.toml
  profiling/build.rs
Due: profiling
