Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

appsec int tests: bump deps and gradle
  appsec/tests/integration/build.gradle
  appsec/tests/integration/gradle/wrapper/gradle-wrapper.jar
  appsec/tests/integration/gradle/wrapper/gradle-wrapper.properties
  appsec/tests/integration/gradlew
  appsec/tests/integration/gradlew.bat
Due: appsec

fix(tracing): avoid curl's getenv calls (#3528)
  ext/coms.c
  ext/coms.h
  ext/ddtrace.c
Due: appsec

perf(prof): speedup hot path in allocator (#3505)
  profiling/Cargo.toml
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/allocation/tls_allocation_profiling_stats.rs
  profiling/src/exception.rs
  profiling/src/io/mod.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

test(CI): upload junit reports to datadog
  .gitlab/generate-appsec.php
  .gitlab/generate-profiler.php
  .gitlab/generate-shared.php
  .gitlab/generate-tracer.php
  .gitlab/run_php_language_tests.sh
  .gitlab/upload-junit-to-datadog.sh
  Makefile
Due: none

Submit worker count
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service.hpp
  appsec/src/helper/sidecar_settings.hpp
  appsec/src/helper/telemetry.hpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
  components-rs/sidecar.h
  ddtrace.sym
Due: appsec

appsec: avoid sending metrics to the extension and back
  appsec/src/extension/commands_helpers.c
  appsec/src/helper/client.cpp
  appsec/src/helper/metrics.hpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service.hpp
  appsec/src/helper/telemetry.hpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

Remove extension submission of tel metrics gotten from helper
  appsec/src/extension/commands/client_init.c
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/commands_helpers.h
  appsec/src/helper/client.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/service.hpp
Due: appsec

Fix tests
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/helper/client.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service.hpp
  appsec/src/helper/telemetry.hpp
  appsec/tests/extension/inc/mock_helper.php
  appsec/tests/extension/input_truncated_01.phpt
  appsec/tests/extension/input_truncated_04.phpt
  appsec/tests/extension/input_truncated_05.phpt
  appsec/tests/extension/rshutdown_command.phpt
  appsec/tests/extension/rshutdown_command_body_user_request.phpt
  appsec/tests/extension/rshutdown_command_body_user_request_stream.phpt
  appsec/tests/extension/rshutdown_telemetry.phpt
  appsec/tests/extension/user_req_basic_01.phpt
  appsec/tests/extension/user_req_basic_02.phpt
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/service_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

Use JDK 17
  .gitlab/generate-appsec.php
Due: none

fix metrics unit tests and dependencies
  src/bridge/_files_opentelemetry.php
  tests/OpenTelemetry/Integration/MetricsTest.php
  tests/OpenTelemetry/composer-beta-pre-8.1.json
  tests/OpenTelemetry/composer-beta.json
  tests/OpenTelemetry/composer-pre-8.1.json
  tests/OpenTelemetry/composer.json
  tests/phpunit.xml
Due: none

fix failing otel tests
  src/bridge/_generated_opentelemetry.php
Due: none

feat(prof): detect parallel threads (#3515)
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/profiling/thread_utils.rs
  profiling/tests/correctness/exceptions_zts.json
Due: profiling

bump to 1.15.0
  CHANGELOG.md
  VERSION
Due: none

Fix logger
  components-rs/log.rs
Due: none

Apply suggestions from code review
  CHANGELOG.md
Due: none

bump to 1.15.0 (#3531)
  CHANGELOG.md
  VERSION
Due: none

fix: refcounting for certain metadata strings
  components-rs/bytes.rs
  ext/handlers_httpstreams.c
  ext/ip_extraction.c
Due: appsec

test: try to uncover asan failure
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_array.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_string.phpt
Due: none

test: try harder to hit ASAN failure
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_array.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_string.phpt
Due: none

fix: stream context integration with HTTP method
  ext/handlers_httpstreams.c
  tests/ext/integrations/http_streams/distributed_tracing_http_streams.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_array.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_string.phpt
Due: appsec

test(CI): upload junit reports to datadog
  .github/CODEOWNERS
  .gitlab/generate-appsec.php
  .gitlab/generate-profiler.php
  .gitlab/generate-shared.php
  .gitlab/generate-tracer.php
  .gitlab/run_php_language_tests.sh
  .gitlab/upload-junit-to-datadog.sh
  CODEOWNERS
  Makefile
Due: none

feat(OpenTelemetry): fix generated file for PHP 7.4 compatibility
  src/DDTrace/OpenTelemetry/CompositeResolver.php
  src/DDTrace/OpenTelemetry/Configuration.php
  src/bridge/_generated_opentelemetry.php
Due: none

Fix panic after bailout in previous request
  ext/logging.c
Due: appsec

INTRODUCE BUG FOR TESTING ASAN
  ext/handlers_httpstreams.c
Due: appsec

Revert "INTRODUCE BUG FOR TESTING ASAN"
  ext/handlers_httpstreams.c
Due: appsec

perf: use reserve_exact
  profiling/src/profiling/stack_walking.rs
Due: profiling

perf(prof): pre-reserve function name buffer (#3445)
  profiling/src/profiling/stack_walking.rs
Due: profiling

test: expose refcounting issue in distrib baggage
  tests/ext/distributed_tracing/baggage/baggage_span_tags_wildcard.phpt
Due: none

test: make output deterministic
  tests/ext/distributed_tracing/baggage/baggage_span_tags_wildcard.phpt
Due: none

test: make baggage span tags wildcard order-stable and stress baggage lifetime
  tests/ext/distributed_tracing/baggage/baggage_span_tags_wildcard.phpt
Due: none

fix(telemetry): cap dependency name length to copied bytes
  ext/telemetry.c
Due: appsec

feat(CI): add docker to before_script in all CI jobs
  .gitlab/dockerhub-login.sh
  .gitlab/generate-appsec.php
  .gitlab/generate-common.php
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
Due: none

feat(CI): add docker to before_script in all CI jobs (#3536)
  .gitlab/dockerhub-login.sh
  .gitlab/generate-appsec.php
  .gitlab/generate-common.php
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
Due: none

fix: stream context integration with HTTP method (#3534)
  ext/handlers_httpstreams.c
  tests/ext/integrations/http_streams/distributed_tracing_http_streams.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_array.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_string.phpt
Due: appsec

fix(telemetry): cap dependency name length to copied bytes (#3538)
  ext/telemetry.c
Due: appsec

test: sus out suspected ASAN violation w/ baggage
  tests/ext/distributed_tracing/baggage/baggage_span_tags_wildcard.phpt
Due: none

ALWAYS call overrideArguments() to prevent JIT compilation issues
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
Due: none

Merge pull request #3537 from DataDog/glopes/log-panic
  ext/logging.c
Due: appsec

bump version
  CHANGELOG.md
  VERSION
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
