Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

fix
  .github/workflows/prof_tests.yml
Due: none

add zts to buster php 7
  dockerfiles/ci/buster/php-7.0/Dockerfile
  dockerfiles/ci/buster/php-7.1/Dockerfile
  dockerfiles/ci/buster/php-7.2/Dockerfile
  dockerfiles/ci/buster/php-7.3/Dockerfile
Due: none

add tar
  dockerfiles/ci/alpine_compile_extension/base.Dockerfile
Due: none

sdf
  .github/workflows/prof_tests.yml
Due: none

bumpedy bump
  .github/workflows/prof_tests.yml
Due: none

Increase read timeout of sidecar for synchronous flushes
  Cargo.lock
  components-rs/sidecar.rs
Due: none

Removed old attempt, added new and testing
  ext/serializer.c
  src/DDTrace/Util/Normalizer.php
  tests/Unit/Util/Normalizer/UriTest.php
Due: appsec

Increase read timeout of sidecar for synchronous flushes (#2910)
  Cargo.lock
  components-rs/sidecar.rs
Due: none

Fix bad hasThis() check on PHP 7.0
  ext/compatibility.h
  ext/live_debugger.c
  tests/ext/live-debugger/debugger_log_probe.phpt
Due: appsec

test
  .github/workflows/prof_tests.yml
Due: none

Fix bad hasThis() check on PHP 7.0 (#2911)
  ext/compatibility.h
  ext/live_debugger.c
  tests/ext/live-debugger/debugger_log_probe.phpt
Due: appsec

Fixate int name on PHP <= 7.2
  ext/live_debugger.c
Due: appsec

Add clang ASAN handling
  tea/include/testing/catch2.hpp
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

Updating test and removing fix attempt
  src/DDTrace/Util/Normalizer.php
  tests/Unit/Util/Normalizer/UriTest.php
  tests/ext/root_span_url_with_query_params_obfuscation_empty.phpt
Due: none

Fixing previous commit
  tests/Unit/Util/Normalizer/UriTest.php
Due: none

Adding comment back
  ext/serializer.c
Due: appsec

Updating test and adding fix
  tests/ext/root_span_url_with_query_params_obfuscation_empty.phpt
  zend_abstract_interface/uri_normalization/uri_normalization.c
Due: zend_abstract_interface, profiling, appsec

stuff
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-extensions.sh
  dockerfiles/ci/buster/build-php.sh
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/buster/php-7.2/0001-Fix-stream_cookie_seeker-signature-under-musl.patch
  dockerfiles/ci/buster/php-7.2/Dockerfile
Due: none

Adding check for empty string in Normalizer as well
  src/DDTrace/Util/Normalizer.php
Due: none

Fix asan stuff
  Makefile
  config.m4
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-extensions.sh
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

updates
  dockerfiles/ci/buster/build-php.sh
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/buster/php-7.0/0001-Fix-stream_cookie_seeker-signature-under-musl.patch
  dockerfiles/ci/buster/php-7.0/Dockerfile
  dockerfiles/ci/buster/php-7.1/0001-Fix-stream_cookie_seeker-signature-under-musl.patch
  dockerfiles/ci/buster/php-7.1/0001-fix-broken-sprintf-detection.patch
  dockerfiles/ci/buster/php-7.1/Dockerfile
Due: none

Use cc instead of gcc in CI
  .circleci/continue_config.yml
Due: appsec

fix 8.1
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-php.sh
  dockerfiles/ci/buster/php-8.1/0002-fix-tsrm-jit-aarch64.patch
  dockerfiles/ci/buster/php-8.1/Dockerfile
Due: none

fix
  dockerfiles/ci/buster/build-extensions.sh
Due: none

upadte 8.3 in other OS as well
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
Due: none

Fix compile issues
  ext/coms.c
  ext/coms.h
  ext/handlers_pcntl.c
  ext/span.h
  zend_abstract_interface/interceptor/php7/interceptor.c
  zend_abstract_interface/interceptor/php7/resolver.c
Due: zend_abstract_interface, profiling, appsec

update 8.4 to rc3
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
Due: none

Try fix more compile issues
  config.m4
  ext/span.h
Due: appsec

Add new meta tag _dd.p.appsec
  appsec/src/extension/tags.c
Due: appsec

fix llvm vs gcc flags
  config.m4
Due: none

fix dns_check_record()
  dockerfiles/ci/buster/php-7.4/0001-fix-build-scripts.patch
  dockerfiles/ci/buster/php-7.4/Dockerfile
Due: none

Fix sidecar asan
  Cargo.lock
  compile_rust.sh
  config.m4
  zend_abstract_interface/hook/tests/internal/request.cc
  zend_abstract_interface/hook/tests/internal/static.cc
Due: zend_abstract_interface, profiling, appsec

Fix sidecar asan
  Cargo.lock
  compile_rust.sh
  config.m4
  dockerfiles/ci/buster/php-7.0/0001-fix-broken-sprintf-detection.patch
  dockerfiles/ci/buster/php-7.0/0001-fix-build-scripts.patch
  dockerfiles/ci/buster/php-7.0/Dockerfile
  dockerfiles/ci/buster/php-7.1/0001-fix-build-scripts.patch
  dockerfiles/ci/buster/php-7.1/Dockerfile
  dockerfiles/ci/buster/php-7.2/0001-fix-broken-sprintf-detection.patch
  dockerfiles/ci/buster/php-7.2/0001-fix-build-scripts.patch
  dockerfiles/ci/buster/php-7.2/Dockerfile
  dockerfiles/ci/buster/php-7.3/0001-fix-build-scripts.patch
  dockerfiles/ci/buster/php-7.3/Dockerfile
  zend_abstract_interface/hook/tests/internal/request.cc
  zend_abstract_interface/hook/tests/internal/static.cc
Due: zend_abstract_interface, profiling, appsec

sdf
  dockerfiles/ci/xfail_tests/7.0.list
  dockerfiles/ci/xfail_tests/7.1.list
  dockerfiles/ci/xfail_tests/7.2.list
  dockerfiles/ci/xfail_tests/7.3.list
  dockerfiles/ci/xfail_tests/7.4.list
Due: none

Fix sidecar asan
  compile_rust.sh
  zend_abstract_interface/sandbox/tests/error.cc
Due: zend_abstract_interface, profiling, appsec

Update php 8.4 windows version
  dockerfiles/ci/windows/docker-compose.yml
Due: none

Fix everything
  .circleci/continue_config.yml
  Makefile
  compile_rust.sh
  datadog-setup.php
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-extensions.sh
  dockerfiles/ci/xfail_tests/8.4.list
  dockerfiles/ci/xfail_tests/README.md
  loader/dd_library_loader.c
  loader/tests/functional/test_incompatibility_jit.php
  tests/opcache/basic.phpt
  tests/opcache/file_cache.phpt
  tests/opcache/include.php
  tests/opcache/preload.phpt
  tests/opcache/protect_memory.phpt
  tests/opcache/resolver_cached.phpt
  zend_abstract_interface/hook/tests/internal/request.cc
  zend_abstract_interface/symbols/call.c
Due: zend_abstract_interface, profiling, appsec

update
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
Due: none
