Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Rework `remove_credentials`
  ext/git.c
  tests/ext/integrations/source_code/git_metadata_injection_remove_credentials_from_global_tags.phpt
Due: appsec

fix: PHP 7.3 tests (???)
  ext/git.c
Due: appsec

Only use `git_object` when injecting from git
  ext/git.c
  tests/Integrations/Custom/Autoloaded/GitMetadataTest.php
Due: appsec

fix: Windows compilation
  ext/git.c
Due: appsec

style: Assign to empty_git_object in main fn
  ext/git.c
  tests/ext/integrations/source_code/001-git_metadata_injection_from_valid_files.phpt
  tests/ext/integrations/source_code/002-git_metadata_injection_from_invalid_files.phpt
Due: appsec

tests: Add new tests
  tests/ext/integrations/source_code/001-git_metadata_injection_from_valid_files.phpt
  tests/ext/integrations/source_code/002-git_metadata_injection_from_invalid_files.phpt
  tests/ext/integrations/source_code/git_metadata_injection_from_files.phpt
Due: none

tests: Add new tests
  ext/git.c
  tests/Integrations/Custom/Autoloaded/GitMetadataTest.php
  tests/ext/includes/git_functions.inc
Due: appsec

style: refactor
  ext/git.c
Due: appsec

feat: Allow either of the information to be set
  ext/git.c
  ext/serializer.c
  tests/ext/integrations/source_code/002-git_metadata_injection_from_invalid_files.phpt
  tests/ext/integrations/source_code/commit_sha_env_var.phpt
  tests/ext/integrations/source_code/repository_url_env_var.phpt
Due: appsec

refactor(profiling): less unsafe code (#2739)
  profiling/src/allocation.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Due: profiling

fix: testSourceCodeIntegrationInvalidThenValid
  tests/Integrations/Custom/Autoloaded/GitMetadataTest.php
Due: none

Compile sidecar and extension separately, to link them together later
  .circleci/continue_config.yml
  Makefile
  components-rs/lib.rs
  components-rs/sidecar.rs
  config.m4
Due: appsec

fix: git_object release
  ext/ddtrace.c
  ext/git.c
Due: appsec

Make the loader loads libddtrace_php.so if found in the package directory
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
Due: none

feat: dtor git_metadata
  ext/ddtrace.c
  ext/git.c
  ext/git.h
Due: appsec

feat: ddtrace_git_metadata_dtor
  ext/ddtrace.c
  ext/git.c
  ext/git.h
Due: appsec

fix: compilation
  ext/git.c
Due: appsec

Add missing CFLAGS for linking
  config.m4
Due: none

feat: Add PDO spans to orphans removal
  src/DDTrace/Integrations/PDO/PDOIntegration.php
Due: none

Also include alpine
  .circleci/continue_config.yml
  .gitlab/ci-images.yml
  dockerfiles/ci/alpine_compile_extension/Dockerfile
  dockerfiles/ci/alpine_compile_extension/base.Dockerfile
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  tooling/bin/verify-dd-trace-php.sh
Due: appsec

Try another way to allocate git_object
  ext/git.c
Due: appsec

Respect the active service/env/version for metric tags
  ext/serializer.c
  ext/serializer.h
  ext/sidecar.c
  tests/ext/dogstatsd/metrics_over_udp.phpt
Due: appsec

Respect the active service/env/version for metric tags (#2742)
  ext/serializer.c
  ext/serializer.h
  ext/sidecar.c
  tests/ext/dogstatsd/metrics_over_udp.phpt
Due: appsec

Fix post bailout hook execution in 8.3 unoptimized builds (#2737)
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

Use efree in PHP 7.3
  ext/git.c
Due: appsec

Compile sidecar and extension separately, to link them together later (#2741)
  .circleci/continue_config.yml
  .gitlab/ci-images.yml
  Makefile
  components-rs/lib.rs
  components-rs/sidecar.rs
  config.m4
  dockerfiles/ci/alpine_compile_extension/Dockerfile
  dockerfiles/ci/alpine_compile_extension/base.Dockerfile
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
  tooling/bin/verify-dd-trace-php.sh
Due: appsec

fix: Add basic source code integration
  Makefile
  config.m4
  config.w32
  ext/configuration.h
  ext/ddtrace.h
  ext/git.c
  ext/git.h
  ext/serializer.c
  tests/ext/integrations/source_code/git_metadata_injection_from_binary.phpt
  tests/ext/integrations/source_code/git_metadata_injection_from_env.phpt
  tests/ext/integrations/source_code/git_metadata_injection_from_global_tags.phpt
  tests/ext/telemetry/config.phpt
Due: appsec

debug: Log cwd
  ext/git.c
Due: appsec

fix: Compilation issues
  ext/git.c
Due: appsec

fix: Undefined PATH_MAX on Windows
  ext/git.c
Due: appsec

fix: Wait for pipe output
  Makefile
  ext/git.c
  tests/ext/integrations/source_code/git_metadata_injection_from_binary.phpt
  tests/ext/integrations/source_code/git_metadata_injection_from_env.phpt
Due: appsec

fix: Use `-C` git option to specify directory
  ext/git.c
Due: appsec

Add more debug logs
  ext/git.c
Due: appsec

fix: Memory issues
  ext/ddtrace.c
  ext/git.c
Due: appsec

fix: X-platform cwd retrieval
  ext/git.c
Due: appsec

fix: Use `_getcwd` for windows
  ext/git.c
Due: appsec

fix: syntax error
  Makefile
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
