Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

refactor: Remove WordPress logging functionality and related configurations
  ext/configuration.h
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
Due: appsec

Store debug symbols in the SSI archive (#3217)
  .gitlab/prepare-oci-package.sh
  tooling/bin/generate-ssi-package.sh
Due: none

Make httpbin address flexible
  tests/DistributedTracing/GH1070OriginHeaderSegfault/GH1070OriginHeaderSegfaultTest.php
  tests/DistributedTracing/GH1070OriginHeaderSegfault/index.php
  tests/Integration/TracerTest.php
  tests/Integration/TracerTest_files/index.php
  tests/Integrations/CLI/Custom/Autoloaded/NoRootSpanTest.php
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/Integrations/Curl/curl_in_web_request.php
  tests/Integrations/Curl/curl_request_headers.php
  tests/Integrations/Curl/curl_request_headers_with_copied_handle.php
  tests/Integrations/Guzzle/V5/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V5/guzzle_in_distributed_web_request.php
  tests/Integrations/Guzzle/V5/guzzle_in_web_request.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V6/guzzle_in_distributed_web_request.php
  tests/Integrations/Guzzle/V6/guzzle_in_web_request.php
  tests/Integrations/PCNTL/PCNTLTest.php
  tests/Integrations/PCNTL/scripts/_functions.php
  tests/bootstrap_common.php
Due: none

feat: Add referrer hostname as span tag (#3196)
  ext/serializer.c
  tests/ext/referrer_extraction_01.phpt
  tests/ext/referrer_extraction_02.phpt
  tests/ext/referrer_extraction_03.phpt
  tests/ext/referrer_extraction_04.phpt
  tests/ext/referrer_extraction_05.phpt
Due: appsec

Ammend comment
  tests/Sapi/CliServer/CliServer.php
Due: none

Fix some tests
  .gitlab/generate-tests.php
Due: none

Fix more tests
  .gitlab/generate-tests.php
  tests/Frameworks/CakePHP/Latest/config/app.php
  tests/Frameworks/CakePHP/Version_4_5/config/app.php
  tests/Frameworks/Drupal/Version_10_1/composer.json
  tests/Frameworks/Drupal/Version_10_1/composer.lock
  tests/Frameworks/Drupal/Version_10_1/composer/Metapackage/CoreRecommended/composer.json
  tests/Frameworks/Drupal/Version_10_1/composer/Metapackage/PinnedDevDependencies/composer.json
  tests/Frameworks/Drupal/Version_10_1/core/lib/Drupal/Component/DependencyInjection/composer.json
  tests/Frameworks/Drupal/Version_10_1/core/lib/Drupal/Component/EventDispatcher/composer.json
  tests/Frameworks/Drupal/Version_8_9/composer.json
  tests/Frameworks/Drupal/Version_9_5/composer.json
  tests/Integrations/CLI/Custom/Autoloaded/NoRootSpanTest.php
  tests/Integrations/Laravel/Octane/APIGWTest.php
  tests/Integrations/Laravel/Octane/Latest/CommonScenariosTest.php
Due: none

Make Appsec blocking compatible with Laravel error handler (#3110)
  .gitignore
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Laravel8xTests.groovy
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/Laravel/LaravelIntegrationException.php
  tests/Appsec/Mock.php
  tests/Common/AppsecTestCase.php
  tests/Frameworks/Laravel/Version_10_x/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_10_x/routes/web.php
  tests/Frameworks/Laravel/Version_11_x/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_11_x/routes/web.php
  tests/Frameworks/Laravel/Version_4_2/app/controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_4_2/app/routes.php
  tests/Frameworks/Laravel/Version_5_7/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_5_7/composer.json
  tests/Frameworks/Laravel/Version_5_7/routes/web.php
  tests/Frameworks/Laravel/Version_5_8/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_5_8/composer.json
  tests/Frameworks/Laravel/Version_5_8/routes/web.php
  tests/Frameworks/Laravel/Version_8_x/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_8_x/routes/web.php
  tests/Frameworks/Laravel/Version_9_x/app/Http/Controllers/RaspTestController.php
  tests/Frameworks/Laravel/Version_9_x/routes/web.php
  tests/Integrations/Laravel/RaspEventsTestSuite.php
  tests/Integrations/Laravel/V10_x/RaspEventsTest.php
  tests/Integrations/Laravel/V4/RaspEventsTest.php
  tests/Integrations/Laravel/V5_7/RaspEventsTest.php
  tests/Integrations/Laravel/V5_8/RaspEventsTest.php
  tests/Integrations/Laravel/V8_x/RaspEventsTest.php
  tests/Integrations/Laravel/V9_x/RaspEventsTest.php
  tests/Integrations/WordPress/AutomatedLoginEventsTestSuite.php
  tests/Integrations/WordPress/V4_8/AutomatedLoginEventsTest.php
  tests/Integrations/WordPress/V5_5/AutomatedLoginEventsTest.php
  tests/Integrations/WordPress/V5_9/AutomatedLoginEventsTest.php
  tests/Integrations/WordPress/V6_1/AutomatedLoginEventsTest.php
  tests/Sapi/CliServer/CliServer.php
Due: appsec

Fix more tests
  .gitlab/generate-tests.php
  tests/Integrations/Laravel/Octane/APIGWTest.php
  tests/Integrations/Laravel/Octane/Latest/CommonScenariosTest.php
  tests/bootstrap_common.php
Due: none

Add missing build tests
  .gitlab/check_for_core_dumps.sh
  .gitlab/generate-tests.php
Due: none

Without spam
  .gitlab/collect_artifacts.sh
  .gitlab/generate-tests.php
Due: none

Fix assumptions around interned strings on PHP 7.3
  zend_abstract_interface/config/config.c
Due: zend_abstract_interface, profiling, appsec

More test fixes
  .gitlab/generate-tests.php
  Makefile
  tests/Common/BaseTestCase.php
  tests/Integration/OrphansTest.php
Due: none

Fix compilation
  .circleci/continue_config.yml
  zend_abstract_interface/config/config.c
Due: zend_abstract_interface, profiling, appsec

Escape <
  .circleci/continue_config.yml
Due: appsec

add http status error configuration
  ext/configuration.c
  ext/configuration.h
  ext/serializer.c
  tests/ext/serialization/http_client_error_status_configured.phpt
  tests/ext/serialization/http_server_error_status_configured.phpt
  tests/ext/serialization/http_server_status_with_explicit_error_set.phpt
  tests/ext/serialization/http_server_vs_client_status.diff
  tests/ext/serialization/http_server_vs_client_status.exp
  tests/ext/serialization/http_server_vs_client_status.out
  tests/ext/serialization/http_server_vs_client_status.php
  tests/ext/serialization/http_server_vs_client_status.phpt
  tests/ext/serialization/http_server_vs_client_status.sh
  tests/ext/serialization/http_status_mixed_range_configuration.phpt
  tests/ext/serialization/http_status_no_configuration_with_exception.phpt
Due: appsec

remove testing artifacts
  tests/ext/serialization/http_server_vs_client_status.diff
  tests/ext/serialization/http_server_vs_client_status.exp
  tests/ext/serialization/http_server_vs_client_status.out
  tests/ext/serialization/http_server_vs_client_status.php
  tests/ext/serialization/http_server_vs_client_status.sh
Due: none

remove some unused debug vars
  ext/configuration.c
  ext/serializer.c
Due: appsec

use a different macro
  ext/serializer.c
Due: appsec

oops missed one
  ext/serializer.c
Due: appsec

only consider http status if explicitly set
  ext/serializer.c
Due: appsec

remove custom parser
  ext/configuration.c
  ext/configuration.h
Due: appsec

Fix initial double remote config reading
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  ext/ddtrace.c
  ext/remote_config.c
  ext/sidecar.h
Due: appsec

refactoring for review
  ext/serializer.c
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
  src/DDTrace/Integrations/Psr18/Psr18Integration.php
  tests/ext/error_status_configuration/http_error_status_is_client_error.phpt
  tests/ext/error_status_configuration/http_server_error_status_configured.phpt
  tests/ext/serialization/http_client_error_status_configured.phpt
  tests/ext/serialization/http_server_error_status_configured.phpt
  tests/ext/serialization/http_server_status_with_explicit_error_set.phpt
  tests/ext/serialization/http_server_vs_client_status.phpt
  tests/ext/serialization/http_status_mixed_range_configuration.phpt
  tests/ext/serialization/http_status_no_configuration_with_exception.phpt
Due: appsec

remove left overs from local testing
  tests/ext/error_status_configuration/http_error_status_is_client_error.phpt
  tests/ext/error_status_configuration/http_server_error_status_configured.phpt
Due: none

Fix dl() in run-test properly
  dockerfiles/ci/buster/0001-Disable-ZEND_RC_MOD_CHECK-while-loading-shared-exten.patch
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/buster/php-8.0/0001-Disable-ZEND_RC_MOD_CHECK-while-loading-shared-exten.patch
  dockerfiles/ci/buster/php-8.0/Dockerfile
  dockerfiles/ci/buster/php-8.1/Dockerfile
  dockerfiles/ci/buster/php-8.2/Dockerfile
Due: none

Check server first before accessing in ddtrace_ip_extraction_find (#3216)
  ext/ip_extraction.c
Due: appsec

Update config telemetry to support stable config (#3198)
  Cargo.lock
  appsec/src/extension/configuration.c
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/telemetry.h
  components-rs/telemetry.rs
  ddtrace.sym
  ext/configuration.c
  ext/ddtrace.c
  ext/limiter/limiter.c
  ext/telemetry.c
  profiling/Cargo.toml
  profiling/src/bindings/mod.rs
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/ext/appsec/sca_flag_is_sent_01.phpt
  tests/ext/appsec/sca_flag_is_sent_02.phpt
  tests/ext/appsec/sca_flag_is_sent_03.phpt
  tests/ext/appsec/sca_flag_is_sent_04.phpt
  tests/ext/appsec/sca_flag_is_sent_05.phpt
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/fleet_config.yaml
  tests/ext/library_config/local_config.phpt
  tests/ext/library_config/local_config.yaml
  tests/ext/telemetry/config.phpt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_stable_file.c
  zend_abstract_interface/config/config_stable_file.h
Due: zend_abstract_interface, profiling, appsec

Fix assumptions around interned strings on PHP 7.3 (#3224)
  zend_abstract_interface/config/config.c
Due: zend_abstract_interface, profiling, appsec

addressing review
  ext/configuration.c
  ext/configuration.h
  ext/serializer.c
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
  src/DDTrace/Integrations/HttpClientIntegrationHelper.php
  src/DDTrace/Integrations/Psr18/Psr18Integration.php
  tests/ext/error_status_configuration/http_error_status_client_configuration.phpt
  tests/ext/error_status_configuration/http_error_status_is_client_error.phpt
  tests/ext/error_status_configuration/http_error_status_parsing.phpt
  tests/ext/error_status_configuration/http_server_error_status_configured.phpt
Due: appsec

space
  src/DDTrace/Integrations/Curl/CurlIntegration.php
Due: none

spacing
  src/DDTrace/Integrations/Curl/CurlIntegration.php
Due: none

formatting fixes
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
  src/DDTrace/Integrations/HttpClientIntegrationHelper.php
  src/DDTrace/Integrations/Psr18/Psr18Integration.php
  tests/ext/error_status_configuration/http_error_status_client_configuration.phpt
  tests/ext/error_status_configuration/http_error_status_parsing.phpt
Due: none

Fix PHP 8.1 valgrind
  dockerfiles/ci/buster/php-8.1/0001-Disable-inlining-and-inter-procedure-analyses-for-ze.patch
  dockerfiles/ci/buster/php-8.1/Dockerfile
Due: none

remove the client default
  src/DDTrace/Integrations/HttpClientIntegrationHelper.php
  tests/ext/error_status_configuration/http_error_status_client_configuration.phpt
Due: none

formatting and comment
  src/DDTrace/Integrations/HttpClientIntegrationHelper.php
Due: none

Fix PHP 8.0 patch
  dockerfiles/ci/buster/php-8.0/Dockerfile
Due: none

Incident Response (no action needed from repository owner): Trigger SDS scan
  force-scan
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
