Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

Test all standalone cases on appsec integration tests
  appsec/src/extension/commands_helpers.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/SamplingTestsInFpm.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/StandaloneTests.groovy
Due: appsec

wip
  appsec/src/extension/request_lifecycle.c
Due: appsec

Amend sampling priority on standalone
  appsec/src/extension/commands/request_init.c
  appsec/src/extension/request_lifecycle.c
Due: appsec

Misc
  appsec/src/extension/commands/request_init.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/StandaloneTests.groovy
Due: appsec

Address changes from PR
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/SamplingTestsInFpm.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/StandaloneTests.groovy
Due: appsec

Remove non necesary check
  appsec/src/extension/request_lifecycle.c
Due: appsec

Parse authorization header
  appsec/src/extension/commands/request_init.c
  appsec/src/extension/tags.c
  appsec/tests/integration/src/docker/apache2-mod/php.load
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
Due: appsec

Run auth test only on apache because of its configuration
  appsec/src/extension/tags.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Apache2ModTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
Due: appsec

Avoid sending auth over span
  appsec/src/extension/commands/request_init.c
  appsec/src/extension/tags.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Apache2ModTests.groovy
Due: appsec

ci: change notify-slo-breaches job execution condition to always in benchmarks configuration
  .gitlab/benchmarks.yml
Due: none

typo
  dockerfiles/ci/buster/php-8.2/Dockerfile
Due: none

Bump the required rust version to 1.84.1
  Cargo.toml
  README.md
  dockerfiles/ci/alpine_compile_extension/base.Dockerfile
  dockerfiles/ci/bookworm/Dockerfile
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/centos/7/base.Dockerfile
  dockerfiles/ci/windows/basetools.Dockerfile
Due: none

Fix clippy complaints
  profiling/Cargo.toml
  profiling/src/io.rs
  profiling/src/php_ffi.c
Due: profiling

Adapt to newest libdatadog changes
  Cargo.lock
  Makefile
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/library-config.h
  components-rs/remote_config.rs
  components-rs/telemetry.rs
  tests/ext/crashtracker_segfault.phpt
  tests/ext/telemetry/integration_runtime_error.phpt
Due: none

Patch php-src for compatibility with alpine:3.22
  dockerfiles/ci/alpine_compile_extension/0001-Backport-0a39890c-Fix-libxml2-2.12-build-due-to-API-.patch
  dockerfiles/ci/alpine_compile_extension/0001-Sync-callback-signature-with-libxml2-2.9.8.patch
  dockerfiles/ci/alpine_compile_extension/Dockerfile
  dockerfiles/ci/alpine_compile_extension/install-php
Due: none

Avoid dl(swoole) having undesired side-effects
  .gitlab/generate-tests.php
  dockerfiles/ci/buster/php-7.0/Dockerfile
  dockerfiles/ci/buster/php-7.1/Dockerfile
  dockerfiles/ci/buster/php-7.2/Dockerfile
  dockerfiles/ci/buster/php-7.3/Dockerfile
  dockerfiles/ci/buster/php-7.4/Dockerfile
  dockerfiles/ci/buster/php-8.0/Dockerfile
  dockerfiles/ci/buster/php-8.1/Dockerfile
  dockerfiles/ci/buster/php-8.2/Dockerfile
  dockerfiles/ci/buster/php-8.3/Dockerfile
  dockerfiles/ci/buster/php-8.4/Dockerfile
Due: none

Fix profiler compilation issues
  .gitlab/build-profiler.sh
  .gitlab/generate-profiler.php
  components-rs/remote_config.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/profiling/thread_utils.rs
Due: profiling

ensure the default GitLab behavior skips downstream if upstream didn’t run.
  .gitlab/benchmarks.yml
Due: none

delete
  .gitlab/benchmarks.yml
Due: none

Refactor code
  appsec/src/extension/tags.c
  appsec/src/extension/user_tracking.c
  ext/ddtrace.c
Due: appsec

Polyfill posix_spawn_file_actions_addchdir_np
  Cargo.lock
  components-rs/Cargo.toml
  components-rs/lib.rs
Due: none

Increase sidecar memory limit
  .gitlab/generate-tests.php
Due: none

Avoid httpbin.org in guzzle integration tests
  tests/Integrations/Guzzle/Latest/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V5/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V6/response_body_stream_closed.phpt
Due: none

Remove non required changed
  appsec/src/extension/tags.c
Due: appsec

Make user id optional
  appsec/src/extension/user_tracking.c
  appsec/tests/extension/track_user_login_success_v2_04.phpt
  appsec/tests/extension/track_user_login_success_v2_04_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_05.phpt
  appsec/tests/extension/track_user_login_success_v2_05_appsec_disabled.phpt
  ext/ddtrace.c
  tests/ext/track_user_login_success_04.phpt
  tests/ext/track_user_login_success_05.phpt
Due: appsec

Refactor sdk.event key
  appsec/src/extension/ddappsec.c
  appsec/src/extension/telemetry.c
  appsec/src/extension/telemetry.h
Due: appsec

Skip startup logging test on 7.0/7.1
  tests/ext/startup_logging_skipif_unix.inc
Due: none

More sidecar memory?
  .gitlab/generate-tests.php
Due: none

Test digest header
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Apache2ModTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
Due: appsec

update benchmark regression check script section
  .gitlab/benchmarks.yml
Due: none

chore: add PR performance quality gate
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
  .gitlab/generate-package.php
Due: none

Save reports/ artifacts
  .gitlab/benchmarks.yml
Due: none

Increase benchmark iterations and update environment variables in TraceFlushBench test
  tests/Benchmarks/API/TraceFlushBench.php
Due: none

Refactor PDOBench class for improved database setup and benchmarking
  tests/Benchmarks/Integrations/PDOBench.php
Due: none

remove (maybe) not mandatory stuff
  tests/Benchmarks/API/TraceFlushBench.php
  tests/Benchmarks/Integrations/PDOBench.php
Due: none

Update benchmark configurations for TraceFlush and PDOBench
  tests/Benchmarks/API/TraceFlushBench.php
  tests/Benchmarks/Integrations/PDOBench.php
Due: none
