Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

cleanup
  profiling/src/config.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

default disable I/O profiling
  profiling/src/config.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
Due: profiling

moar IO stuff
  profiling/src/config.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/profiling/uploader.rs
Due: profiling

add I/O profiling to MINFO
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/profiling/uploader.rs
  profiling/tests/phpt/phpinfo_01.phpt
  profiling/tests/phpt/phpinfo_03.phpt
  profiling/tests/phpt/phpinfo_06.phpt
  profiling/tests/phpt/phpinfo_07.phpt
  profiling/tests/phpt/phpinfo_ini_01.phpt
Due: profiling

cleanup
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/tests/phpt/phpinfo_01.phpt
  profiling/tests/phpt/phpinfo_03.phpt
  profiling/tests/phpt/phpinfo_06.phpt
  profiling/tests/phpt/phpinfo_07.phpt
  profiling/tests/phpt/phpinfo_ini_01.phpt
Due: profiling

mark config/env as experimental
  profiling/src/config.rs
Due: profiling

comment
  profiling/src/io.rs
Due: profiling

clean
  profiling/src/io.rs
Due: profiling

fix test
  profiling/src/config.rs
Due: profiling

comments
  profiling/src/io.rs
Due: profiling

Add comment about allignment
  profiling/src/io.rs
Due: profiling

remove left-over comment
  profiling/src/io.rs
Due: profiling

Add `sendmsg()`/`recvmsg()`
  profiling/src/io.rs
Due: profiling

better saveguard non-PHP threads sampling
  profiling/src/io.rs
Due: profiling

cargo fmt
  profiling/src/config.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/pthread.rs
Due: profiling

removed leftover trace()
  profiling/src/io.rs
Due: profiling

Add more loggin around stack generation
  appsec/src/extension/backtrace.c
Due: appsec

Fix logging message saying record action was a fail
  appsec/src/extension/request_lifecycle.c
Due: appsec

Add logging when a asm event is triggered
  appsec/src/extension/ddtrace.c
Due: appsec

Add string conversion of record reponse
  appsec/src/extension/dddefs.c
Due: appsec

Change logging messages level
  appsec/src/extension/backtrace.c
  appsec/src/extension/ddtrace.c
Due: appsec

feat(telemetry): send integration error logs through telemetry
  components-rs/ddtrace.h
  components-rs/log.rs
  components-rs/telemetry.rs
  components/telemetry/telemetry.c
  components/telemetry/telemetry.h
  config.m4
  ext/configuration.h
  ext/hook/uhook.c
  ext/integrations/integrations.c
  ext/sidecar.c
  ext/telemetry.c
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  tests/ext/telemetry/curl_helper.inc
  tests/ext/telemetry/integration_load_error.phpt
  tests/ext/telemetry/integration_runtime_error.phpt
Due: components-c, appsec

small fixes in tests and in code
  ext/telemetry.c
  tests/ext/telemetry/integration_load_error.phpt
  tests/ext/telemetry/integration_runtime_error.phpt
Due: appsec

chore: leftovers and * placement
  components-rs/log.rs
  ext/telemetry.c
  ext/telemetry.h
Due: appsec

fix: misplaced checks
  ext/autoload_php_files.c
  ext/hook/uhook.c
  ext/integrations/integrations.c
Due: appsec

review: bob review
  components-rs/Cargo.toml
  components-rs/ddtrace.h
  components-rs/log.rs
  components-rs/telemetry.rs
  components/telemetry/telemetry.c
  components/telemetry/telemetry.h
  config.m4
  ext/autoload_php_files.c
  ext/configuration.h
  ext/hook/uhook.c
  ext/integrations/integrations.c
  ext/telemetry.c
  ext/telemetry.h
  tests/ext/telemetry/integration_runtime_error.phpt
Due: components-c, appsec

auto review
  components-rs/telemetry.rs
  components/telemetry/telemetry.c
  components/telemetry/telemetry.h
  ext/sidecar.c
  ext/telemetry.c
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  tests/ext/telemetry/integration_load_error.phpt
Due: components-c, appsec

Add format to logging messages
  appsec/src/extension/backtrace.c
Due: appsec

Avoid curl dependency for test
  tests/ext/telemetry/integration_runtime_error.phpt
Due: none

feat(prof) I/O profiling preview (#3083)
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/pthread.rs
  profiling/tests/phpt/phpinfo_01.phpt
  profiling/tests/phpt/phpinfo_03.phpt
  profiling/tests/phpt/phpinfo_06.phpt
  profiling/tests/phpt/phpinfo_07.phpt
  profiling/tests/phpt/phpinfo_ini_01.phpt
Due: profiling

Add OTel integration tracking
  Makefile
  config.m4
  config.w32
  ext/ddtrace.c
  ext/hook/uhook.c
  ext/hook/uhook_otel.c
  ext/telemetry.c
  ext/telemetry.h
  src/DDTrace/OpenTelemetry/CachedInstrumentation.php
  src/bridge/_files_opentelemetry.php
  tests/Frameworks/Custom/OpenTelemetry/composer.json
  tests/OpenTelemetry/Integration/SpanProvenanceTest.php
  tests/OpenTelemetry/composer-pre-8.1.json
  tests/OpenTelemetry/composer.json
  tests/phpunit.xml
Due: appsec

Fix double evaluation of va_list
  Cargo.lock
  ext/hook/uhook.c
  ext/telemetry.c
Due: appsec

Fix OpenTelemetry makefile conflicts
  Makefile
  tests/OpenTelemetry/composer-beta-pre-8.1.json
Due: none

Work around preloaded enums being broken on early PHP 8.4 versions with observers (#3093)
  Makefile
  ext/ddtrace.c
  ext/live_debugger.c
  zend_abstract_interface/interceptor/php8/interceptor.c
  zend_abstract_interface/interceptor/php8/interceptor.h
Due: zend_abstract_interface, profiling, appsec

Improve test to be consistent across php versions
  tests/ext/telemetry/integration_runtime_error.phpt
Due: none

Finally switching string to hashtable
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/distributed_tracing_headers.c
  ext/distributed_tracing_headers.h
  ext/handlers_http.h
  ext/serializer.c
  tests/ext/distributed_tracing/distributed_trace_consume_func.phpt
Due: appsec

Fix minor valgrind warning on PHP 8.4
  zend_abstract_interface/hook/hook.c
Due: zend_abstract_interface, profiling, appsec

Handle windows directory separators
  ext/telemetry.c
  tests/ext/telemetry/integration_runtime_error.phpt
Due: appsec

feat: send integration error logs through telemetry (#3006)
  Cargo.lock
  components-rs/Cargo.toml
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/autoload_php_files.c
  ext/configuration.h
  ext/hook/uhook.c
  ext/integrations/integrations.c
  ext/telemetry.c
  ext/telemetry.h
  tests/ext/telemetry/curl_helper.inc
  tests/ext/telemetry/integration_load_error.phpt
  tests/ext/telemetry/integration_runtime_error.phpt
Due: appsec

Add OTel Integration tracking (#3084)
  Makefile
  config.m4
  config.w32
  ext/ddtrace.c
  ext/hook/uhook.c
  ext/hook/uhook_otel.c
  ext/telemetry.c
  ext/telemetry.h
  src/DDTrace/OpenTelemetry/CachedInstrumentation.php
  src/bridge/_files_opentelemetry.php
  tests/Frameworks/Custom/OpenTelemetry/composer.json
  tests/OpenTelemetry/Integration/SpanProvenanceTest.php
  tests/OpenTelemetry/composer-beta-pre-8.1.json
  tests/OpenTelemetry/composer-pre-8.1.json
  tests/OpenTelemetry/composer.json
  tests/phpunit.xml
  zend_abstract_interface/hook/hook.c
Due: zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
