Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

ci: pin github actions by hash and update via dependabot (#3067)
  .github/dependabot.yml
  .github/workflows/auto_add_pr_to_miletone.yml
  .github/workflows/auto_check_snapshots.yml
  .github/workflows/auto_label_prs.yml
  .github/workflows/prof_asan.yml
  .github/workflows/prof_correctness.yml
  .github/workflows/update_latest_versions.yml
Due: none

style(prof): [ci skip] add newline at end of file
  profiling/Cargo.toml
Due: profiling

chore(prof): apply cargo fmt and fix feature builds (#3064)
  Cargo.lock
  profiling/build.rs
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

simplify compile script
  .gitlab/compile.yml
  .gitlab/compile_extension.sh
Due: none

add missing tags
  .gitlab/compile.yml
Due: none

set CARGO_HOME explicitly
  .gitlab/compile.yml
Due: none

remove unncessary settings
  .gitlab/compile.yml
Due: none

increase CPU request
  .gitlab/compile.yml
Due: none

collapse checkout and compile
  .gitlab/compile.yml
Due: none

cache rust build target dir
  .gitlab/compile.yml
Due: none

fix code checkout
  .gitlab/compile.yml
Due: none

less cpu
  .gitlab/compile.yml
Due: none

do not chown
  .gitlab/compile.yml
Due: none

Test profiling/appssec are loaded
  loader/tests/functional/test_php_output.php
Due: none

Add profiling and appsec to SSIo
  tooling/bin/generate-ssi-package.sh
Due: none

Add the product as a tag
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
  loader/tests/functional/includes/assert.php
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_error.php
  tooling/bin/generate-ssi-package.sh
Due: none

Inject profiling and appsec
  loader/dd_library_loader.c
  loader/tests/functional/test_incompatibility_jit.php
  loader/tests/functional/test_telemetry_error.php
  tooling/bin/generate-ssi-package.sh
Due: none

poc
  ext/ddtrace.c
  ext/ddtrace.h
  ext/serializer.c
  ext/span.c
  ext/span.h
  tests/ext/inferred_proxy/basic_test.phpt
  tests/ext/inferred_proxy/error_propagated.phpt
  tests/ext/inferred_proxy/missing_headers.phpt
  tests/ext/inferred_proxy/one_inferred_span_per_local_trace.phpt
Due: appsec

Profiling is not available on PHP 7.0
  loader/dd_library_loader.c
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_php_output.php
  tooling/bin/generate-ssi-package.sh
Due: none

Add support for file based configuration (library-config)
  Cargo.lock
  Makefile
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/lib.rs
  components-rs/library-config.h
  ext/configuration.c
  ext/configuration.h
  ext/ddtrace.c
Due: appsec

Remove not needed code on tests
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

fix script
  .gitlab-ci.yml
  .gitlab/compile.yml
  .gitlab/compile_extension.sh
Due: none

Reduce noise in tests
  .circleci/continue_config.yml
  Makefile
  tests/Common/TracerTestTrait.php
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/Integrations/DeferredLoading/index.php
  tests/Integrations/Logs/LaminasLogV2/LaminasLogV2Test.php
  tests/Integrations/PCNTL/PCNTLTest.php
  tests/Integrations/PDO/PDOTest.php
  tests/Integrations/Swoole/CommonScenariosTest.php
Due: appsec

try a higher git submodule number of jobs
  .gitlab-ci.yml
Due: none

include target/ in artifacts
  .gitlab/compile.yml
Due: none

only fetch libdatadog submodule
  .gitlab/compile.yml
Due: none

narrower artifacts list
  .gitlab/compile.yml
Due: none

DO-NOT-MERGE: upload every 1s to exercise edge-cases in ddprof_upload
  Cargo.lock
  profiling/src/profiling/mod.rs
Due: profiling

first pass at langauge tests
  .gitlab-ci.yml
  .gitlab/check_for_core_dumps.sh
  .gitlab/check_test_agent.sh
  .gitlab/run_php_language_tests.sh
  .gitlab/services.yml
  .gitlab/tests.yml
Due: none

clean up COMPILE_ASAN
  .gitlab/compile_extension.sh
Due: none

Fix build of appsec helper with llvm's linker
  appsec/src/helper/helper.version
Due: appsec

ci: Setup `create_or_update_supported_versions_pr.sh` script
  .circleci/continue_config.yml
  tooling/tested_versions/aggregate_tested_versions.sh
  tooling/tested_versions/create_or_update_supported_versions_pr.sh
  tooling/tested_versions/generate_markdown.php
Due: appsec

fix: Remove authentication step
  tooling/tested_versions/create_or_update_supported_versions_pr.sh
Due: none

ci: Run `aggregate_tested_versions` only when on `master`
  .circleci/continue_config.yml
Due: appsec

chore: update test json
  aggregated_tested_versions.json
  integration_versions.md
Due: none

fix: Set default identity
  tooling/tested_versions/create_or_update_supported_versions_pr.sh
Due: none

chore: record curl version
  tests/Integrations/Curl/CurlIntegrationTest.php
Due: none

style: Rename files
  .circleci/continue_config.yml
  .gitlab/download-circleci_artifact.sh
  tooling/tested_versions/composer.json
  tooling/tested_versions/download_and_aggregate_tested_versions.sh
  tooling/tested_versions/generate_markdown_table.php
  tooling/tested_versions/generate_tested_versions_artifact.php
Due: appsec

Fix tests
  loader/tests/functional/includes/assert.php
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_complete.php
  loader/tests/functional/test_telemetry_error.php
  loader/tests/functional/test_telemetry_php5.php
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
