Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Add more log around schema generation (#2755)
  appsec/src/helper/subscriber/waf.cpp
Due: appsec

Add a check on the max glibc version
  .circleci/continue_config.yml
  loader/bin/check_glibc_version.sh
  loader/bin/test.sh
Due: appsec

Add a check on the max glibc version (#2756)
  .circleci/continue_config.yml
  loader/bin/check_glibc_version.sh
  loader/bin/test.sh
Due: appsec

Build windows container in CI
  .gitlab/ci-images.yml
  dockerfiles/ci/windows/docker-compose.yml
Due: none

Sync with libdatadog for tel flush data intval
  components-rs/sidecar.h
  ext/configuration.h
  ext/sidecar.c
Due: appsec

Add new libdatadog directories to makefile
  Makefile
Due: none

remove windows builds, not working so far
  .gitlab/ci-images.yml
Due: none

Use better way to detect GNU sed
  config.m4
Due: none

Properly handle make clean (#2753)
  config.m4
Due: none

Currently passing full AddEvent and RecordException tests
  ext/ddtrace.c
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
Due: appsec

Updating how we recordException
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
Due: none

ci: update PHP 8.1, 8.2, and 8.3 to latest patch release (#2752)
  .github/workflows/prof_asan.yml
  docker-compose.yml
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/bookworm/.env
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/windows/docker-compose.yml
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/README.md
  ext/hook/uhook.c
Due: appsec

Make generators replaceable
  ext/hook/uhook.c
  tests/ext/sandbox/install_hook/replace_generator.phpt
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

Add more logging around sampler
  appsec/src/helper/client.cpp
  appsec/src/helper/sampler.hpp
Due: appsec

Removing manually added code
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
Due: appsec

Fix global priority sampling
  ext/serializer.c
  src/DDTrace/Span.php
  src/DDTrace/Tracer.php
  tests/Unit/SpanTest.php
  tests/Unit/TracerTest.php
  tests/ext/priority_sampling/manual_global_override.phpt
Due: appsec

Fix snapshot test
  tests/snapshots/tests.integrations.guzzle.v6.guzzle_integration_test.test_multi_exec.json
Due: none

Fix global priority sampling (#2728)
  ext/serializer.c
  src/DDTrace/Span.php
  src/DDTrace/Tracer.php
  tests/Unit/SpanTest.php
  tests/Unit/TracerTest.php
  tests/ext/priority_sampling/manual_global_override.phpt
  tests/snapshots/tests.integrations.guzzle.v6.guzzle_integration_test.test_multi_exec.json
Due: appsec

Added constructor and updated args were needed
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/span.h
  src/DDTrace/OpenTelemetry/Context.php
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
Due: appsec

wip
  .circleci/continue_config.yml
Due: appsec

Init OCI packaging for SSI (#2723)
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
  .gitlab/download-circleci_artifact.sh
  .gitlab/prepare-oci-package.sh
  tooling/bin/generate-ssi-package.sh
Due: none

Fix missing incref
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

Improve SSI telemetry compatibility
  loader/dd_library_loader.c
  loader/tests/functional/test_telemetry_php5.php
Due: none

Revert "Add back OPCache Preload check"
  ext/serializer.c
Due: appsec

Improve sampler
  appsec/src/helper/sampler.hpp
  appsec/tests/helper/sampler_test.cpp
Due: appsec

Improve SSI telemetry compatibility (#2760)
  loader/dd_library_loader.c
  loader/tests/functional/test_telemetry_php5.php
Due: none

Remove scope
  appsec/src/helper/client.cpp
  appsec/src/helper/sampler.hpp
  appsec/tests/helper/sampler_test.cpp
  appsec/tests/helper/service_test.cpp
Due: appsec

Fix memory leak of git metadata
  ext/ddtrace.c
Due: appsec

Make generators replaceable (#2718)
  ext/hook/uhook.c
  tests/ext/sandbox/install_hook/replace_generator.phpt
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

Create core dumps in test_multi_observer job
  .circleci/continue_config.yml
Due: appsec

Address pr comments
  appsec/src/helper/client.cpp
  appsec/src/helper/sampler.hpp
  appsec/tests/helper/sampler_test.cpp
  appsec/tests/helper/service_test.cpp
Due: appsec

Improve sampler (#2761)
  appsec/src/helper/client.cpp
  appsec/src/helper/sampler.hpp
  appsec/tests/helper/sampler_test.cpp
  appsec/tests/helper/service_test.cpp
Due: appsec

Add system-tests/onboarding tests
  .gitlab-ci.yml
Due: none

tests: Update `DatadogLoggerTest`
  tests/Unit/Log/DatadogLoggerTest.php
Due: none

Restrict Logger permissions to 0666
  src/api/Log/DatadogLogger.php
Due: none

set php weblog for test
  .gitlab-ci.yml
Due: none

fix system-tests library
  .gitlab-ci.yml
Due: none

style: Refactor request handling prehook
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
Due: none

Switch to SSI stable pipeline
  .gitlab-ci.yml
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
