Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

style: fix clippy::identity_op
  profiling/src/shm_cache.rs
Due: profiling

fix: trampolines
  profiling/src/shm_cache.rs
Due: profiling

fix: clippy PHP7 and benchmarks
  profiling/src/lib.rs
  profiling/src/shm_cache.rs
  profiling/src/vec_ext.rs
Due: profiling

perf: ordering NTS
  profiling/src/shm_cache.rs
Due: profiling

fix: internal shm cache leaks
  profiling/src/lib.rs
  profiling/src/shm_cache.rs
Due: profiling

refactor(profiling): unify function name extraction
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/shm_cache.rs
  profiling/src/timeline.rs
  profiling/src/vec_ext.rs
Due: profiling

perf(profiling): use ProfilesDictionary for string interning
  profiling/benches/stack_walking.rs
  profiling/src/interning.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/shm_cache.rs
  profiling/src/string_set.rs
  profiling/src/timeline.rs
Due: profiling

test: fix after refactor
  profiling/src/profiling/stack_walking.rs
Due: profiling

split 7.1-8.3/8.4+
  profiling/src/lib.rs
  profiling/src/module_globals.rs
  profiling/src/profiling/backtrace.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/profiling/uploader.rs
  profiling/src/shm_cache.rs
  profiling/src/timeline.rs
Due: profiling

fix: 8.3 and below
  profiling/benches/stack_walking.rs
Due: profiling

style: fix clippy
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

fix: ZTS
  profiling/build.rs
  profiling/src/shm_cache.rs
Due: profiling

perf: use experimental libdatadog
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
Due: profiling

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Nette/Latest/composer.json
  tests/Frameworks/Slim/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Frameworks/Yii/Latest/composer.json
  tests/Integrations/AMQP/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/Logs/MonologLatest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

ci: add allow_failure to all manual jobs to prevent pipeline hanging (#3649)
  .gitlab/benchmarks.yml
  .gitlab/ci-images.yml
  .gitlab/generate-appsec.php
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
Due: none

release borrow as soon as possible
  profiling/src/wall_time.rs
Due: profiling

make clippy happy
  profiling/src/wall_time.rs
Due: profiling

fix tests
  profiling/src/php_ffi.c
  profiling/src/wall_time.rs
Due: profiling

bump libdatadog
  Cargo.lock
Due: none

fix(profiling): store and restore `errno` in I/O profiling wrappers
  profiling/src/io/mod.rs
Due: profiling

rustify :-D
  profiling/src/io/mod.rs
Due: profiling

Fix possible race condition leading to a crash upon sidecar reconnect in ZTS
  ext/sidecar.c
Due: appsec

Adds process_tags to telemetry payload (#3627)
  Cargo.lock
  Makefile
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/sidecar.c
  ext/sidecar.h
  tests/ext/telemetry/process_tags.phpt
Due: appsec

Fix #3651: Prevent crash during shutdown in Frankenphp
  ext/signals.c
Due: appsec

Block sidecar notification signal while sleeping
  ext/handlers_signal.c
Due: appsec

Add time_nanosleep
  ext/handlers_signal.c
Due: appsec

ci: add optimized release PHP variants with debug symbols
  dockerfiles/ci/bookworm/build-php.sh
  dockerfiles/ci/bookworm/php-7.0/Dockerfile
  dockerfiles/ci/bookworm/php-7.1/Dockerfile
  dockerfiles/ci/bookworm/php-7.2/Dockerfile
  dockerfiles/ci/bookworm/php-7.3/Dockerfile
  dockerfiles/ci/bookworm/php-7.4/Dockerfile
  dockerfiles/ci/bookworm/php-8.0/Dockerfile
  dockerfiles/ci/bookworm/php-8.1/Dockerfile
  dockerfiles/ci/bookworm/php-8.2/Dockerfile
  dockerfiles/ci/bookworm/php-8.3/Dockerfile
  dockerfiles/ci/bookworm/php-8.4/Dockerfile
  dockerfiles/ci/bookworm/php-8.5/Dockerfile
Due: none

bump libdatadog and update tests
  tests/ext/crashtracker_process_tags.phpt
Due: none

fix(profiling): store and restore `errno` in I/O profiling wrappers (#3654)
  profiling/src/io/mod.rs
Due: profiling

merge process_tags into existing tests
  tests/ext/crashtracker_process_tags.phpt
  tests/ext/crashtracker_segfault.phpt
  tests/ext/crashtracker_segfault_windows.phpt
Due: none

Adds process tags to remote config payload
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  ext/process_tags.c
  ext/process_tags.h
  ext/sidecar.c
  tests/ext/remote_config/process_tags.phpt
Due: appsec

Block sidecar notification signal while sleeping (#3656)
  ext/handlers_signal.c
Due: appsec

Fix possible race condition leading to a crash upon sidecar reconnect in ZTS (#3655)
  ext/sidecar.c
Due: appsec

Adds process_tags to crashtracking tags (#3582)
  ext/sidecar.c
  tests/ext/crashtracker_segfault.phpt
  tests/ext/crashtracker_segfault_windows.phpt
Due: appsec

refactor(profiling): ErrnoBackup::new is safe
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/io/mod.rs
Due: profiling

feat(prof): add I/O profiling for macOS
  profiling/src/io/got_elf64.rs
  profiling/src/io/got_macho.rs
  profiling/src/io/mod.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Due: profiling

test(profiling): adds correctness tests for I/O profiling
  .github/workflows/prof_correctness.yml
  profiling/src/profiling/sample_type_filter.rs
  profiling/tests/correctness/io.json
  profiling/tests/correctness/io.php
Due: profiling

Add helper_runtime tag to appsec telemetry and spans
  appsec/helper-rust/Cargo.lock
  appsec/helper-rust/Cargo.toml
  appsec/helper-rust/src/client.rs
  appsec/helper-rust/src/client/log.rs
  appsec/helper-rust/src/client/protocol.rs
  appsec/helper-rust/src/lib.rs
  appsec/helper-rust/src/service.rs
  appsec/helper-rust/src/telemetry.rs
  appsec/helper-rust/src/telemetry/error_tel_ctx.rs
  appsec/helper-rust/src/telemetry/sidecar.rs
  appsec/helper-rust/src/telemetry/tel_aware_logger.rs
  appsec/src/extension/commands/client_init.c
  appsec/src/extension/configuration.h
  appsec/src/extension/ddappsec.c
  appsec/src/extension/helper_process.c
  appsec/src/extension/helper_process.h
  appsec/src/extension/tags.c
  appsec/src/extension/telemetry.c
  appsec/src/helper/client.cpp
  appsec/src/helper/network/proto.hpp
  appsec/tests/extension/client_init_fail.phpt
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/client_init_wrong_version.phpt
  appsec/tests/extension/inc/mock_helper.php
  appsec/tests/extension/request_exec.phpt
  appsec/tests/helper/client_test.cpp
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/TelemetryHelpers.groovy
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
  appsec/tests/integration/src/test/bin/enable_extensions.sh
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
  appsec/tests/integration/src/test/www/base/public/send_invalid_msg.php
Due: appsec

feat(tracer): add configuration for connection mode
  ext/configuration.c
  ext/configuration.h
  ext/ddtrace_arginfo.h
Due: appsec

feat(tracer): add sidecar thread listener module
  components-rs/ddtrace.h
  components-rs/sidecar.h
Due: none
