Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Fix race condition in /info fetching in tests (#3819)
  tests/ext/request-replayer/client_side_stats_peer_tags.phpt
  tests/ext/request-replayer/client_side_stats_trace_filters.phpt
Due: none

Update to compatibility with latest master (#3804)
  ext/compat_string.c
  ext/engine_hooks.h
  ext/handlers_kafka.c
  ext/hook/uhook_legacy.c
  ext/serializer.c
  zend_abstract_interface/config/config_decode.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/interceptor/tests/resolver.cc
  zend_abstract_interface/json/json.c
  zend_abstract_interface/sandbox/sandbox.h
  zend_abstract_interface/uri_normalization/tests/uri_normalization.cc
Due: zend_abstract_interface, profiling, appsec

Fix duration of httpstream and live debugger spans
  ext/handlers_httpstreams.c
  ext/live_debugger.c
Due: appsec

fix(profiling): use Rust thread_local for ZendMMState on ZTS
  profiling/src/allocation/mod.rs
  profiling/src/module_globals.rs
Due: profiling

fix(stats): don't feed inferred proxy spans to client-side stats concentrator
  ext/serializer.c
Due: appsec

fix(appsec): fix inverted metric registration refresh condition in helper-rust
  appsec/helper-rust/src/telemetry/sidecar.rs
Due: appsec

fix(ci): set ChocolateyInstall env var default for pre-installed Chocolatey on Windows runners
  dockerfiles/verify_packages/verify_windows.ps1
Due: none

Fix duration of httpstream and live debugger spans (#3821)
  ext/handlers_httpstreams.c
  ext/live_debugger.c
Due: appsec

ci: fix exit 75 retry by adding explicit retry config to all base templates
  .gitlab/generate-appsec.php
  .gitlab/generate-common.php
  .gitlab/generate-package.php
  .gitlab/generate-shared.php
  .gitlab/generate-tracer.php
  .gitlab/wait-for-service-ready.sh
Due: none

Allow dumping shm data directly for inspection
  components-rs/Cargo.toml
  components-rs/agent_info.rs
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  ext/ddtrace.c
  tests/ext/shm_data_internal_fns.phpt
Due: appsec

Use a webserver-wide session id instead of per fork
  Cargo.lock
  appsec/tests/extension/rinit_rshutdown_basic.phpt
  components-rs/ddtrace.h
  components-rs/lib.rs
  ext/ddtrace.c
  ext/sidecar.c
Due: appsec

Continuously integrate libdatadog via scheduled job
  .github/chainguard/gitlab-ci-libdatadog-latest.sts.yaml
  .gitignore
  .gitlab-ci.yml
  .gitlab/generate-common.php
  .gitlab/libdatadog-latest-prompt.md
  .gitlab/libdatadog-latest.yml
Due: none

helper-rust: improve diagnosability of rc failures
  appsec/helper-rust/src/rc.rs
  appsec/helper-rust/src/service.rs
Due: appsec

helper-rust: fix rasp timeouts not being reported in their metric
  appsec/helper-rust/src/client/metrics.rs
Due: appsec

helper-rust: avoid unnecessary waf updates; remove old cfd before adding
  appsec/helper-rust/src/rc.rs
  appsec/helper-rust/src/service.rs
  appsec/helper-rust/src/service/waf_diag.rs
  appsec/tests/integration/build.gradle
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
Due: appsec

helper-rust: fix inverted condition
  appsec/helper-rust/src/telemetry/sidecar.rs
Due: appsec

helper-rust: remove buggy but unused Clone impl
  appsec/helper-rust/src/client.rs
Due: appsec

helper-rust: fix build
  appsec/helper-rust/src/client/metrics.rs
  appsec/helper-rust/src/rc.rs
  appsec/helper-rust/src/service/metrics.rs
  appsec/helper-rust/src/service/updateable_waf.rs
Due: appsec

helper-rust: defensively prevent wrapping in subtraction
  appsec/helper-rust/src/client/log.rs
  appsec/helper-rust/src/service/metrics.rs
Due: appsec

rust helper: don't collect backtraces in rc error path
  appsec/helper-rust/src/service.rs
Due: appsec

helper-rust: restore initial ruleset when ASM_DD config addition fails; fix racy telemetry log test
  appsec/helper-rust/src/service/updateable_waf.rs
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

helper-rust: avoid spurious service recreations with remote config disabled
  appsec/helper-rust/src/client/protocol.rs
  appsec/helper-rust/src/service.rs
Due: appsec

ci: add script_failure to retry_on_infra_failure and revert kafka test artifact
  .gitlab/generate-common.php
  .gitlab/generate-tracer.php
  .gitlab/wait-for-service-ready.sh
Due: none

ci: remove explicit retry overrides from ASAN test_c and PHP Language Tests
  .gitlab/generate-tracer.php
Due: none

ci: test retry with when: always to diagnose before_script retry behavior
  .gitlab/generate-common.php
Due: none

ci: add script_failure retry to .cli_integration_test for service wait failures
  .gitlab/generate-common.php
  .gitlab/generate-tracer.php
Due: none

ci: add exit_codes: [75] to .cli_integration_test retry to test filtering
  .gitlab/generate-common.php
Due: none

ci: add exit_codes: [75] retry directly on kafka job definitions to test filtering
  .gitlab/generate-common.php
  .gitlab/generate-tracer.php
Due: none

ci: add retry test jobs to diagnose exit_codes behavior
  .gitlab/generate-tracer.php
Due: none

ci: fix kafka retry - use exit_codes: [75] alone (no when:)
  .gitlab/generate-tracer.php
Due: none

ci: update retry test jobs with when: [infra] + exit_codes: [75]
  .gitlab/generate-tracer.php
Due: none

ci: apply confirmed working retry config to kafka jobs
  .gitlab/generate-common.php
  .gitlab/generate-tracer.php
Due: none

ci: update retry test jobs to use inheritance via .retry-test-base
  .gitlab/generate-tracer.php
Due: none

ci: test retry via default: block - remove retry from .retry-test-base
  .gitlab/generate-tracer.php
Due: none

test: remove explicit retry overrides, rely on default block; add exit code tests to ASAN test_c and test_extension_ci
  .gitlab/generate-tracer.php
Due: none

test: remove remaining retry_on_* overrides from appsec, shared, and package pipelines
  .gitlab/generate-appsec.php
  .gitlab/generate-package.php
  .gitlab/generate-shared.php
Due: none

remove retry_on_infra_failure and retry_on_script_and_infra_failure — superseded by default block
  .gitlab/generate-common.php
Due: none

revert wait-for-service-ready test artifacts (exit 1/75 in success paths)
  .gitlab/wait-for-service-ready.sh
Due: none

test: enable FF_ENABLE_BASH_EXIT_CODE_CHECK and FF_USE_NEW_BASH_EVAL_STRATEGY on test_c and kafka jobs to verify exit code propagation
  .gitlab/generate-tracer.php
  .gitlab/wait-for-service-ready.sh
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
