Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

fix: Rename controllers to be capitalized
  tests/Frameworks/CodeIgniter/Version_3_1/application/config/routes.php
  tests/Frameworks/CodeIgniter/Version_3_1/application/controllers/Error_.php
  tests/Frameworks/CodeIgniter/Version_3_1/application/controllers/Simple.php
  tests/Frameworks/CodeIgniter/Version_3_1/application/controllers/Simple_view.php
Due: none

fix: Add ignored core files
  tests/Frameworks/CodeIgniter/Version_3_1/application/core/index.html
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Benchmark.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/CodeIgniter.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Common.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Config.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Controller.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Exceptions.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Hooks.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Input.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Lang.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Loader.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Log.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Model.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Output.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Router.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Security.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/URI.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/Utf8.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/compat/hash.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/compat/index.html
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/compat/mbstring.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/compat/password.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/compat/standard.php
  tests/Frameworks/CodeIgniter/Version_3_1/system/core/index.html
Due: none

tests: Update Snapshots
  src/Integrations/Integrations/CodeIgniter/V2/CodeIgniterIntegration.php
  tests/Integrations/CodeIgniter/V3_1/CommonScenariosTest.php
  tests/Integrations/CodeIgniter/V3_1/ExitTest.php
  tests/Integrations/CodeIgniter/V3_1/NoCIControllerTest.php
  tests/snapshots/integrations.code_igniter.v3_1.no_ci_controller_test.test_scenario_health_check.json
  tests/snapshots/tests.integrations.code_igniter.v3_1.common_scenarios_test.test_scenario_get_parameterized.json
  tests/snapshots/tests.integrations.code_igniter.v3_1.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.code_igniter.v3_1.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.code_igniter.v3_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.code_igniter.v3_1.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.code_igniter.v3_1.exit_test.test_scenario_exit.json
Due: none

Version reporting improvements (#2588)
  Makefile
  tests/Common/IntegrationTestCase.php
Due: none

tests: Update Snapshots
  tests/Integrations/CodeIgniter/V3_1/CommonScenariosTest.php
  tests/snapshots/tests.integrations.code_igniter.v3_1.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.code_igniter.v3_1.common_scenarios_test.test_scenario_get_with_exception.json
Due: none

Update package.xml
  package.xml
Due: none

tests: Handle Cgi/Non-Cgi scenarios
  tests/Integrations/CodeIgniter/V3_1/CommonScenariosTest.php
  tests/snapshots/tests.integrations.code_igniter.v3_1.common_scenarios_test.test_scenario_get_to_missing_route_cgi.json
  tests/snapshots/tests.integrations.code_igniter.v3_1.common_scenarios_test.test_scenario_get_with_exception_cgi.json
Due: none

fix: Snapshots
  tests/snapshots/tests.integrations.code_igniter.v3_1.common_scenarios_test.test_scenario_get_with_exception.json
Due: none

tests: Handle 8.2/8.3
  tests/Integrations/CodeIgniter/V3_1/CommonScenariosTest.php
Due: none

Release 0.99.0 (#2603)
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  github-actions-helpers/Build.cs
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling, appsec

perf: Only generate default resource for root span
  src/DDTrace/OpenTelemetry/Context.php
Due: none

perf: Don't do safety key/value check
  src/DDTrace/OpenTelemetry/Context.php
  src/DDTrace/OpenTelemetry/Span.php
  src/Integrations/Util/ObjectKVStore.php
Due: none

Fix asan leak on fork in PHP 8.2 buster container
  dockerfiles/ci/buster/0001-Delete-timers-on-fork.patch
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/buster/php-8.2/Dockerfile
Due: none

docs: UPGRADE-1.0.md
  UPGRADE-1.0.md
Due: none

fix: href
  UPGRADE-1.0.md
Due: none

Add one xfail for 8.2
  dockerfiles/ci/xfail_tests/8.2.list
Due: none

add `info.json` with start time
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

Increase benchmark iterations on flakiest benchmarks
  tests/Benchmarks/API/ContextPropagationBench.php
  tests/Benchmarks/API/SamplingRuleMatchingBench.php
  tests/Benchmarks/API/TraceSerializationBench.php
Due: none

Revert "build(profiling): update to libdatadog v7 (#2605)"
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/profiling/uploader.rs
Due: profiling

Revert "Send `spans_created` telemetry metric (#2577)"
  Makefile
  components-rs/ddtrace.h
  components-rs/telemetry.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/span.c
  ext/span.h
  ext/telemetry.c
  ext/telemetry.h
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTracer/Tracer.php
  src/DDTrace/OpenTracer1/Tracer.php
  tests/Common/CLITestCase.php
  tests/Common/TracerTestTrait.php
  tests/Frameworks/Custom/OpenTelemetry/composer.json
  tests/Frameworks/Custom/OpenTelemetry/index.php
  tests/Frameworks/Custom/OpenTracing/composer.json
  tests/Frameworks/Custom/OpenTracing/index.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
  tests/OpenTracing/InternalTelemetryTest.php
  tests/ext/telemetry/metrics.phpt
  tests/phpunit.xml
Due: appsec

bump version
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  github-actions-helpers/Build.cs
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling, appsec

update `package.xml` with release notes
  package.xml
Due: none

Fix compilation on macOs
  compile_rust.sh
Due: none

Fix compilation on macOs (#2613)
  compile_rust.sh
Due: none

fix: Hook not being removed
  src/Integrations/Integrations/ElasticSearch/V8/ElasticSearchIntegration.php
Due: none

style: Remove unused import
  src/Integrations/Integrations/ElasticSearch/V8/ElasticSearchIntegration.php
Due: none

fix(elasticsearch): Hook not being removed (#2616)
  src/Integrations/Integrations/ElasticSearch/V8/ElasticSearchIntegration.php
Due: none

Fix asan leak on fork in PHP 8.2 buster container (#2608)
  dockerfiles/ci/buster/0001-Delete-timers-on-fork.patch
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/buster/php-8.2/Dockerfile
  dockerfiles/ci/xfail_tests/8.2.list
Due: none

feat: Add the php-dogstatsd submodule to the project
  .gitmodules
Due: none

chora: Add the php-dogstatsd submodule to the bridge
  bridge/_files_api.php
Due: none

feat: Add the php-dogstatsd submodule to the project
  .gitmodules
  src/bridge/_files_api.php
Due: none

(draft) feat: Send `wordpress.hook.duration` metrics
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
Due: none

disable Appsec when FrankenPHP SAPI is detected
  appsec/src/extension/ddappsec.c
Due: appsec

disable Appsec when FrankenPHP SAPI is detected (#2617)
  appsec/src/extension/ddappsec.c
Due: appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
