Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Amend lint errors
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
Due: appsec

Refactor setting request sample rate
  appsec/src/helper/client.cpp
  appsec/src/helper/sampler.hpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service_config.hpp
  appsec/tests/helper/remote_config/listeners/asm_features_listener_test.cpp
  appsec/tests/helper/sampler_test.cpp
Due: appsec

Adapt api security parsing
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.hpp
  appsec/tests/helper/remote_config/listeners/asm_features_listener_test.cpp
Due: appsec

Amend failing test
  appsec/src/helper/sampler.hpp
  appsec/tests/helper/remote_config/listeners/asm_features_listener_test.cpp
Due: appsec

Refactor sampler
  appsec/src/helper/sampler.hpp
Due: appsec

Refactor sampler
  appsec/src/helper/sampler.hpp
  appsec/tests/helper/sampler_test.cpp
Due: appsec

fix: Installer tests version lock
  dockerfiles/verify_packages/installer/test_install_custom_ini_file.sh
Due: none

fix: Installer tests version lock
  dockerfiles/verify_packages/installer/test_install_custom_ext_dir_and_ini.sh
  dockerfiles/verify_packages/installer/test_install_custom_extension_directory.sh
Due: none

fix: Installer tests version lock (#2630)
  dockerfiles/verify_packages/installer/test_install_custom_ext_dir_and_ini.sh
  dockerfiles/verify_packages/installer/test_install_custom_extension_directory.sh
  dockerfiles/verify_packages/installer/test_install_custom_ini_file.sh
Due: none

Do not check get_DD_TRACE_ENABLED() outside of a request
  ext/profiling.c
Due: appsec

Add libdatadog-apm as codeowners of libdatadog's related code.
  .github/CODEOWNERS
Due: none

fix some easy clippy complaints
  profiling/src/allocation.rs
  profiling/src/logging.rs
  profiling/src/profiling/mod.rs
Due: profiling

First attempt at adding kafka handlers
  config.m4
  config.w32
  ext/handlers_api.c
  ext/handlers_internal.c
  ext/handlers_librdkafka.c
Due: profiling, appsec

Fix PR comments.
  .github/CODEOWNERS
Due: none

Add libdatadog-apm as codeowners. (#2632)
  .github/CODEOWNERS
Due: none

Update to match MaybeError changes in libdatadog
  components-rs/common.h
  components-rs/sidecar.rs
  components-rs/telemetry.h
  components-rs/telemetry.rs
  ext/auto_flush.c
  ext/sidecar.h
Due: appsec

Update to match MaybeError changes in libdatadog (#2634)
  components-rs/common.h
  components-rs/sidecar.rs
  components-rs/telemetry.h
  components-rs/telemetry.rs
  ext/auto_flush.c
  ext/sidecar.h
Due: appsec

style(profiling): fix some easy clippy lints (#2633)
  profiling/src/allocation.rs
  profiling/src/logging.rs
  profiling/src/profiling/mod.rs
Due: profiling

lint(profiling): fix clippy::useless_conversion
  profiling/build.rs
Due: profiling

lint(profiling): avoid creating a shared reference to mutable static
  profiling/src/allocation.rs
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/timeline.rs
Due: profiling

lint(profiling): fix unused func in stack walking test
  profiling/src/php_ffi.c
  profiling/src/profiling/stalk_walking.rs
Due: profiling

lint(profiling): fix clippy::large_enum_variant
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

ci(profiling): run clippy for NTS builds
  .circleci/continue_config.yml
Due: appsec

lint(profiling): fix clippy::result_large_err
  profiling/src/profiling/mod.rs
Due: profiling

ci(profiling): clippy only on x86_64-unknown-linux-gnu
  .circleci/continue_config.yml
Due: appsec

lint(profiling): unused-unsafe
  profiling/benches/stack_walking.rs
Due: profiling

lint(profiling): fix unused StringTable
  profiling/src/lib.rs
  profiling/src/profiling/stalk_walking.rs
Due: profiling

lint(profiling): fix -Wunused-parameter for PHP 7
  profiling/src/php_ffi.c
Due: profiling

lint(profiling): fix unused imports for PHP 7
  profiling/src/profiling/stalk_walking.rs
  profiling/src/timeline.rs
Due: profiling

Refactor sampler
  appsec/src/helper/client.cpp
  appsec/src/helper/sampler.hpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service.hpp
  appsec/src/helper/service_config.hpp
  appsec/tests/helper/remote_config/listeners/asm_features_listener_test.cpp
  appsec/tests/helper/sampler_test.cpp
  appsec/tests/helper/service_test.cpp
Due: appsec

Do not check get_DD_TRACE_ENABLED() outside of a request (#2631)
  ext/profiling.c
Due: appsec

ci(profiling): run clippy, fix lints (#2635)
  .circleci/continue_config.yml
  profiling/benches/stack_walking.rs
  profiling/build.rs
  profiling/src/allocation.rs
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stalk_walking.rs
  profiling/src/profiling/uploader.rs
  profiling/src/timeline.rs
Due: profiling, appsec

refactor(profiling): stack walking cleanup
  profiling/benches/stack_walking.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/profiling/stalk_walking.rs
Due: profiling

feat: DD_TRACE_AGENT_DEBUG_VERBOSE_CURL_FILE
  ext/coms.c
  ext/configuration.h
Due: appsec

Make sampler atomic
  appsec/src/helper/sampler.hpp
  appsec/src/helper/service.hpp
Due: appsec

add debug logs
  ext/coms.c
Due: appsec

perf(profiling): remove helper/closure :'(
  profiling/src/profiling/stack_walking.rs
Due: profiling

refactor(profiling): shrink env/service/version and simplify
  profiling/src/config.rs
  profiling/src/lib.rs
Due: profiling

More debug logs
  ext/comms_php.c
  ext/coms.c
Due: appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
