Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

fix(ci): retry benchmarks without runner credentials
  .gitlab/benchmarks.yml
  .gitlab/run-microbenchmarks.sh
Due: none

fix(ci): avoid profiler module check SIGPIPE
  .gitlab/generate-profiler.php
Due: none

fix(tests): isolate sidecar reconnect telemetry
  tests/ext/telemetry/broken_pipe.phpt
Due: none

test(windows): capture remote config crash dumps
  .gitlab/enable-windows-test-dumps.ps1
  .gitlab/generate-tracer.php
Due: none

fix(tests): serialize sidecar reconnect telemetry
  tests/ext/telemetry/broken_pipe.phpt
Due: none

test(windows): capture dumps for all crashes
  .gitlab/enable-windows-test-dumps.ps1
  .gitlab/generate-tracer.php
Due: none

fix(appsec): make RASP duration test deterministic
  appsec/tests/extension/rasp_duration_ext_user_requests.phpt
  appsec/tests/mock_helper/mock_helper_main.cc
Due: appsec

fix(windows): wait for remote config callbacks at shutdown
  components-rs/libdatadog-php.sym
  components-rs/sidecar.h
  ext/remote_config.c
  ext/remote_config.h
Due: appsec

fix(windows): include callback ABI declarations
  ext/remote_config.h
Due: appsec

fix: shutdown crash in remote config
  ext/datadog.c
  ext/remote_config.c
  ext/sidecar.c
  tests/ext/remote_config/dynamic_config_late_shutdown.phpt
Due: appsec

fix(windows): avoid legacy Winsock callback dependency
  ext/remote_config.h
Due: appsec

ci: retry LLVM linker allocator crashes
  .gitlab/generate-shared.php
  .gitlab/run-make-with-infra-retry.sh
Due: none

fix(windows): declare remote callback without SDK headers
  ext/remote_config.c
  ext/remote_config.h
Due: appsec

fix: live debugger prshutdown
  ext/datadog.c
  tests/ext/live-debugger/debugger_rshutdown_remote_config.phpt
  tests/ext/remote_config/dynamic_config_late_shutdown.phpt
  tracer/ddtrace.c
  tracer/functions.c
Due: appsec

Update dynamic_config_late_shutdown.phpt
  tests/ext/remote_config/dynamic_config_late_shutdown.phpt
Due: none

Make forced signal flush raw-clone safe
  components-rs/datadog.h
  components-rs/lib.rs
  components-rs/signal_flush.rs
  ext/sidecar.c
  ext/signals.c
  ext/signals.h
  ext/threads.c
  ext/threads.h
Due: appsec

fix(profiling): disable I/O profiling with ext-grpc
  profiling/build.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/tests/phpt/grpc_io_disabled.phpt
  profiling/tests/phpt/native_thread_alloc_01.phpt
Due: profiling

test(profiling): cover mixed-size allocation upscaling
  .github/workflows/prof_correctness.yml
  profiling/tests/correctness/allocation_upscaling_mixed_sizes.json
  profiling/tests/correctness/allocation_upscaling_mixed_sizes.php
Due: profiling

build(profiling): pin upstream Poisson upscaling fix
  .gitmodules
  Cargo.lock
Due: none

test(profiling): keep grpc loaded for leak checks
  profiling/tests/phpt/grpc_io_disabled.phpt
Due: profiling

fix(remote-config): late shutdown crash (#4220)
  ext/datadog.c
  ext/remote_config.c
  ext/sidecar.c
  tests/ext/live-debugger/debugger_rshutdown_remote_config.phpt
  tests/ext/remote_config/dynamic_config_late_shutdown.phpt
  tracer/ddtrace.c
  tracer/functions.c
Due: appsec

fix(profiling): group Poisson samples by hidden event size
  profiling/src/profiler/mod.rs
Due: profiling

explicitely add retries for benchmarking jobs
  .gitlab/benchmarks.yml
Due: none

test(profiling): skip grpc test when extension is missing
  profiling/tests/phpt/grpc_io_disabled.phpt
Due: profiling

build: add local cached Bazel development defaults
  .bazelrc
  .gitignore
  bazel/README.md
Due: none

build: restore executable modes after signed push
  bazel/dependencies/appsec_libxml2/build-libxml2.sh
  bazel/dependencies/php_oci/validate_offline.sh
  bazel/dependencies/target_curl_oci/validate-curl-sdk.sh
  bazel/evidence/checkpoint-2026-09-17/loader-packaging-recheck.sh
  bazel/evidence/checkpoint-2026-09-17/tracer-native-replay.sh
  bazel/generators/host-php-smoke.sh
  bazel/generators/preflight-host-php.sh
  bazel/generators/run-bridge-generator.sh
  bazel/products/tracer/fat/check-symbol-manifest.sh
  bazel/rust/materialize_profiler_bindings.sh
  tools/bazel/assemble-ssi-payload.sh
  tools/bazel/check-generation-lock.sh
  tools/bazel/check-matrix.sh
  tools/bazel/deterministic-tar.sh
  tools/bazel/test-matrix-validation.sh
  tools/bazel/test-ssi-payload.sh
  tools/bazel/validate-built-php-artifacts.sh
Due: none

ci: gate pipeline to benchmark jobs for stability monitoring
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
Due: none

fix(ci): constrain Symfony Twig versions
  tests/Frameworks/Symfony/Version_5_2/composer.json
  tests/Frameworks/Symfony/Version_6_2/composer.json
  tests/Frameworks/Symfony/Version_6_2/composer.lock
Due: none

fix(ci): propagate exhausted Composer retries
  Makefile
Due: none

fix(debugger): wait for shared probes without racing
  tests/ext/live-debugger/debugger_remove_shared_probe_id.phpt
  tests/ext/live-debugger/live_debugger.inc
Due: none

fix(tests): isolate Swoole runner remote config
  Makefile
  tests/Common/IntegrationTestCase.php
Due: none

fix(ci): keep sidecar covered by valgrind
  .gitlab/generate-tracer.php
Due: none

fix(ci): preserve Windows failure diagnostics
  .gitlab/generate-tracer.php
Due: none

fix(ci): retain minimum-install sidecar logs
  .gitlab/generate-package.php
Due: none

fix(ci): update Symfony 3.4 Composer scripts
  tests/Frameworks/Symfony/Version_3_4/composer.json
Due: none

fix(ci): support Laravel tests on MySQL 5.6
  tests/Frameworks/Laravel/Latest/app/Providers/AppServiceProvider.php
  tests/Frameworks/Laravel/Version_11_x/app/Providers/AppServiceProvider.php
Due: none

fix(ci): avoid changing Laminas cache permissions
  tests/Frameworks/Laminas/ApiTools/Latest/composer.json
Due: none

fix(tooling): use GitLab OAuth for artifacts
  tooling/bin/download-artifacts
Due: none
