Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  version: 2

  setup-workflows:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue_config.yml
          # <path regular expression> <pipeline parameter>  <value>
          mapping: |
            components/.*  components-c  true
            zend_abstract_interface/.*  zend_abstract_interface true
            zend_abstract_interface/.*  profiling true
            profiling/.*  profiling true
            ext/handlers_api.[ch] profiling true

Move Laravel integration to deferred loading
  ext/integrations/integrations.c
  src/Integrations/Integrations/IntegrationsLoader.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
Due: none

Accept multiple set of tags in withExtactTags
  tests/Common/SpanAssertion.php
Due: none

Fix PHPRedis 4 tests
  tests/Integrations/PHPRedis/V4/PHPRedisTest.php
Due: none

Load Laravel Integration when Lumen app used
  ext/integrations/integrations.c
Due: none

refactor: extract error helper and fmt
  profiling/src/allocation.rs
  profiling/src/interrupter.rs
Due: profiling

Try parking
  profiling/src/interrupter.rs
  profiling/src/pcntl.rs
  profiling/src/profiling/mod.rs
Due: profiling

Use parking and catch_unwind
  profiling/src/interrupter.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
  profiling/src/thread_utils.rs
Due: profiling

Remove catch_unwind; thread_spawn already does this
  profiling/src/thread_utils.rs
Due: profiling

fix cargo tests
  profiling/src/profiling/mod.rs
Due: profiling

Add peer.service sources to Mysqli instrumentation (#2142)
  src/Integrations/Integrations/DatabaseIntegrationHelper.php
  src/Integrations/Integrations/Mysqli/MysqliCommon.php
  src/Integrations/Integrations/Mysqli/MysqliIntegration.php
  src/Integrations/Integrations/PDO/PDOIntegration.php
  src/api/Tag.php
  tests/Common/BaseTestCase.php
  tests/Integrations/Mysqli/MysqliTest.php
  tests/api/Unit/UserAvailableConstantsTest.php
Due: none

Play safer when calling methods on integrations
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
Due: none

Fix PHPRedis 4 tests
  tests/Integrations/PHPRedis/V4/PHPRedisClusterTest.php
  tests/Integrations/PHPRedis/V4/PHPRedisTest.php
  tests/Integrations/PHPRedis/V5/PHPRedisTest.php
Due: none

Sort the xfail lists [ci skip]
  dockerfiles/ci/xfail_tests/7.0.list
  dockerfiles/ci/xfail_tests/7.1.list
  dockerfiles/ci/xfail_tests/7.2.list
  dockerfiles/ci/xfail_tests/7.3.list
  dockerfiles/ci/xfail_tests/7.4.list
  dockerfiles/ci/xfail_tests/8.0.list
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
Due: none

Sort the xfail lists (#2154)
  dockerfiles/ci/xfail_tests/7.0.list
  dockerfiles/ci/xfail_tests/7.1.list
  dockerfiles/ci/xfail_tests/7.2.list
  dockerfiles/ci/xfail_tests/7.3.list
  dockerfiles/ci/xfail_tests/7.4.list
  dockerfiles/ci/xfail_tests/8.0.list
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
Due: none

Fix PHPRedis 3 tests
  tests/Integrations/PHPRedis/V3/PHPRedisClusterTest.php
  tests/Integrations/PHPRedis/V3/PHPRedisTest.php
Due: none

clear the time interrupter on error so it gets recreated
  profiling/src/interrupter.rs
  profiling/src/lib.rs
Due: profiling

Fix comments
  tests/Common/SpanAssertion.php
Due: none

Add peer.service sources to PDO integration
  src/Integrations/Integrations/DatabaseIntegrationHelper.php
  src/Integrations/Integrations/PDO/PDOIntegration.php
  tests/Integrations/PDO/PDOTest.php
Due: none

Limit changes to PHP 7+
  src/Integrations/Integrations/PDO/PDOIntegration.php
Due: none

Support case when we explicitly want NOT to test exact tags
  tests/Common/SpanAssertion.php
Due: none

Add peer.service to sqlsrv spans
  src/Integrations/Integrations/DatabaseIntegrationHelper.php
  src/Integrations/Integrations/SQLSRV/SQLSRVIntegration.php
  tests/Integrations/SQLSRV/SQLSRVTest.php
  tests/composer.json
Due: none

ci: skip online tests due to flakiness
  .circleci/continue_config.yml
Due: none

undo renaming of "sample" to "wall-samples"
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stalk_walking.rs
Due: profiling

Set peer.service sources only on PHP 7+
  src/Integrations/Integrations/Memcache/MemcacheIntegration.php
  src/Integrations/Integrations/Memcached/MemcachedIntegration.php
Due: none

optimize timestamp
  profiling/src/allocation.rs
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
Due: profiling

Add peer.service to http clients
  bridge/_files_integrations.php
  src/Integrations/Integrations/Curl/CurlIntegration.php
  src/Integrations/Integrations/Guzzle/GuzzleIntegration.php
  src/Integrations/Integrations/HttpClientIntegrationHelper.php
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/Integrations/Guzzle/V5/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
Due: none

First batch of changes to flatten service names
  ext/configuration.h
  src/Integrations/Integrations/AMQP/AMQPIntegration.php
  src/Integrations/Integrations/CakePHP/CakePHPIntegration.php
  src/Integrations/Integrations/CodeIgniter/V2/CodeIgniterIntegration.php
  src/Integrations/Integrations/Curl/CurlIntegration.php
  src/Integrations/Integrations/ElasticSearch/V1/ElasticSearchIntegration.php
  src/Integrations/Integrations/ElasticSearch/V8/ElasticSearchIntegration.php
  src/Integrations/Integrations/Eloquent/EloquentIntegration.php
  src/Integrations/Integrations/Guzzle/GuzzleIntegration.php
  src/Integrations/Integrations/Laminas/LaminasIntegration.php
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Integrations/LaravelQueue/LaravelQueueIntegration.php
  src/Integrations/Integrations/SpanTaxonomy.php
Due: none

Add invalid regex handling for sampling rules
  ext/priority_sampling/priority_sampling.c
  tests/ext/priority_sampling/invalid-regex-rule.phpt
  zend_abstract_interface/uri_normalization/CMakeLists.txt
  zend_abstract_interface/uri_normalization/uri_normalization.c
Due: zend_abstract_interface, profiling

Check method exists before calling it on symfony integration
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
Due: none

Check function exists
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
Due: none

Complete implementation of flatten service names - minus tests
  src/Integrations/Integrations/Eloquent/EloquentIntegration.php
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Integrations/LaravelQueue/LaravelQueueIntegration.php
  src/Integrations/Integrations/Lumen/LumenIntegration.php
  src/Integrations/Integrations/Memcache/MemcacheIntegration.php
  src/Integrations/Integrations/Memcached/MemcachedIntegration.php
  src/Integrations/Integrations/MongoDB/MongoDBIntegration.php
  src/Integrations/Integrations/Mysqli/MysqliIntegration.php
  src/Integrations/Integrations/Nette/NetteIntegration.php
  src/Integrations/Integrations/PDO/PDOIntegration.php
  src/Integrations/Integrations/PHPRedis/PHPRedisIntegration.php
  src/Integrations/Integrations/Psr18/Psr18Integration.php
  src/Integrations/Integrations/Roadrunner/RoadrunnerIntegration.php
  src/Integrations/Integrations/SQLSRV/SQLSRVIntegration.php
  src/Integrations/Integrations/Slim/SlimIntegration.php
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
  src/Integrations/Integrations/WordPress/V4/WordPressIntegrationLoader.php
  src/Integrations/Integrations/Yii/YiiIntegration.php
  src/Integrations/Integrations/ZendFramework/V1/Ddtrace.php
  src/Integrations/Integrations/ZendFramework/ZendFrameworkIntegration.php
Due: none

Add peer.service to Memcached clients instrumentation (#2145)
  src/Integrations/Integrations/Memcache/MemcacheIntegration.php
  src/Integrations/Integrations/Memcached/MemcachedIntegration.php
  tests/Integrations/Memcache/MemcacheTest.php
  tests/Integrations/Memcached/MemcachedTest.php
Due: none

Update src/Integrations/Integrations/DatabaseIntegrationHelper.php
  src/Integrations/Integrations/DatabaseIntegrationHelper.php
Due: none

Add peer.service to PHPRedis instrumentation (#2152)
  src/Integrations/Integrations/DatabaseIntegrationHelper.php
  src/Integrations/Integrations/PHPRedis/PHPRedisIntegration.php
  src/Integrations/Util/Normalizer.php
  tests/Common/SpanAssertion.php
  tests/Integrations/PHPRedis/V3/PHPRedisClusterTest.php
  tests/Integrations/PHPRedis/V3/PHPRedisTest.php
  tests/Integrations/PHPRedis/V4/PHPRedisClusterTest.php
  tests/Integrations/PHPRedis/V4/PHPRedisTest.php
  tests/Integrations/PHPRedis/V5/PHPRedisClusterTest.php
  tests/Integrations/PHPRedis/V5/PHPRedisTest.php
Due: none

Add peer.service to Mongodb instrumentation (#2147)
  src/Integrations/Integrations/DatabaseIntegrationHelper.php
  src/Integrations/Integrations/Mongo/MongoIntegration.php
  src/Integrations/Integrations/MongoDB/MongoDBIntegration.php
  tests/Integrations/MongoDB/MongoDBTest.php
Due: none

Add peer.service to PDO instrumentation (#2148)
  src/Integrations/Integrations/DatabaseIntegrationHelper.php
  src/Integrations/Integrations/PDO/PDOIntegration.php
  tests/Integrations/PDO/PDOTest.php
Due: none

Remove pinned dependency conflicting with PHP 7.0
  tests/composer.json
Due: none

Add peer.service to http client instrumentations (#2134)
  bridge/_files_integrations.php
  src/Integrations/Integrations/Curl/CurlIntegration.php
  src/Integrations/Integrations/Guzzle/GuzzleIntegration.php
  src/Integrations/Integrations/HttpClientIntegrationHelper.php
  src/Integrations/Integrations/Psr18/Psr18Integration.php
  src/api/Tag.php
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/Integrations/Guzzle/V5/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V7/GuzzleIntegrationTest.php
  tests/api/Unit/UserAvailableConstantsTest.php
Due: none

skip ext/sockets/tests/socket_shutdown.phpt on 7.0
  dockerfiles/ci/xfail_tests/7.0.list
  dockerfiles/ci/xfail_tests/README.md
Due: none
