Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

format fix
  appsec/helper-rust/src/client.rs
  appsec/helper-rust/src/client/metrics.rs
  appsec/helper-rust/src/client/protocol.rs
  appsec/src/extension/commands/request_exec.c
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/ddappsec.c
  appsec/src/extension/duration_acc.c
  appsec/src/extension/request_lifecycle.c
  appsec/src/helper/network/proto.hpp
Due: appsec

Revert 635ed66 changes to appsec/cmake/clant-tidy.cmake
  appsec/cmake/clang-tidy.cmake
Due: appsec

Fix build; add 2 tests; prevent repeated log message
  appsec/src/extension/duration_acc.c
  appsec/src/extension/user_tracking.c
  appsec/tests/extension/disabled_user_collection_mode.phpt
  appsec/tests/extension/logging_unknown_user_collection_mode.phpt
  appsec/tests/extension/rshutdown_command.phpt
  appsec/tests/extension/rshutdown_command_body_user_request.phpt
  appsec/tests/extension/rshutdown_command_body_user_request_stream.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_invalid_mode.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_invalid_mode.phpt
  appsec/tests/extension/track_user_login_success_event_automated_invalid_mode.phpt
  appsec/tests/extension/track_user_signup_event_automated_invalid_mode.phpt
  appsec/tests/extension/user_req_basic_01.phpt
  appsec/tests/extension/user_req_basic_02.phpt
Due: appsec

Fix appsec build
  appsec/src/extension/duration_acc.c
  appsec/tests/extension/rshutdown_command.phpt
  appsec/tests/extension/rshutdown_command_body_user_request.phpt
  appsec/tests/extension/rshutdown_command_body_user_request_stream.phpt
  appsec/tests/extension/user_req_basic_01.phpt
  appsec/tests/extension/user_req_basic_02.phpt
Due: appsec

send waf/rasp.duration_ext from the extension
  appsec/helper-rust/src/client.rs
  appsec/helper-rust/src/client/metrics.rs
  appsec/helper-rust/src/client/protocol.rs
  appsec/helper-rust/src/telemetry.rs
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/ddappsec.c
  appsec/src/extension/duration_acc.c
  appsec/src/extension/duration_acc.h
  appsec/src/extension/request_lifecycle.c
  appsec/src/extension/telemetry.c
  appsec/src/extension/telemetry.h
  appsec/src/helper/network/proto.hpp
Due: appsec

helper-rust: fix value of rate_limited tag if req_shutdown has event but was rate limited
  appsec/helper-rust/src/client.rs
Due: appsec

waf/rasp.duration/_ext all in microsseconds -- span or telemetry
  .claude/ci/index.md
  appsec/helper-rust/src/client/metrics.rs
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/duration_acc.h
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/push_params_ok_04.phpt
  appsec/tests/extension/push_params_ok_05.phpt
  appsec/tests/extension/push_params_ok_06.phpt
  appsec/tests/extension/rexec_force_keep_01.phpt
  appsec/tests/extension/rexec_force_keep_02.phpt
  appsec/tests/extension/rexec_force_keep_03.phpt
  appsec/tests/extension/rexec_force_keep_04.phpt
  appsec/tests/extension/rinit_force_keep_01.phpt
  appsec/tests/extension/rinit_force_keep_02.phpt
  appsec/tests/extension/rinit_force_keep_03.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  appsec/tests/extension/root_span_add_tag_with_intermediate_spans.phpt
  appsec/tests/extension/rshutdown_command.phpt
  appsec/tests/extension/rshutdown_command_body_user_request.phpt
  appsec/tests/extension/rshutdown_command_body_user_request_stream.phpt
  appsec/tests/extension/rshutdown_force_keep_01.phpt
  appsec/tests/extension/rshutdown_force_keep_02.phpt
  appsec/tests/extension/rshutdown_force_keep_03.phpt
  appsec/tests/extension/rshutdown_force_keep_04.phpt
  appsec/tests/extension/user_req_basic_01.phpt
  appsec/tests/extension/user_req_basic_02.phpt
  appsec/tests/integration/build.gradle
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

fix(tracing): `parentId` refcount underflow (#3851)
  ext/ddtrace.c
  tests/ext/root_span_parent_id_invalid_rhs_refcount.phpt
Due: appsec

test(tracing): SpanStack active reference corruption
  tests/ext/span_stack/span_stack_active_reference.phpt
Due: none

appsec: add framework tag to user tracking telemetry; fix WordPress login failure
  appsec/src/extension/tags.c
  appsec/src/extension/telemetry.c
  appsec/src/extension/telemetry.h
  appsec/src/extension/user_tracking.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Laravel8xTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Symfony62Tests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WordPressTests.groovy
  appsec/tests/integration/src/test/www/laravel8x/app/Http/Controllers/LoginController.php
  appsec/tests/integration/src/test/www/wordpress/initialize.sh
  appsec/tests/integration/src/test/www/wordpress/public/.htaccess
  appsec/tests/integration/src/test/www/wordpress/public/hello.php
  appsec/tests/integration/src/test/www/wordpress/public/index.php
  appsec/tests/integration/src/test/www/wordpress/public/login_trigger.php
  appsec/tests/integration/src/test/www/wordpress/public/wp-config.php
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
Due: appsec

appsec: capture usr.login (and usr.id) on Symfony/Laravel login failures
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Laravel8xTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Symfony62Tests.groovy
  appsec/tests/integration/src/test/www/laravel8x/app/Http/Controllers/LoginController.php
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: appsec

small change to .claude/ci/tracer-web-tests.md
  .claude/ci/tracer-web-tests.md
Due: none

wordpress: do NOT submit username as usr.id
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WordPressTests.groovy
  appsec/tests/integration/src/test/www/wordpress/public/behind_auth_trigger.php
  appsec/tests/integration/src/test/www/wordpress/public/signup_trigger.php
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  tests/Integrations/WordPress/AutomatedLoginEventsTestSuite.php
Due: appsec

appsec: fix clang-format violations in tags.c and telemetry.c
  appsec/src/extension/tags.c
  appsec/src/extension/telemetry.c
Due: appsec

fix: remove PHP 7.1+ nullable return type from extractLoginFromAuthFailure
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: none

More PHP 8.6 compatibility
  components-rs/remote_config.rs
  ext/auto_flush.c
  ext/auto_flush.h
  ext/compatibility.h
  ext/crashtracking_frames.c
  ext/ddtrace.c
  ext/span.c
  ext/span.h
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

Restrict the accepted amount of extracted tags and baggage (#3854)
  ext/ddtrace.c
  ext/ddtrace.h
  ext/distributed_tracing_headers.c
  ext/telemetry.c
Due: appsec

Prevent BP_VAR_RW on SpanStack->active
  ext/compatibility.h
  ext/ddtrace.c
  tests/ext/span_stack/span_stack_active_reference.phpt
Due: appsec

Fix SpanStack active reference corruption (#3853)
  ext/compatibility.h
  ext/ddtrace.c
  tests/ext/span_stack/span_stack_active_reference.phpt
Due: appsec

Bump to 1.19.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  VERSION
Due: none

Bump to 1.19.2 (#3860)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  VERSION
Due: none

fix(ci): skip macrobenchmarks when package extension is not built
  .gitlab/benchmarks.yml
Due: none

fix(ci): ensure notify-slo-breaches fires on breach detection
  .gitlab/benchmarks.yml
Due: none

fix(ci): skip macrobenchmarks when package extension is not built (#3862)
  .gitlab/benchmarks.yml
Due: none

appsec/helper-rust: fix imetric tag blocked_request
  appsec/helper-rust/src/client/metrics.rs
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

chore(ci): collect sidecar logs for test jobs
  .gitlab/generate-tracer.php
Due: none

Update libdd submodule headers, and include all threads
  components-rs/common.h
  ext/signals.c
Due: appsec

Temp: try int test
  tests/ext/crashtracker_collect_all_threads.phpt
Due: none

Tweak test
  tests/ext/crashtracker_collect_all_threads.phpt
Due: none

Point to latest recommended ruleset including stripe and llm endpooints
  appsec/recommended.json
Due: appsec

feat: turn on reporting all threads for crashtracking (#3866)
  components-rs/common.h
  ext/signals.c
  tests/ext/crashtracker_collect_all_threads.phpt
Due: appsec

Point to latest recommended ruleset including stripe and llm endpooints (#3859)
  appsec/recommended.json
Due: appsec

fix(otel/logs): drop OTEL_PHP_AUTOLOAD_ENABLED override in DatadogResolver
  src/DDTrace/OpenTelemetry/CompositeResolver.php
Due: none

chore(otel/logs): drop dead ddtrace_conf_otel_logs_exporter
  ext/otel_config.c
  ext/otel_config.h
Due: appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
