Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  version: 2

  setup-workflows:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue_config.yml
          # <path regular expression> <pipeline parameter>  <value>
          mapping: |
            components/.*  components-c  true
            zend_abstract_interface/.*  zend_abstract_interface true
            zend_abstract_interface/.*  profiling true
            zend_abstract_interface/.*  appsec true
            profiling/.*  profiling true
            ext/handlers_api.[ch] profiling true
            appsec/.* appsec true
            ext/.* appsec true
            .circleci/continue_config.yml appsec true

Fix PHP 8.4 / macos build
  config.m4
  ext/logging.c
  ext/random.c
  zend_abstract_interface/uri_normalization/uri_normalization.c
Due: zend_abstract_interface, profiling, appsec

Fix PHP 8.3 Windows build
  config.w32
  docker-compose.yml
  ext/ddtrace.c
Due: appsec

More fixes
  datadog-setup.php
  zend_abstract_interface/json/json.c
Due: zend_abstract_interface, profiling, appsec

dll for sidecar
  components-rs/telemetry.rs
  ext/sidecar.c
  ext/zend_hrtime.c
  ext/zend_hrtime.h
Due: appsec

wip
  appsec/src/extension/commands/request_init.c
  appsec/src/extension/commands/request_init.h
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/commands/request_shutdown.h
  appsec/src/extension/ddtrace.h
  appsec/src/extension/entity_body.c
  appsec/src/extension/entity_body.h
  appsec/src/extension/entity_body.stub.php
  appsec/src/extension/entity_body_arginfo.h
  appsec/src/extension/request_lifecycle.c
  ext/serializer.c
  ext/user_request.c
  ext/user_request.h
Due: appsec

Fix wordpress 6.1 snapshots
  tests/Frameworks/WordPress/Version_6_1/scripts/wp_initdb.sql
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_view.json
Due: none

Fix more wordpress 6.1 snapshots
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_with_view.json
Due: none

Fix wp 4.8 snapshots
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_with_view.json
Due: none

Fix wp 5.5 snapshots
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_with_view.json
Due: none

Remove regex (within log level computation) from the hot path
  components-rs/ddtrace.h
  components-rs/log.rs
  ext/logging.c
Due: appsec

Refactor path extractor
  src/Integrations/Integrations/Symfony/PathExtractor.php
Due: none

Add test for DD_TRACE_LOG_FILE
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
  ext/logging.c
  ext/sidecar.c
  tests/ext/dd_trace_log_file.phpt
Due: appsec

Fix json bindings on apache reload
  appsec/src/extension/ddappsec.c
  ext/ddtrace.c
  profiling/src/lib.rs
  profiling/src/php_ffi.h
  tests/Common/WebFrameworkTestCase.php
  tests/Integrations/Custom/NotAutoloaded/ApacheReloadTest.php
  tests/Sapi/PhpApache/PhpApache.php
  tests/WebServer.php
  zend_abstract_interface/json/json.c
  zend_abstract_interface/json/json.h
Due: zend_abstract_interface, profiling, appsec

Add a couple comments around log ginit
  ext/configuration.c
  ext/ddtrace.c
  ext/logging.c
Due: appsec

Remove http_route from base wordpress integration
  src/Integrations/Integrations/WordPress/WordPressIntegration.php
Due: none

Fix blocking on PHP 7.0-7.1 ZTS
  appsec/src/extension/commands/request_exec.c
  appsec/src/extension/commands/request_init.c
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/commands_ctx.h
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/commands_helpers.h
  appsec/src/extension/php_compat.h
  appsec/src/extension/request_abort.c
  appsec/tests/integration/src/docker/apache2-fpm/entrypoint.sh
  appsec/tests/integration/src/docker/apache2-mod/entrypoint.sh
  appsec/tests/integration/src/docker/nginx-fpm/entrypoint.sh
  appsec/tests/integration/src/test/www/roadrunner/run.sh
Due: appsec

perf: Wrap some LOG.*\( with DD_TRACE_DEBUG checks
  ext/hook/uhook.c
  ext/hook/uhook_legacy.c
  ext/span.c
  tests/phpbench-opcache.json
  tests/phpbench.json
Due: appsec

perf: Wrap some LOG.*\( with DD_TRACE_DEBUG checks
  ext/hook/uhook.c
  ext/hook/uhook_legacy.c
  ext/span.c
Due: appsec

fix: reset pthread_once controls
  ext/ddtrace.c
  ext/handlers_curl.c
Due: appsec

Add http.route to wordpress (#2491)
  src/Integrations/Integrations/WordPress/V1/WordPressIntegrationLoader.php
  src/Integrations/Integrations/WordPress/V2/WordPressIntegrationLoader.php
  tests/Frameworks/WordPress/Version_6_1/scripts/wp_initdb.sql
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_view.json
Due: none

Ensure rust code doesn't prevent unloading of ddtrace
  ext/ddtrace.c
  tests/ext/dd_trace_log_file.phpt
Due: appsec

use easy way to detect ZTS
  profiling/tests/phpt/jit_01.phpt
  profiling/tests/phpt/jit_02.phpt
  profiling/tests/phpt/phpinfo_02.phpt
Due: profiling

Retry sending through the socket if it couldn't be sent via shm
  ext/auto_flush.c
Due: appsec

AppSec: detect asan during configuration
  appsec/cmake/extension.cmake
  appsec/tests/integration/src/docker/php/build_dev_php.sh
Due: appsec

Include generated curl_exec spans of curl_multi_exec() in metrics
  src/Integrations/Integrations/Curl/CurlIntegration.php
Due: none

tests: Add _dd.measured to curl_exec snapshot spans
  tests/snapshots/tests.integrations.guzzle.v6.guzzle_integration_test.test_multi_exec.json
  tests/snapshots/tests.integrations.guzzle.v7.guzzle_integration_test.test_multi_exec.json
Due: none

Address review comments
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/ddappsec.c
  appsec/src/extension/entity_body.c
  appsec/src/extension/entity_body.h
  appsec/src/extension/request_lifecycle.c
  appsec/tests/extension/convert_json_max_depth.phpt
  appsec/tests/extension/convert_xml_basic.phpt
  appsec/tests/extension/convert_xml_external_entity.phpt
  appsec/tests/extension/rshutdown_command_body_user_request.phpt
  appsec/tests/extension/rshutdown_command_body_user_request_stream.phpt
  appsec/tests/extension/rshutdown_command_body_xml.phpt
  appsec/tests/extension/rshutdown_command_body_xml_explicit_utf8.phpt
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RoadRunnerTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
Due: appsec

Include generated curl_exec spans of curl_multi_exec() in metrics (#2505)
  src/Integrations/Integrations/Curl/CurlIntegration.php
  tests/snapshots/tests.integrations.guzzle.v6.guzzle_integration_test.test_multi_exec.json
  tests/snapshots/tests.integrations.guzzle.v7.guzzle_integration_test.test_multi_exec.json
Due: none

fix build.rs usage
  .circleci/continue_config.yml
  profiling/build.rs
Due: profiling, appsec

Support json/xml request bodies
  appsec/cmake/clang-format.cmake
  appsec/src/extension/commands/request_init.c
  appsec/src/extension/commands/request_init.h
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/commands/request_shutdown.h
  appsec/src/extension/ddappsec.c
  appsec/src/extension/ddtrace.h
  appsec/src/extension/entity_body.c
  appsec/src/extension/entity_body.h
  appsec/src/extension/entity_body.stub.php
  appsec/src/extension/entity_body_arginfo.h
  appsec/src/extension/request_lifecycle.c
  appsec/src/extension/tags.c
  appsec/tests/extension/rinit_body_json.phpt
  appsec/tests/extension/user_req_xml_req.phpt
  appsec/tests/extension/user_req_xml_req_wrong_ct.phpt
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RoadRunnerTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/serializer.c
  ext/user_request.c
  ext/user_request.h
  src/Integrations/Integrations/Roadrunner/RoadrunnerIntegration.php
Due: appsec

Add zend_try around closing and flushing spans
  ext/ddtrace.c
Due: appsec

Add zend_try around closing and flushing spans (#2507)
  ext/ddtrace.c
Due: appsec

Have datadog.trace.db_client_split_by_instance also affect mysqli and sqlsrv
  src/Integrations/Integrations/Mysqli/MysqliIntegration.php
  src/Integrations/Integrations/SQLSRV/SQLSRVIntegration.php
  tests/Integrations/Mysqli/MysqliTest.php
  tests/Integrations/PDO/PDOTest.php
Due: none

Have datadog.trace.db_client_split_by_instance also affect mysqli and sqlsrv (#2508)
  src/Integrations/Integrations/Mysqli/MysqliIntegration.php
  src/Integrations/Integrations/SQLSRV/SQLSRVIntegration.php
  tests/Integrations/Mysqli/MysqliTest.php
  tests/Integrations/PDO/PDOTest.php
Due: none

Fix tests
  tests/ext/dd_trace_span_link_with_exception.phpt
  tests/ext/sandbox/install_hook/trace_closure.phpt
Due: none

propagation: convert default style to datadog,tracecontext
  ext/configuration.h
  tests/ext/integrations/curl/distributed_tracing_curl_drop_dm.phpt
Due: appsec

Revert "Merge pull request #2510 from DataDog/w3cphase2-headers"
  ext/configuration.h
  tests/ext/integrations/curl/distributed_tracing_curl_drop_dm.phpt
Due: appsec

fix: handle Apache graceful restarts more accurately (#2483)
  ext/ddtrace.c
  ext/handlers_curl.c
  profiling/src/lib.rs
  profiling/src/logging.rs
Due: profiling, appsec
