Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

switch to logev to avoid useless allocations
  ext/auto_flush.c
Due: appsec

Enumerate requests in benchmark
  .gitlab/benchmarks.yml
Due: none

Fix exception profiling in Generator->throw()
  ext/handlers_api.c
  ext/handlers_api.h
  package.xml
  profiling/src/bindings/mod.rs
  profiling/src/exception.rs
  profiling/src/php_ffi.h
  profiling/tests/phpt/exceptions_generator_throw.phpt
Due: profiling, appsec

Fix exception profiling in Generator->throw() (#2682)
  ext/handlers_api.c
  ext/handlers_api.h
  package.xml
  profiling/src/bindings/mod.rs
  profiling/src/exception.rs
  profiling/src/php_ffi.h
  profiling/tests/phpt/exceptions_generator_throw.phpt
Due: profiling, appsec

add `Generator::throw()`-fix docs
  profiling/src/exception.rs
Due: profiling

consume headers instead of generate to get the right tracestate
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids.phpt
Due: none

Update tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids.phpt
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids.phpt
Due: none

fix encoding and add full test coverage
  ext/distributed_tracing_headers.c
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids.phpt
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids_dd_tracecontext.phpt
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids_tracecontext.phpt
Due: appsec

add comma
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids_tracecontext.phpt
Due: none

Fix _dd.parent_id being in meta
  ext/distributed_tracing_headers.c
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids_dd_tracecontext.phpt
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids_tracecontext.phpt
Due: appsec

Add release notes
  package.xml
Due: none

w3c(phase 3): ensure tracecontext headers always take precedence (#2667)
  ext/distributed_tracing_headers.c
  package.xml
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids_dd_tracecontext.phpt
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids_tracecontext.phpt
Due: appsec

Send a correct size hint to the sidecar trace flusher
  Cargo.lock
  components-rs/sidecar.h
  ext/auto_flush.c
  ext/sidecar.c
  package.xml
  tests/ext/background-sender/agent_headers.phpt
  tests/ext/background-sender/agent_headers_container_id.phpt
  tests/ext/background-sender/agent_headers_container_id_empty.phpt
  tests/ext/background-sender/agent_headers_container_id_fargate.phpt
  tests/ext/background-sender/agent_headers_ignore_userland.phpt
  tests/ext/background-sender/agent_headers_unix_domain_socket.phpt
  tests/ext/background-sender/agent_sampling.phpt
  tests/ext/dd_trace_send_traces_via_thread_001.phpt
  tests/ext/dd_trace_span_link_with_exception.phpt
  tests/ext/dogstatsd/metrics_over_udp.phpt
  tests/ext/dogstatsd/metrics_over_uds.phpt
  tests/ext/includes/request_replayer.inc
  tests/ext/telemetry/config.phpt
Due: appsec

Send a correct size hint to the sidecar trace flusher (#2686)
  Cargo.lock
  components-rs/sidecar.h
  ext/auto_flush.c
  ext/sidecar.c
  package.xml
  tests/ext/background-sender/agent_headers.phpt
  tests/ext/background-sender/agent_headers_container_id.phpt
  tests/ext/background-sender/agent_headers_container_id_empty.phpt
  tests/ext/background-sender/agent_headers_container_id_fargate.phpt
  tests/ext/background-sender/agent_headers_ignore_userland.phpt
  tests/ext/background-sender/agent_headers_unix_domain_socket.phpt
  tests/ext/background-sender/agent_sampling.phpt
  tests/ext/dd_trace_send_traces_via_thread_001.phpt
  tests/ext/dd_trace_span_link_with_exception.phpt
  tests/ext/dogstatsd/metrics_over_udp.phpt
  tests/ext/dogstatsd/metrics_over_uds.phpt
  tests/ext/includes/request_replayer.inc
  tests/ext/telemetry/config.phpt
Due: appsec

Enable sidecar by default, only when telemetry is enabled
  Cargo.lock
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/startup_logging.c
  tests/ext/sidecar_disabled_when_telemetry_disabled.phpt
  tests/ext/startup_logging.phpt
  tests/ext/startup_logging_json.phpt
  tests/ext/startup_logging_skipif_unix.inc
Due: appsec

Manually set sidecar config to false
  ext/ddtrace.c
Due: appsec

add a test to make sure sidecar is enabled by default in 8.3
  tests/ext/sidecar_enabled.phpt
  tests/ext/startup_logging_skipif_unix_83.inc
Due: none

minor comments in the tests
  tests/ext/sidecar_disabled_when_telemetry_disabled.phpt
  tests/ext/startup_logging_skipif_unix.inc
Due: none

Delay bgs initialization until sidecar sender status is finalized
  ext/ddtrace.c
Due: appsec

Fix crash
  ext/ddtrace.c
Due: appsec

Allow synchronous flushes with the sidecar enabled
  components-rs/sidecar.h
  ext/auto_flush.c
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
Due: appsec

Set the sidecar trace force flush limit to 1 MB by default
  ext/auto_flush.c
  ext/configuration.c
  ext/configuration.h
  ext/ddtrace.c
  ext/sidecar.c
Due: appsec

Test all versions
  ext/configuration.h
Due: appsec

Increase size limit two 2 MB and rename config
  ext/auto_flush.c
  ext/configuration.h
  ext/ddtrace.c
  ext/sidecar.c
Due: appsec

Fix unrelated small crash in dd_untrace trace logs
  ext/hook/uhook_legacy.c
Due: appsec

Add release note
  package.xml
Due: none

Allow synchronous sidecar flushes and reduce flush limit (#2689)
  components-rs/sidecar.h
  ext/auto_flush.c
  ext/configuration.c
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/hook/uhook_legacy.c
  ext/sidecar.c
  package.xml
Due: appsec

Enable debug by default.
  ext/configuration.h
Due: appsec

Disable debug.
  ext/configuration.h
Due: appsec

add debug log when resetting cache
  profiling/src/profiling/stack_walking.rs
Due: profiling

switch to logev to avoid useless allocations (#2679)
  ext/auto_flush.c
Due: appsec

also add trace log for when cache doesn't reset
  profiling/src/profiling/stack_walking.rs
Due: profiling

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
