Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

Profiling: fix UB and simplify SystemSettings (#3578)
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Due: profiling

test: remove accidental INI setting
  profiling/tests/phpt/allocation_sampling_distance.phpt
Due: profiling

fix bad import after merge
  profiling/src/profiling/mod.rs
Due: profiling

Profiling: fix SystemSettings initialization (#3579)
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/allocation/profiling_stats.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/tests/phpt/allocation_sampling_distance.phpt
Due: profiling

fix: unused imports after merge
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/config.rs
Due: profiling

fix: conditional import after merge
  profiling/src/config.rs
Due: profiling

feat(prof): optimise allocation profiling for PHP >= 8.4 (#3550)
  .github/workflows/prof_correctness.yml
  profiling/build.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/profiling_stats.rs
  profiling/src/config.rs
Due: profiling

refactor: simplify Profiler::get_timeline_timestamp
  profiling/src/profiling/mod.rs
Due: profiling

Revert "DEBUG: more info in panic"
  profiling/src/profiling/stack_walking.rs
Due: profiling

Revert "DEBUG: do we hit frameless icalls?"
  profiling/src/profiling/stack_walking.rs
Due: profiling

undo experimental debugging
  profiling/src/profiling/stack_walking.rs
Due: profiling

test: fix expected log message
  profiling/tests/phpt/allocation_sampling_distance.phpt
Due: profiling

test: use more replaces to exaggerate effect
  profiling/tests/correctness/allocation_time_combined.json
  profiling/tests/correctness/allocation_time_combined.php
Due: profiling

EXPERIMENT: show leaf frame
  profiling/src/profiling/mod.rs
  profiling/tests/phpt/allocation_sampling_distance.phpt
Due: profiling

auto review
  ext/crashtracking_windows.c
  ext/sidecar.c
  ext/signals.c
  tests/ext/crashtracker_process_tags.phpt
Due: appsec

Adds process_tags to the first span of each tracing payload (#3566)
  components-rs/ddtrace.h
  components-rs/lib.rs
  config.m4
  config.w32
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/process_tags.c
  ext/process_tags.h
  ext/serializer.c
  tests/Integrations/Custom/Autoloaded/ProcessTagsWebTest.php
  tests/ext/process_tag_value_normalization.phpt
  tests/ext/process_tags.phpt
Due: appsec

fix bindgen vs clang preserve_none
  profiling/build.rs
Due: profiling

fix bindgen vs clang preserve_none (#3583)
  profiling/build.rs
Due: profiling

test(profiling): add function name length tests (#3571)
  profiling/src/php_ffi.c
  profiling/src/profiling/stack_walking.rs
Due: profiling

Adds process_tags to telemetry application metadata
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/process_tags.c
  ext/sidecar.c
  ext/sidecar.h
  tests/ext/telemetry/process_tags.phpt
Due: appsec

Reduce cardinality of helper.connection_*
  appsec/src/extension/helper_process.c
  appsec/src/extension/telemetry.c
  appsec/src/extension/telemetry.h
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

Stores remote config requests in request-replayer
  dockerfiles/services/request-replayer/src/index.php
Due: none

auto review
  ext/live_debugger.c
  ext/process_tags.c
  ext/serializer.c
  ext/span.c
Due: appsec

Add frameless functions
  profiling/tests/correctness/allocations.json
  profiling/tests/correctness/allocations.php
Due: profiling

xdebug adds frames to frameless functions
  .github/workflows/prof_correctness.yml
Due: none

do not fail fast, finish prof correctness
  .github/workflows/prof_correctness.yml
Due: none

upload artifacts
  .github/workflows/prof_correctness.yml
Due: none

Disable Xdebug for prof-correctness
  .github/workflows/prof_correctness.yml
Due: none

Revert "upload artifacts"
  .github/workflows/prof_correctness.yml
Due: none

fix verify alpine CI jobs
  dockerfiles/verify_packages/alpine/install.sh
Due: none

Bump to 1.16.0
  CHANGELOG.md
  VERSION
Due: none

fix verify alpine CI jobs (#3588)
  dockerfiles/verify_packages/alpine/install.sh
Due: none

fix(test_extension_ci): increase timeout for valgrind runs
  .gitlab/generate-package.php
Due: none

feat(tracer): implement proper SQL connection retry logic
  .gitlab/generate-package.php
  tests/Integrations/SQLSRV/SQLSRVTest.php
Due: none

fix system tests dockerhub failed identification
  .gitlab/dockerhub-login.sh
Due: none

Add retry connection mechanism for Laravel Octane tests
  tests/Sapi/OctaneServer/OctaneServer.php
Due: none

Merge pull request #3589 from DataDog/release-1.16.0
  CHANGELOG.md
  VERSION
Due: none
