Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

update notes for PECL package
  package.xml
Due: none

fix(profiler) do not emit profiles when profiler is disabled (#2393)
  .github/workflows/prof_correctness.yml
  profiling/src/timeline.rs
Due: profiling

add automatic labelling
  .github/labeller.yml
  .github/workflows/auto_label_prs.yml
  github-actions-helpers/.gitignore
  github-actions-helpers/Build.Github.cs
Due: none

fix .net sdk now that net8 has been released
  .github/workflows/auto_label_prs.yml
Due: none

change paths and labels
  .github/labeller.yml
Due: none

Adds automatically merged PRs to next milestone
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto_add_pr_to_miletone.yml
  github-actions-helpers/Build.Github.cs
  github-actions-helpers/Build.cs
Due: none

add nuke folder to gitignore
  .gitignore
Due: none

fix some regexes for labeller
  .github/labeller.yml
Due: none

fix script path in action
  .github/workflows/auto_add_pr_to_miletone.yml
Due: none

version bump
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/build-extensions.sh
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
Due: none

fix: Workaround PHP Bug #81430
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: zend_abstract_interface, profiling, appsec

version bump (#2400)
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/build-extensions.sh
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
Due: none

Implement http.route for Slim
  src/Integrations/Integrations/Slim/SlimIntegration.php
  tests/Frameworks/Slim/Version_3_12/src/routes.php
  tests/Frameworks/Slim/Version_4/app/routes.php
  tests/Integrations/Slim/V3_12/CommonScenariosTest.php
  tests/Integrations/Slim/V4/CommonScenariosTest.php
Due: none

Zip long schemas (#315)
  .github/workflows/release/build_package
  .github/workflows/system-tests.yml
  cmake/tracer.cmake
  src/helper/client.cpp
  src/helper/client.hpp
  src/helper/engine.cpp
  src/helper/engine.hpp
  src/helper/network/proto.hpp
  src/helper/remote_config/listeners/engine_listener.cpp
  src/helper/sampler.hpp
  src/helper/service.cpp
  src/helper/service.hpp
  src/helper/service_manager.cpp
  src/helper/service_manager.hpp
  src/helper/subscriber/base.hpp
  src/helper/subscriber/waf.cpp
  src/helper/subscriber/waf.hpp
  tests/docker/alpine-apache2-fpm/Dockerfile
  tests/docker/apache2-fpm/Dockerfile
  tests/docker/apache2-mod/Dockerfile
  tests/docker/nginx-fpm/Dockerfile
  tests/extension/inc/mock_helper.php
  tests/helper/broker_test.cpp
  tests/helper/client_test.cpp
  tests/helper/engine_test.cpp
  tests/helper/main.cpp
  tests/helper/remote_config/listeners/engine_listener_test.cpp
  tests/helper/remote_config/mocks.hpp
  tests/helper/service_manager_test.cpp
  tests/helper/service_test.cpp
  tests/helper/waf_test.cpp
  tests/integration/build.gradle
Due: none

Merge back changes 04122023 (#2404)
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/remote_config/listeners/engine_listener.cpp
  appsec/src/helper/sampler.hpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service.hpp
  appsec/src/helper/service_manager.cpp
  appsec/src/helper/service_manager.hpp
  appsec/src/helper/subscriber/base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/extension/inc/mock_helper.php
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/main.cpp
  appsec/tests/helper/remote_config/listeners/engine_listener_test.cpp
  appsec/tests/helper/remote_config/mocks.hpp
  appsec/tests/helper/service_manager_test.cpp
  appsec/tests/helper/service_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

fix xdebug
  .circleci/continue_config.yml
Due: appsec

xfail bug80092
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
Due: none

memory limit two small for when loading dd_wrap_autoloader
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
Due: none

Add continuous benchmarking pipeline
  .gitlab/benchmarks.yml
Due: none

fix(ci) fix xdebug (#2405)
  .circleci/continue_config.yml
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
Due: appsec

Always serialize schemas when available
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/subscriber/base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

Remove experimental API security config variable
  appsec/src/extension/commands/client_init.c
  appsec/src/extension/configuration.h
  appsec/tests/extension/api_security_env_variables.phpt
Due: appsec

Fix test
  appsec/tests/extension/rinit_rshutdown_basic.phpt
Due: appsec

Add max schema limit
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
Due: appsec

Always serialize schemas when available (#2406)
  appsec/src/extension/commands/client_init.c
  appsec/src/extension/configuration.h
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/subscriber/base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/extension/api_security_env_variables.phpt
  appsec/tests/extension/rinit_rshutdown_basic.phpt
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

Rename CircleCI job
  .gitlab/benchmarks.yml
Due: none

(WIP) Handle environment reloads
  .editorconfig
  Makefile
  composer.json
  src/Integrations/Integrations/Logs/LogsIntegration.php
  tests/Benchmarks/BasicScenarioBench.php
  tests/Benchmarks/ContextPropagationBench.php
  tests/Benchmarks/HookOverheadBench.php
  tests/Benchmarks/LogsInjectionBench.php
  tests/composer.json
  tests/ext/php_bug_84130.phpt
Due: none

Store CircleCI artifacts in separate directory
  .gitlab/benchmarks.yml
Due: none

Tweak RPS
  .gitlab/benchmarks.yml
Due: none

add allocation and exception count to `event.json` (#2392)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/allocation.rs
  profiling/src/exception.rs
  profiling/src/profiling/uploader.rs
Due: profiling

Zero pad the tid and exclude it from OTel tracestate
  ext/handlers_http.h
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/OpenTelemetry/Integration/SDK/TracerTest.php
  tests/ext/distributed_tracestate_consumption.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_drop_dm.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_invalid_tags.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_tracestate.phpt
Due: appsec

Add macrobenchmark runs (#2408)
  .gitlab/benchmarks.yml
Due: none

Zero pad the tid and exclude it from OTel tracestate (#2386)
  ext/handlers_http.h
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/OpenTelemetry/Integration/SDK/TracerTest.php
  tests/ext/distributed_tracestate_consumption.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_drop_dm.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_invalid_tags.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_tracestate.phpt
Due: appsec

Add http.route to CodeIgniter (#2379)
  src/Integrations/Integrations/CodeIgniter/V2/CodeIgniterIntegration.php
  tests/Frameworks/CodeIgniter/Version_2_2/application/config/routes.php
  tests/Frameworks/CodeIgniter/Version_2_2/application/controllers/parameterized.php
  tests/Integrations/CodeIgniter/V2_2/CommonScenariosTest.php
  tests/Integrations/CodeIgniter/V2_2/ExitTest.php
  tests/Integrations/CodeIgniter/V2_2/NoCI_ControllertTest.php
Due: none

Bump version to 0.95.0
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling, appsec

Update package.xml
  package.xml
Due: none

Bump version to 0.95.0 (#2412)
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling, appsec

Don't run benchmarks in scheduled pipelines
  .gitlab/benchmarks.yml
Due: none

face palm
  profiling/src/config.rs
Due: profiling

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
