Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

test(profiling): fix accidentally skipped tests (#2517)
  profiling/tests/phpt/exceptions_01.phpt
  profiling/tests/phpt/gc_collect_cycles_01.phpt
Due: profiling

Update to latest libdatadog
  Cargo.lock
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  ext/sidecar.c
Due: appsec

Add Google Benchmark as a submodule
  .gitmodules
Due: none

Remove GBench global buster installation
  dockerfiles/ci/buster/Dockerfile
Due: none

Add GBench skeleton
  Makefile
  dockerfiles/ci/buster/Dockerfile
  tea/CMakeLists.txt
  tea/benchmarks/CMakeLists.txt
  tea/benchmarks/README.md
  tea/benchmarks/benchmark.cc
  tea/benchmarks/memory_manager.h
  tea/include/testing/catch2.hpp
  tea/include/testing/fixture.hpp
Due: none

Use Google Benchmark as a submodule
  tea/benchmarks/CMakeLists.txt
Due: none

Clean dead code & Fix Compilation issues
  tea/CMakeLists.txt
  tea/benchmarks/README.md
  tea/benchmarks/benchmark.cc
  tea/benchmarks/memory_manager.h
  tea/config.m4
  tea/include/testing/catch2.hpp
Due: none

Change results output dir
  Makefile
  tea/benchmarks/README.md
  tea/benchmarks/reports/.gitkeep
Due: none

Trigger pipeline run on `tea` changes
  .gitlab/benchmarks.yml
Due: none

Run `benchmarks_tea` during `runall.sh`
  Makefile
  benchmark/runall.sh
Due: none

No longer compile the mockgen as part of the rust build (#2512)
  .circleci/continue_config.yml
  Cargo.lock
  Cargo.toml
  Makefile
  compile_rust.sh
  components-rs/Cargo.toml
  components-rs/build.rs
  components-rs/php_sidecar_mockgen/Cargo.toml
  components-rs/php_sidecar_mockgen/src/bin/php_sidecar_mockgen.rs
  components-rs/telemetry.rs
  config.m4
  package.xml
Due: appsec

Add TEA Benchmarks (#2438)
  .gitlab/benchmarks.yml
  .gitmodules
  Makefile
  benchmark/runall.sh
  tea/CMakeLists.txt
  tea/benchmarks/CMakeLists.txt
  tea/benchmarks/README.md
  tea/benchmarks/benchmark.cc
  tea/benchmarks/reports/.gitkeep
  tea/config.m4
  tea/include/testing/catch2.hpp
  tea/include/testing/fixture.hpp
Due: none

Increase maximum requests, buffer size, and twice-logging
  tests/randomized/docker/nginx.site.conf
  tests/randomized/docker/php-fpm.conf
  tests/randomized/docker/prepare.sh
  tests/randomized/lib/templates/cli-runner.template.sh
Due: none

Set log_file in conf files
  tests/randomized/docker/apache.php.conf
  tests/randomized/docker/php-fpm.conf
Due: none

tests: Always Delete and Create the socket
  tests/ext/background-sender/default_unix_domain_socket_agent.phpt
Due: none

debug: Add some sampling logs
  ext/priority_sampling/priority_sampling.c
Due: appsec

debug: Add some sampling logs
  bridge/_files_integrations.php
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Integrations/PHPRedis/PHPRedisIntegration.php
  src/Integrations/Integrations/Predis/PredisIntegration.php
  src/Integrations/Util/Common.php
Due: none

update to libdatadog 6.0.0
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/uploader.rs
Due: profiling

flakiness: Always Delete and Create the socket (#2518)
  tests/ext/background-sender/default_unix_domain_socket_agent.phpt
Due: none

update to libdatadog 6.0.0 (#2513)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/uploader.rs
Due: profiling

Update profiling/src/exception.rs
  profiling/src/exception.rs
Due: profiling

Adds `exception message` as a label
  profiling/build.rs
  profiling/src/exception.rs
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
Due: profiling

fix missing symbol
  profiling/src/php_ffi.c
Due: profiling

fix clang's `uninitialized use` warning
  zend_abstract_interface/symbols/lookup.c
Due: zend_abstract_interface, profiling, appsec

make compatible with PHP7
  profiling/build.rs
  profiling/src/exception.rs
  profiling/src/php_ffi.c
Due: profiling

cleanup
  profiling/build.rs
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
Due: profiling

make exception message collection optional and default disable
  profiling/src/config.rs
  profiling/src/exception.rs
  profiling/src/profiling/mod.rs
Due: profiling

remove some cfg switches and cleanup
  profiling/src/exception.rs
Due: profiling

Upgrade WAF to v1.16.0 and Ruleset to v1.10.0
  appsec/recommended.json
Due: appsec

Fix unit tests
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

Revert "Revert "Merge pull request #2510 from DataDog/w3cphase2-headers""
  ext/configuration.h
  tests/ext/integrations/curl/distributed_tracing_curl_drop_dm.phpt
Due: appsec

Use hunter's rapidjson
  appsec/tests/fuzzer/CMakeLists.txt
Due: appsec

feat(profiler) add exception message to exception sample (#2434)
  profiling/build.rs
  profiling/src/config.rs
  profiling/src/exception.rs
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  zend_abstract_interface/symbols/lookup.c
Due: zend_abstract_interface, profiling, appsec

Sample numbers and bools in tags and metrics
  ext/ddshared.c
  ext/priority_sampling/priority_sampling.c
  tests/ext/priority_sampling/021-rule-name-as-glob-with-question-mark.phpt
Due: appsec

Change ip header parsing/header reporting
  appsec/src/extension/ip_extraction.c
  appsec/src/extension/tags.c
  appsec/tests/extension/ancillary_tags.phpt
  appsec/tests/extension/extract_ip_addr.phpt
  appsec/tests/extension/extract_ip_addr_header_env.phpt
  appsec/tests/extension/extract_ip_addr_header_ini.phpt
  appsec/tests/extension/extract_ip_addr_priorities.phpt
Due: appsec

Move ip extraction logic completely to ddtrace
  appsec/src/extension/configuration.h
  appsec/src/extension/ip_extraction.c
  appsec/tests/extension/ancillary_tags.phpt
  appsec/tests/extension/client_ip_header_is_properly_parsed.phpt
  appsec/tests/extension/ddtrace_disabled.phpt
  appsec/tests/extension/extract_ip_addr.phpt
  appsec/tests/extension/extract_ip_addr_header_env.phpt
  appsec/tests/extension/extract_ip_addr_header_ini.phpt
  appsec/tests/extension/extract_ip_addr_precedence.phpt
  appsec/tests/extension/extract_ip_addr_priorities.phpt
  appsec/tests/extension/extract_ip_custom_header_takes_priority_01.phpt
  appsec/tests/extension/extract_ip_custom_header_takes_priority_02.phpt
  appsec/tests/extension/http_client_ip.phpt
  appsec/tests/extension/root_span_http_client_ip_duplicate_ip_headers.phpt
  ddtrace.sym
  ext/configuration.c
  ext/configuration.h
  ext/ip_extraction.c
  ext/ip_extraction.h
  tests/ext/extract_ip_addr.phpt
  tests/ext/extract_ip_addr_header_env.phpt
  tests/ext/extract_ip_addr_header_ini.phpt
Due: appsec

ddtrace cmake build. Adjust reported headers. Fix out-of-data test inddtrace
  appsec/CMakeLists.txt
  appsec/cmake/ddtrace.cmake
  appsec/cmake/run_tests.cmake
  appsec/src/extension/ddtrace.c
  appsec/src/extension/ddtrace.h
  appsec/src/extension/ip_extraction.c
  appsec/src/extension/ip_extraction.h
  appsec/src/extension/tags.c
  appsec/tests/extension/ancillary_tags.phpt
  appsec/tests/extension/ddtrace_disabled.phpt
  appsec/tests/extension/root_span_http_client_ip_duplicate_ip_headers.phpt
  tests/ext/root_span_http_client_ip_duplicate_ip_headers.phpt
Due: appsec

Try to fix windows build
  ext/ip_extraction.c
  ext/request_hooks.c
  ext/user_request.c
Due: appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
