Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

Fix add-routes-collection (#3446)
  appsec/tests/integration/build.gradle
  ext/ddtrace.c
Due: appsec

Remove response_code
  appsec/tests/extension/add_endpoints.phpt
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
Due: appsec

Point to latest libdatadog
  ext/ddtrace.c
Due: appsec

Remove non used fields
  appsec/tests/extension/add_endpoints.phpt
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
Due: appsec

Update php stub
  ext/ddtrace_arginfo.h
Due: appsec

Generate cbindgen
  Cargo.lock
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  components-rs/sidecar.h
Due: none

Remove non necessary file
  appsec/tests/extension/add_endpoints.phpt
Due: appsec

Test Laravel integration
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/TelemetryHelpers.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Laravel8xTests.groovy
Due: appsec

Refactor telemetry collection on appsec integration tests
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/TelemetryHelpers.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Laravel8xTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

Generate common
  components-rs/common.h
Due: none

Play defensive on Laravel Integration
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: none

Amend laravel compatibility
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: none

Get routes from Symfony
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/TelemetryHelpers.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Symfony62Tests.groovy
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: appsec

Revert non required changes
  components-rs/crashtracker.h
  components-rs/ddtrace.h
  components-rs/remote_config.rs
Due: none

Add wordpress integration
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
Due: none

Amend issue with drupal
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: none

Test symfony
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Frameworks/Symfony/Latest/src/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_2_3/src/AppBundle/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_2_8/src/AppBundle/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_3_0/src/AppBundle/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_3_3/src/AppBundle/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_3_4/src/AppBundle/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_4_0/src/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_4_2/src/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_4_4/src/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_5_0/src/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_5_1/src/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_5_2/src/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_6_2/src/Controller/CommonScenariosController.php
  tests/Integrations/Symfony/Latest/TelemetryTest.php
  tests/Integrations/Symfony/V2_3/TelemetryTest.php
  tests/Integrations/Symfony/V2_8/TelemetryTest.php
  tests/Integrations/Symfony/V3_0/TelemetryTest.php
  tests/Integrations/Symfony/V3_3/TelemetryTest.php
  tests/Integrations/Symfony/V3_4/TelemetryTest.php
  tests/Integrations/Symfony/V4_0/TelemetryTest.php
  tests/Integrations/Symfony/V4_2/TelemetryTest.php
  tests/Integrations/Symfony/V4_4/TelemetryTest.php
  tests/Integrations/Symfony/V5_0/TelemetryTest.php
  tests/Integrations/Symfony/V5_1/TelemetryTest.php
  tests/Integrations/Symfony/V5_2/TelemetryTest.php
  tests/Integrations/Symfony/V6_2/TelemetryTest.php
Due: none

wip
  tests/Integrations/WordPress/V4_8/CommonScenariosTest.php
Due: none

Test laravel
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  tests/Frameworks/Laravel/Version_10_x/routes/web.php
  tests/Frameworks/Laravel/Version_11_x/routes/web.php
  tests/Frameworks/Laravel/Version_4_2/app/routes.php
  tests/Frameworks/Laravel/Version_5_7/routes/web.php
  tests/Frameworks/Laravel/Version_5_8/routes/web.php
  tests/Frameworks/Laravel/Version_8_x/routes/web.php
  tests/Frameworks/Laravel/Version_9_x/routes/web.php
  tests/Integrations/Laravel/V10_x/TelemetryTest.php
  tests/Integrations/Laravel/V11_x/TelemetryTest.php
  tests/Integrations/Laravel/V4/TelemetryTest.php
  tests/Integrations/Laravel/V5_7/TelemetryTest.php
  tests/Integrations/Laravel/V5_8/TelemetryTest.php
  tests/Integrations/Laravel/V8_x/TelemetryTest.php
  tests/Integrations/Laravel/V9_x/TelemetryTest.php
Due: none

Fix old symfony versions tests
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Integrations/Symfony/V2_3/TelemetryTest.php
  tests/Integrations/Symfony/V2_8/TelemetryTest.php
  tests/Integrations/Symfony/V3_0/TelemetryTest.php
  tests/Integrations/Symfony/V3_3/TelemetryTest.php
  tests/Integrations/Symfony/V3_4/TelemetryTest.php
Due: none

Fix latest symfony
  tests/Frameworks/Symfony/Latest/src/Controller/CommonScenariosController.php
Due: none

Fix some symfony failing versions
  tests/Integrations/Symfony/V2_3/TelemetryTest.php
  tests/Integrations/Symfony/V2_8/TelemetryTest.php
  tests/Integrations/Symfony/V3_0/TelemetryTest.php
  tests/Integrations/Symfony/V3_3/TelemetryTest.php
  tests/Integrations/Symfony/V3_4/TelemetryTest.php
Due: none

Fix build on macos (probs with case insensitivity)
  .github/CODEOWNERS
  .gitlab/append-build-id.sh
  .gitlab/build-loader.sh
  .gitlab/compile_extension.sh
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
  .gitlab/package-extension.sh
  Makefile
  VERSION.txt
  appsec/CMakeLists.txt
  appsec/cmake/ddtrace.cmake
  components-rs/remote_config.rs
  config.m4
  config.w32
  profiling/build.rs
  tooling/bin/pecl-build
  tooling/ci/create_release.php
  zend_abstract_interface/components_rs.cmake
Due: zend_abstract_interface, profiling, appsec

Add appsec is_fully_disabled() func
  appsec/src/extension/ddappsec.c
  appsec/tests/extension/is_fully_disabled_01.phpt
  appsec/tests/extension/is_fully_disabled_02.phpt
  appsec/tests/extension/is_fully_disabled_03.phpt
  appsec/tests/extension/is_fully_disabled_04.phpt
Due: appsec

Configure gdb with debuginfod support
  dockerfiles/ci/bookworm/Dockerfile
  dockerfiles/ci/buster/Dockerfile
Due: none

Modify request_exec message
  appsec/src/extension/commands/request_exec.c
  appsec/src/extension/commands/request_exec.h
  appsec/src/extension/ddappsec.c
  appsec/src/extension/user_tracking.c
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/subscriber/base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/extension/actions_handling_01.phpt
  appsec/tests/extension/input_truncated_05.phpt
  appsec/tests/extension/push_params_ok_01.phpt
  appsec/tests/extension/push_params_ok_02.phpt
  appsec/tests/extension/push_params_ok_03.phpt
  appsec/tests/extension/push_params_ok_04.phpt
  appsec/tests/extension/push_params_ok_07.phpt
  appsec/tests/extension/push_params_ok_08.phpt
  appsec/tests/extension/push_params_ok_09.phpt
  appsec/tests/extension/push_params_ok_10.phpt
  appsec/tests/extension/request_exec.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success_v2.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_set_user.phpt
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/remote_config/listeners/engine_listener_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

Support parsing partial json in appsec
  .gitlab/build-appsec.sh
  .gitlab/generate-appsec.php
  appsec/CMakeLists.txt
  appsec/cmake/boost.cmake
  appsec/cmake/clang-format.cmake
  appsec/cmake/ddtrace.cmake
  appsec/cmake/ext_asan.cmake
  appsec/cmake/extension.cmake
  appsec/cmake/helper.cmake
  appsec/src/extension/.clang-tidy
  appsec/src/extension/entity_body.c
  appsec/src/extension/entity_body.stub.php
  appsec/src/extension/entity_body_arginfo.h
  appsec/src/extension/json_truncated_parser.cpp
  appsec/src/extension/json_truncated_parser.h
  appsec/src/extension/logging.h
  appsec/src/extension/php_compat.c
  appsec/src/extension/php_compat.h
  appsec/src/helper/.clang-tidy
  appsec/src/helper/.gitignore
  appsec/src/helper/network/proto.hpp
  appsec/tests/extension/convert_json.phpt
  appsec/tests/extension/convert_json_max_depth.phpt
  appsec/tests/extension/convert_json_special_values.phpt
  appsec/tests/extension/convert_json_truncated.phpt
  appsec/tests/extension/convert_xml_basic.phpt
  appsec/tests/extension/convert_xml_external_dtd.phpt
  appsec/tests/extension/convert_xml_external_entity.phpt
  appsec/tests/extension/convert_xml_iso88591.phpt
  appsec/tests/extension/rshutdown_command_body_size_exceeded.phpt
  appsec/tests/integration/build.gradle
  appsec/valgrind.supp
Due: appsec

Upgrade to libbdwaf pre-v2
  appsec/src/helper/engine.cpp
  appsec/src/helper/json_helper.cpp
  appsec/src/helper/json_helper.hpp
  appsec/src/helper/parameter.cpp
  appsec/src/helper/parameter.hpp
  appsec/src/helper/parameter_base.cpp
  appsec/src/helper/parameter_base.hpp
  appsec/src/helper/parameter_view.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/json_helper_test.cpp
  appsec/tests/helper/parameter_test.cpp
  appsec/tests/helper/parameter_view_test.cpp
  appsec/tests/helper/waf_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WorkerStrategyTests.groovy
Due: appsec

invoke waf for curl requests
  appsec/cmake/extension.cmake
  appsec/src/extension/configuration.h
  appsec/src/extension/curl.c
  appsec/src/extension/curl.h
  appsec/src/extension/ddappsec.c
  appsec/src/extension/entity_body.c
  appsec/src/extension/json_truncated_parser.cpp
  appsec/src/extension/request_abort.c
  appsec/src/extension/request_lifecycle.c
  appsec/src/helper/parameter_base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/suppressions.txt
  appsec/tests/extension/convert_json_object_keys.phpt
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WafSubContextTestServer.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WafSubcontextNegativeTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/WafSubcontextTests.groovy
  appsec/tests/integration/src/test/resources/empty_ruleset.json
  appsec/tests/integration/src/test/waf/recommended.json
  appsec/tests/integration/src/test/www/base/public/curl_requests.php
  appsec/tests/integration/src/test/www/base/public/curl_requests_endpoint.php
  appsec/tests/integration/src/test/www/base/public/example.json
  ext/integrations/integrations.c
  src/DDTrace/Integrations/Curl/CurlAppSec.php
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  tests/Appsec/Mock.php
Due: appsec

WIP helper-rust
  appsec/tests/integration/build.gradle
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
Due: appsec

Fix build on Mac Os
  appsec/cmake/ddtrace.cmake
  appsec/cmake/extension.cmake
  appsec/cmake/pcre2.cmake
Due: appsec

fix PHP 8.4 allocation profiling
  profiling/build.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/mod.rs
Due: profiling

remove tls prepare access
  profiling/src/allocation/allocation_ge84.rs
Due: profiling

add correctness with another custom allocater
  .github/workflows/prof_correctness.yml
Due: none

Use php_log_err() rather than _php_error_log_ex()
  loader/dd_library_loader.c
Due: none

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Nette/Latest/composer.json
  tests/Frameworks/Slim/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/AMQP/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

see #3551
  loader/dd_library_loader.c
Due: none

fix
  loader/dd_library_loader.c
Due: none

feat(CI): remove auto-retry
  .gitlab/generate-common.php
Due: none
