Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Coalesce crashtracking tags
  ext/crashtracking_windows.c
  ext/crashtracking_windows.h
  ext/sidecar.c
  ext/sidecar.h
  ext/signals.c
Due: appsec

Check exception event response (+ SC < 500)
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: none

Try to ignore exception if it has a response
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: none

fix(trace): crash when disabled by webserver config (#3089)
  ext/span.c
Due: appsec

Reduce Integration Tests Flakiness (#3145)
  tests/Benchmarks/composer.json
  tests/Benchmarks/ignore_annotations.php
  tests/Common/IntegrationTestCase.php
  tests/Common/RetryAnnotationTrait.php
  tests/Common/RetryTrait.php
  tests/Common/RetryTraitCommon.php
  tests/Common/RetryTraitFactory.php
  tests/Common/RetryTraitVersionGeneric.php
  tests/Common/RetryTraitVersionSpecific70.php
  tests/Common/SnapshotTestTrait.php
  tests/Common/SpanChecker.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/Integrations/Kafka/scripts/consumer-highlevel.php
  tests/Integrations/Kafka/scripts/consumer-lowlevel.php
  tests/Metrics/SigSegV/SigSegVTest.php
Due: none

fix(prof) FrankenPHP idle phase (#3169)
  profiling/src/lib.rs
  profiling/src/timeline.rs
Due: profiling

Stop making authenticated request an asm event
  appsec/src/extension/tags.c
  appsec/tests/extension/track_authenticated_user_event.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_anon_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_anon_mode_compat.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_anon_mode_full_name.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_default_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_ident_mode.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_ident_mode_compat.phpt
  appsec/tests/extension/track_authenticated_user_event_automated_ident_mode_full_name.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority_02.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority_03.phpt
  appsec/tests/extension/track_authenticated_user_event_sdk_takes_priority_04.phpt
Due: appsec

simplify test, remove socket connections
  tests/ext/dogstatsd/metrics_host_config.phpt
Due: none

Fix stable config in profiling when ddtrace is not loaded
  profiling/tests/phpt/stable_config.phpt
  profiling/tests/phpt/stable_config.yaml
  zend_abstract_interface/config/config_stable_file.c
Due: zend_abstract_interface, profiling, appsec

Show actual file and line for occurrence of exceptions as well
  ext/hook/uhook.c
  ext/integrations/integrations.c
  ext/serializer.c
  tests/ext/sandbox-prehook/exception_error_log.phpt
  tests/ext/sandbox-prehook/exceptions_and_errors_are_ignored_in_tracing_closure.phpt
  tests/ext/sandbox/die_in_sandbox.phpt
  tests/ext/sandbox/exception_error_log.phpt
  tests/ext/sandbox/exceptions_and_errors_are_ignored_in_tracing_closure.phpt
  tests/ext/sandbox/fatal_errors_ignored_in_tracing_closure.phpt
  tests/ext/sandbox/hook_function/posthook_exceptions_04.phpt
  tests/ext/sandbox/hook_function/prehook_exceptions_02.phpt
  tests/ext/sandbox/hook_function/prehook_exceptions_04.phpt
  tests/ext/sandbox/hook_method/prehook_exceptions_02.phpt
  tests/ext/sandbox/install_hook/install_hook_return_by_ref.phpt
  tests/ext/telemetry/integration_runtime_error.phpt
Due: appsec

Fix integration tests
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
Due: appsec

Show actual file and line for occurrence of exceptions as well (#3172)
  ext/hook/uhook.c
  ext/integrations/integrations.c
  ext/serializer.c
  tests/ext/sandbox-prehook/exception_error_log.phpt
  tests/ext/sandbox-prehook/exceptions_and_errors_are_ignored_in_tracing_closure.phpt
  tests/ext/sandbox/die_in_sandbox.phpt
  tests/ext/sandbox/exception_error_log.phpt
  tests/ext/sandbox/exceptions_and_errors_are_ignored_in_tracing_closure.phpt
  tests/ext/sandbox/fatal_errors_ignored_in_tracing_closure.phpt
  tests/ext/sandbox/hook_function/posthook_exceptions_04.phpt
  tests/ext/sandbox/hook_function/prehook_exceptions_02.phpt
  tests/ext/sandbox/hook_function/prehook_exceptions_04.phpt
  tests/ext/sandbox/hook_method/prehook_exceptions_02.phpt
  tests/ext/sandbox/install_hook/install_hook_return_by_ref.phpt
  tests/ext/telemetry/integration_runtime_error.phpt
Due: appsec

Fix stable config in profiling when ddtrace is not loaded (#3171)
  profiling/tests/phpt/stable_config.phpt
  profiling/tests/phpt/stable_config.yaml
  zend_abstract_interface/config/config_stable_file.c
Due: zend_abstract_interface, profiling, appsec

Fix SSI loader test
  loader/tests/functional/test_incompatibility_jit.php
Due: none

Bump to 1.8.0
  VERSION
  package.xml
Due: none

Fix SSI loader test (#3173)
  loader/tests/functional/test_incompatibility_jit.php
Due: none

Bump to 1.8.0 (#3174)
  VERSION
  package.xml
Due: none

follow php globals model
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
Due: profiling

Enable RASP by default also in the tracer
  ext/configuration.h
Due: appsec

Handle flushing of multiple traces at once
  ext/asm_event.c
  ext/auto_flush.c
  ext/ddtrace.c
  ext/serializer.c
  ext/span.c
  ext/span.h
  ext/trace_source.c
  ext/trace_source.h
  package.xml
  tests/Integrations/PCNTL/PCNTLTest.php
  tests/Integrations/PCNTL/scripts/long-running-manual-flush.php
  tests/ext/force_flush_traces.phpt
Due: appsec

Fix tests using default rasp config value
  appsec/tests/extension/push_params_ok_04.phpt
  appsec/tests/extension/push_params_ok_06.phpt
  appsec/tests/extension/push_params_ok_08.phpt
  appsec/tests/extension/push_params_ok_09.phpt
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/integration_filesystem_01.phpt
  tests/ext/telemetry/integration_filesystem_02.phpt
  tests/ext/telemetry/integration_filesystem_03.phpt
  tests/ext/telemetry/integration_filesystem_04.phpt
Due: appsec

Revert "Enable RASP by default (#3082)"
  appsec/src/extension/configuration.h
Due: appsec

Update package.xml
  package.xml
Due: none

Handle flushing of multiple traces at once (#3176)
  ext/asm_event.c
  ext/auto_flush.c
  ext/ddtrace.c
  ext/serializer.c
  ext/span.c
  ext/span.h
  ext/trace_source.c
  ext/trace_source.h
  package.xml
  tests/Integrations/PCNTL/PCNTLTest.php
  tests/Integrations/PCNTL/scripts/long-running-manual-flush.php
  tests/ext/force_flush_traces.phpt
Due: appsec

add ddtags test cases
  .circleci/continue_config.yml
  ext/configuration.c
Due: appsec

revert system test hard coding test
  .circleci/continue_config.yml
Due: appsec

Revert "Enable RASP by default" (#3178)
  appsec/src/extension/configuration.h
  package.xml
Due: appsec

ensure tags with a key but no value are always captured
  ext/configuration.c
Due: appsec

Add tests
  profiling/src/config.rs
  profiling/tests/phpt/phpinfo_08.phpt
  profiling/tests/phpt/phpinfo_ini_02.phpt
Due: profiling

Profiling: accept 'auto' as valid value for DD_PROFILING_ENABLED
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_decode.c
  zend_abstract_interface/config/config_decode.h
  zend_abstract_interface/config/config_ini.c
Due: zend_abstract_interface, profiling, appsec

Restrict dummy symbol to aarch64 as it works without on x86_64 on the CI. It's a Workaround as locally on linux/x86_64, the symbol is null when CFG_TEST is enabled (--all-features)
  profiling/src/php_ffi.c
Due: profiling

Add zend_write dummy symbol in test cfg
  profiling/src/php_ffi.c
Due: profiling

promise stuff
  Makefile
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/DDTrace/Integrations/DiscordPHP/DiscordPHPIntegration.php
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
  src/DDTrace/Integrations/ReactPromise/ReactPromiseIntegration.php
  tests/Common/SpanChecker.php
  tests/Integrations/DiscordPHP/V10/DiscordPHPTest.php
  tests/Integrations/DiscordPHP/V10/composer.json
  tests/Integrations/ReactPromise/V1/ReactPromiseTest.php
  tests/Integrations/ReactPromise/V1/composer.json
  tests/bootstrap_common.php
Due: appsec

fix build on aarch64
  profiling/src/bindings/mod.rs
  profiling/src/php_ffi.c
Due: profiling

try
  profiling/.cargo/config.toml
Due: profiling

fix zend hash update and custom
  ext/configuration.c
  ext/configuration.h
Due: appsec

update test cases, do not rely only on system tests
  tests/Unit/ConfigurationTest.php
Due: none

fix?
  .circleci/continue_config.yml
  profiling/.cargo/config.toml
  profiling/src/bindings/mod.rs
  profiling/src/php_ffi.c
Due: profiling, appsec

Amend ip collection
  appsec/src/extension/request_lifecycle.c
Due: appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
