Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Place _dd.apm.enabled:0 in every span
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_01.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_02.phpt
  tracer/serializer.c
Due: none

fix(ffe): narrow FfeResult.serial_id from i64 to i32
  components-rs/common.h
  components-rs/ffe.rs
Due: none

refactor(ffe): attach span enrichment to root span via ObjectKVStore
  src/DDTrace/OpenFeature/DataDogProvider.php
  src/api/FeatureFlags/Client.php
  src/api/FeatureFlags/Internal/NativeEvaluator.php
  src/api/FeatureFlags/SpanEnrichmentBinder.php
  src/api/FeatureFlags/SpanEnrichmentRegistry.php
  tests/OpenFeature/SpanEnrichmentAccumulatorTest.php
  tests/api/Unit/FeatureFlags/ClientTest.php
  tests/api/Unit/FeatureFlags/SpanEnrichmentRegistryTest.php
  tests/ext/ffe/system_test_data_evaluate.phpt
Due: none

ci: migrate code coverage uploads to Datadog
  .gitlab/generate-appsec.php
  .gitlab/upload-code-coverage-to-datadog.sh
  README.md
  appsec/helper-rust/CLAUDE.md
  appsec/tests/integration/build.gradle
  code-coverage.datadog.yml
  codecov.yml
Due: appsec

refactor(ffe): remove native span-enrichment staging layer
  config.m4
  tests/ext/ffe/peek_root_span_id_non_creating.phpt
  tests/ext/ffe/root_drop_clears_staged_tags.phpt
  tests/ext/ffe/serial_id_passthrough.phpt
  tracer/ddtrace.c
  tracer/ddtrace.stub.php
  tracer/ddtrace_arginfo.h
  tracer/ddtrace_globals.h
  tracer/ffe.c
  tracer/ffe.h
  tracer/functions.c
  tracer/span.c
Due: none

Send raw response bodies to the waf
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/configuration.h
  appsec/tests/extension/rshutdown_command_raw_body_disabled.phpt
  appsec/tests/extension/rshutdown_command_raw_body_json.phpt
  appsec/tests/extension/rshutdown_command_raw_body_plain_text.phpt
  appsec/tests/extension/rshutdown_command_raw_body_xml.phpt
Due: appsec

test(ffe): cover span-enrichment recording against real root spans
  tests/ext/ffe/span_enrichment_concurrent_roots.phpt
  tests/ext/ffe/span_enrichment_gate_off.phpt
  tests/ext/ffe/span_enrichment_root_meta.phpt
Due: none

docs(ffe): refresh span-enrichment comments for the ObjectKVStore design
  src/api/FeatureFlags/Internal/ResultMapper.php
  src/api/FeatureFlags/SpanEnrichmentAccumulator.php
Due: none

test(ffe): fix span-enrichment .phpt for pecl + concurrent roots
  tests/ext/ffe/span_enrichment_concurrent_roots.phpt
  tests/ext/ffe/span_enrichment_gate_off.phpt
  tests/ext/ffe/span_enrichment_root_meta.phpt
Due: none

ci: fix Bookworm debug repository
  .gitlab/generate-appsec.php
Due: none

Publish OTel process and thread context from PHP
  Cargo.lock
  appsec/cmake/extension.cmake
  cbindgen.toml
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/datadog.h
  components-rs/lib.rs
  components-rs/remote_config.rs
  components-rs/sidecar.h
  components-rs/sidecar.rs
  components-rs/stats.rs
  components-rs/telemetry.h
  components/context-discovery/context_discovery.c
  components/context-discovery/context_discovery.h
  config.m4
  config.w32
  datadog-windows.sym
  datadog.sym
  ext/datadog.c
  ext/datadog.h
  ext/signals.c
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/module_globals.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  tracer/ddtrace.c
  tracer/distributed_tracing_headers.c
  tracer/functions.c
  tracer/handlers_fiber.c
  tracer/otel_context.c
  tracer/otel_context.h
  tracer/profiling.c
  tracer/profiling.h
  tracer/serializer.c
  tracer/span.c
  tracer/span.h
Due: components-c, profiling, appsec

Make OTel thread context discovery Linux-only
  components/context-discovery/context_discovery.c
  components/context-discovery/context_discovery.h
  profiling/src/php_ffi.c
Due: components-c, profiling

Remove PHP context wrapper ABIs from Linux
  Makefile
  components-rs/datadog.h
  components-rs/lib.rs
  components/context-discovery/context_discovery.c
  components/context-discovery/context_discovery.h
  config.m4
  datadog-linux.sym
  datadog-windows.sym
  ext/datadog.c
  profiling/src/module_globals.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  tracer/otel_context.c
  tracer/otel_context.h
Due: components-c, profiling, appsec

Keep OTel TLS symbol Linux-only
  datadog.sym
  profiling/src/php_ffi.c
  tracer/otel_context.c
Due: profiling

Shorten OTel thread context finder name
  components/context-discovery/context_discovery.c
  components/context-discovery/context_discovery.h
  profiling/src/php_ffi.c
Due: components-c, profiling

feat(tracing): report OTLP telemetry export status in startup log
  tests/ext/startup_logging.phpt
  tests/ext/startup_logging_config.phpt
  tests/ext/startup_logging_json.phpt
  tracer/tracer_startup_logging.c
Due: none

Rebase libdatadog context APIs onto main
  Cargo.lock
Due: none

fix(config): increase configuration entry capacity
  zend_abstract_interface/config/config.h
Due: zend_abstract_interface, profiling, appsec

fix: bump ZAI_CONFIG_ENTRIES_COUNT_MAX to 400
  zend_abstract_interface/config/config.h
Due: zend_abstract_interface, profiling, appsec

refactor(ffe): address review — typed args, dirty-guarded tag writes, simpler UTF-8 truncation, drop dead clear()
  src/api/FeatureFlags/SpanEnrichmentAccumulator.php
  src/api/FeatureFlags/SpanEnrichmentRegistry.php
  tests/OpenFeature/SpanEnrichmentAccumulatorTest.php
Due: none

fix(ci): renew PHP FTP test certificate
  dockerfiles/ci/bookworm/cert.pem
  dockerfiles/ci/bookworm/php-7.0/Dockerfile
  dockerfiles/ci/bookworm/php-7.1/Dockerfile
  dockerfiles/ci/bookworm/php-7.2/Dockerfile
  dockerfiles/ci/bookworm/php-7.3/Dockerfile
  dockerfiles/ci/bookworm/php-7.4/Dockerfile
  dockerfiles/ci/bookworm/php-8.0/Dockerfile
  dockerfiles/ci/bookworm/php-8.1/Dockerfile
  dockerfiles/ci/bookworm/php-8.2/Dockerfile
  dockerfiles/ci/bookworm/php-8.3/Dockerfile
  dockerfiles/ci/bookworm/php-8.4/Dockerfile
  dockerfiles/ci/bookworm/php-8.5/Dockerfile
Due: none

ci: bump Bookworm image version to 10
  dockerfiles/ci/bookworm/.env
Due: none

fix(tests): pin symfony/deprecation-contracts to ^2.5 in Drupal 9.5 fixture (#4049)
  tests/Frameworks/Drupal/Version_9_5/composer.json
Due: none

test(ffe): run span-enrichment .phpt under the PHPUnit featureflags suite instead of ext
  tests/OpenFeature/span_enrichment_concurrent_roots.phpt
  tests/OpenFeature/span_enrichment_gate_off.phpt
  tests/OpenFeature/span_enrichment_root_meta.phpt
  tests/phpunit.xml
Due: none

Bump to 320 at Bob's suggestion
  zend_abstract_interface/config/config.h
Due: zend_abstract_interface, profiling, appsec

fix(config): increase configuration entry capacity (#4057)
  zend_abstract_interface/config/config.h
Due: zend_abstract_interface, profiling, appsec

Fix memory leak on roadrunner/frankenphp/etc due to appsec telemetry
  ext/telemetry.c
  ext/telemetry.h
  tracer/user_request.c
Due: appsec

Avoid a dedicated socket for crashtracker
  Cargo.lock
  cbindgen.toml
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/datadog.h
  components-rs/lib.rs
  components-rs/php_sidecar_mockgen/mock_php.shared_lib
  components-rs/remote_config.rs
  components-rs/sidecar.h
  components-rs/stats.rs
  components-rs/telemetry.h
  ext/signals.c
Due: appsec

Fixup testsuite
  tests/ext/appsec/agentic_onboarding_test.inc
  tests/ext/appsec/sca_test.inc
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/local_config.phpt
  tests/ext/telemetry/broken_pipe.phpt
  tests/ext/telemetry/composer.phpt
  tests/ext/telemetry/config.phpt
  tests/ext/telemetry/disabled.phpt
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/integration_filesystem_01.phpt
  tests/ext/telemetry/integration_filesystem_02.phpt
  tests/ext/telemetry/integration_filesystem_03.phpt
  tests/ext/telemetry/integration_filesystem_04.phpt
  tests/ext/telemetry/integration_runtime_error.phpt
  tests/ext/telemetry/metrics_logs_created.phpt
  tests/ext/telemetry/metrics_spans_created.phpt
  tests/ext/telemetry/simple.phpt
  tests/ext/telemetry/telemetry_process_tags.phpt
Due: none

Fix windows
  components-rs/lib.rs
Due: none

libdatadog update
  Cargo.lock
Due: none

Add timeout to debugger captures (#4003)
  ext/compatibility.h
  ext/crashtracking_frames.c
  ext/remote_config.c
  metadata/supported-configurations.json
  tests/ext/live-debugger/debugger_log_probe.phpt
  tests/ext/live-debugger/debugger_log_probe_capture_timeout.phpt
  tests/ext/live-debugger/debugger_span_decoration_probe.phpt
  tests/ext/live-debugger/exception-replay_001.phpt
  tests/ext/live-debugger/exception-replay_002.phpt
  tests/ext/live-debugger/exception-replay_non_regression_2989_mysqli.phpt
  tracer/configuration.h
  tracer/ddtrace_globals.h
  tracer/exception_serialize.c
  tracer/live_debugger.c
  tracer/live_debugger.h
Due: appsec

feat(tracing): report OTLP telemetry export status in startup log (#4056)
  tests/ext/startup_logging.phpt
  tests/ext/startup_logging_config.phpt
  tests/ext/startup_logging_json.phpt
  tracer/tracer_startup_logging.c
Due: none

ci: migrate Bookworm images to version 10
  .github/workflows/prof_asan.yml
  .gitlab/generate-appsec.php
  .gitlab/generate-package.php
  .gitlab/generate-profiler.php
  .gitlab/generate-shared.php
  .gitlab/generate-tracer.php
  docker-compose.yml
  dockerfiles/ci/bookworm/.env
  tooling/bin/build-debug-artifact
Due: none

fix(ci): renew PHP FTP test certificate (#4060)
  .github/workflows/prof_asan.yml
  .gitlab/generate-appsec.php
  .gitlab/generate-package.php
  .gitlab/generate-profiler.php
  .gitlab/generate-shared.php
  .gitlab/generate-tracer.php
  docker-compose.yml
  dockerfiles/ci/bookworm/.env
  dockerfiles/ci/bookworm/cert.pem
  dockerfiles/ci/bookworm/php-7.0/Dockerfile
  dockerfiles/ci/bookworm/php-7.1/Dockerfile
  dockerfiles/ci/bookworm/php-7.2/Dockerfile
  dockerfiles/ci/bookworm/php-7.3/Dockerfile
  dockerfiles/ci/bookworm/php-7.4/Dockerfile
  dockerfiles/ci/bookworm/php-8.0/Dockerfile
  dockerfiles/ci/bookworm/php-8.1/Dockerfile
  dockerfiles/ci/bookworm/php-8.2/Dockerfile
  dockerfiles/ci/bookworm/php-8.3/Dockerfile
  dockerfiles/ci/bookworm/php-8.4/Dockerfile
  dockerfiles/ci/bookworm/php-8.5/Dockerfile
  tooling/bin/build-debug-artifact
Due: none

Fix JIT stuff
  tracer/live_debugger.c
  zend_abstract_interface/interceptor/php7/interceptor.c
  zend_abstract_interface/jit_utils/jit_blacklist.c
Due: zend_abstract_interface, profiling, appsec

Add size limit to debugger capture
  tests/ext/live-debugger/debugger_log_probe_capture_size_limit.phpt
  tracer/ddtrace_globals.h
  tracer/exception_serialize.c
  tracer/live_debugger.c
  tracer/live_debugger.h
Due: none

ci(profiling): collect PHP language test core dumps
  .gitlab/generate-profiler.php
Due: none

Propagate agent configured timeout to sidecar
  Makefile
  ext/sidecar.c
  tests/ext/remote_config/dynamic_config_multiconfig.phpt
  tests/ext/remote_config/rc_fork_notify.phpt
  tests/ext/request-replayer/dd_trace_agent_env.phpt
  tests/ext/telemetry/config.phpt
Due: appsec

Set low timeouts in tests accessing invalid urls
  Makefile
  tests/ext/appsec/sca_flag_is_sent_01.phpt
  tests/ext/appsec/sca_flag_is_sent_02.phpt
  tests/ext/appsec/sca_flag_is_sent_03.phpt
  tests/ext/appsec/sca_flag_is_sent_04.phpt
  tests/ext/appsec/sca_flag_is_sent_05.phpt
  tests/ext/background-sender/background_sender_ipv6_support.phpt
  tests/ext/background-sender/cli_shutdown_no_hang_unreachable_agent.phpt
  tests/ext/background-sender/sidecar_handles_invalid_agent_url.phpt
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/local_config.phpt
  tests/ext/startup_logging_diagnostics.phpt
  tests/ext/telemetry/broken_pipe.phpt
  tests/ext/telemetry/composer.phpt
  tests/ext/telemetry/config.phpt
  tests/ext/telemetry/disabled.phpt
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/integration_filesystem_01.phpt
  tests/ext/telemetry/integration_filesystem_02.phpt
  tests/ext/telemetry/integration_filesystem_03.phpt
  tests/ext/telemetry/integration_filesystem_04.phpt
  tests/ext/telemetry/integration_runtime_error.phpt
  tests/ext/telemetry/metrics_logs_created.phpt
  tests/ext/telemetry/metrics_spans_created.phpt
  tests/ext/telemetry/simple.phpt
  tests/ext/telemetry/telemetry_process_tags.phpt
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
