Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

Reduce work done by stress test (#3188)
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/buster/php-8.0/0001-Fix-memory-leak-in-zend_wrong_callback_error.patch
  dockerfiles/ci/buster/php-8.0/Dockerfile
  dockerfiles/ci/xfail_tests/8.0.list
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  tests/ext/request-replayer/dd_trace_agent_env.phpt
  tests/internal-api-stress-test.php
Due: appsec

fix for failing appsec extension builds
  .gitlab/build-appsec.sh
  .gitlab/generate-package.php
Due: none

get compile appsec helper job working
  .gitlab/build-appsec-helper.sh
  .gitlab/generate-package.php
Due: none

use mirrored image
  .gitlab/generate-package.php
Due: none

feat(component-rs): add data-pipeline header
  Cargo.lock
  Makefile
  cbindgen.toml
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/data-pipeline.h
  components-rs/library-config.h
  ext/serializer.c
  ext/sidecar.h
Due: appsec

this is a test
  Cargo.lock
Due: none

update to libdatadog 17
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

giving up
  Cargo.lock
Due: none

Fix tests using default rasp config value
  appsec/tests/extension/push_params_ok_04.phpt
  appsec/tests/extension/push_params_ok_06.phpt
  appsec/tests/extension/push_params_ok_08.phpt
  appsec/tests/extension/push_params_ok_09.phpt
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/integration_filesystem_01.phpt
  tests/ext/telemetry/integration_filesystem_02.phpt
  tests/ext/telemetry/integration_filesystem_03.phpt
  tests/ext/telemetry/integration_filesystem_04.phpt
Due: appsec

Enable RASP by default also in the tracer
  ext/configuration.h
Due: appsec

arch64 -> arm64 :facepalm:
  .gitlab/generate-package.php
Due: none

try to pull all submodules
  .gitlab/generate-package.php
Due: none

take 2?
  .gitlab/generate-package.php
Due: none

include ALL the submodules
  .gitlab/generate-package.php
Due: none

try other things
  .gitlab/generate-package.php
Due: none

chore(prof): update `libdatadog` to v17 (#3192)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling

SSI: test that stable config is applied with tracer, profiling and AppSec extensions loaded
  loader/tests/functional/fixtures/stable_config/default.yaml
  loader/tests/functional/test_profiling_and_appsec_can_be_enabled.php
Due: none

chore: Update supported versions (#3193)
  aggregated_tested_versions.json
  integration_versions.md
Due: none

feat: Add referrer hostname as span tag
  ext/serializer.c
  tests/ext/invalid_referrer.phpt
  tests/ext/referrer_hostname_retrieval.phpt
Due: appsec

Fix integraton test
  tests/Common/WebFrameworkTestCase.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
Due: none

test
  .gitlab-ci.yml
  .gitlab/generate-package.php
Due: none

More dump
  .gitlab-ci.yml
  .gitlab/generate-package.php
Due: none

set GIT_SUBMODULE_PATHS on the trigger job
  .gitlab-ci.yml
  .gitlab/generate-package.php
Due: none

Fix missing use
  Cargo.lock
  components-rs/lib.rs
Due: none

Update libdatadog
  Cargo.lock
Due: none

Add default-features
  components-rs/Cargo.toml
Due: none

test https://github.com/DataDog/libdatadog-build/pull/101
  .gitlab-ci.yml
Due: none

Disable allocation profiling when JIT is enabled on PHP 8.4
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
Due: profiling

update link
  profiling/src/lib.rs
Due: profiling

add test and update link
  profiling/src/allocation/allocation_ge84.rs
  profiling/tests/phpt/jit_01.phpt
  profiling/tests/phpt/jit_02.phpt
  profiling/tests/phpt/jit_03.phpt
  profiling/tests/phpt/phpinfo_04.phpt
Due: profiling

build tracing extension
  .gitlab/build-tracing.sh
  .gitlab/generate-package.php
Due: none

add tracing linking
  .gitlab/build-sidecar.sh
  .gitlab/build-tracing.sh
  .gitlab/generate-package.php
  .gitlab/link-tracing-extension.sh
Due: none

Update cmake build of ddtrace
  appsec/CMakeLists.txt
  appsec/cmake/ddtrace.cmake
  appsec/cmake/ext_asan.cmake
  appsec/cmake/extension.cmake
  appsec/cmake/run_tests.cmake
  appsec/src/extension/commands_helpers.c
  appsec/tests/mock_helper/CMakeLists.txt
Due: appsec

fix(prof): disable allocation profiling when JIT is enabled on PHP 8.4 (#3199)
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/tests/phpt/jit_01.phpt
  profiling/tests/phpt/jit_02.phpt
  profiling/tests/phpt/jit_03.phpt
  profiling/tests/phpt/phpinfo_04.phpt
Due: profiling

bump required memory request
  .gitlab/generate-package.php
Due: none

remove CPU request
  .gitlab/generate-package.php
Due: none

back to 12 cpus
  .gitlab/generate-package.php
Due: none

feat(prof): add FakeApp for benchmarking
  profiling/benches/fakeapp/bench.sh
  profiling/benches/fakeapp/php.ini
  profiling/benches/fakeapp/public/index.php
  profiling/benches/fakeapp/src/HttpApp.php
  profiling/benches/fakeapp/src/autoload.php
  profiling/benches/fakeapp/src/functions.php
  profiling/benches/fakeapp/vendor/FakeApp/FakeRoute/autoload.php
  profiling/benches/fakeapp/vendor/FakeApp/FakeRoute/src/Config.php
  profiling/benches/fakeapp/vendor/FakeApp/FakeRoute/src/ConfigRoute.php
  profiling/benches/fakeapp/vendor/FakeApp/FakeRoute/src/Dispatcher.php
  profiling/benches/fakeapp/vendor/FakeApp/FakeRoute/src/Found.php
  profiling/benches/fakeapp/vendor/FakeApp/FakeRoute/src/MatchedRoute.php
  profiling/benches/fakeapp/vendor/FakeApp/FakeRoute/src/MethodNotAllowed.php
  profiling/benches/fakeapp/vendor/FakeApp/FakeRoute/src/NotFound.php
  profiling/benches/fakeapp/vendor/FakeApp/Http/autoload.php
  profiling/benches/fakeapp/vendor/FakeApp/Http/src/Headers.php
  profiling/benches/fakeapp/vendor/FakeApp/Http/src/Response.php
  profiling/benches/fakeapp/vendor/FakeApp/Http/src/Status.php
  profiling/benches/fakeapp/vendor/autoload.php
Due: profiling
