Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Change back DD_APPSEC_ENABLED to CONFIG
  appsec/src/extension/configuration.h
Due: appsec

Add unwinding information to trampoline
  Cargo.lock
  profiling/.cargo/config.toml
  profiling/Cargo.toml
  profiling/src/wall_time.rs
  profiling/src/wall_time_tests.rs
Due: profiling

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Nette/Latest/composer.json
  tests/Frameworks/Slim/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Frameworks/Yii/Latest/composer.json
  tests/Integrations/AMQP/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/Logs/MonologLatest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

Change back DD_APPSEC_ENABLED to CONFIG (#3598)
  appsec/src/extension/configuration.h
Due: appsec

feat(sidecar): support threaded connection for windows
  Cargo.lock
  components-rs/bytes.rs
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  ext/coms.c
  ext/sidecar.c
  ext/sidecar.h
  tests/Integrations/Custom/Autoloaded/SidecarThreadModeTest.php
Due: appsec

helper: refactor ffi resolution; wait for sidecar in telemetry
  appsec/.clang-tidy
  appsec/src/helper/ffi.hpp
  appsec/src/helper/main.cpp
  appsec/src/helper/remote_config/client.cpp
  appsec/src/helper/remote_config/client.hpp
  appsec/src/helper/runner.cpp
  appsec/src/helper/runner.hpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/service_test.cpp
  ddtrace.sym
Due: appsec

FDE: model the epilogue
  profiling/src/wall_time.rs
Due: profiling

fix: don't rotate 3 times
  profiling/src/profiling/mod.rs
Due: profiling

build(profiling): clean up cfg checks for MSRV 1.80+
  profiling/build.rs
Due: profiling

build: drop rustc_version
  Cargo.lock
  profiling/Cargo.toml
Due: profiling

build(profiling): clean up cfg checks for MSRV 1.80+ (#3601)
  Cargo.lock
  profiling/Cargo.toml
  profiling/build.rs
Due: profiling

feat(test_web_igniter): restrict junit version to 9.5 to avoid imcompatibility with PHP 7.2
  tests/Frameworks/CodeIgniter/Version_3_1/composer.json
Due: none

release borrow as soon as possible
  profiling/src/wall_time.rs
Due: profiling

make clippy happy
  profiling/src/wall_time.rs
Due: profiling

fix after merge master
  profiling/build.rs
Due: profiling

feat(test_web_igniter): restrict junit version to 9.5 to avoid imcompatibility with PHP 7.2 (#3602)
  tests/Frameworks/CodeIgniter/Version_3_1/composer.json
Due: none

feat(CI): propage nightly var to package stage
  .gitlab-ci.yml
Due: none

feat(CI): propage nightly var to package stage (#3603)
  .gitlab-ci.yml
Due: none

feat(CI: installer tests): fix installer tests by changing enabling check on appsec extension
  dockerfiles/verify_packages/installer/utils.sh
Due: none

fix: add Cargo.lock to the .gitattributes file
  .gitattributes
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Move to libddwaf-rust 2.0.0alpha0
  appsec/helper-rust/Cargo.lock
  appsec/helper-rust/src/client.rs
  appsec/helper-rust/src/client/attributes.rs
  appsec/helper-rust/src/client/protocol.rs
  appsec/helper-rust/src/service.rs
  appsec/helper-rust/src/service/waf_diag.rs
Due: appsec

build: remove once_cell as a dependency
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
  profiling/src/sapi.rs
Due: profiling

Fix getrandom
  config.m4
  ext/compat_getrandom.c
Due: appsec

Fix telemetry tests
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

Update request_exec protocol to use options struct
  appsec/src/extension/commands/request_exec.c
  appsec/src/extension/commands/request_exec.h
  appsec/src/extension/ddappsec.c
  appsec/src/extension/user_tracking.c
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/subscriber/base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/extension/actions_handling_01.phpt
  appsec/tests/extension/input_truncated_05.phpt
  appsec/tests/extension/push_params_ok_01.phpt
  appsec/tests/extension/push_params_ok_02.phpt
  appsec/tests/extension/push_params_ok_03.phpt
  appsec/tests/extension/push_params_ok_04.phpt
  appsec/tests/extension/push_params_ok_07.phpt
  appsec/tests/extension/push_params_ok_08.phpt
  appsec/tests/extension/push_params_ok_09.phpt
  appsec/tests/extension/request_exec.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success_v2.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_set_user.phpt
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/remote_config/listeners/engine_listener_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: appsec

Improve appsec integration tests
  appsec/tests/integration/build.gradle
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/TelemetryHelpers.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: appsec

fix: Profiler should use OnceLock, not OnceCell
  profiling/src/profiling/mod.rs
Due: profiling

build(profiling): remove once_cell as a dependency (#3607)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
  profiling/src/sapi.rs
Due: profiling

refactor(profiling): use module globals for ZMM state
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/lib.rs
  profiling/src/module_globals.rs
Due: profiling

style: fix clippy warnings
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
Due: profiling

Add test to ensure endpoint are collected just once
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/www/base/public/endpoint_collection.php
Due: appsec

Extend warmup on symfony
  tests/Benchmarks/Integrations/SymfonyBench.php
Due: none

Adds process tags to profiler uploader
  ext/process_tags.c
  ext/process_tags.h
  profiling/src/bindings/mod.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: profiling, appsec

remove useless utils function
  profiling/src/bindings/mod.rs
  profiling/src/profiling/mod.rs
Due: profiling

feat(CI: installer tests): fix installer tests by changing enabling check on appsec extension (#3604)
  dockerfiles/verify_packages/installer/utils.sh
Due: none

remove empty lines and fix spelling
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
Due: profiling

Revert warm up
  tests/Benchmarks/Integrations/SymfonyBench.php
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)
