Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling, appsec

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: (any of: zend_abstract_interface/.*) or (any of: profiling/src/capi.rs)
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
  appsec: (((any of: zend_abstract_interface/.*) or (any of: appsec/.*)) or (any of: ext/.*)) or (any of: .circleci/continue_config.yml)

ci(profiling): upload PHP language test results (#4141)
  .gitlab/generate-profiler.php
Due: none

refactor(serializer): drop hand-written v1 macro FFI header
  components-rs/sidecar.h
  components-rs/sidecar_v1_macro_ffi.h
  tracer/serializer.c
Due: none

fix(profiling): Fix I/O profiling upscaling (#4137)
  .github/workflows/prof_correctness.yml
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/tests/correctness/io_upscaling.json
  profiling/tests/correctness/io_upscaling.php
Due: profiling

test: increase watchdog's RSS limit under ASAN (#4140)
  .gitlab/generate-tracer.php
Due: none

ci: don't let allow_failure jobs fail the merge gate (#4139)
  .gitlab/merge-gate.sh
Due: none

fix(installer): never set an executable bit on installed files
  datadog-setup.php
Due: none

chore(libdatadog): bump to v1 serialize-to-bytes FFI + regenerate cbindgen
  components-rs/sidecar.h
Due: none

fix(installer): set explicit modes instead of inheriting the umask (#4138)
  datadog-setup.php
  dockerfiles/verify_packages/Makefile
  dockerfiles/verify_packages/installer/test_install_umask_permissions.sh
  dockerfiles/verify_packages/installer/utils.sh
Due: none

fix(profiling): allow test symbols on macOS (#4132)
  profiling/build.rs
Due: profiling

fix(profiling): normalize missing environment (#4133)
  profiling/src/profiling/mod.rs
Due: profiling

image building in docker
  .gitlab/generate-appsec.php
  .gitlab/link-tracing-extension.sh
  appsec/src/extension/ddtrace.c
  appsec/tests/integration/README.md
  appsec/tests/integration/gradle/images.gradle
  appsec/tests/integration/src/docker/nginx-fpm-musl/Dockerfile
Due: appsec

appsec docker tag update
  appsec/tests/integration/README.md
  appsec/tests/integration/gradle/tag_mappings.gradle
Due: appsec

Bump to 1.24.2
  CHANGELOG.md
  VERSION
Due: none

Don't line-wrap the long line to be consistent with past changelogs
  CHANGELOG.md
Due: none

Use disjoint symbol sets
  .claude/ci/compile-artifacts.md
  .gitlab/build-tracing.sh
  .gitlab/compile_extension.sh
  .gitlab/generate-package.php
  .gitlab/link-tracing-extension.sh
  Makefile
  appsec/cmake/ddtrace.cmake
  appsec/tests/integration/build.gradle
  components-rs/libdatadog-php-linux.sym
  components-rs/libdatadog-php-unix.sym
  components-rs/libdatadog-php.sym
  config.m4
  config.w32
  datadog-linux.sym
  ddtrace-extension-linux.sym
  ddtrace-extension-windows.sym
  ddtrace-extension.sym
  package.xml
  tooling/bin/verify-dd-trace-php.sh
  zend_abstract_interface/components_rs.cmake
Due: zend_abstract_interface, profiling, appsec

Fix build of aws-lc-sys and aws-lc-rs
  compile_rust.sh
Due: none

ci: reuse system-tests runner image
  .gitlab-ci.yml
  .gitlab/generate-package.php
Due: none

ci: avoid duplicate parametric system tests
  .gitlab/extract_tracer_release_scenarios.py
  .gitlab/generate-package.php
  .gitlab/test_extract_tracer_release_scenarios.py
Due: none

Fix build: cast function designator before memcpy in patch_zend_call_known_function
  ext/patch_zend_call_known_function.c
Due: appsec

ci: shard tracer-release system tests
  .gitlab/generate-package.php
  .gitlab/select-system-tests-shard.py
  .gitlab/tests/test_package_system_tests_pinning.php
  .gitlab/tests/test_package_system_tests_sharding.py
Due: none

Fix helper-rust coverage: merge with the LLVM that produced the profile
  appsec/tests/integration/build.gradle
  appsec/tests/integration/src/docker/nginx-fpm-musl/Dockerfile
  appsec/tests/integration/src/docker/php-buildonly-rust/Dockerfile
Due: appsec

appsec int test: -DCMAKE_C_FLAGS=-DCXA_THREAD_ATEXIT_WRAPPER=1
  appsec/tests/integration/build.gradle
Due: appsec

temp images
  .gitlab/generate-appsec.php
Due: none

Fix helper-rust coverage: merge with the LLVM that produced the profile
  appsec/tests/integration/build.gradle
  appsec/tests/integration/gradle/tag_mappings.gradle
  appsec/tests/integration/src/docker/nginx-fpm-musl/Dockerfile
  appsec/tests/integration/src/docker/php-buildonly-rust/Dockerfile
Due: appsec

fix ddtrace cmake build on older php
  appsec/cmake/ddtrace.cmake
Due: appsec

address review comments
  compile_rust.sh
  components-rs/sidecar.rs
  ext/sidecar.c
Due: appsec

appsec-helper: link RC callbacks directly
  Cargo.lock
  appsec/helper-rust/Cargo.toml
  appsec/helper-rust/src/lib.rs
  appsec/helper-rust/src/rc_notify.rs
  components-rs/libdatadog-php.sym
Due: appsec

ci: follow system-tests main per pipeline
  .gitlab-ci.yml
  .gitlab/generate-package.php
  .gitlab/test_system_tests_ci_contract.php
Due: none

Delete .gitlab/test_system_tests_ci_contract.php
  .gitlab/test_system_tests_ci_contract.php
Due: none

Remove system tests CI contract execution
  .gitlab-ci.yml
Due: none

ci: inline tracer-release scenario extraction
  .gitlab/extract_tracer_release_scenarios.py
  .gitlab/generate-package.php
  .gitlab/test_extract_tracer_release_scenarios.py
Due: none

fix(ci): clean live debugger sessions with scoped tokens
  tests/ext/live-debugger/debugger_span_decoration_probe.phpt
  tests/ext/live-debugger/debugger_span_probe_class.phpt
Due: none

guard runtime cache stats behind debug feature
  profiling/src/profiler/stack_walking.rs
Due: profiling

Generate config
  components-rs/build.rs
  components-rs/config.rs
  components-rs/config_codegen.rs
  components-rs/lib.rs
Due: none

Fixup more --CLEAN-- sections
  tests/ext/ffe/remote_config_lifecycle.phpt
  tests/ext/live-debugger/debugger_enable_dynamic_config.phpt
  tests/ext/live-debugger/debugger_log_probe.phpt
  tests/ext/live-debugger/debugger_log_probe_capture_size_limit.phpt
  tests/ext/live-debugger/debugger_log_probe_capture_timeout.phpt
  tests/ext/live-debugger/debugger_log_probe_process_tags.phpt
  tests/ext/live-debugger/debugger_span_probe.phpt
  tests/ext/live-debugger/exception-replay_001.phpt
  tests/ext/live-debugger/exception-replay_002.phpt
  tests/ext/live-debugger/exception-replay_non_regression_2989_mysqli.phpt
  tests/ext/remote_config/dynamic_config_auto_update.phpt
  tests/ext/remote_config/dynamic_config_multiconfig.phpt
  tests/ext/remote_config/dynamic_config_update.phpt
Due: none

Fix gitlab pipeline issues (#4134)
  .claude/ci/packaging-oci.md
  .gitlab-ci.yml
  .gitlab/generate-package.php
Due: none
