Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling

refactor: rename zai_str_equals_ci_cstr to zai_str_eq_ci_cstr
  ext/configuration.c
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

refactor: rename zai_str_equals_ci_cstr to zai_str_eq_ci_cstr (#2212)
  ext/configuration.c
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

fix duplicate zai_option_str definitions caused by bad auto-merge
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

fix duplicate zai_option_str definitions caused by bad auto-merge (#2213)
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

fix(profiling): clippy lints
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stalk_walking.rs
Due: profiling

fix(profiling): clippy lints (#2215)
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stalk_walking.rs
Due: profiling

use let-else syntax
  profiling/src/allocation.rs
  profiling/src/timeline.rs
Due: profiling

Add http.route to laravel 8x
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Util/Normalizer.php
  tests/Frameworks/Laravel/Version_8_x/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Version_8_x/routes/web.php
  tests/Frameworks/TestScenarios.php
  tests/Integrations/Laravel/V8_x/CommonScenariosTest.php
  tests/Unit/Util/Normalizer/NormalizerTest.php
Due: none

Add http.route to traceSearchConfig test
  tests/Integrations/Laravel/V4/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V5_7/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V5_8/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V8_x/TraceSearchConfigTest.php
Due: none

Add missing tests
  tests/Integrations/Laravel/V8_x/InternalExceptionsTest.php
Due: none

Mark new test as only available in Laravel
  tests/Frameworks/Util/CommonScenariosDataProviderTrait.php
Due: none

Normalize laravel explicit url bindings
  src/Integrations/Util/Normalizer.php
  tests/Unit/Util/Normalizer/NormalizerTest.php
Due: none

Test http.route for remaining laravel versions
  tests/Frameworks/Laravel/Version_4_2/app/controllers/HomeController.php
  tests/Frameworks/Laravel/Version_4_2/app/routes.php
  tests/Frameworks/Laravel/Version_5_7/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Version_5_7/routes/web.php
  tests/Frameworks/Laravel/Version_5_8/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Version_5_8/routes/web.php
  tests/Integrations/Laravel/V4/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_7/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_8/CommonScenariosTest.php
Due: none

Rename http.route in Laminas to laminas.route.name
  src/Integrations/Integrations/Laminas/LaminasIntegration.php
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_with_view.json
Due: none

Check uri method exists
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
Due: none

(Snapshots WP V5.5) Replace wordpress_59_test_app by wordpress_55_test_app
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_view.json
Due: none

Fix tests failing
  tests/Integrations/Laravel/V8_x/RouteCachingTest.php
Due: none

Add http.route to laravel (#2204)
  src/Integrations/Integrations/Laminas/LaminasIntegration.php
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Util/Normalizer.php
  tests/Frameworks/Laravel/Version_4_2/app/controllers/HomeController.php
  tests/Frameworks/Laravel/Version_4_2/app/routes.php
  tests/Frameworks/Laravel/Version_5_7/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Version_5_7/routes/web.php
  tests/Frameworks/Laravel/Version_5_8/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Version_5_8/routes/web.php
  tests/Frameworks/Laravel/Version_8_x/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Version_8_x/routes/web.php
  tests/Frameworks/TestScenarios.php
  tests/Frameworks/Util/CommonScenariosDataProviderTrait.php
  tests/Integrations/Laravel/V4/CommonScenariosTest.php
  tests/Integrations/Laravel/V4/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V5_7/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_7/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V5_8/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_8/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V8_x/CommonScenariosTest.php
  tests/Integrations/Laravel/V8_x/InternalExceptionsTest.php
  tests/Integrations/Laravel/V8_x/RouteCachingTest.php
  tests/Integrations/Laravel/V8_x/TraceSearchConfigTest.php
  tests/Unit/Util/Normalizer/NormalizerTest.php
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_with_view.json
Due: none

Point to Appsec 0.12.0 (#2211)
  Makefile
Due: none

"fix" tests
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
Due: none

document
  dockerfiles/ci/xfail_tests/README.md
Due: none

chore: readonly not suppose to have default value
  ext/ddtrace.stub.php
  ext/hook/uhook.stub.php
Due: none

Revert begin -> beginning
  ext/hook/uhook.stub.php
Due: none

use let-else syntax (#2216)
  profiling/src/allocation.rs
  profiling/src/timeline.rs
Due: profiling

Not run syslog tests on outdated libsasl2-2.1.27 (#2218)
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/README.md
Due: none

Fix&regenerate stubs: SpanStack->active is actually not readonly
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/hook/uhook_arginfo.h
Due: none

Fix tests: allocate less TLS space by putting uhook HashTables into module globals
  ext/ddtrace.h
  ext/hook/uhook.c
  ext/serializer.c
Due: none

readonly is not supposed to have a default value (#2180)
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/hook/uhook.stub.php
  ext/hook/uhook_arginfo.h
Due: none

Fix tests: allocate less TLS space by putting uhook HashTables into module globals (#2219)
  ext/ddtrace.h
  ext/hook/uhook.c
  ext/serializer.c
Due: none

Require zai_str.ptr to not be null
  profiling/build.rs
  profiling/src/bindings/ffi.rs
  profiling/src/bindings/mod.rs
  profiling/src/capi.rs
  profiling/src/config.rs
  profiling/src/profiling/stalk_walking.rs
  profiling/src/timeline.rs
  tea/include/common.h
  zend_abstract_interface/config/tests/id.cc
  zend_abstract_interface/env/tests/error.cc
  zend_abstract_interface/headers/tests/headers.cc
  zend_abstract_interface/hook/tests/internal/request.cc
  zend_abstract_interface/zai_assert/zai_assert.h
  zend_abstract_interface/zai_string/CMakeLists.txt
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

Allow whatever number of newline
  tests/ext/force_flush_traces.phpt
Due: none

Fix potential heap-buffer-overflow when zai is used without an observer
  zend_abstract_interface/symbols/call.c
Due: zend_abstract_interface, profiling

Add gcc support for ZAI_ASSUME
  zend_abstract_interface/zai_assert/zai_assert.h
Due: zend_abstract_interface, profiling

remove unused ZAI_STRING_EMPTY_PTR
  zend_abstract_interface/zai_string/string.h
Due: zend_abstract_interface, profiling

ci: enable LTO for cargo bench
  .circleci/continue_config.yml
  benchmark/runall.sh
  profiling/cargo-lto.sh
Due: profiling

build(profiling): enable cross-language LTO
  .circleci/continue_config.yml
  profiling/build-linux-lto.sh
Due: profiling

Remove label unit for 'end_timestamp_ns'
  profiling/src/profiling/mod.rs
Due: profiling

Update libdatadog to WIP memory optimizations
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
Due: profiling

fix: flaky test (#2222)
  tests/ext/force_flush_traces.phpt
Due: none

Add codeowners (#286)
  .github/CODEOWNERS
Due: none

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
