Repository DataDog/dd-trace-php: changes, and which CircleCI parameters are due for each by the changed paths.
All: components-c, zend_abstract_interface, profiling

Upgrade docker containers with fixes
  dockerfiles/ci/buster/build-php.sh
  dockerfiles/ci/buster/docker-compose.yml
  tests/randomized/analyze-results.php
Due: none

Move service naming handling business logic to the Integration class
  bridge/_files_integrations.PHP5.php
  bridge/_files_integrations.php
  src/Integrations/Integrations/Curl/CurlIntegration.php
  src/Integrations/Integrations/ElasticSearch/V1/ElasticSearchIntegration.php
  src/Integrations/Integrations/ElasticSearch/V8/ElasticSearchIntegration.php
  src/Integrations/Integrations/Eloquent/EloquentIntegration.php
  src/Integrations/Integrations/Guzzle/GuzzleIntegration.php
  src/Integrations/Integrations/Integration.php
  src/Integrations/Integrations/Memcache/MemcacheIntegration.php
  src/Integrations/Integrations/Memcached/MemcachedIntegration.php
  src/Integrations/Integrations/MongoDB/MongoDBIntegration.php
  src/Integrations/Integrations/Mysqli/MysqliIntegration.php
  src/Integrations/Integrations/PDO/PDOIntegration.php
  src/Integrations/Integrations/PHPRedis/PHPRedisIntegration.php
  src/Integrations/Integrations/SQLSRV/SQLSRVIntegration.php
  src/Integrations/Integrations/SpanTaxonomy.php
Due: none

Improve cargo build a bit
  .cargo-registry/.gitignore
  components-rs/build.rs
  config.m4
  docker-compose.yml
Due: none

FIx randomized Makefile, add a couple xfails for new PHP version
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/README.md
  tests/randomized/Makefile
Due: none

Reflect changes to datadog.version and datadog.env in existing spans
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.h
  tests/ext/runtime_ini_env_version_change.phpt
Due: none

Add Logs Correlation (#2118)
  Makefile
  bridge/_files_integrations.php
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  ext/random.c
  src/Integrations/Integrations/Laminas/LaminasIntegration.php
  src/Integrations/Integrations/LaravelQueue/LaravelQueueIntegration.php
  src/Integrations/Integrations/Logs/LogsIntegration.php
  tests/Common/BaseTestCase.php
  tests/Integrations/Logs/BaseLogsTest.php
  tests/Integrations/Logs/LaminasLogV2/LaminasLogV2Test.php
  tests/Integrations/Logs/MonologV1/MonologV1Test.php
  tests/Integrations/Logs/MonologV2/MonologV2Test.php
  tests/Integrations/Logs/MonologV3/MonologV3Test.php
  tests/Integrations/Lumen/V5_2/CommonScenariosTest.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
  tests/composer.json
  tests/ext/alias_logs.phpt
  tests/ext/retrieve_128_bit_trace_id.phpt
Due: none

Evaluate the service name after the service mapping for a sampling decision
  ext/priority_sampling/priority_sampling.c
  tests/ext/priority_sampling/013-rule-service-mapped.phpt
Due: none

Rename DD_TRACE_TELEMETRY_ENABLED to DD_INSTRUMENTATION_TELEMETRY_ENABLED
  ext/configuration.h
  ext/ddtrace.c
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/ext/background-sender/agent_headers.phpt
  tests/ext/background-sender/agent_headers_container_id.phpt
  tests/ext/background-sender/agent_headers_container_id_empty.phpt
  tests/ext/background-sender/agent_headers_container_id_fargate.phpt
  tests/ext/background-sender/agent_headers_ignore_userland.phpt
  tests/ext/background-sender/agent_headers_unix_domain_socket.phpt
  tests/ext/telemetry/composer.phpt
  tests/ext/telemetry/config.phpt
  tests/ext/telemetry/disabled.phpt
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/simple.phpt
Due: none

Fix WP test
  src/Integrations/Integrations/WordPress/V4/WordPressIntegrationLoader.php
Due: none

Fix Elasticsearch instrumentation
  src/Integrations/Integrations/ElasticSearch/V1/ElasticSearchIntegration.php
Due: none

Opt-in to flat service names (#2163)
  ext/configuration.h
  src/Integrations/Integrations/Curl/CurlIntegration.php
  src/Integrations/Integrations/ElasticSearch/V1/ElasticSearchIntegration.php
  src/Integrations/Integrations/ElasticSearch/V8/ElasticSearchIntegration.php
  src/Integrations/Integrations/Eloquent/EloquentIntegration.php
  src/Integrations/Integrations/Guzzle/GuzzleIntegration.php
  src/Integrations/Integrations/Integration.php
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Integrations/Memcache/MemcacheIntegration.php
  src/Integrations/Integrations/Memcached/MemcachedIntegration.php
  src/Integrations/Integrations/MongoDB/MongoDBIntegration.php
  src/Integrations/Integrations/Mysqli/MysqliIntegration.php
  src/Integrations/Integrations/PDO/PDOIntegration.php
  src/Integrations/Integrations/PHPRedis/PHPRedisIntegration.php
  src/Integrations/Integrations/Roadrunner/RoadrunnerIntegration.php
  src/Integrations/Integrations/SQLSRV/SQLSRVIntegration.php
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
  tests/Integrations/Memcache/MemcacheTest.php
  tests/Integrations/Memcached/MemcachedTest.php
  tests/Integrations/MongoDB/MongoDBTest.php
  tests/Integrations/Mysqli/MysqliTest.php
  tests/Integrations/PDO/PDOTest.php
  tests/Integrations/PHPRedis/V5/PHPRedisClusterTest.php
  tests/Integrations/PHPRedis/V5/PHPRedisTest.php
  tests/Integrations/SQLSRV/SQLSRVTest.php
Due: none

Try adding a bit of swap for randomized tests
  .circleci/continue_config.yml
  dockerfiles/ci/buster/build-php.sh
Due: none

Fix test after rename
  tests/ext/telemetry/config.phpt
Due: none

Relax minimum requests a bit more for less flakiness
  tests/randomized/analyze-results.php
Due: none

fix test agent env variables
  tests/Common/TracerTestTrait.php
Due: none

fix index error
  tests/Common/TracerTestTrait.php
Due: none

Fix memory leak in randomized tests (#1980)
  .circleci/continue_config.yml
  dockerfiles/ci/buster/0001-Fix-GH-10611-fpm_env_init_main-leaks-environ.patch
  dockerfiles/ci/buster/build-php.sh
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/buster/php-8.0/Dockerfile
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/README.md
  dockerfiles/verify_packages/centos/install.sh
  tests/randomized/Makefile
  tests/randomized/analyze-results.php
  tests/randomized/generate-scenarios.php
  tests/randomized/lib/templates/docker-compose.template.yml
Due: none

Add invalid regex handling for sampling rules (#2160)
  ext/priority_sampling/priority_sampling.c
  tests/ext/priority_sampling/invalid-regex-rule.phpt
  zend_abstract_interface/uri_normalization/CMakeLists.txt
  zend_abstract_interface/uri_normalization/uri_normalization.c
Due: zend_abstract_interface, profiling

Evaluate the service name after the service mapping for a sampling decision (#2166)
  ext/priority_sampling/priority_sampling.c
  tests/ext/priority_sampling/013-rule-service-mapped.phpt
Due: none

Reflect changes to datadog.version and datadog.env in existing spans (#2165)
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.h
  tests/ext/runtime_ini_env_version_change.phpt
Due: none

Improve cargo build a bit (#2164)
  .cargo-registry/.gitignore
  components-rs/build.rs
  config.m4
  docker-compose.yml
Due: none

Enable instrumentation telemetry, fix telemetry leaks, and move all integrations to deferred loading (#2153)
  Cargo.lock
  config.m4
  ext/configuration.h
  ext/ddtrace.c
  ext/integrations/integrations.c
  ext/telemetry.c
  src/Integrations/Integrations/IntegrationsLoader.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
  tests/ext/background-sender/agent_headers.phpt
  tests/ext/background-sender/agent_headers_container_id.phpt
  tests/ext/background-sender/agent_headers_container_id_empty.phpt
  tests/ext/background-sender/agent_headers_container_id_fargate.phpt
  tests/ext/background-sender/agent_headers_ignore_userland.phpt
  tests/ext/background-sender/agent_headers_unix_domain_socket.phpt
  tests/ext/integrations/curl/curl_helper.inc
  tests/ext/pcntl/functions.inc
  tests/ext/telemetry/composer.phpt
  tests/ext/telemetry/config.phpt
  tests/ext/telemetry/disabled.phpt
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/simple.phpt
Due: none

catch exception
  tests/Common/TracerTestTrait.php
Due: none

Bump version to 0.90.0
  Cargo.lock
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling

style: rustfmt
  profiling/src/allocation.rs
  profiling/src/bindings/mod.rs
  profiling/src/timeline.rs
Due: profiling

style: clean some gnarly code
  profiling/src/timeline.rs
Due: profiling

fix(profiling): more accurate event timestamp for timeline (#2157)
  profiling/src/allocation.rs
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
Due: profiling

feat(profiling): add `eval()` to timeline (#2150)
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
Due: profiling

Bump version to 0.90.0 (#2167)
  Cargo.lock
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: profiling

style: 'any' is not needed with only one config
  profiling/build.rs
Due: profiling

perf(profiling): only wake every 10ms if PHP is serving a request
  profiling/src/lib.rs
  profiling/src/profiling/interrupts.rs
  profiling/src/profiling/mod.rs
Due: profiling

Add context to pause error and document many things
  profiling/src/profiling/interrupts.rs
Due: profiling

Spans limit (10/plugin) + Handle symbolic link edge case during the plugin loading procedure
  src/Integrations/Integrations/WordPress/V6/WordPressComponent.php
Due: none

must be mutable now
  profiling/src/profiling/mod.rs
Due: profiling

Disable cache/transients (Fix snapshot tests)
  tests/Common/SnapshotTestTrait.php
  tests/Frameworks/WordPress/Version_6_1/wp-config.php
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_view.json
Due: none

Specify SQL_MODE in mysql's CI image
  .circleci/continue_config.yml
Due: none

Specify SQL_MODE in mysql's CI image (snapshots only)
  .circleci/continue_config.yml
Due: none

sql_mode --> sql-mode
  .circleci/continue_config.yml
Due: none

Fix snapshots
  .circleci/continue_config.yml
  docker-compose.yml
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_view.json
Due: none

fibers exists since PHP 8.1
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
Due: profiling

Path conditions:
  components-c: any of: components/.*
  zend_abstract_interface: any of: zend_abstract_interface/.*
  profiling: ((any of: zend_abstract_interface/.*) or (any of: profiling/.*)) or (any of: ext/handlers_api.[ch])
