Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-appsec

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-appsec: any of: appsec/src/**/*

Correct the publish runbook: a public-images pipeline still runs
  dockerfiles/ci/README.md
Due: none

feat(profiling): publish Linux OTel contexts
  Cargo.lock
  Cargo.toml
  Makefile
  appsec/cmake/ddtrace.cmake
  components-rs/Cargo.toml
  components-rs/datadog.h
  components-rs/lib.rs
  config.m4
  config.w32
  datadog-linux.sym
  ext/datadog.c
  ext/otel_context.c
  ext/otel_context.h
  ext/sidecar.c
  package.xml
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/module_globals.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/process_context.rs
  profiling/src/process_context/linux.rs
  profiling/src/profiling/mod.rs
  profiling/src/pthread.rs
  tests/ext/fibers/otel_thread_context_switch.phpt
  tests/ext/includes/otel_thread_context.inc
  tests/ext/otel_process_context.phpt
  tests/ext/otel_thread_context_lifecycle.phpt
  tests/ext/otel_thread_context_stack_switch.phpt
  tests/ext/pcntl/otel_process_context_fork.phpt
  tooling/bin/verify-dd-trace-php.sh
  tracer/ddtrace.c
  tracer/functions.c
  tracer/handlers_fiber.c
  tracer/priority_sampling/priority_sampling.c
  tracer/profiling.c
  tracer/profiling.h
  tracer/span.c
  zend_abstract_interface/components_rs.cmake
Due: benchmarks-profiler

Revert "feat(appsec): consume Linux OTel contexts"
  appsec/src/extension/ddappsec.c
  appsec/src/extension/ddtrace.c
  appsec/src/extension/ddtrace.h
  appsec/src/extension/helper_process.c
  appsec/src/extension/otel_context.c
  appsec/src/extension/otel_context.h
  appsec/tests/extension/otel_context_thread_overrides.phpt
  components-rs/Cargo.toml
  components-rs/datadog.h
  components-rs/lib.rs
  datadog-linux.sym
Due: benchmarks-appsec

feat(appsec): consume Linux OTel contexts
  appsec/src/extension/ddappsec.c
  appsec/src/extension/ddtrace.c
  appsec/src/extension/ddtrace.h
  appsec/src/extension/helper_process.c
  appsec/src/extension/otel_context.c
  appsec/src/extension/otel_context.h
  appsec/tests/extension/otel_context_thread_overrides.phpt
  components-rs/Cargo.toml
  components-rs/datadog.h
  components-rs/lib.rs
  datadog-linux.sym
Due: benchmarks-appsec

fix(ci): preserve Linux exports in debug relinking
  .gitlab/compile_extension.sh
  .gitlab/link-tracing-extension.sh
Due: none

fix(ci): package OTel thread context crate for PECL
  Makefile
Due: none

fix(otel): keep request metadata in thread context
  components-rs/datadog.h
  components-rs/lib.rs
  ext/otel_context.c
  ext/otel_context.h
  tests/ext/otel_process_context.phpt
  tracer/ddtrace.c
Due: none

Plan for long response bodies
  appsec/helper-rust/src/client/protocol.rs
  appsec/src/extension/entity_body.c
  appsec/src/helper/network/broker.hpp
  appsec/tests/extension/rshutdown_command_raw_body_size_capped.phpt
Due: benchmarks-appsec

feat(profiling): add build compatibility with PHP 8.6 (#4084)
  profiling/build.rs
  profiling/src/config.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
Due: benchmarks-profiler

fix: use lossy UTF8 conversions on process ctx
  components-rs/lib.rs
Due: none

perf(profiling): reuse module globals in allocation hooks
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/allocation/profiling_stats.rs
  profiling/src/module_globals.rs
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

fix(profiling): satisfy clippy for allocation globals
  profiling/src/allocation/profiling_stats.rs
Due: benchmarks-profiler

Fix test
  tests/ext/telemetry/sensitive_config.phpt
Due: none

Exclude sensitive configurations from configuration telemetry
  ext/configuration.h
  ext/telemetry.c
  loader/tests/functional/test_configuration_telemetry.php
  metadata/supported-configurations.json
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  src/DDTrace/OpenTelemetry/Configuration.php
  tests/ext/telemetry/sensitive_config.phpt
  tooling/generate-supported-configurations.sh
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
Due: benchmarks-profiler

Fix sensitive OTel configuration metadata
  metadata/supported-configurations.json
  src/DDTrace/OpenTelemetry/Configuration.php
  tooling/generate-supported-configurations.sh
Due: none

Harden sensitive configuration telemetry filtering
  ext/configuration.h
  ext/telemetry.c
  loader/tests/functional/test_configuration_telemetry.php
  metadata/supported-configurations.json
  src/DDTrace/OpenTelemetry/Configuration.php
  tests/ext/telemetry/sensitive_config.phpt
  tooling/generate-supported-configurations.sh
  tracer/functions.c
  zend_abstract_interface/config/config.h
Due: none

Close sensitive telemetry bypasses
  tests/ext/telemetry/sensitive_config.phpt
  tooling/generate-supported-configurations.sh
  tracer/functions.c
Due: none

Test configuration metadata parsers
  .gitlab/generate-shared.php
  tooling/generate-supported-configurations.sh
Due: none

Handle nested OTel configuration literals
  tooling/generate-supported-configurations.sh
Due: none

Match PHP configuration literal semantics
  tooling/generate-supported-configurations.sh
Due: none

Support keyed OTel configuration values
  tooling/generate-supported-configurations.sh
Due: none

Reject ambiguous OTel configuration entries
  tooling/generate-supported-configurations.sh
Due: none

feat(otel): publish thread context from tracer
  components-rs/datadog.h
  components-rs/lib.rs
  config.m4
  config.w32
  ext/datadog.c
  ext/otel_context.c
  ext/otel_context.h
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/process_context.rs
  profiling/src/profiling/mod.rs
  profiling/src/pthread.rs
  tests/Integration/DatabaseMonitoringTest.php
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids_dd_tracecontext.phpt
  tests/ext/distributed_tracing/distributed_trace_generate_trace_flags.phpt
  tests/ext/fibers/otel_thread_context_switch.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_drop_dm.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_invalid_tags.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_tracestate.phpt
  tests/ext/otel_thread_context_lifecycle.phpt
  tests/ext/otel_thread_context_stack_switch.phpt
  tracer/ddtrace.c
  tracer/ddtrace_globals.h
  tracer/distributed_tracing_headers.c
  tracer/distributed_tracing_headers.h
  tracer/functions.c
  tracer/handlers_fiber.c
  tracer/handlers_http.h
  tracer/otel_context.c
  tracer/otel_context.h
  tracer/priority_sampling/priority_sampling.c
  tracer/profiling.c
  tracer/profiling.h
  tracer/span.c
  tracer/span.h
  tracer/trace_context.h
Due: benchmarks-profiler

perf(otel): resolve TLS slot when creating roots
  tracer/otel_context.c
  tracer/span.h
Due: none

Fix tests
  appsec/tests/helper/broker_test.cpp
Due: none

Do pr comments
  appsec/src/extension/entity_body.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RawResponseBodyTests.groovy
Due: benchmarks-appsec

refactor(appsec): track helper client tasks
  appsec/helper-rust/Cargo.toml
  appsec/helper-rust/build.rs
  appsec/helper-rust/src/lib.rs
  appsec/helper-rust/src/server.rs
Due: none

build: add DT_NEEDED entries to portable library
  Cargo.lock
  compile_rust.sh
  components-rs/Cargo.toml
  components-rs/build.rs
  config.m4
  sidecar/Cargo.toml
  sidecar/build.rs
  sidecar/glibc_compat.c
Due: none

feat(appsec): route telemetry through sidecar
  Cargo.lock
  appsec/helper-rust/CLAUDE.md
  appsec/helper-rust/Cargo.toml
  appsec/helper-rust/build.rs
  appsec/helper-rust/scripts/generate-sidecar-ffi.sh
  appsec/helper-rust/src/client.rs
  appsec/helper-rust/src/ffi.rs
  appsec/helper-rust/src/ffi/sidecar_ffi.rs
  appsec/helper-rust/src/lib.rs
  appsec/helper-rust/src/server.rs
  appsec/helper-rust/src/service.rs
  appsec/helper-rust/src/telemetry.rs
  appsec/helper-rust/src/telemetry/error_tel_ctx.rs
  appsec/helper-rust/src/telemetry/sidecar.rs
  components-rs/Cargo.toml
  components-rs/sidecar.h
  components-rs/sidecar.rs
  datadog.sym
  sidecar/src/lib.rs
Due: none

perf(appsec): avoid scheduling ready helper work
  appsec/helper-rust/src/client.rs
  appsec/helper-rust/src/client/sidecar_msg.rs
Due: none

ci(appsec): collect embedded helper coverage
  .claude/ci/appsec-gradle-integration.md
  .claude/ci/building-locally.md
  .gitlab/generate-appsec.php
  appsec/helper-rust/.cargo/config.toml
  appsec/helper-rust/build.rs
  appsec/helper-rust/coverage_init.c
  appsec/helper-rust/outline_atomics.c
  appsec/helper-rust/src/lib.rs
  appsec/tests/integration/build.gradle
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
  appsec/tests/integration/src/test/bin/enable_extensions.sh
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CrashDetectionTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/FrankenphpClassicTests.groovy
  components-rs/Cargo.toml
  sidecar/Cargo.toml
  sidecar/src/lib.rs
Due: none

perf(appsec): avoid formatting filtered helper logs
  appsec/helper-rust/src/client/log.rs
Due: none

feat(appsec): support sidecar thread mode
  Cargo.lock
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/SidecarThreadModeTests.groovy
  components-rs/datadog.h
  components-rs/sidecar.rs
  ext/sidecar.c
  sidecar/src/lib.rs
Due: none

Send raw response bodies to the waf (#4055)
  appsec/helper-rust/src/client/protocol.rs
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/configuration.h
  appsec/src/extension/entity_body.c
  appsec/src/helper/network/broker.hpp
  appsec/src/helper/network/msgpack_helpers.cpp
  appsec/tests/extension/rinit_rshutdown_basic.phpt
  appsec/tests/extension/rshutdown_command_raw_body_disabled.phpt
  appsec/tests/extension/rshutdown_command_raw_body_json.phpt
  appsec/tests/extension/rshutdown_command_raw_body_plain_text.phpt
  appsec/tests/extension/rshutdown_command_raw_body_size_capped.phpt
  appsec/tests/extension/rshutdown_command_raw_body_xml.phpt
  appsec/tests/helper/broker_test.cpp
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_agent/rem_cfg/Capability.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RawResponseBodyTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
  appsec/tests/integration/src/test/www/base/public/raw_response_body.php
  appsec/tests/mock_helper/mock_helper_main.cc
  components-rs/common.h
  components-rs/remote_config.rs
  metadata/supported-configurations.json
Due: benchmarks-appsec

fix(profiling): pthread_self/gettid mismatch
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

build: remove nightly/bootstrap requirements
  components-rs/lib.rs
Due: none

build: remove RUSTC_BOOSTRAP=1
  .claude/ci/compile-artifacts.md
  appsec/cmake/ddtrace.cmake
  compile_rust.sh
  config.w32
  docker-compose.yml
  zend_abstract_interface/components_rs.cmake
Due: none

Avoid leaking patched module_entry across loader shutdown
  .gitlab/generate-package.php
  loader/bin/test_apache_reload.sh
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
Due: none
