Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

feat: Log Duration >= 1ms
  ext/configuration.h
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
  src/api/Log/DatadogLogger.php
Due: benchmarks-tracer

fix: Change default to USER_KEEP
  ext/distributed_tracing_headers.c
Due: benchmarks-tracer

fix: Fn scope, default value, /dev/XXX permissions
  ext/configuration.h
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
  src/api/Log/DatadogLogger.php
Due: benchmarks-tracer

fix: default value
  ext/configuration.h
Due: benchmarks-tracer

feat: microseconds in log
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
  src/api/Log/DatadogLogger.php
Due: benchmarks-tracer

praise chatgpt
  ext/distributed_tracing_headers.c
Due: benchmarks-tracer

Fix compilation
  ext/distributed_tracing_headers.c
Due: benchmarks-tracer

when span_ids conflict, tracecontext headers must take precedence
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids.phpt
Due: none

take 2
  tests/ext/distributed_tracing/distributed_trace_conflicting_span_ids.phpt
Due: none

_dd.parent_id is independent of tracestate
  ext/distributed_tracing_headers.c
Due: benchmarks-tracer

Provide a DogStatsD API (#2639)
  Cargo.lock
  components-rs/sidecar.h
  config.m4
  config.w32
  ext/auto_flush.c
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/dogstatsd.c
  ext/dogstatsd.h
  ext/sidecar.c
  ext/sidecar.h
  tests/ext/dogstatsd/disabled_if_agentless.phpt
  tests/ext/dogstatsd/metrics_over_udp.phpt
  tests/ext/dogstatsd/metrics_over_uds.phpt
Due: benchmarks-tracer

Make use of the sidecar thread safe
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  ext/sidecar.c
Due: benchmarks-tracer

Add myself as a lead for pecl
  package.xml
Due: none

Collect trace_api.{requests,responses,errors} in the background trace sender
  Cargo.lock
  components-rs/sidecar.h
  ext/coms.c
  ext/sidecar.c
  ext/telemetry.c
  ext/telemetry.h
Due: benchmarks-tracer

Fix memory leak:
  ext/coms.c
  ext/ddtrace.c
  ext/ddtrace.h
Due: benchmarks-tracer

Fix test
  ext/telemetry.c
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
Due: benchmarks-tracer

Add myself as a lead for pecl (#2674)
  package.xml
Due: none

Update libdatadog
  components-rs/sidecar.h
Due: none

Fix tests
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTracing/InternalTelemetryTest.php
Due: none

Bump version to 1.0.0
  VERSION
  package.xml
Due: none

Try running system tests with sidecar sender
  .circleci/continue_config.yml
Due: none

Don't explicitly flush the bgs telemetry data
  ext/telemetry.c
Due: benchmarks-tracer

feat: Stream JSON Logger w/ Logs Correlation
  src/api/Log/DatadogLogger.php
  src/api/Log/InterpolateTrait.php
  src/bridge/_files_tracer.php
  tests/Unit/Log/DatadogLoggerTest.php
Due: benchmarks-tracer

Improve test stability
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
Due: none

Try to run system-tests from a fork
  .circleci/continue_config.yml
Due: none

Fix telemetry tests
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
  tests/OpenTracing/InternalTelemetryTest.php
Due: none

Shut up instrumentation telemetry in web tests
  tests/Common/WebFrameworkTestCase.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
Due: none

Fix alpine:latest verify job
  dockerfiles/verify_packages/alpine/install.sh
Due: none

Fix flakiness
  Makefile
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
  tests/OpenTracing/InternalTelemetryTest.php
  tests/ext/appsec/sca_test.inc
Due: none

refactor: use ArenaAllocator trait
  profiling/src/string_set.rs
Due: benchmarks-profiler

feat: keep string cache data alive longer
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/string_set.rs
  profiling/src/string_table.rs
Due: benchmarks-profiler

test: search harder for out-of-bounds writes
  profiling/src/string_set.rs
Due: benchmarks-profiler

Fix alpine:latest verify job (#2676)
  dockerfiles/verify_packages/alpine/install.sh
Due: none

Bump version to 1.0.0 (#2675)
  VERSION
  package.xml
Due: none

Better flaky test check
  .circleci/continue_config.yml
  tests/ext/appsec/sca_test.inc
Due: none

Collect trace_api.{requests,responses,errors} metrics in the background trace sender (#2672)
  Cargo.lock
  Makefile
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  ext/coms.c
  ext/ddtrace.c
  ext/ddtrace.h
  ext/sidecar.c
  ext/telemetry.c
  ext/telemetry.h
  tests/Common/WebFrameworkTestCase.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
  tests/OpenTracing/InternalTelemetryTest.php
  tests/ext/appsec/sca_test.inc
Due: benchmarks-tracer

Compile tracer version into sidecar
  compile_rust.sh
  package.xml
Due: none

Compile tracer version into sidecar (#2678)
  compile_rust.sh
  package.xml
Due: none

run benchamrks from this branch to use another executor
  .gitlab/benchmarks.yml
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
