Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-appsec

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 90m
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-appsec:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 90m
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

chore: regenerate cbindgen headers
  components-rs/common.h
  components-rs/datadog.h
Due: none

feat(profiling): drive wall-time samples from sidecar
  components-rs/common.h
  components-rs/sidecar.h
  ext/datadog.c
  ext/remote_config.c
  ext/remote_config.h
  ext/sidecar.c
  ext/sidecar.h
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/capi.rs
  profiling/src/clocks.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/lifecycle.h
  profiling/src/module_globals.rs
  profiling/src/profiler/interrupts.rs
  profiling/src/profiler/mod.rs
  profiling/src/profiler/sample_type_filter.rs
  profiling/src/profiler/uploader.rs
  profiling/src/wall_time.rs
Due: benchmarks-profiler

feat(profiling): sample CPU time with per-thread timers
  config.m4
  ext/datadog.c
  ext/datadog.h
  ext/profiling_cpu_time.c
  ext/profiling_cpu_time.h
  profiling/src/lib.rs
  profiling/src/lifecycle.h
  profiling/src/profiler/mod.rs
  profiling/src/profiler/sample_type_filter.rs
Due: benchmarks-profiler

fix(profiling): guard wall-time sidecar hooks
  ext/remote_config.c
  ext/sidecar.c
  ext/sidecar.h
Due: none

fix(profiling): fan out sidecar interrupts to ZTS threads
  ext/remote_config.c
  ext/remote_config.h
  ext/sidecar.c
  ext/sidecar.h
  profiling/src/lib.rs
  profiling/src/lifecycle.h
  profiling/src/module_globals.rs
  profiling/src/wall_time.rs
Due: benchmarks-profiler

fix(profiling): omit CPU time on unsupported platforms
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiler/mod.rs
  profiling/src/profiler/sample_type_filter.rs
Due: benchmarks-profiler

fix(profiling): satisfy Clippy in CPU clock rotation
  profiling/src/clocks.rs
Due: benchmarks-profiler

fix(profiling): guard wall-time sidecar on Windows
  components-rs/common.h
  components-rs/sidecar.h
  ext/datadog.c
  ext/sidecar.c
  ext/sidecar.h
  profiling/src/lib.rs
Due: benchmarks-profiler

test(profiling): update sampling log expectations
  profiling/tests/phpt/allocation_sampling_distance.phpt
  profiling/tests/phpt/preload_01.phpt
Due: benchmarks-profiler

fix(clippy): preserve portable ZaiStr conversion
  profiling/src/bindings/mod.rs
Due: benchmarks-profiler

Fix ZTS profiler startup log expectation
  profiling/tests/phpt/zts_01.phpt
Due: benchmarks-profiler

fix(profiling): cache globals pointer in NTS builds
  profiling/src/module_globals.rs
Due: benchmarks-profiler

fix(profiling): add macOS time sampling fallback
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiler/interrupts.rs
  profiling/src/profiler/mod.rs
  profiling/src/profiler/sample_type_filter.rs
Due: benchmarks-profiler

Stabilize running the tracer on macos (#4187)
  .gitlab/generate-tracer.php
  .gitlab/macos.yml
  Cargo.lock
  Cargo.toml
  Makefile
  cbindgen.toml
  components-rs/datadog.h
  components-rs/remote_config.rs
  ext/signals.c
  tests/ext/background-sender/background_sender_ipv6_support.phpt
  tests/ext/crashtracker_collect_all_threads.phpt
  tests/ext/crashtracker_segfault.phpt
  tests/ext/crashtracker_segfault_disabled.phpt
  tests/ext/extract_server_values.phpt
  tests/ext/force_flush_traces.phpt
  tests/ext/pcntl/pcntl_fork_thread_mode_orphan.phpt
  tests/ext/read_c_configuration.phpt
  tests/ext/remote_config/rc_trace_enabled_rinit.phpt
  tests/ext/segfault_backtrace_disabled.phpt
  tests/ext/startup_logging_diagnostics.phpt
  tests/ext/telemetry/composer.phpt
  tests/ext/telemetry/config.phpt
Due: none

fix: remove stale configuration file references
  .claude/project/profiling.md
  config.w32
  tooling/generate-supported-configurations.sh
Due: none

chore(agents): run llm-validation on the shared BP-tools image
  .gitlab-ci.yml
Due: none

chore(agents): list sibling skills and score PHP style against phpcs
  .agents/dd-apm-sdk-review-overrides/repo-context.md
  .agents/dd-apm-sdk-review-overrides/reviewers/conventions.md
  .llm-validation/suites/dd-apm-sdk-review.yaml
Due: none

test(profiling): avoid I/O sample queue overflow
  profiling/tests/correctness/io_upscaling.php
Due: benchmarks-profiler

perf(profiling): speed up profile lookup
  profiling/src/profiler/mod.rs
Due: benchmarks-profiler

chore(ci): skip submodules on the llm-validation job
  .gitlab-ci.yml
Due: none

perf(profiling): cache profile identity per request
  profiling/src/lib.rs
  profiling/src/profiler/mod.rs
Due: benchmarks-profiler

perf(profiling): drain queued messages in batches
  profiling/src/profiler/mod.rs
Due: benchmarks-profiler

perf(profiling): avoid sharing untracked sample payloads
  profiling/src/profiler/backtrace.rs
  profiling/src/profiler/mod.rs
Due: benchmarks-profiler

chore(ci): bypass fabric-proxy for llm-validation node install
  .gitlab-ci.yml
Due: none

chore(ci): also bypass fabric for the .NET install redirect
  .gitlab-ci.yml
Due: none

chore(loader): drop the now-unused __MUSL__ define
  loader/config.m4
Due: none

Add ci job for test8.5-release-zts-musl
  .gitlab/generate-appsec.php
Due: none

fix(appsec): musl ZTS load + ZTS thread-exit teardown; ci: coverage disk envelope (#4180)
  .gitlab/generate-appsec.php
  appsec/src/extension/ddappsec.c
  appsec/src/extension/ddappsec.h
  appsec/tests/integration/build.gradle
  appsec/tests/integration/gradle/images.gradle
  appsec/tests/integration/gradle/tag_mappings.gradle
  appsec/tests/integration/src/docker/apache2-mod-zts-musl/Dockerfile
  appsec/tests/integration/src/docker/apache2-mod-zts-musl/php.conf
  appsec/tests/integration/src/docker/apache2-mod-zts-musl/start.sh
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Apache2ModTests.groovy
  loader/config.m4
  loader/dd_library_loader.c
Due: benchmarks-appsec

security: bump Rust MSRV to 1.91.0 and clang/llvm to 21
  .github/workflows/prof_asan.yml
  .gitlab/generate-appsec.php
  Cargo.toml
  appsec/tests/integration/src/docker/php-buildonly-rust/Dockerfile
  dockerfiles/ci/bookworm/Dockerfile
  dockerfiles/ci/centos/7/base.Dockerfile
  dockerfiles/ci/windows/basetools.Dockerfile
  profiling/rust-toolchain.toml
  rust-toolchain.toml
Due: benchmarks-profiler

refactor: drop vestigial empty v0.4 TracesBytes threading from the V1 serialize path
  components-rs/sidecar.h
  tracer/auto_flush.c
  tracer/functions.c
  tracer/serializer.c
  tracer/serializer.h
  tracer/span.c
  tracer/span.h
Due: none

fix: update Alpine profiler clang workaround to LLVM 21
  tooling/bin/build-debug-artifact
Due: none

ci: rebase merge-gate required jobs on measured failure data (#4178)
  .gitlab/flaky-jobs.txt
Due: none

docs: tighten V1 code comments to house style
  components-rs/bytes.rs
  dockerfiles/services/request-replayer/src/index.php
  dockerfiles/services/request-replayer/src/msgpack_v1_decoder.php
  tracer/auto_flush.c
  tracer/configuration.h
  tracer/functions.c
  tracer/serializer.c
  tracer/span_stats.c
Due: none

feat(ffe): add settings and agentless endpoint resolution
  Cargo.lock
  Cargo.toml
  components-rs/ffe.rs
  components-rs/ffe/settings.rs
  ext/configuration.h
  metadata/supported-configurations.json
  tracer/configuration.h
Due: none

fix(profiling): refresh cached profile identity
  profiling/src/lib.rs
  profiling/src/profiler/mod.rs
Due: benchmarks-profiler

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-appsec: any of: appsec/src/**/*
