Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer, benchmarks-appsec

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-appsec:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

ci: allow failure for notify-slo-breaches job in benchmarks configuration
  .gitlab/benchmarks.yml
Due: none

ci: add debug information to notify-slo-breaches job in benchmarks configuration
  .gitlab/benchmarks.yml
Due: none

ci: change notify-slo-breaches job execution condition to on_success in benchmarks configuration
  .gitlab/benchmarks.yml
Due: none

Split integration tests and update nginx config
  .gitlab/generate-appsec.php
  appsec/tests/integration/src/docker/nginx-fpm/default
Due: none

Avoid distinct tests for apache and non-apache on symfony
  tests/Frameworks/Symfony/Version_2_3/web/.htaccess
  tests/Frameworks/Symfony/Version_2_8/web/.htaccess
  tests/Integrations/Symfony/V2_3/CommonScenariosTest.php
  tests/Integrations/Symfony/V2_3/RouteNameTest.php
  tests/Integrations/Symfony/V2_8/CommonScenariosTest.php
  tests/Integrations/Symfony/V2_8/RouteNameTest.php
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_return_string_apache.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_exception_apache.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_view_apache.json
  tests/snapshots/tests.integrations.symfony.v2_3.route_name_test.test_resource_to_uri_mapping_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_return_string_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_exception_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_view_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.route_name_test.test_resource_to_uri_mapping_apache.json
Due: none

Fix shared php flavour
  .gitlab/generate-shared.php
Due: none

Split all integration tests
  .gitlab/generate-appsec.php
Due: none

Split appsec integration tests and update nginx config (#3297)
  .gitlab/generate-appsec.php
  appsec/tests/integration/src/docker/nginx-fpm/default
Due: none

Fix shared & Symfony web tests (#3298)
  .gitlab/generate-shared.php
  .gitlab/generate-tests.php
  Makefile
  tests/Frameworks/Symfony/Version_2_3/web/.htaccess
  tests/Frameworks/Symfony/Version_2_8/web/.htaccess
  tests/Frameworks/Symfony/Version_4_0/composer.json
  tests/Frameworks/Symfony/Version_4_0/composer.lock
  tests/Frameworks/Symfony/Version_5_0/composer.lock
  tests/Integrations/CLI/Laravel/Latest/CommonScenariosTest.php
  tests/Integrations/Symfony/V2_3/CommonScenariosTest.php
  tests/Integrations/Symfony/V2_3/RouteNameTest.php
  tests/Integrations/Symfony/V2_8/CommonScenariosTest.php
  tests/Integrations/Symfony/V2_8/RouteNameTest.php
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_return_string_apache.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_exception_apache.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_view_apache.json
  tests/snapshots/tests.integrations.symfony.v2_3.route_name_test.test_resource_to_uri_mapping_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_return_string_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_exception_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_view_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.route_name_test.test_resource_to_uri_mapping_apache.json
Due: none

fix: borrow errors for REQUEST_LOCALS instead of panicking
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/capi.rs
  profiling/src/exception.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
  profiling/src/wall_time.rs
Due: benchmarks-profiler

fix: borrow errors for CACHED_STRINGS/FUNCTION_CACHE_STATS instead of panicking
  profiling/rust-toolchain.toml
  profiling/src/profiling/stack_walking.rs
Due: benchmarks-profiler

fix: borrow errors for ALLOCATION_PROFILING_STATS instead of panicking
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
Due: benchmarks-profiler

style: remove unused import
  profiling/src/allocation/allocation_le83.rs
Due: benchmarks-profiler

fix: borrow errors for EXCEPTION_PROFILING_STATS instead of panicking
  profiling/src/exception.rs
Due: benchmarks-profiler

fix: borrow errors for io.rs instead of panicking
  profiling/src/io.rs
Due: benchmarks-profiler

refactor: add borrow_or_false/borrow_mut_or_false
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/exception.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/timeline.rs
Due: benchmarks-profiler

style: fix unused RefCellExtError on earlier PHP versions
  profiling/src/profiling/stack_walking.rs
Due: benchmarks-profiler

remove debug stuff
  .gitlab/benchmarks.yml
Due: none

Add v2 track_user_login_failure
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  tests/ext/track_user_login_failure_01.phpt
  tests/ext/track_user_login_failure_02.phpt
  tests/ext/track_user_login_failure_03.phpt
Due: benchmarks-tracer

Implement track_user_login_success_event v2 when user id is string
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  tests/ext/track_user_login_success_01.phpt
  tests/ext/track_user_login_success_02.phpt
  tests/ext/track_user_login_success_03.phpt
  tests/ext/track_user_login_success_04.phpt
  tests/ext/track_user_login_success_05.phpt
  tests/ext/track_user_login_success_06.phpt
  tests/ext/track_user_login_success_07.phpt
Due: benchmarks-tracer

Expand v2 ato functions to appsec
  appsec/src/extension/user_tracking.c
  appsec/tests/extension/user_tracking_block_from_login_failure_v2.phpt
  appsec/tests/extension/user_tracking_block_from_login_success_v2.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_failure_v2.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success_v2.phpt
Due: benchmarks-appsec

Amend leak
  ext/ddtrace.c
Due: benchmarks-tracer

Amend pipeline errors
  appsec/src/extension/user_tracking.c
  appsec/src/extension/user_tracking.h
  ext/ddtrace.c
Due: benchmarks-tracer, benchmarks-appsec

Handle appsec appsec disabled
  appsec/src/extension/user_tracking.c
Due: benchmarks-appsec

Improve tests
  appsec/tests/extension/track_user_login_failure_v2_01.phpt
  appsec/tests/extension/track_user_login_failure_v2_02.phpt
  appsec/tests/extension/track_user_login_failure_v2_03.phpt
  appsec/tests/extension/track_user_login_success_v2_01.phpt
  appsec/tests/extension/track_user_login_success_v2_02.phpt
  appsec/tests/extension/track_user_login_success_v2_03.phpt
  appsec/tests/extension/track_user_login_success_v2_04.phpt
  appsec/tests/extension/track_user_login_success_v2_05.phpt
  appsec/tests/extension/track_user_login_success_v2_06.phpt
  appsec/tests/extension/track_user_login_success_v2_07.phpt
  appsec/tests/extension/track_user_login_success_v2_08.phpt
Due: none

Ensure v2 ato functions trigger asm events
  appsec/src/extension/tags.c
  appsec/src/extension/tags.h
  appsec/src/extension/user_tracking.c
  appsec/tests/extension/user_tracking_do_nothing_from_login_failure_v2.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success_v2.phpt
Due: benchmarks-appsec

Test v2 ato functions from appsec
  appsec/tests/extension/track_user_login_failure_v2_01.phpt
  appsec/tests/extension/track_user_login_failure_v2_01_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_failure_v2_02.phpt
  appsec/tests/extension/track_user_login_failure_v2_02_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_failure_v2_03.phpt
  appsec/tests/extension/track_user_login_failure_v2_03_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_01.phpt
  appsec/tests/extension/track_user_login_success_v2_01_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_02.phpt
  appsec/tests/extension/track_user_login_success_v2_02_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_03.phpt
  appsec/tests/extension/track_user_login_success_v2_03_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_04.phpt
  appsec/tests/extension/track_user_login_success_v2_04_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_05.phpt
  appsec/tests/extension/track_user_login_success_v2_05_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_06.phpt
  appsec/tests/extension/track_user_login_success_v2_06_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_07.phpt
  appsec/tests/extension/track_user_login_success_v2_07_appsec_disabled.phpt
Due: none

Amend conditional
  appsec/src/extension/user_tracking.c
Due: benchmarks-appsec

Add new waf addresses
  appsec/src/extension/tags.c
  appsec/src/extension/user_tracking.c
  appsec/src/extension/user_tracking.h
  appsec/tests/extension/track_user_login_success_v2_04.phpt
  appsec/tests/extension/track_user_login_success_v2_05.phpt
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
  appsec/tests/integration/src/test/www/base/public/user_login_failure_v2.php
  appsec/tests/integration/src/test/www/base/public/user_login_success_v2.php
Due: benchmarks-appsec

Fix leak
  appsec/src/extension/telemetry.c
Due: benchmarks-appsec

Fix telemetry
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/telemetry.c
  appsec/src/extension/user_tracking.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: benchmarks-appsec

Send sdk v2 telemetry metrics
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/telemetry.c
  appsec/src/extension/telemetry.h
  appsec/src/extension/user_tracking.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
  appsec/tests/integration/src/test/www/base/public/multiple_user_tracking_events.php
Due: benchmarks-appsec

Format
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/user_tracking.c
Due: benchmarks-appsec

Send telemetry regardless appsec status
  appsec/src/extension/telemetry.c
  appsec/src/extension/telemetry.h
  appsec/src/extension/user_tracking.c
Due: benchmarks-appsec

Move known telemetry metric strings to compilation time
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/telemetry.c
  appsec/src/extension/telemetry.h
Due: benchmarks-appsec

Rename functions
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/tags.c
  appsec/src/extension/tags.h
  appsec/src/extension/telemetry.c
  appsec/src/extension/telemetry.h
  appsec/src/extension/user_tracking.c
Due: benchmarks-appsec

Format
  appsec/src/extension/user_tracking.c
Due: benchmarks-appsec

Misc
  appsec/src/extension/telemetry.c
  appsec/src/extension/user_tracking.c
Due: benchmarks-appsec

Keep request it schema extraction happens and apm tracing is not enabled
  appsec/src/extension/commands_helpers.c
Due: benchmarks-appsec

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: ext/**/*, src/**/*, components/**/*, components-rs/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*, tea/**/*
  benchmarks-appsec: any of: appsec/src/**/*
