Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer, benchmarks-appsec

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: ext/**/*, src/**/*, components/**/*, components-rs/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*, tea/**/*
  benchmarks-appsec: any of: appsec/src/**/*

fix tests
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_complete.php
  loader/tests/functional/test_telemetry_error.php
Due: none

fix
  loader/tests/functional/includes/assert.php
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_complete.php
  loader/tests/functional/test_telemetry_error.php
Due: none

Capture the stack for log probes
  components-rs/live-debugger.h
  ext/code_origins.c
  ext/live_debugger.c
  tests/ext/live-debugger/debugger_log_probe.phpt
Due: benchmarks-tracer

update telemetry tests
  tests/ext/logging_default_value.phpt
  tests/ext/remote_config/dynamic_config_auto_update.phpt
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/integration_filesystem_01.phpt
  tests/ext/telemetry/integration_filesystem_02.phpt
  tests/ext/telemetry/integration_filesystem_03.phpt
  tests/ext/telemetry/integration_filesystem_04.phpt
Due: none

Fix git authentication using x-access-token format
  tooling/tested_versions/create_or_update_supported_versions_pr.sh
Due: none

Restrict PR creation process to only the master branch
  .gitlab/generate-tracer.php
  tooling/tested_versions/create_or_update_supported_versions_pr.sh
Due: none

feat(tracer): handle HTTP headers as array and update instead of replace
  ext/ddtrace.c
  ext/handlers_http.h
Due: benchmarks-tracer

fix
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
Due: none

fix format
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
Due: none

fix
  loader/dd_library_loader.c
Due: none

debug
  loader/dd_library_loader.c
Due: none

Avoid using GITHUB_TOKEN for PR creation
  .github/chainguard/self.update-latest-versions.create-pr.sts.yaml
  .github/workflows/update_latest_versions.yml
Due: none

Set keep to default to true as per RFC
  appsec/src/helper/action.hpp
Due: benchmarks-appsec

Adapt keep waf reponse
  appsec/src/helper/action.hpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/engine_test.cpp
Due: benchmarks-appsec

Send trace tagging rules
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/waf_test.cpp
Due: benchmarks-appsec

Add new capabilities
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_agent/rem_cfg/Capability.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
  components-rs/common.h
Due: benchmarks-tracer

Stop parsing numerics as strings
  appsec/src/helper/json_helper.cpp
Due: benchmarks-appsec

Add capabilities
  components-rs/remote_config.rs
Due: benchmarks-tracer

Parse floats
  appsec/src/helper/json_helper.cpp
  appsec/src/helper/parameter_base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/waf_test.cpp
Due: benchmarks-appsec

Lint
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: benchmarks-appsec

Test asm_dd multiconfig
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
Due: none

Fix test
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: none

Add php integration tests
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
Due: none

Refactor implementation
  appsec/src/helper/action.hpp
  appsec/src/helper/client.cpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/remote_config/listeners/engine_listener_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: benchmarks-appsec

Revert non required change
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: none

Gracefully handle sidecar broken pipes
  Cargo.lock
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/sidecar.rs
  ext/ddtrace.c
  ext/sidecar.c
  ext/sidecar.h
  ext/telemetry.c
  ext/telemetry.h
  tests/ext/telemetry/broken_pipe.phpt
Due: benchmarks-tracer

Implement appsec jwt (#3352)
  appsec/src/helper/action.hpp
  appsec/src/helper/client.cpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/json_helper.cpp
  appsec/src/helper/parameter_base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/remote_config/listeners/engine_listener_test.cpp
  appsec/tests/helper/waf_test.cpp
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_agent/rem_cfg/Capability.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
  components-rs/common.h
  components-rs/remote_config.rs
Due: benchmarks-tracer, benchmarks-appsec

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

Adjust symfony web tests to not fail
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_with_tracer_disabled_on_consume.json
Due: none

Add fingerprint capabilities
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_agent/rem_cfg/Capability.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
  components-rs/remote_config.rs
Due: benchmarks-tracer

update mysql image to support 8.4 lts
  dockerfiles/services/mysql/Dockerfile
Due: none

Adjust lineno on PHP 7 for first instruction
  Cargo.lock
  zend_abstract_interface/interceptor/php7/interceptor.c
Due: benchmarks-tracer

Add fingerprint capabilities (#3371)
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_agent/rem_cfg/Capability.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
  components-rs/remote_config.rs
Due: benchmarks-tracer

feat(tracer): handle new header formatting mode
  ext/ddtrace.c
  ext/handlers_curl.c
  ext/handlers_curl_php7.c
  ext/handlers_http.h
Due: benchmarks-tracer

feat(tracer): apply PR feedbacks and fix compilation error
  ext/ddtrace.c
Due: benchmarks-tracer

feat(tracer): add integration flag and fix tests
  ext/ddtrace.c
  ext/integrations/integrations.h
  tests/ext/includes/request_replayer.inc
Due: benchmarks-tracer

feat(tracer): add minit function to instrument stream HTTP(S) wrappers
  ext/ddtrace.c
Due: benchmarks-tracer
