Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

Add asm event to propagated tags
  appsec/src/extension/ddtrace.c
  appsec/src/extension/ddtrace.h
  appsec/src/extension/tags.c
  appsec/tests/extension/rinit_asm_events_propagate_tags.phpt
  ddtrace.sym
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  ext/tracer_tag_propagation/tracer_tag_propagation.h
Due: benchmarks-tracer

Set sampling priority as soon as changed on appsec
  appsec/src/extension/tags.c
Due: none

wip
  ext/handlers_http.h
Due: benchmarks-tracer

Amend compilation error
  ext/handlers_http.h
Due: benchmarks-tracer

wip
  ext/handlers_http.h
  ext/random.c
  ext/random.h
Due: benchmarks-tracer

Finish fixing system tests
  ext/distributed_tracing_headers.c
  ext/handlers_http.h
  ext/random.c
  ext/serializer.c
Due: benchmarks-tracer

Remove commented code
  ext/auto_flush.c
Due: benchmarks-tracer

Refactor asm implementation
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/ddtrace.c
  appsec/src/extension/ddtrace.h
  appsec/src/extension/tags.c
  appsec/src/extension/tags.h
  config.m4
  config.w32
  ddtrace.sym
  ext/ddappsec.c
  ext/ddappsec.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/handlers_http.h
  ext/random.h
  ext/serializer.c
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  ext/tracer_tag_propagation/tracer_tag_propagation.h
Due: benchmarks-tracer

Fix error adding twice _dd.p.appsec
  appsec/src/extension/tags.c
Due: none

Fix lint
  appsec/src/extension/ddtrace.c
Due: none

Amend bug finding propagated tags
  ext/tracer_tag_propagation/tracer_tag_propagation.c
Due: benchmarks-tracer

Add tests for standalone
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_01.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_02.phpt
  tests/ext/limiter/003-limiter-with-asm-standalone.phpt
  tests/ext/priority_sampling/asm-standalone.phpt
Due: none

Create asm standalone limiter
  config.m4
  config.w32
  ext/auto_flush.c
  ext/ddtrace.c
  ext/limiter/limiter.c
  ext/standalone_limiter.c
  ext/standalone_limiter.h
Due: benchmarks-tracer

Set one minute for the asm standalone limiter
  ext/standalone_limiter.c
Due: benchmarks-tracer

Fix standalone limiter
  ext/standalone_limiter.c
Due: benchmarks-tracer

Set traces to auto reject when standalone sampling priority not allow
  ext/auto_flush.c
Due: benchmarks-tracer

Test curl asm event propagation
  tests/ext/integrations/curl/distributed_tracing_curl_propagate_asm_event.phpt
Due: none

Test auto flush
  ext/ddappsec.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  tests/ext/background-sender/agent_sampling-standalone-asm_01.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_02.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_03.phpt
Due: benchmarks-tracer

Test asm standalone from appsec extension
  appsec/tests/extension/inc/distributed_tracing.inc
  appsec/tests/extension/inc/mock_helper.php
  appsec/tests/extension/inc/request_replayer.inc
  appsec/tests/extension/standalone/appsec_upstream_no_attack.phpt
  appsec/tests/extension/standalone/no_appsec_upstream_no_attack.phpt
  appsec/tests/extension/standalone/no_appsec_upstream_with_attack.phpt
  appsec/tests/extension/standalone/simulate_request.inc
Due: none

Fix tests incompatible with PHP 7 versions
  appsec/tests/extension/standalone/appsec_upstream_no_attack.phpt
  appsec/tests/extension/standalone/no_appsec_upstream_no_attack.phpt
  appsec/tests/extension/standalone/no_appsec_upstream_with_attack.phpt
Due: none

Change test execution order
  appsec/tests/extension/standalone/01_no_appsec_upstream_with_attack.phpt
  appsec/tests/extension/standalone/02_appsec_upstream_no_attack.phpt
  appsec/tests/extension/standalone/03_no_appsec_upstream_no_attack.phpt
Due: none

Add request replayer to appsec tests
  .circleci/continue_config.yml
Due: none

Improve standalone limiter
  ext/standalone_limiter.c
Due: benchmarks-tracer

Remove httpbin tests from extension tests
  .circleci/continue_config.yml
  appsec/tests/extension/standalone/01_no_appsec_upstream_with_attack.phpt
  appsec/tests/extension/standalone/02_appsec_upstream_no_attack.phpt
  appsec/tests/extension/standalone/03_no_appsec_upstream_no_attack.phpt
  appsec/tests/extension/standalone/simulate_request.inc
Due: none

Address comments comming from PR
  ext/ddappsec.c
  ext/ddtrace.stub.php
  ext/standalone_limiter.h
Due: benchmarks-tracer

Removei unnecessary code
  appsec/src/extension/tags.c
  appsec/tests/extension/inc/distributed_tracing.inc
  appsec/tests/extension/inc/request_replayer.inc
Due: none

Amend tags values
  appsec/src/extension/tags.c
Due: none

Add changes comng from PR
  ext/auto_flush.c
  ext/standalone_limiter.c
Due: benchmarks-tracer

Amend dm and priority on asm events
  appsec/src/extension/configuration.h
  appsec/src/extension/ddtrace.h
  appsec/src/extension/tags.c
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  config.m4
  config.w32
  ext/asm_event.c
  ext/priority_sampling/priority_sampling.h
  tests/ext/background-sender/agent_sampling-standalone-asm_02.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_propagate_asm_event.phpt
Due: benchmarks-tracer

Rename appsec module on tracer
  ext/asm_event.c
  ext/asm_event.h
  ext/auto_flush.c
  ext/ddtrace.c
  ext/handlers_http.h
  ext/serializer.c
Due: benchmarks-tracer

Fix segmentation fault
  ext/ddappsec.c
  ext/tracer_tag_propagation/tracer_tag_propagation.c
Due: benchmarks-tracer

Amend error generated by rebase
  appsec/src/extension/ddtrace.c
Due: none

Update recommended rules to latest
  appsec/recommended.json
Due: none

Lint
  appsec/src/extension/tags.c
Due: none

Amend sampling rate
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  ext/asm_event.c
  tests/ext/background-sender/agent_sampling-standalone-asm_02.phpt
Due: benchmarks-tracer

refactor: add thin-str crate, reduce memory in profiler
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/string_set.rs
  profiling/src/thin_str.rs
  profiling/src/timeline.rs
  profiling/src/well_known.rs
  thin-str/Cargo.toml
  thin-str/LICENSE
  thin-str/src/lib.rs
  thin-str/src/thin_str.rs
  thin-str/src/thin_string.rs
Due: benchmarks-profiler

remove unneeded import
  profiling/src/lib.rs
Due: benchmarks-profiler

feat: support From<&str> for ThinString
  thin-str/src/thin_string.rs
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
