Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*

Don't inject the tracer if Opcache JIT is enabled
  loader/compat_php.c
  loader/compat_php.h
  loader/dd_library_loader.c
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_incompatibility_jit.php
Due: none

Move the extension compatibility check in its own hook
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
Due: none

Fix memory leaks + add Valgrind support in tests
  .circleci/continue_config.yml
  loader/dd_library_loader.c
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_incompatibility_jit.php
  loader/valgrind.supp
Due: none

Simplify code by using strcasecmp
  loader/dd_library_loader.c
Due: none

Fix memory leak in zend_abstract_interface/hook/hook.c
  loader/valgrind.supp
  zend_abstract_interface/hook/hook.c
Due: benchmarks-tracer

use k8s testing branch
  .gitlab-ci.yml
Due: none

Fix wordpress database setup in benchmark tests
  tests/Benchmarks/Integrations/WordPressBench.php
Due: benchmarks-tracer

Revert changes to makefile
  Makefile
Due: none

Avoid loading appsec mock on benchmarks
  tests/bootstrap_common.php
  tests/bootstrap_phpbench.php
  tests/bootstrap_phpunit.php
Due: none

Fix namespaces on bootstrap files
  tests/bootstrap_common.php
Due: none

get thread name
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
Due: benchmarks-profiler

Revert target benchmark branch
  .gitlab/benchmarks.yml
Due: none

Add appsec benchmarks (#2791)
  .gitlab/benchmarks.yml
  Makefile
  benchmark/runall.sh
  docker-compose.yml
  tests/Benchmarks/Integrations/EmptyFileBench.php
  tests/Benchmarks/Integrations/FrameworkBenchmarksCase.php
  tests/Benchmarks/Integrations/LaravelBench.php
  tests/Benchmarks/Integrations/SymfonyBench.php
  tests/Benchmarks/Integrations/WordPressBench.php
  tests/Benchmarks/composer.json
  tests/bootstrap_common.php
  tests/bootstrap_phpbench.php
  tests/bootstrap_phpunit.php
Due: benchmarks-tracer

Fix crash: it is possible for property_commit or property_repository to be NULL
  ext/git.c
Due: benchmarks-tracer

No need to addref asdd add_git_info will also do a copy
  ext/git.c
Due: benchmarks-tracer

Remove read_git_file 2nd argument as it is always persistent
  ext/git.c
Due: benchmarks-tracer

Fix crash with git metadata injection (#2862)
  ext/git.c
Due: benchmarks-tracer

Bump to 1.3.2
  VERSION
  package.xml
Due: none

Disable kubernetes injection tests
  .gitlab-ci.yml
Due: none

Disable kubernetes injection tests (#2863)
  .gitlab-ci.yml
Due: none

Loader: disable the tracer in case of a potential incompatibility (extension/jit) (#2853)
  .circleci/continue_config.yml
  loader/compat_php.c
  loader/compat_php.h
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
  loader/tests/functional/fixtures/opcache_jit.php
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_incompatibility_jit.php
  loader/tests/functional/test_incompatibility_xdebug.php
  loader/valgrind.supp
  zend_abstract_interface/hook/hook.c
Due: benchmarks-tracer

update to RC1
  .circleci/continue_config.yml
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/windows/docker-compose.yml
  loader/dd_library_loader.c
  tooling/bin/generate-final-artifact.sh
  tooling/bin/generate-ssi-package.sh
Due: none

Fix cross-compile
  dockerfiles/ci/bookworm/Dockerfile
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-extensions.sh
Due: none

update to RC1
  .circleci/continue_config.yml
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/windows/basetools.Dockerfile
  dockerfiles/ci/windows/docker-compose.yml
  loader/dd_library_loader.c
  tooling/bin/generate-final-artifact.sh
  tooling/bin/generate-ssi-package.sh
Due: none

Verify compilation actually properly passes
  .circleci/continue_config.yml
Due: none

Allocate more memory for link_extension step
  .circleci/continue_config.yml
Due: none

Fix OpenTracing test flakiness
  tests/Frameworks/Custom/OpenTelemetry/index.php
  tests/Frameworks/Custom/OpenTracing/index.php
  tests/OpenTracing/InternalTelemetryTest.php
Due: none

fix tests
  tests/ext/sandbox/install_hook/trace_closure.phpt
  tests/ext/sandbox/install_hook/trace_generator.phpt
  tests/ext/sandbox/safe_to_string_metadata_ge_php_84.phpt
Due: none

fix tests
  tests/ext/sandbox/install_hook/trace_closure_ge_php_84.phpt
  tests/ext/sandbox/install_hook/trace_generator_ge_php_84.phpt
  tests/ext/sandbox/safe_to_string_metadata.phpt
  tests/ext/sandbox/safe_to_string_metadata_ge_php_84.phpt
Due: none

fix
  tests/ext/sandbox/install_hook/trace_closure_ge_php_84.phpt
  tests/ext/sandbox/install_hook/trace_generator_ge_php_84.phpt
Due: none

fix
  tests/ext/request-replayer/dd_trace_exception_span_event.phpt
  tests/ext/sandbox-prehook/dd_trace_method_binds_called_object.phpt
  tests/ext/sandbox/install_hook/trace_closure_ge_php_84.phpt
Due: none

Allocate more memory for link_extension step (#2866)
  .circleci/continue_config.yml
Due: none

Fix OpenTracing test flakiness (#2867)
  tests/Frameworks/Custom/OpenTelemetry/index.php
  tests/Frameworks/Custom/OpenTracing/index.php
  tests/OpenTracing/InternalTelemetryTest.php
Due: none

Add exception debugging capabilities
  components-rs/common.h
  components-rs/live-debugger.h
  components-rs/sidecar.h
  config.m4
  config.w32
  docker-compose.yml
  ext/collect_backtrace.c
  ext/collect_backtrace.h
  ext/configuration.h
  ext/ddtrace.h
  ext/handlers_exception.c
  ext/serializer.c
  ext/span.c
Due: benchmarks-tracer

First draft of remote configuration & live debugging
  Makefile
  cbindgen.toml
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/lib.rs
  components-rs/remote_config.rs
  components-rs/sidecar.h
  config.m4
  docker-compose.yml
  ext/ddtrace.c
  ext/ddtrace.h
  ext/hook/uhook.c
  ext/hook/uhook.h
  ext/priority_sampling/priority_sampling.c
  ext/remote_config.c
  ext/remote_config.h
  ext/sidecar.c
  ext/sidecar.h
  zend_abstract_interface/hook/hook.c
  zend_abstract_interface/hook/hook.h
Due: benchmarks-tracer

tmp
  appsec/src/extension/helper_process.c
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  ext/collect_backtrace.c
  ext/configuration.c
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/handlers_exception.c
  ext/hook/uhook.h
  ext/integrations/integrations.h
  ext/logging.c
  ext/logging.h
  ext/random.c
  ext/random.h
  ext/remote_config.c
  ext/serializer.c
  ext/sidecar.c
  ext/sidecar.h
  ext/span.c
  ext/span.h
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_ini.h
  zend_abstract_interface/hook/hook.c
  zend_abstract_interface/hook/hook.h
Due: benchmarks-tracer
