Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-appsec

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-appsec: any of: appsec/src/**/*

feat(ffe): Add OpenFeature provider implementation
  src/DDTrace/OpenFeature/DataDogProvider.php
Due: none

fix: Regenerate Cargo.lock and rebase libdatadog on original pin
  Cargo.lock
Due: none

fix: Preserve master Cargo.lock versions, add only FFE crates
  Cargo.lock
Due: none

refactor(profiling): use libdd-profiling's ThinStr
  profiling/src/lib.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/string_set.rs
  profiling/src/thin_str.rs
Due: benchmarks-profiler

feat(profiling): add opcache SHM cache for function/file names
  Cargo.lock
  profiling/.cargo/config.toml
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/stack_walking.rs
  profiling/src/shm_cache.rs
  profiling/src/vec_ext.rs
Due: benchmarks-profiler

feat(profiling): cache function names for internal/native functions
  profiling/src/profiling/stack_walking.rs
  profiling/src/shm_cache.rs
Due: benchmarks-profiler

style: fix clippy::identity_op
  profiling/src/shm_cache.rs
Due: benchmarks-profiler

fix: clippy PHP7 and benchmarks
  profiling/src/lib.rs
  profiling/src/shm_cache.rs
  profiling/src/vec_ext.rs
Due: benchmarks-profiler

fix: trampolines
  profiling/src/shm_cache.rs
Due: benchmarks-profiler

fix(ffe): Check env var before INI for DD_EXPERIMENTAL_FLAGGING_PROVIDER_ENABLED
  src/DDTrace/FeatureFlags/Provider.php
Due: none

perf: ordering NTS
  profiling/src/shm_cache.rs
Due: benchmarks-profiler

fix: internal shm cache leaks
  profiling/src/lib.rs
  profiling/src/shm_cache.rs
Due: benchmarks-profiler

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Nette/Latest/composer.json
  tests/Frameworks/Slim/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Frameworks/Yii/Latest/composer.json
  tests/Integrations/AMQP/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/Logs/MonologLatest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

Remove failing test
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Apache2FpmTests.groovy
Due: none

Fix phpt asm standalone tests (#3628)
  tests/ext/background-sender/agent_sampling-standalone-asm_01.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_02.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_03.phpt
Due: none

fix readme file links (#3610)
  profiling/README.md
Due: benchmarks-profiler

Remove failing test
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: none

update makefile && make cbindgen
  Makefile
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/telemetry.h
Due: none

test(language-tests): properly skip online tests and disabled soap_qname_crash.phpt on all version
  .gitlab/generate-tracer.php
  dockerfiles/ci/xfail_tests/7.1.list
  dockerfiles/ci/xfail_tests/7.2.list
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/8.4.list
  dockerfiles/ci/xfail_tests/README.md
Due: none

test(language-tests): properly skip online tests and disabled soap_qname_crash.phpt on all version (#3632)
  .gitlab/generate-tracer.php
  dockerfiles/ci/xfail_tests/7.1.list
  dockerfiles/ci/xfail_tests/7.2.list
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/8.4.list
  dockerfiles/ci/xfail_tests/README.md
Due: none

chore(profiling): update libdatadog to 26
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

fixing test
  tests/ext/telemetry/integration_runtime_error.phpt
Due: none

fixing test
  tests/ext/crashtracker_jit_tags.phpt
  tests/ext/crashtracker_segfault.phpt
  tests/ext/crashtracker_segfault_disabled.phpt
  tests/ext/crashtracker_segfault_windows.phpt
Due: none

test(CI): add aggressive git cleanup on windows runner
  .gitlab/generate-package.php
  dockerfiles/ci/xfail_tests/7.1.list
Due: none

Only run publishing jobs when all dependent pipelines succeed
  .gitlab/generate-package.php
Due: none

Only run publishing jobs when all dependent pipelines succeed (#3635)
  .gitlab/generate-package.php
Due: none

test(CI): add manual cleanup in before_script step
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
Due: none

fix appsec tests
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/TelemetryHelpers.groovy
Due: none

chore(profiling): update libdatadog to 26 (#3633)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

Update request_exec protocol to use options struct
  appsec/src/extension/commands/request_exec.c
  appsec/src/extension/commands/request_exec.h
  appsec/src/extension/ddappsec.c
  appsec/src/extension/user_tracking.c
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/subscriber/base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/extension/actions_handling_01.phpt
  appsec/tests/extension/input_truncated_05.phpt
  appsec/tests/extension/push_params_ok_01.phpt
  appsec/tests/extension/push_params_ok_02.phpt
  appsec/tests/extension/push_params_ok_03.phpt
  appsec/tests/extension/push_params_ok_04.phpt
  appsec/tests/extension/push_params_ok_07.phpt
  appsec/tests/extension/push_params_ok_08.phpt
  appsec/tests/extension/push_params_ok_09.phpt
  appsec/tests/extension/request_exec.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success_v2.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_set_user.phpt
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/remote_config/listeners/engine_listener_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: benchmarks-appsec

Improve appsec integration tests
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/TelemetryHelpers.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: none

test(CI): manually handle git operation for windows jobs (#3634)
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
  dockerfiles/ci/xfail_tests/7.1.list
Due: none

feat(CI): add healthcheck to SQLSRV server setup
  .gitlab/generate-common.php
  .gitlab/generate-tracer.php
  .gitlab/wait-for-service-ready.sh
  tests/Integrations/SQLSRV/SQLSRVTest.php
Due: none

feat: add explicit memory limit and paths
  .gitlab/generate-common.php
Due: none

chore: add troubleshooting script for SQLSRV
  .gitlab/check_sqlsrv.sh
  .gitlab/generate-tracer.php
Due: none

chore: replace sqlsrv docker image
  .gitlab/check_sqlsrv.sh
  .gitlab/generate-common.php
  .gitlab/generate-tracer.php
  tests/Integrations/SQLSRV/SQLSRVTest.php
Due: none
