Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*

Change the count value type from float to int
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/sidecar.c
  ext/sidecar.h
Due: benchmarks-tracer

Add tests
  tests/ext/dogstatsd/metrics_over_udp.phpt
  tests/ext/dogstatsd/metrics_over_uds.phpt
Due: none

Use proper Vec<Tag> instead of string serialization
  components-rs/sidecar.h
  ext/sidecar.c
  index.php
Due: benchmarks-tracer

Add support for Distribution and histogram
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/sidecar.c
  ext/sidecar.h
Due: benchmarks-tracer

Fix compilation issues
  ext/ddtrace.c
Due: benchmarks-tracer

Add support for the 'Set' metric type
  components-rs/common.h
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/dogstatsd_client.c
  ext/sidecar.c
  ext/sidecar.h
  tests/ext/dogstatsd/disabled_if_agentless.phpt
  tests/ext/dogstatsd/metrics_over_uds.phpt
Due: benchmarks-tracer

Move ddtrace_dogstatsd_url function in a new file as dogstatsd_client.c is not compiled on windows
  config.m4
  config.w32
  ext/auto_flush.c
  ext/ddtrace.h
  ext/dogstatsd.c
  ext/dogstatsd.h
  ext/dogstatsd_client.c
  ext/dogstatsd_client.h
  ext/sidecar.c
Due: benchmarks-tracer

Debug test
  tests/ext/dogstatsd/metrics_over_uds.phpt
Due: none

Add global tags
  ext/sidecar.c
  tests/ext/dogstatsd/disabled_if_agentless.phpt
  tests/ext/dogstatsd/metrics_over_udp.phpt
  tests/ext/dogstatsd/metrics_over_uds.phpt
Due: benchmarks-tracer

Fix handling of invalid tags
  ext/sidecar.c
  ext/sidecar.h
Due: benchmarks-tracer

Fix stubs
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
Due: benchmarks-tracer

Skip test failing because of a PHP bug on PHP 7.0/7.1
  tests/ext/dogstatsd/metrics_over_uds.phpt
Due: none

Fix int type: we must support signed numbers
  components-rs/sidecar.h
  ext/sidecar.c
Due: benchmarks-tracer

Update tests/Integration/DatabaseMonitoringTest.php
  tests/Integration/DatabaseMonitoringTest.php
Due: none

Peer Service Precursors for DBM (#2664)
  src/DDTrace/Integrations/DatabaseIntegrationHelper.php
  tests/Integration/DatabaseMonitoringTest.php
Due: benchmarks-tracer

fix: Web Tests Errors Detection
  tests/WebServer.php
Due: none

fix: Laravel ReflectionException (see notes)
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: benchmarks-tracer

fix: Don't override env if set
  tests/WebServer.php
Due: none

fix: Undefined function `wp_get_active_and_valid_themes`
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_with_view.json
Due: benchmarks-tracer

docs: update ahash comment
  profiling/Cargo.toml
Due: benchmarks-profiler

Fix macos build for low PHP 8.3 versions
  config.m4
  ext/ddtrace.c
Due: benchmarks-tracer

w3c: ensure tracecontext headers always take precedence for conflicting spans
  ext/distributed_tracing_headers.c
Due: benchmarks-tracer

build: update profiling deps/libdatadog v9 (#2662)
  .github/workflows/prof_asan.yml
  Cargo.lock
  docker-compose.yml
  dockerfiles/ci/bookworm/.env
  dockerfiles/ci/bookworm/Dockerfile
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

fix: Check `.env` file existence before bootstrap
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: benchmarks-tracer

Remove log import
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: benchmarks-tracer

fix: Check name, error, resource, and service names
  tests/Common/SpanAssertion.php
  tests/Common/SpanChecker.php
  tests/Integrations/Laravel/Octane/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_7/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_8/CommonScenariosTest.php
  tests/Integrations/Laravel/V8_x/CommonScenariosTest.php
  tests/Integrations/Laravel/V9_x/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_dynamic_route.json
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_dynamic_route.json
  tests/snapshots/tests.integrations.laravel.v5_7.common_scenarios_test.test_scenario_get_dynamic_route.json
  tests/snapshots/tests.integrations.laravel.v5_7.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v5_7.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v5_7.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v5_7.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_dynamic_route.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laravel.v8_x.common_scenarios_test.test_scenario_get_dynamic_route.json
  tests/snapshots/tests.integrations.laravel.v8_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v8_x.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v8_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v8_x.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_dynamic_route.json
Due: none

fix: Replace `home/circleci/app` by `/home/circleci/app`
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_dynamic_route.json
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_dynamic_route.json
  tests/snapshots/tests.integrations.laravel.v5_7.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v5_7.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v5_7.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laravel.v8_x.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v8_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v8_x.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_dynamic_route.json
Due: none

fix: Install `php` on plesk installer test
  dockerfiles/verify_packages/installer/test_install_on_plesk.sh
Due: none

fix: Use plesk installer
  dockerfiles/verify_packages/installer/test_install_on_plesk.sh
Due: none

fix: Remove non-existing error checks
  tests/Integrations/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V6_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V7_0/CommonScenariosTest.php
Due: none

feat: Allow SpanAssertion::NOT_TESTED errors
  tests/Common/SpanAssertion.php
  tests/Common/SpanChecker.php
Due: none

fix: Symfony error tests
  tests/Integrations/Symfony/V5_1/CommonScenariosTest.php
Due: none

second attempt, probably has a memory leak
  ext/distributed_tracing_headers.c
Due: benchmarks-tracer

fix: Start mysql service
  dockerfiles/verify_packages/installer/test_install_on_plesk.sh
Due: none

fix: OTel Interoperability Service Propagation
  src/DDTrace/OpenTelemetry/Span.php
  tests/Common/SpanChecker.php
  tests/Integrations/Symfony/V5_0/CommonScenariosTest.php
  tests/OpenTelemetry/Integration/API/BaggageTest.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
Due: benchmarks-tracer

fix(ci): Install `php` during plesk installer test (#2670)
  dockerfiles/verify_packages/installer/test_install_on_plesk.sh
Due: none

tests: Update ES tests
  tests/Integrations/Elasticsearch/V1/ElasticSearchIntegrationTest.php
  tests/Integrations/Elasticsearch/V8/ElasticSearchIntegrationTest.php
Due: none

Make use of the sidecar thread safe
  Cargo.lock
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  ext/sidecar.c
Due: benchmarks-tracer

feat: Stream JSON Logger w/ Logs Correlation
  src/api/Log/DatadogLogger.php
  src/api/Log/InterpolateTrait.php
  src/bridge/_files_tracer.php
  tests/Unit/Log/DatadogLoggerTest.php
Due: benchmarks-tracer
