Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-appsec

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 90m
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-appsec:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 90m
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

fix: compilation error
  ext/coms.c
  ext/ddtrace.c
  ext/sidecar.c
  ext/sidecar.h
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/ext/sandbox/die_in_sandbox.phpt
  tests/ext/span_on_close.phpt
  tests/ext/startup_logging_json_config.phpt
Due: none

feat(tracer): implement threaded connection fallback
  ext/ddtrace.c
  ext/handlers_pcntl.c
  ext/sidecar.c
  ext/sidecar.h
Due: none

fix(tracer): remove debug logs
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  ext/sidecar.c
  tests/ext/sandbox/die_in_sandbox.phpt
  tests/ext/span_on_close.phpt
  tests/ext/startup_logging_json_config.phpt
Due: none

feat(tracer): add connection mode and function thread mode tests
  ext/sidecar.c
  tests/Common/WebFrameworkTestCase.php
  tests/Integrations/Custom/Autoloaded/SidecarThreadModeTest.php
  tests/Sapi/PhpFpm/PhpFpm.php
  tests/Sapi/PhpFpm/www.conf
  tests/WebServer.php
  tests/ext/sidecar_connection_mode_auto.phpt
  tests/ext/sidecar_connection_mode_config.phpt
  tests/ext/sidecar_connection_mode_fork_warning.phpt
  tests/ext/sidecar_connection_mode_invalid.phpt
  tests/ext/sidecar_connection_mode_subprocess.phpt
  tests/ext/sidecar_connection_mode_thread.phpt
  tests/ext/sidecar_connection_mode_thread_functional.phpt
  tests/ext/sidecar_connection_mode_thread_phpfpm.phpt
Due: none

feat(tracer): fix fork with thread mode
  ext/ddtrace.c
  ext/handlers_pcntl.c
  ext/sidecar.c
  ext/sidecar.h
  tests/ext/sidecar_connection_mode_thread.phpt
Due: none

apply feedbacks
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/handlers_pcntl.c
  ext/sidecar.c
  ext/sidecar.h
  tests/Common/WebFrameworkTestCase.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/ext/sidecar_connection_mode_fork_warning.phpt
  tests/ext/sidecar_connection_mode_thread_functional.phpt
  tests/ext/sidecar_connection_mode_thread_phpfpm.phpt
Due: none

feat(sidecar): support threaded connection for windows
  Cargo.lock
  components-rs/bytes.rs
  components-rs/common.h
  components-rs/sidecar.h
  ext/coms.c
  ext/sidecar.c
  ext/sidecar.h
  tests/Integrations/Custom/Autoloaded/SidecarThreadModeTest.php
Due: none

Statically build libddwaf into helper-rust
  appsec/helper-rust/Cargo.toml
  appsec/tests/integration/build.gradle
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
  appsec/tests/integration/src/test/bin/enable_extensions.sh
Due: none

Add nightly system-tests workflow
  .github/workflows/system-tests-nightly.yml
Due: none

chore: apply feedbacks
  Cargo.lock
  components-rs/bytes.rs
  components-rs/common.h
  ext/ddtrace_arginfo.h
  ext/sidecar.c
  ext/sidecar.h
Due: none

Enable push_to_test_optimization
  .github/workflows/system-tests-nightly.yml
Due: none

Pass secrets explicitly to reusable workflow
  .github/workflows/system-tests-nightly.yml
Due: none

Only pass TEST_OPTIMIZATION_API_KEY secret
  .github/workflows/system-tests-nightly.yml
Due: none

tmp: add pull_request trigger for testing
  .github/workflows/system-tests-nightly.yml
Due: none

Set desired_execution_time to 300s
  .github/workflows/system-tests-nightly.yml
Due: none

tighten error for io samples
  profiling/tests/correctness/io.json
Due: benchmarks-profiler

refactor(profiling): ErrnoBackup::new is safe (#3659)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/io/mod.rs
Due: benchmarks-profiler

Also pass DD_API_KEY secret
  .github/workflows/system-tests-nightly.yml
Due: none

Send response headers on meta even without event
  appsec/src/extension/tags.c
  appsec/tests/extension/ancillary_tags.phpt
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/www/base/public/hello.php
Due: benchmarks-appsec

Add tests for missing headers
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/www/base/public/hello.php
Due: none

Push llm event address
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
Due: none

Send response headers on meta even without event (#3653)
  appsec/src/extension/tags.c
  appsec/tests/extension/ancillary_tags.phpt
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/www/base/public/hello.php
Due: benchmarks-appsec

test(CI): fix bug in request replayer
  .gitlab/generate-common.php
  docker-compose.yml
  dockerfiles/services/Makefile
  dockerfiles/services/request-replayer/src/index.php
  tests/ext/crashtracker_segfault_disabled.phpt
Due: none

fix(tests): filter remote config requests from CLI trace retrieval
  tests/Common/CLITestCase.php
Due: none

profiling: migrate to SHM-only strings
  Cargo.lock
  profiling/.cargo/config.toml
  profiling/Cargo.toml
  profiling/benches/stack_walking.rs
  profiling/build.rs
  profiling/src/allocation/mod.rs
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/interning.rs
  profiling/src/lib.rs
  profiling/src/module_globals.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/backtrace.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/profiling/uploader.rs
  profiling/src/shm_cache.rs
  profiling/src/string_set.rs
  profiling/src/timeline.rs
  profiling/src/vec_ext.rs
Due: benchmarks-profiler

Add missing operations
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
Due: none

feat(profiling): intern internal funcs too
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/shm_cache.rs
Due: benchmarks-profiler

fix: lock file
  Cargo.lock
  profiling/src/shm_cache.rs
Due: benchmarks-profiler

style: fix clippy
  profiling/src/shm_cache.rs
Due: benchmarks-profiler

style: fix not(frameless)
  profiling/src/profiling/stack_walking.rs
Due: benchmarks-profiler

chore: switch libdatadog to levi/profiling-shm-remove-legacy branch
  Cargo.lock
  profiling/Cargo.toml
Due: benchmarks-profiler

Add tests
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
  tests/Integrations/OpenAI/Latest/OpenAITest.php
  tests/Integrations/OpenAI/Latest/composer.json
  tests/OpenAI/Fixtures/Chat.php
  tests/OpenAI/Fixtures/Streams/ResponseCreate.txt
Due: none

Make appsec mock to work in memory
  tests/Appsec/Mock.php
  tests/Integrations/OpenAI/Latest/OpenAITest.php
Due: none

Migrate code coverage from Codecov to Datadog Code Coverage
  .gitlab/generate-appsec.php
  README.md
  code-coverage.datadog.yml
  codecov.yml
Due: none

test(CI): fix pnctl tests
  .gitlab/generate-common.php
  docker-compose.yml
  dockerfiles/services/Makefile
  dockerfiles/services/request-replayer/src/index.php
  tests/Common/TracerTestTrait.php
  tests/ext/crashtracker_segfault_disabled.phpt
Due: none

Universal rust helper build. Int test in alpine too
  .gitlab/generate-appsec.php
  appsec/.dockerignore
  appsec/cmake/helper.cmake
  appsec/helper-rust/.cargo/config.toml
  appsec/helper-rust/CLAUDE.md
  appsec/helper-rust/Makefile
  appsec/helper-rust/src/client/protocol.rs
  appsec/src/helper/engine.hpp
  appsec/tests/integration/build.gradle
  appsec/tests/integration/gradle/images.gradle
  appsec/tests/integration/gradle/tag_mappings.gradle
  appsec/tests/integration/src/docker/nginx-fpm-musl/Dockerfile
  appsec/tests/integration/src/docker/nginx-fpm-musl/nginx.conf
  appsec/tests/integration/src/docker/nginx-fpm-musl/php-fpm.conf
  appsec/tests/integration/src/docker/nginx-fpm-musl/start.sh
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/NginxFpmTests.groovy
Due: benchmarks-appsec

Move push address to prehook
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
Due: none

Fix build
  .gitlab/generate-appsec.php
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: none

Create fake response
  tests/OpenAI/Fixtures/Chat.php
  tests/OpenAI/Fixtures/Response.php
Due: none

Fix helper tests
  appsec/helper-rust/src/telemetry/tel_aware_logger.rs
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-appsec: any of: appsec/src/**/*
