Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-appsec

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 90m
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-appsec:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 90m
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

remove unnecessary `unsafe` block
  profiling/src/lib.rs
Due: benchmarks-profiler

early init default connector (#3432)
  profiling/src/lib.rs
Due: benchmarks-profiler

wip
  appsec/tests/extension/add_endpoints.phpt
  components-rs/remote_config.rs
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
Due: none

refactor(prof): permanently enable allocation, exception, and timeline features (#3431)
  profiling/Cargo.toml
  profiling/src/allocation/allocation_le83.rs
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/profiling/uploader.rs
  profiling/src/pthread.rs
  profiling/src/string_set.rs
Due: benchmarks-profiler

Update generated files
  Cargo.lock
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
Due: none

Make string vectors work
  components-rs/common.h
  components-rs/sidecar.h
  ext/ddtrace.c
Due: none

test(appsec: integrations): add php 8.5 images
  appsec/tests/integration/gradle/tag_mappings.gradle
  appsec/tests/integration/src/docker/php/build_dev_php.sh
Due: none

ci(prof): add PHP 8.5 prof-correctness run (#3433)
  .github/workflows/prof_correctness.yml
  profiling/src/lib.rs
  profiling/tests/phpt/preload_01.phpt
Due: benchmarks-profiler

style: fix/allow dead code
  profiling/src/bitset.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/samples.rs
Due: benchmarks-profiler

wip
  ext/ddtrace.c
Due: none

fix: io_profiling compilation
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

style: fix clippy lints
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
Due: benchmarks-profiler

fix: ZTS compilation
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
Due: none

Add i32 vector
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  components-rs/sidecar.h
  ext/ddtrace.c
Due: none

Add authentication vector
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  components-rs/sidecar.h
  ext/ddtrace.c
Due: none

Add serde json
  Cargo.lock
  appsec/tests/extension/add_endpoints.phpt
  components-rs/sidecar.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: none

Remove debugging lines
  components-rs/telemetry.rs
Due: none

Replace char_c for slices
  Cargo.lock
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/remote_config.rs
  components-rs/sidecar.h
  components-rs/telemetry.rs
Due: none

build: cleanup from merging master
  Cargo.lock
  profiling/Cargo.toml
Due: benchmarks-profiler

Amend PR comments
  components-rs/sidecar.h
  ext/ddtrace.c
Due: none

fix: update libdatadog and fix compat issues
  Cargo.lock
  Cargo.toml
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

Fixup crashtracker tests
  tests/ext/crashtracker_jit_tags.phpt
  tests/ext/crashtracker_segfault.phpt
  tests/ext/crashtracker_segfault_windows.phpt
Due: none

Support INI dsn
  src/DDTrace/Integrations/PDO/PDOIntegration.php
Due: none

Make use of fast_shutdown to avoid freeing overhead (#3429)
  ext/auto_flush.c
  ext/auto_flush.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/handlers_exception.c
  ext/span.c
  ext/span.h
  zend_abstract_interface/hook/hook.c
  zend_abstract_interface/hook/hook.h
Due: none

Update tests/Integrations/Guzzle/V5/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V5/GuzzleIntegrationTest.php
Due: none

Support curl_multi_exec root spans (#3419)
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/Integrations/Guzzle/V5/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
Due: none

Fix #3135: Force flushing on shutdown of entry point processes (#3398)
  Cargo.lock
  ext/configuration.c
  ext/configuration.h
  ext/ddtrace.c
  ext/signals.c
  ext/signals.h
Due: none

Bump to 1.13.0
  CHANGELOG.md
  VERSION
Due: none

Strip invalid utf8 chars
  ext/ddtrace.c
Due: none

Multiline DSN, adjust comment
  src/DDTrace/Integrations/PDO/PDOIntegration.php
Due: none

Optimize PDOIntegration::parseDsn() (#3430)
  src/DDTrace/Integrations/PDO/PDOIntegration.php
Due: none

Bump to 1.13.0 (#3435)
  CHANGELOG.md
  VERSION
Due: none

feat: add process tags to tracing payloads
  config.m4
  config.w32
  ext/configuration.h
  ext/ddtrace.c
  ext/process_tags.c
  ext/process_tags.h
  ext/serializer.c
  tests/ext/process_tags_disabled.phpt
  tests/ext/process_tags_enabled.phpt
  tests/ext/process_tags_normalization.phpt
Due: none

Fix closed resource handling in live debugger
  ext/exception_serialize.c
Due: none

fix: exception test message
  profiling/tests/phpt/exceptions_01.phpt
Due: benchmarks-profiler

fix: exception test, ZTS version
  profiling/tests/phpt/exceptions_zts_01.phpt
Due: benchmarks-profiler

Upgrade libddwaf and rules
  appsec/recommended.json
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/waf_test.cpp
Due: benchmarks-appsec

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-appsec: any of: appsec/src/**/*
