Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

Add Google Spanner integration
  .circleci/continue_config.yml
  Makefile
  docker-compose.yml
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/DDTrace/Integrations/GoogleSpanner/GoogleSpannerIntegration.php
  tests/Integrations/GoogleSpanner/GoogleSpannerIntegrationTest.php
  tests/Integrations/GoogleSpanner/composer.json
  tests/Integrations/GoogleSpanner/dummy_credentials.json
  tests/Integrations/GoogleSpanner/setup-gcloud.sh
  tests/Integrations/GoogleSpanner/setup-spanner-emulator.sh
  tests/snapshots/tests.integrations.google_spanner.google_spanner_integration_test.test_database.json
  tests/snapshots/tests.integrations.google_spanner.google_spanner_integration_test.test_instance.json
  tests/snapshots/tests.integrations.google_spanner.google_spanner_integration_test.test_query.json
  tests/snapshots/tests.integrations.google_spanner.google_spanner_integration_test.test_transaction.json
Due: benchmarks-tracer

fix rust triplets for cc-rs
  compile_rust.sh
Due: none

support multiple `PHP_INI_SCAN_DIR`'s
  datadog-setup.php
  tests/Integration/PHPInstallerTest.php
Due: none

Fix clang-tidy warning
  appsec/src/extension/helper_process.c
Due: none

Fix build on PHP 8.4
  appsec/src/extension/ddappsec.h
Due: none

appsec: fix zts
  appsec/src/extension/ddappsec.c
Due: none

Fix and refactor logic for helper activation
  appsec/src/extension/ddappsec.c
  appsec/src/extension/ddappsec.h
  appsec/src/extension/ddappsec.version
  appsec/src/extension/helper_process.c
  appsec/src/extension/helper_process.h
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/SidecarFeaturesDisabledTests.groovy
  components-rs/ddtrace.h
  components-rs/sidecar.rs
  ext/configuration.h
  ext/ddtrace.c
  ext/sidecar.c
  ext/sidecar.h
Due: benchmarks-tracer

Disable helper when appsec is fully disabled. Make datadog.appsec.enabled unmodifiable
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/configuration.h
  appsec/src/extension/ddappsec.c
  appsec/src/extension/ddappsec.h
  appsec/src/extension/helper_process.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/SidecarFeaturesDisabledTests.groovy
  ext/configuration.h
  ext/ddtrace.c
Due: benchmarks-tracer

Update datadog-setup.php
  datadog-setup.php
Due: none

support multiple `PHP_INI_SCAN_DIR`'s (#2941)
  datadog-setup.php
  tests/Integration/PHPInstallerTest.php
Due: none

Downgrade `windows-sys` from 0.59 back to 0.52
  Cargo.lock
Due: none

update
  Cargo.lock
Due: none

update cargo lock
  Cargo.lock
Due: none

moar comments and removed `unwrap()`
  profiling/src/profiling/thread_utils.rs
Due: benchmarks-profiler

feat(appsec): update ruleset configuration
  appsec/recommended.json
Due: none

cleanup
  profiling/src/timeline.rs
Due: benchmarks-profiler

observe `stream_select()`-type functions
  profiling/src/lib.rs
  profiling/src/timeline.rs
Due: benchmarks-profiler

Add Google Spanner integration (#2918)
  .circleci/continue_config.yml
  Makefile
  docker-compose.yml
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/DDTrace/Integrations/GoogleSpanner/GoogleSpannerIntegration.php
  tests/Integrations/GoogleSpanner/GoogleSpannerIntegrationTest.php
  tests/Integrations/GoogleSpanner/composer.json
  tests/Integrations/GoogleSpanner/dummy_credentials.json
  tests/Integrations/GoogleSpanner/setup-gcloud.sh
  tests/Integrations/GoogleSpanner/setup-spanner-emulator.sh
  tests/snapshots/tests.integrations.google_spanner.google_spanner_integration_test.test_database.json
  tests/snapshots/tests.integrations.google_spanner.google_spanner_integration_test.test_instance.json
  tests/snapshots/tests.integrations.google_spanner.google_spanner_integration_test.test_query.json
  tests/snapshots/tests.integrations.google_spanner.google_spanner_integration_test.test_transaction.json
Due: benchmarks-tracer

fix: Missing file in bridge
  bridge/_files_integrations.PHP5.php
Due: benchmarks-tracer

Add grpc to the docker image
  dockerfiles/ci/buster/build-extensions.sh
Due: none

Don't enable grpc by default
  Makefile
  dockerfiles/ci/buster/build-extensions.sh
Due: none

feat: Use PROJECT_ROOT as third argument
  Makefile
  tooling/bin/generate-final-artifact.sh
Due: none

feat: Regenerate PHP stubs and compare them
  .circleci/continue_config.yml
Due: none

ci: Rename `cbindgen up-to-date` to `generated files up-to-date`
  .circleci/continue_config.yml
Due: none

style: Put generated artifact directly in the artifacts
  tooling/bin/generate-final-artifact.sh
Due: none

fix: generated files up-to-date
  .circleci/continue_config.yml
Due: none

fix: buster image name
  .circleci/continue_config.yml
Due: none

fix: src dir
  tooling/stubs/generate-stubs.php
Due: none

style: Rename merged stubs file
  tooling/bin/generate-final-artifact.sh
  tooling/stubs/generate-stubs.php
Due: none

fix: offset
  tooling/stubs/generate-stubs.php
Due: none

fix: Sort by name
  tooling/stubs/generate-stubs.php
Due: none

chore: Update ddtrace_php_api.stubs.php
  src/ddtrace_php_api.stubs.php
Due: benchmarks-tracer

style: naming consistency
  tooling/bin/generate-final-artifact.sh
Due: none

feat(profiling) add thread names (#2934)
  .github/workflows/prof_asan.yml
  Cargo.lock
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions_zts.json
  profiling/tests/phpt/exceptions_01.phpt
  profiling/tests/phpt/exceptions_zts_01.phpt
Due: benchmarks-profiler

add \parallel\Events::poll
  profiling/src/timeline.rs
Due: benchmarks-profiler

add timeline active check for fatals
  profiling/src/timeline.rs
Due: benchmarks-profiler

Add the grpc extension for the google spanner integration (#2944)
  Makefile
  dockerfiles/ci/buster/build-extensions.sh
Due: none

Collect agent info and apply the env for remote config
  Cargo.lock
  components-rs/common.h
  components-rs/sidecar.h
  config.m4
  config.w32
  dockerfiles/services/request-replayer/src/index.php
  ext/agent_info.c
  ext/agent_info.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/priority_sampling/priority_sampling.c
  ext/serializer.c
  tests/ext/request-replayer/dd_trace_agent_env.phpt
Due: benchmarks-tracer

Adapt to latest libdatadog
  Cargo.lock
  components-rs/common.h
  components-rs/crashtracker.h
  ext/signals.c
Due: benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
