Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer, benchmarks-appsec

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-appsec:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

Stop parsing numerics as strings
  appsec/src/helper/json_helper.cpp
Due: benchmarks-appsec

Fix trailing ; in tracestate
  ext/ddtrace.h
  ext/handlers_http.h
  ext/telemetry.c
  tests/ext/startup_logging.phpt
  tests/ext/startup_logging_json.phpt
  tests/ext/telemetry/config.phpt
Due: benchmarks-tracer

Fix trailing ; in tracestate (#3354)
  ext/ddtrace.h
  ext/handlers_http.h
  ext/telemetry.c
  tests/ext/startup_logging.phpt
  tests/ext/startup_logging_json.phpt
  tests/ext/telemetry/config.phpt
Due: benchmarks-tracer

change default to true
  ext/integrations/integrations.h
Due: benchmarks-tracer

do not call `zend_jit_status()` on affected versions
  profiling/src/php_ffi.c
Due: benchmarks-profiler

ci: migrate GitHub release publishing from AWS SSM to dd-octo-sts
  .gitlab/generate-package.php
Due: none

chore(ci): add GitLab CI configuration for publishing releases with dd-octo-sts
  .github/chainguard/gitlab-ci-publish-release.sts.yaml
Due: none

feat: update telemetry calls
  Cargo.lock
  components-rs/Cargo.toml
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/sidecar.c
Due: benchmarks-tracer

feat: update libdatadog version
  components-rs/ddtrace.h
  components-rs/sidecar.h
  ext/sidecar.c
  ext/telemetry.c
Due: benchmarks-tracer

chore: fix segfault
  ext/sidecar.c
  tests/ext/library_config/CONFLICTS
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/fleet_config_overloads_ini.phpt
  tests/ext/library_config/local_config.phpt
  tests/ext/library_config/local_config_overloads_ini.phpt
Due: benchmarks-tracer

test: update integration tests
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
Due: none

chore: clean code
  ext/ddtrace.c
  ext/telemetry.c
  ext/telemetry.h
Due: benchmarks-tracer

feat(ext): move filtering code to Rust side
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/sidecar.c
  ext/telemetry.c
  tests/ext/telemetry/integration_filesystem_03.phpt
Due: benchmarks-tracer

chore: temporary deactivate flaky test
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/local_config.phpt
Due: none

feat: remove needs for version
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/telemetry.rs
  ext/sidecar.c
  ext/telemetry.c
Due: benchmarks-tracer

chore: update libdatadog
  Cargo.lock
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/live-debugger.h
  components-rs/sidecar.h
  components-rs/telemetry.rs
  ext/sidecar.c
Due: benchmarks-tracer

chore: fix tests
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/telemetry.c
  ext/telemetry.h
  tests/ext/appsec/sca_test.inc
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/local_config.phpt
  tests/ext/telemetry/config.phpt
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/simple.phpt
Due: benchmarks-tracer

feat: add telemetry caching system for SHM read operation
  Cargo.lock
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/ddtrace.h
  ext/sidecar.c
  ext/telemetry.c
  ext/telemetry.h
Due: benchmarks-tracer

Send trace tagging rules
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/waf_test.cpp
Due: benchmarks-appsec

Add forwarded header and private IP (#3345)
  ext/ip_extraction.c
  tests/ext/extract_ip_addr_precedence.phpt
  tests/ext/extract_ip_private_01.phpt
Due: benchmarks-tracer

chore: allow PRs without benchmark changes to pass required regression check (#3343)
  .gitlab/benchmarks.yml
Due: none

Adapt keep waf reponse
  appsec/src/helper/action.hpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/engine_test.cpp
Due: benchmarks-appsec

Fix DD_TRACE_AGENT_URL panic without scheme and path
  components-rs/lib.rs
Due: benchmarks-tracer

draft 1
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
  loader/tests/functional/includes/assert.php
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_complete.php
  loader/tests/functional/test_telemetry_php5.php
Due: none

Fix a bit of CI flakiness
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
  .gitlab/run_php_language_tests.sh
  dockerfiles/ci/xfail_tests/8.0.list
  ext/handlers_signal.c
Due: benchmarks-tracer

fix syntax
  loader/dd_library_loader.c
Due: none

debug
  loader/dd_library_loader.c
Due: none

Add knuth sampling formula (#3281)
  ext/distributed_tracing_headers.c
  ext/priority_sampling/priority_sampling.c
  normal-extension-test.xml
  tests/ext/distributed_tracing/distributed_trace_inherit_b3-single-span_no_sampling.phpt
  tests/ext/distributed_tracing/distributed_trace_span_link_from_headers.phpt
  tests/ext/inferred_proxy/sampling_rules.phpt
  tests/ext/priority_sampling/024-deterministic-sampling.phpt
Due: benchmarks-tracer

ci: fix chainguard pattern claim (#3351)
  .github/chainguard/gitlab-ci-aggregate-versions.sts.yaml
Due: none

ci: migrate GitHub release publishing to dd-octo-sts tokens (#3357)
  .github/chainguard/gitlab-ci-publish-release.sts.yaml
  .gitlab/generate-package.php
Due: none

Lint
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: benchmarks-appsec

fallback to "old" hooking for allocation profiling
  profiling/build.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/tests/phpt/memory_get_peak_usage_01.phpt
Due: benchmarks-profiler

feat(sidecar: telemetry): handle config buffering
  Cargo.lock
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/telemetry.rs
  ext/sidecar.c
  ext/telemetry.c
  loader/tests/functional/test_configuration_telemetry.php
  tests/Frameworks/Custom/OpenTelemetry/index.php
  tests/Frameworks/Custom/OpenTracing/index.php
  tests/Frameworks/Custom/Version_Autoloaded/src/TelemetryFlushController.php
  tests/Frameworks/Custom/Version_Autoloaded/src/routes.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
  tests/OpenTracing/InternalTelemetryTest.php
  tests/ext/library_config/fleet_config.phpt
Due: benchmarks-tracer

Add capabilities
  components-rs/remote_config.rs
Due: benchmarks-tracer

fallback to "old" hooking for allocation profiling (#3361)
  profiling/build.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/tests/phpt/memory_get_peak_usage_01.phpt
Due: benchmarks-profiler

build(prof): bump patch versions, drop indexmap (#3338)
  Cargo.lock
  profiling/Cargo.toml
Due: benchmarks-profiler

chore: update latest versions
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: ext/**/*, src/**/*, components/**/*, components-rs/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*, tea/**/*
  benchmarks-appsec: any of: appsec/src/**/*
