Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer, benchmarks-appsec

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-appsec:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

test(tracer): add http streams tests
  ext/ddtrace.c
  tests/ext/integrations/http_streams/distributed_tracing.inc
  tests/ext/integrations/http_streams/distributed_tracing_http_streams.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_disabled.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_array.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_string.phpt
Due: benchmarks-tracer

Fix submission of telemetry logs from appsec
  Cargo.lock
  appsec/src/extension/commands/client_init.c
  appsec/src/extension/commands/config_sync.c
  appsec/src/extension/ddtrace.c
  appsec/src/extension/ddtrace.h
  appsec/src/extension/request_lifecycle.c
  appsec/src/extension/string_helpers.h
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service.hpp
  appsec/src/helper/service_manager.cpp
  appsec/src/helper/service_manager.hpp
  appsec/src/helper/telemetry_settings.hpp
  appsec/tests/extension/client_init_sidecar.phpt
  appsec/tests/extension/rinit_rshutdown_basic.phpt
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/service_manager_test.cpp
  appsec/tests/helper/service_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
  components-rs/sidecar.h
  ddtrace.sym
  ext/remote_config.c
  ext/remote_config.h
  ext/sidecar.c
  ext/sidecar.h
Due: benchmarks-tracer, benchmarks-appsec

Store service/env for telemetry on rinit and root span prop changes
  appsec/cmake/ddtrace.cmake
  ext/ddtrace.c
  ext/ddtrace.h
  ext/serializer.c
  ext/sidecar.c
  ext/telemetry.c
Due: benchmarks-tracer

One more symfony web test fix
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_failure.json
Due: none

Capture the stack for log probes (#3367)
  Cargo.lock
  components-rs/live-debugger.h
  ext/code_origins.c
  ext/live_debugger.c
  tests/ext/live-debugger/debugger_log_probe.phpt
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_with_tracer_disabled_on_consume.json
  zend_abstract_interface/interceptor/php7/interceptor.c
Due: benchmarks-tracer

Gracefully handle sidecar broken pipes
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/sidecar.rs
  ext/ddtrace.c
  ext/sidecar.c
  ext/sidecar.h
  ext/telemetry.c
  ext/telemetry.h
  tests/ext/telemetry/broken_pipe.phpt
Due: benchmarks-tracer

Fix pthread_cancel behaviour
  components-rs/telemetry.rs
  ext/sidecar.c
Due: benchmarks-tracer

Fix build
  appsec/src/extension/request_lifecycle.c
  appsec/src/helper/network/proto.hpp
  appsec/tests/extension/client_init_sidecar.phpt
  appsec/tests/helper/broker_test.cpp
Due: benchmarks-appsec

Format/add .telemetry_settins to config_sync_data
  appsec/src/extension/commands/config_sync.c
  appsec/src/extension/commands/config_sync.h
  appsec/src/extension/request_lifecycle.c
  appsec/tests/helper/broker_test.cpp
Due: benchmarks-appsec

Fix for insertion of services in their table
  appsec/src/helper/client.cpp
  appsec/src/helper/service.hpp
  appsec/src/helper/service_manager.cpp
  appsec/src/helper/service_manager.hpp
  appsec/tests/integration/src/test/bin/enable_extensions.sh
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
Due: benchmarks-appsec

feat: add injection metadata fields to telemetry forwarder (#3359)
  loader/dd_library_loader.c
  loader/tests/functional/includes/assert.php
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_complete.php
  loader/tests/functional/test_telemetry_error.php
  loader/tests/functional/test_telemetry_php5.php
Due: none

Gracefully handle sidecar broken pipes (#3370)
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/sidecar.rs
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/sidecar.c
  ext/sidecar.h
  ext/telemetry.c
  ext/telemetry.h
  tests/ext/telemetry/broken_pipe.phpt
Due: benchmarks-tracer

Try to avoid shutdown crashes on mock_helper
  appsec/tests/mock_helper/mock_helper_main.cc
  appsec/tests/mock_helper/mock_helper_main.hpp
Due: none

fix failing tests
  dockerfiles/frameworks/flow.yml
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/Unit/Log/PsrLoggerTest.php
  tests/ext/telemetry/integration_filesystem_02.phpt
Due: none

appsec lint
  appsec/src/helper/service_manager.cpp
Due: benchmarks-appsec

update test
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
Due: none

Set DD_APPSEC_RASP_ENABLED default to true as on the tracer
  appsec/src/extension/configuration.h
Due: benchmarks-appsec

Fix segfault accessing PHP_VERSION constant
  ext/auto_flush.c
  ext/coms.c
  ext/ddshared.c
  ext/ddshared.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/sidecar.c
Due: benchmarks-tracer

Fix segfault on dd_sidecar_on_reconnect
  ext/sidecar.c
Due: benchmarks-tracer

Set DD_APPSEC_RASP_ENABLED default to true as on the tracer (#3374)
  appsec/src/extension/configuration.h
Due: benchmarks-appsec

test(tracer): fix tests by deactivating http streams integrations
  dockerfiles/ci/xfail_tests/7.0.list
  dockerfiles/ci/xfail_tests/7.1.list
  dockerfiles/ci/xfail_tests/7.2.list
  dockerfiles/ci/xfail_tests/7.3.list
  dockerfiles/ci/xfail_tests/7.4.list
  dockerfiles/ci/xfail_tests/8.0.list
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/8.4.list
  ext/ddtrace.c
  ext/handlers_http.h
  tests/Common/IntegrationTestCase.php
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_array.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_string.phpt
Due: benchmarks-tracer

feat(tracer): apply suggestions
  ext/handlers_http.h
Due: benchmarks-tracer

Gracefully handle sidecar reconnects in other threads
  ext/ddtrace.c
  ext/ddtrace.h
  ext/sidecar.c
  ext/sidecar.h
  ext/telemetry.c
  ext/telemetry.h
  ext/threads.c
  ext/threads.h
  tests/ext/telemetry/metrics_logs_created.phpt
  tests/ext/telemetry/metrics_spans_created.phpt
Due: benchmarks-tracer

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

Fix code origins
  dockerfiles/ci/xfail_tests/7.4.list
  ext/code_origins.c
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/CLI/Custom/Autoloaded/NoRootSpanTest.php
  tests/Integrations/Guzzle/Latest/GuzzleIntegrationTest.php
  tests/snapshots/tests.integrations.cli.symfony.latest.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v4_4.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v5_2.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v6_2.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.laravel.v8_x.queue_test.test_broadcast.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.latest.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_with_tracer_disabled_on_consume.json
Due: benchmarks-tracer

fix range missmatch
  profiling/src/allocation/allocation_le83.rs
Due: benchmarks-profiler

More test fixes
  tests/Integrations/Laravel/V8_x/QueueTest.php
  tests/Integrations/Symfony/V5_2/MessengerTest.php
  tests/ext/sandbox/default_span_properties.phpt
  tests/ext/traced_attribute.phpt
  tests/snapshots/tests.integrations.laravel.v8_x.queue_test.test_broadcast.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_with_tracer_disabled_on_consume.json
Due: none

feat(tracer): handle new header formatting mode
  ext/ddtrace.c
  ext/handlers_curl.c
  ext/handlers_curl_php7.c
  ext/handlers_http.h
Due: benchmarks-tracer

feat(tracer): apply PR feedbacks and fix compilation error
  ext/ddtrace.c
Due: benchmarks-tracer

feat(tracer): add minit function to instrument stream HTTP(S) wrappers
  ext/ddtrace.c
Due: benchmarks-tracer

feat(tracer): handle HTTP headers as array and update instead of replace
  ext/ddtrace.c
  ext/handlers_http.h
Due: benchmarks-tracer

feat(tracer): add integration flag and fix tests
  ext/ddtrace.c
  ext/integrations/integrations.h
  tests/ext/includes/request_replayer.inc
Due: benchmarks-tracer

feat(tracer): apply suggestions
  config.m4
  config.w32
  ext/ddtrace.c
  ext/handlers_http.h
  ext/handlers_httpstreams.c
  ext/handlers_httpstreams.h
Due: benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: ext/**/*, src/**/*, components/**/*, components-rs/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*, tea/**/*
  benchmarks-appsec: any of: appsec/src/**/*
