Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

Fix symfony 3.0 test
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Symfony62Tests.groovy
  appsec/tests/integration/src/test/www/symfony62/src/Controller/HomeController.php
  tests/Integrations/Symfony/V3_0/TraceSearchConfigTest.php
Due: none

Small refactoring
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: benchmarks-tracer

Add http.route tag to SymfonyIntegration.php
  appsec/tests/integration/src/docker/php/build_dev_php.sh
  appsec/tests/integration/src/test/www/symfony62/config/packages/test/framework.yaml
  appsec/tests/integration/src/test/www/symfony62/src/Controller/HomeController.php
  docker-compose.yml
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Common/TracerTestTrait.php
  tests/Common/WebFrameworkTestCase.php
  tests/Frameworks/Symfony/Version_6_2/src/Controller/CommonScenariosController.php
  tests/Integrations/Symfony/V3_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_3/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_3/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_4/AutofinishedTracesSymfony34Test.php
  tests/Integrations/Symfony/V3_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_4/TemplateEnginesTest.php
  tests/Integrations/Symfony/V3_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_1/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_1/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V6_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V6_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V7_0/CommonScenariosTest.php
  tests/composer.json
Due: benchmarks-tracer

Support localized routes
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: benchmarks-tracer

symfony http.route: use existing hook instead
  Makefile
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.route_name_test.test_resource_to_uri_mapping.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_8.route_name_test.test_resource_to_uri_mapping.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_with_tracer_disabled_on_consume.json
Due: benchmarks-tracer

Cache routes
  appsec/tests/integration/src/docker/php/build_dev_php.sh
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Integrations/Symfony/V3_0/CommonScenariosTest.php
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.route_name_test.test_resource_to_uri_mapping.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_8.route_name_test.test_resource_to_uri_mapping.json
Due: benchmarks-tracer

Add option to disable http.route in symfony
  appsec/tests/integration/build.gradle
  appsec/tests/integration/gradle/images.gradle
  appsec/tests/integration/src/docker/php/build_dev_php.sh
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Symfony62Tests.groovy
  ext/configuration.h
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: benchmarks-tracer

Block signals for sqlsrv_connect function
  ext/handlers_signal.c
Due: benchmarks-tracer

Set `insert_final_newline` to false
  .editorconfig
  .github/workflows/update_latest_versions.yml
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/Guzzle/Latest/composer.json
Due: none

Use Github Actions
  .github/workflows/update_latest_versions.yml
Due: none

typo
  .github/workflows/update_latest_versions.yml
Due: none

Remove composer install step
  .github/workflows/update_latest_versions.yml
Due: none

Set Laravel's `insert_final_newline` to false
  tests/Frameworks/Laravel/Latest/.editorconfig
  tests/Frameworks/Laravel/Latest/composer.json
Due: none

improve the Application::bootstrapWith hook to find Laravel's application name (#3036)
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: benchmarks-tracer

Block signals for sqlsrv_connect function (#3035)
  ext/handlers_signal.c
Due: benchmarks-tracer

Update Latest Version Dependencies
  tests/Common/CLITestCase.php
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Slim/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integration/DisabledTest.php
  tests/Integration/LongRunning/LongRunningScriptTest.php
  tests/Integrations/AMQP/Latest/composer.json
  tests/Integrations/CLI/CakePHP/V2_8/CommonScenariosTest.php
  tests/Integrations/CLI/CakePHP/V3_10/CommonScenariosTest.php
  tests/Integrations/CLI/CakePHP/V4_5/CommonScenariosTest.php
  tests/Integrations/CLI/Custom/Autoloaded/CommonScenariosTest.php
  tests/Integrations/CLI/Custom/Autoloaded/NoRootSpanTest.php
  tests/Integrations/CLI/Custom/NotAutoloaded/NotAutoloadedTestCase.php
  tests/Integrations/CLI/Laravel/Latest/CommonScenariosTest.php
  tests/Integrations/CLI/Laravel/V5_8/CommonScenariosTest.php
  tests/Integrations/CLI/Laravel/V8_X/CommonScenariosTest.php
  tests/Integrations/CLI/Laravel/V9_X/CommonScenariosTest.php
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/Guzzle/Latest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
  tests/OpenTracing/InternalTelemetryTest.php
  tests/update-latest-versions.php
Due: none

Prettify script + summary
  .github/workflows/update_latest_versions.yml
  tests/PackageUpdater.php
  tests/composer.json
  tests/update-latest-versions.php
Due: none

Check for Latest in basename
  tests/PackageUpdater.php
Due: none

newline
  tests/Integrations/Logs/MonologLatest/composer.json
Due: none

WIP ddcommon-net
  .circleci/continue_config.yml
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

update to ddcommon_net2
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

Setup Yii latest framework
  tests/Frameworks/Yii/Latest/composer.json
  tests/Integrations/Yii/Latest/CommonScenariosTest.php
Due: none

Fix Laminas calls
  Makefile
  tests/Integrations/Laminas/Mvc/Latest/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_with_view.json
Due: none

Add missing "in-preloading" check to `RSHUTDOWN` (#3037)
  profiling/src/lib.rs
  profiling/tests/phpt/preload_01.phpt
Due: benchmarks-profiler

fix(prof): PHP 8.4 crash with opcache optimizer (#3038)
  profiling/src/profiling/stack_walking.rs
Due: benchmarks-profiler

Makefile fixes
  Makefile
  tests/Integrations/OpenAI/Latest/OpenAITest.php
Due: none

update openai snapshots
  tests/snapshots/tests.integrations.open_ai.open_ai_test.test_create_chat_completion_stream_with_error.json
  tests/snapshots/tests.integrations.open_ai.open_ai_test.test_create_completions_with_multiple_error_messages.json
  tests/snapshots/tests.integrations.open_ai.open_ai_test.test_list_models_with_error.json
  tests/snapshots/tests.integrations.open_ai.open_ai_test.test_list_models_with_null_error_type.json
Due: none

fix OpenAI fixture path
  tests/Integrations/OpenAI/Latest/OpenAITest.php
Due: none

fix Guzzle latest snapshot name
  tests/snapshots/tests.integrations.guzzle.latest.guzzle_integration_test.test_multi_exec.json
Due: none

fix Predis Tests
  Makefile
  tests/Integrations/Predis/Latest/PredisTest.php
  tests/Integrations/Predis/V1/PredisTest.php
  tests/Integrations/Predis/V1/composer.json
Due: none

Don't try to fix predis in this PR
  Makefile
  tests/Integrations/Predis/Latest/PredisTest.php
  tests/Integrations/Predis/Latest/composer.json
  tests/Integrations/Predis/V1/PredisTest.php
  tests/Integrations/Predis/V1/composer.json
Due: none

fix: `UserAvailableConstantsTest::testAllTypesAreTested`
  tests/api/Unit/UserAvailableConstantsTest.php
Due: none

Fix nette test range
  Makefile
Due: none

Fix laminas test range
  tests/Frameworks/Laminas/Mvc/Version_3_6/composer.json
Due: none

fix: `UserAvailableConstantsTest::testAllTypesAreTested` (#3042)
  tests/api/Unit/UserAvailableConstantsTest.php
Due: none

Fall back to stderr if the log path contains colons
  components-rs/crashtracker.h
  components-rs/sidecar.rs
Due: none

Fall back to stderr if the log path contains colons (#3044)
  components-rs/crashtracker.h
  components-rs/sidecar.rs
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
