Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

Amend error on appsecMockEnabled function
  tests/Appsec/Mock.php
Due: none

feat: Swoole Integration (#2595)
  Makefile
  bridge/_files_integrations.php
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/Integrations/Integrations/Swoole/SwooleIntegration.php
  tests/Common/WebFrameworkTestCase.php
  tests/Frameworks/Swoole/index.php
  tests/Integrations/Swoole/CommonScenariosTest.php
  tests/Integrations/Swoole/DistributedTracingTest.php
  tests/Integrations/Swoole/IPExtractionTest.php
  tests/Integrations/Swoole/InvalidContentTypeTest.php
  tests/Integrations/Swoole/XWwwFormUrlencodedTest.php
  tests/Sapi/SwooleServer/SwooleServer.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
  tests/WebServer.php
  tests/composer.json
  tests/phpunit.xml
Due: benchmarks-tracer

Make Laravel appsec login success event more accurate (#2600)
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
Due: benchmarks-tracer

bump libdatadog WIP branch
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/profiling/uploader.rs
  profiling/src/string_set/arenavec.rs
Due: benchmarks-profiler

WIP Start sending some telemetry metrics
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/ddtrace.h
  ext/span.c
  ext/telemetry.c
  ext/telemetry.h
Due: benchmarks-tracer

Address Bob's comments
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/ddtrace.h
  ext/span.c
  ext/telemetry.c
  tests/ext/telemetry/metrics.phpt
Due: benchmarks-tracer

Change metric value's type to double + use MetricContext struct to register a metric
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/telemetry.c
Due: benchmarks-tracer

Rename function
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/telemetry.c
Due: benchmarks-tracer

Add a new internal function to mark a span as created by OpenTelemetry or OpenTracing
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/span.c
  ext/span.h
  ext/telemetry.c
  ext/telemetry.h
  src/DDTrace/OpenTelemetry/Span.php
  tests/ext/telemetry/metrics.phpt
Due: benchmarks-tracer

Address FIXMEs
  ext/ddtrace.c
  ext/span.h
  ext/telemetry.c
  ext/telemetry.h
Due: benchmarks-tracer

Update extension stub
  ext/ddtrace.stub.php
Due: benchmarks-tracer

Regenerate arginfo from stubs
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  tests/ext/telemetry/metrics.phpt
Due: benchmarks-tracer

Fix memory leak
  ext/telemetry.c
Due: benchmarks-tracer

Update broken test
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
Due: none

Fix a use-after-free
  ext/span.c
Due: benchmarks-tracer

Support the frankenphp SAPI
  Makefile
  bridge/_files_integrations.php
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-php.sh
  dockerfiles/ci/buster/switch-php
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  ext/serializer.c
  src/Integrations/Integrations/Frankenphp/FrankenphpIntegration.php
  tests/Common/WebFrameworkTestCase.php
  tests/Frameworks/Frankenphp/index.php
  tests/Frameworks/Util/CommonScenariosDataProviderTrait.php
  tests/Integrations/Frankenphp/CommonScenariosTest.php
  tests/Integrations/Frankenphp/DistributedTracingTest.php
  tests/Sapi/Frankenphp/Caddyfile
  tests/Sapi/Frankenphp/FrankenphpServer.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
  tests/WebServer.php
  tests/phpunit.xml
  tooling/bin/install-frankenphp.sh
Due: benchmarks-tracer

Update libdatadog, cbindgen
  components-rs/ddtrace.h
  components-rs/telemetry.h
  tests/ext/telemetry/metrics.phpt
Due: none

Skip on NTS
  tests/Common/WebFrameworkTestCase.php
Due: none

Fix metric name
  ext/telemetry.c
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/ext/telemetry/metrics.phpt
Due: benchmarks-tracer

Flag spans created by OpenTelemetry Tracers
  src/DDTrace/OpenTracer/Tracer.php
  src/DDTrace/OpenTracer1/Tracer.php
Due: benchmarks-tracer

Test the 'spans_created' metric with OpenTelemetry/OpenTracing
  tests/Common/WebFrameworkTestCase.php
  tests/Frameworks/Custom/Version_Autoloaded/composer.json
  tests/Frameworks/Custom/Version_Autoloaded/src/OpenTelemetryController.php
  tests/Frameworks/Custom/Version_Autoloaded/src/OpenTracing1Controller.php
  tests/Frameworks/Custom/Version_Autoloaded/src/OpenTracingController.php
  tests/Frameworks/Custom/Version_Autoloaded/src/routes.php
  tests/Integrations/Custom/Autoloaded/InternalTelemetry.php
Due: none

Fix broken test
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
Due: none

Extract OpenTelemetry test
  Makefile
  tests/Common/CLITestCase.php
  tests/Common/TracerTestTrait.php
  tests/Common/WebFrameworkTestCase.php
  tests/Frameworks/Custom/OpenTelemetry/composer.json
  tests/Frameworks/Custom/OpenTelemetry/index.php
  tests/Frameworks/Custom/Version_Autoloaded/composer.json
  tests/Frameworks/Custom/Version_Autoloaded/src/OpenTelemetryController.php
  tests/Frameworks/Custom/Version_Autoloaded/src/OpenTracing1Controller.php
  tests/Frameworks/Custom/Version_Autoloaded/src/OpenTracingController.php
  tests/Frameworks/Custom/Version_Autoloaded/src/routes.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/Integrations/Custom/Autoloaded/InternalTelemetry.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
  tests/phpunit.xml
Due: none

Re-add OpenTracing test
  Makefile
  tests/Frameworks/Custom/OpenTracing/composer.json
  tests/Frameworks/Custom/OpenTracing/index.php
  tests/OpenTracing/InternalTelemetryTest.php
Due: none

Slightly Improve OTel Performances (#2561)
  src/DDTrace/OpenTelemetry/Context.php
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  src/DDTrace/OpenTelemetry/SpanContext.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
Due: benchmarks-tracer

Remove debug stmt
  src/Integrations/Integrations/Frankenphp/FrankenphpIntegration.php
Due: benchmarks-tracer

Send `spans_created` telemetry metric (#2577)
  Makefile
  components-rs/ddtrace.h
  components-rs/telemetry.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/span.c
  ext/span.h
  ext/telemetry.c
  ext/telemetry.h
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTracer/Tracer.php
  src/DDTrace/OpenTracer1/Tracer.php
  tests/Common/CLITestCase.php
  tests/Common/TracerTestTrait.php
  tests/Frameworks/Custom/OpenTelemetry/composer.json
  tests/Frameworks/Custom/OpenTelemetry/index.php
  tests/Frameworks/Custom/OpenTracing/composer.json
  tests/Frameworks/Custom/OpenTracing/index.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
  tests/OpenTracing/InternalTelemetryTest.php
  tests/ext/telemetry/metrics.phpt
  tests/phpunit.xml
Due: benchmarks-tracer

Use WeakMap for frankenphp closure
  ext/integrations/integrations.c
  src/Integrations/Integrations/Frankenphp/FrankenphpIntegration.php
Due: benchmarks-tracer

Release 0.99.0
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  github-actions-helpers/Build.cs
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Due: benchmarks-profiler, benchmarks-tracer

Update package.xml
  package.xml
Due: none

build(profiling): update to libdatadog v7
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

Support the frankenphp SAPI (#2602)
  Makefile
  bridge/_files_integrations.php
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-php.sh
  dockerfiles/ci/buster/switch-php
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  ext/serializer.c
  src/Integrations/Integrations/Frankenphp/FrankenphpIntegration.php
  tests/Common/WebFrameworkTestCase.php
  tests/Frameworks/Frankenphp/index.php
  tests/Frameworks/Util/CommonScenariosDataProviderTrait.php
  tests/Integrations/Frankenphp/CommonScenariosTest.php
  tests/Integrations/Frankenphp/DistributedTracingTest.php
  tests/Sapi/Frankenphp/Caddyfile
  tests/Sapi/Frankenphp/FrankenphpServer.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
  tests/WebServer.php
  tests/phpunit.xml
  tooling/bin/install-frankenphp.sh
Due: benchmarks-tracer

build(profiling): update to libdatadog v7 (#2605)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

fix: Replace `home/circleci/app` by `/home/circleci/datadog`
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_with_view.json
Due: none

Run composer show in the actual scenario folder
  Makefile
  tests/Common/IntegrationTestCase.php
Due: none

Revert back to only direct deps
  tests/Common/IntegrationTestCase.php
Due: none

List installed composer packages instead of only direct dependencies
  Makefile
  tests/Common/IntegrationTestCase.php
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
