Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

change order
  src/DDTrace/Integrations/LaravelQueue/LaravelQueueIntegration.php
Due: benchmarks-tracer

Try using a counter
  src/DDTrace/Integrations/LaravelQueue/LaravelQueueIntegration.php
Due: benchmarks-tracer

Update default appsec event obfuscation regexes
  appsec/src/extension/configuration.h
Due: none

Update regex with proper escaping
  appsec/src/extension/configuration.h
Due: none

fix: warning about unused variable
  profiling/src/profiling/stack_walking.rs
Due: benchmarks-profiler

run
  README.md
Due: none

perf: PHP 8.4+ doesn't need zend_execute_internal
  profiling/src/wall_time.rs
Due: benchmarks-profiler

[ASM] Update event obfuscation regex (#2897)
  appsec/src/extension/configuration.h
Due: none

Disable standalone appsec when tracer is disable on request
  ext/ddtrace.c
  ext/ddtrace.h
  tests/ext/fibers/enable_tracer_in_fiber.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_multi_exec_disable.phpt
  tests/ext/startup_logging_json_config.phpt
Due: benchmarks-tracer

fix: Prevent Laravel Queue hooks from stacking up
  src/DDTrace/Integrations/LaravelQueue/LaravelQueueIntegration.php
Due: benchmarks-tracer

Try lsan stuff
  components-rs/Cargo.toml
  components-rs/lib.rs
  components-rs/sidecar.h
  components-rs/sidecar.rs
Due: none

Try lsan stuff
  Cargo.lock
  compile_rust.sh
  ext/ddtrace.c
Due: benchmarks-tracer

Fix otel not disabling experimental appsec
  ext/comms_php.c
  ext/configuration.h
  ext/ddtrace.c
Due: benchmarks-tracer

Fix abort() call on appsec helper unload
  appsec/src/helper/main.cpp
  appsec/src/helper/runner.cpp
  appsec/src/helper/runner.hpp
Due: none

Fix exception property offset computation for PHP 8.1+
  ext/handlers_exception.c
  ext/serializer.c
Due: benchmarks-tracer

Add test on appsec to test standalone
  appsec/tests/extension/asm_standalone_01.phpt
Due: none

Fix exception property offset computation for PHP 8.1+ (#2901)
  ext/handlers_exception.c
  ext/serializer.c
Due: benchmarks-tracer

wip
  appsec/src/extension/configuration.h
  appsec/tests/extension/asm_standalone_01.phpt
  ext/configuration.h
  tests/ext/fibers/enable_tracer_in_fiber.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_multi_exec_disable.phpt
  tests/ext/startup_logging_json_config.phpt
Due: benchmarks-tracer

fix: Prevent Laravel Queue hooks from stacking up (#2899)
  src/DDTrace/Integrations/LaravelQueue/LaravelQueueIntegration.php
Due: benchmarks-tracer

Add asm standalone traces
  ext/auto_flush.c
  ext/configuration.h
  ext/serializer.c
Due: benchmarks-tracer

Disable sidecar sending on lambda
  ext/configuration.c
Due: benchmarks-tracer

Disable sidecar sending on lambda (#2904)
  ext/configuration.c
Due: benchmarks-tracer

Bump version to 1.4.2
  VERSION
  package.xml
Due: none

ci(profiling) fix actions cache (#2894)
  .github/workflows/prof_asan.yml
  .github/workflows/prof_correctness.yml
Due: none

Fix crash when yielding from generators are destroyed
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: benchmarks-tracer

Changing what seems to be the default value to 100
  ext/configuration.h
Due: benchmarks-tracer

Stabilize credit_cards_bench inlining Fix a possible crash in zai config
  Makefile
  zend_abstract_interface/config/config_ini.c
Due: benchmarks-tracer

Fix a possible crash in zai config (#2906)
  Makefile
  zend_abstract_interface/config/config_ini.c
Due: benchmarks-tracer

Updating limit to use depending on SAMPLE_RATE value
  ext/configuration.h
  ext/limiter/limiter.c
Due: benchmarks-tracer

Updating to not run redact code if value is empty
  ext/serializer.c
Due: benchmarks-tracer

fix
  .github/workflows/prof_tests.yml
Due: none

Fix crash when yielding from generators are destroyed (#2908)
  zend_abstract_interface/interceptor/php8/interceptor.c
Due: benchmarks-tracer

test
  .github/workflows/prof_tests.yml
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
