Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer, benchmarks-appsec

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: ext/**/*, src/**/*, components/**/*, components-rs/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*, tea/**/*
  benchmarks-appsec: any of: appsec/src/**/*

do not call `zend_jit_status()` on affected versions
  profiling/src/php_ffi.c
Due: benchmarks-profiler

upstream PR not yet merged
  profiling/src/php_ffi.c
Due: benchmarks-profiler

feat(sidecar: telemetry): handle config buffering
  Cargo.lock
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/telemetry.rs
  ext/sidecar.c
  ext/telemetry.c
  loader/tests/functional/test_configuration_telemetry.php
  tests/Frameworks/Custom/OpenTelemetry/index.php
  tests/Frameworks/Custom/OpenTracing/index.php
  tests/Frameworks/Custom/Version_Autoloaded/src/TelemetryFlushController.php
  tests/Frameworks/Custom/Version_Autoloaded/src/routes.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
  tests/OpenTracing/InternalTelemetryTest.php
  tests/ext/library_config/fleet_config.phpt
Due: benchmarks-tracer

Fix DD_TRACE_AGENT_URL panic without scheme and path (#3358)
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
  .gitlab/run_php_language_tests.sh
  components-rs/lib.rs
  dockerfiles/ci/xfail_tests/8.0.list
  ext/handlers_signal.c
Due: benchmarks-tracer

Fix windows compilation
  ext/ddtrace.h
Due: benchmarks-tracer

Fix dd_patch_zend_call_known_function on early PHP 8 versions on Windows (#3326)
  datadog-setup.php
  ext/ddtrace.c
Due: benchmarks-tracer

feat: reduce telemetry sent (#3316)
  Cargo.lock
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/ddtrace.h
  components-rs/live-debugger.h
  components-rs/sidecar.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/ddtrace.h
  ext/sidecar.c
  ext/telemetry.c
  ext/telemetry.h
  loader/tests/functional/test_configuration_telemetry.php
  tests/Frameworks/Custom/OpenTelemetry/index.php
  tests/Frameworks/Custom/OpenTracing/index.php
  tests/Frameworks/Custom/Version_Autoloaded/src/TelemetryFlushController.php
  tests/Frameworks/Custom/Version_Autoloaded/src/routes.php
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/OpenTelemetry/Integration/InternalTelemetryTest.php
  tests/OpenTracing/InternalTelemetryTest.php
  tests/ext/appsec/sca_test.inc
  tests/ext/library_config/CONFLICTS
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/fleet_config_overloads_ini.phpt
  tests/ext/library_config/local_config.phpt
  tests/ext/library_config/local_config_overloads_ini.phpt
  tests/ext/telemetry/config.phpt
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/integration_filesystem_03.phpt
  tests/ext/telemetry/simple.phpt
Due: benchmarks-tracer

fix tests
  loader/tests/functional/test_telemetry_error.php
Due: none

fix(prof): Do not call `zend_jit_status()` on affected versions (#3356)
  profiling/src/php_ffi.c
Due: benchmarks-profiler

run language tests for profiler
  .gitlab/generate-profiler.php
Due: none

Fixup check-big-regressions job being stuck on master
  .gitlab/benchmarks.yml
Due: none

Drop unused leftovers / adjust comments
  ext/code_origins.c
  ext/code_origins.h
Due: benchmarks-tracer

Fix CI
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/ddtrace_basic.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  appsec/tests/extension/rinit_record_span_tags_fail.phpt
  appsec/tests/extension/rinit_root_span_add_tag.phpt
  appsec/tests/extension/root_span_add_tag.phpt
  appsec/tests/extension/root_span_add_tag_with_intermediate_spans.phpt
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
  tests/Integrations/Symfony/V4_4/MessengerTest.php
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.route_name_test.test_resource_to_uri_mapping.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_8.route_name_test.test_resource_to_uri_mapping.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_with_tracer_disabled_on_consume.json
Due: none

Add jq
  dockerfiles/ci/bookworm/Dockerfile
  dockerfiles/ci/buster/Dockerfile
Due: none

Bump to 1.11.0
  CHANGELOG.md
  VERSION
Due: none

Fix Kafka tests
  tests/Integrations/Kafka/KafkaTest.php
Due: none

Add missing libdatadog changelog entries
  CHANGELOG.md
Due: none

Bump to 1.11.0 (#3365)
  CHANGELOG.md
  VERSION
  tests/Integrations/Kafka/KafkaTest.php
Due: none

debug
  loader/dd_library_loader.c
Due: none

Add needs to generate github token step
  .gitlab/generate-package.php
Due: none

Fix tested_versions aggregation failure
  .gitlab/check_test_agent.sh
  .gitlab/generate-tracer.php
Due: none

test debug
  loader/dd_library_loader.c
Due: none

Artifact push actually happens on branch, not tag
  .github/chainguard/gitlab-ci-publish-release.sts.yaml
Due: none

add buffer
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
Due: none

update tests
  loader/tests/functional/test_telemetry_php5.php
Due: none

More memory for the artifacts push
  .gitlab/generate-package.php
Due: none

Fix tested_versions aggregation failure
  .gitlab/generate-tracer.php
Due: none

Allow PR creation on alex/ branches for testing
  tooling/tested_versions/create_or_update_supported_versions_pr.sh
Due: none

fixing
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
Due: none

deubg
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/phpt/load.diff
  loader/tests/phpt/load.exp
  loader/tests/phpt/load.out
  loader/tests/phpt/load.php
  loader/tests/phpt/load.sh
Due: none

feat(tracer): handle new header formatting mode
  ext/ddtrace.c
  ext/handlers_curl.c
  ext/handlers_curl_php7.c
  ext/handlers_http.h
Due: benchmarks-tracer

feat(tracer): add minit function to instrument stream HTTP(S) wrappers
  ext/ddtrace.c
Due: benchmarks-tracer

changes
  loader/dd_library_loader.c
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_complete.php
  loader/tests/functional/test_telemetry_error.php
  loader/tests/functional/test_telemetry_php5.php
  loader/tests/phpt/load.diff
  loader/tests/phpt/load.exp
  loader/tests/phpt/load.out
  loader/tests/phpt/load.php
  loader/tests/phpt/load.sh
Due: none

feat(tracer): apply PR feedbacks and fix compilation error
  ext/ddtrace.c
Due: benchmarks-tracer
