Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

Add missing track_error to snapshots/tests
  ext/serializer.c
  tests/Common/SnapshotTestTrait.php
  tests/Integrations/Laravel/V8_x/InternalExceptionsTest.php
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_to_missing_route.json
Due: benchmarks-tracer

fix serialization order
  ext/serializer.c
Due: benchmarks-tracer

tmp
  ext/serializer.c
Due: benchmarks-tracer

update snapshots
  tests/Common/SnapshotTestTrait.php
  tests/Frameworks/Laravel/Latest/app/Exceptions/IgnoredException.php
  tests/Frameworks/Laravel/Latest/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Latest/bootstrap/app.php
  tests/Frameworks/Laravel/Latest/routes/web.php
  tests/Integrations/Laravel/Latest/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_ignored_exception.json
Due: none

update snapshots
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_to_missing_route.json
Due: none

trigger ci
  ext/serializer.c
Due: benchmarks-tracer

style
  ext/serializer.c
Due: benchmarks-tracer

Remove debug logs
  ext/serializer.c
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: benchmarks-tracer

update symfony 2.X snapshots
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
Due: none

tests: Add Laravel 10 example
  tests/Frameworks/Laravel/Version_10_x/app/Exceptions/Handler.php
  tests/Frameworks/Laravel/Version_10_x/app/Exceptions/IgnoredException.php
  tests/Frameworks/Laravel/Version_10_x/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Version_10_x/routes/web.php
  tests/Integrations/Laravel/V10_x/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_ignored_exception.json
Due: none

tests: Add another Laravel 10 example
  tests/Frameworks/Laravel/Version_10_x/app/Exceptions/ExceptionExtendingIgnored.php
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_ignored_exception.json
Due: none

fix: Handle recursive handlers
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: benchmarks-tracer

Fix exception serialize arena cleanup
  ext/exception_serialize.c
Due: benchmarks-tracer

chore: update snapshots
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_ignored_exception.json
Due: none

Refactor Guzzle integration to centralize promise response handling
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
Due: benchmarks-tracer

Expand v2 ato functions to appsec
  appsec/src/extension/user_tracking.c
  appsec/tests/extension/user_tracking_block_from_login_failure_v2.phpt
  appsec/tests/extension/user_tracking_block_from_login_success_v2.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_failure_v2.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success_v2.phpt
Due: none

feat: move rust span code to sidecar-ffi
  Cargo.lock
  Makefile
  cbindgen.toml
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/data-pipeline.h
  components-rs/lib.rs
  components-rs/sidecar.h
  ext/auto_flush.c
  ext/ddtrace.c
  ext/exception_serialize.c
  ext/serializer.c
  ext/span.c
  loader/tests/functional/test_ddtrace_is_fully_loaded.php
Due: benchmarks-tracer

Amend leak
  ext/ddtrace.c
Due: benchmarks-tracer

Handle stack-allocated execute_data but outside of stack allocated func
  ext/ddtrace.c
Due: benchmarks-tracer

Update libdatadog
  Cargo.lock
Due: none

Rename to DD_PROFILING_DEBUG_UPLOAD_COMPRESSION
  profiling/src/config.rs
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

Block signals for mysqli_real_connect too
  ext/handlers_signal.c
Due: benchmarks-tracer

style: use a dedicated method for handling promise responses
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
Due: benchmarks-tracer

fix: change handlePromiseResponse method visibility to protected
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
Due: benchmarks-tracer

fix: change handlePromiseResponse method visibility to public
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
Due: benchmarks-tracer

Amend pipeline errors
  appsec/src/extension/user_tracking.c
  appsec/src/extension/user_tracking.h
  ext/ddtrace.c
Due: benchmarks-tracer

Block signals for mysqli_real_connect too (#3264)
  ext/handlers_signal.c
Due: benchmarks-tracer

Handle appsec appsec disabled
  appsec/src/extension/user_tracking.c
Due: none

feat: improve serializer performance by using literal instead of CharSlice
  components-rs/bytes.rs
  components-rs/ddtrace.h
  ext/exception_serialize.c
  ext/serializer.c
Due: benchmarks-tracer

Test v2 ato functions from appsec
  appsec/tests/extension/track_user_login_failure_v2_01.phpt
  appsec/tests/extension/track_user_login_failure_v2_01_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_failure_v2_02.phpt
  appsec/tests/extension/track_user_login_failure_v2_02_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_failure_v2_03.phpt
  appsec/tests/extension/track_user_login_failure_v2_03_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_01.phpt
  appsec/tests/extension/track_user_login_success_v2_01_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_02.phpt
  appsec/tests/extension/track_user_login_success_v2_02_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_03.phpt
  appsec/tests/extension/track_user_login_success_v2_03_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_04.phpt
  appsec/tests/extension/track_user_login_success_v2_04_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_05.phpt
  appsec/tests/extension/track_user_login_success_v2_05_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_06.phpt
  appsec/tests/extension/track_user_login_success_v2_06_appsec_disabled.phpt
  appsec/tests/extension/track_user_login_success_v2_07.phpt
  appsec/tests/extension/track_user_login_success_v2_07_appsec_disabled.phpt
Due: none

Ensure v2 ato functions trigger asm events
  appsec/src/extension/tags.c
  appsec/src/extension/tags.h
  appsec/src/extension/user_tracking.c
  appsec/tests/extension/user_tracking_do_nothing_from_login_failure_v2.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success_v2.phpt
Due: none

Improve tests
  appsec/tests/extension/track_user_login_failure_v2_01.phpt
  appsec/tests/extension/track_user_login_failure_v2_02.phpt
  appsec/tests/extension/track_user_login_failure_v2_03.phpt
  appsec/tests/extension/track_user_login_success_v2_01.phpt
  appsec/tests/extension/track_user_login_success_v2_02.phpt
  appsec/tests/extension/track_user_login_success_v2_03.phpt
  appsec/tests/extension/track_user_login_success_v2_04.phpt
  appsec/tests/extension/track_user_login_success_v2_05.phpt
  appsec/tests/extension/track_user_login_success_v2_06.phpt
  appsec/tests/extension/track_user_login_success_v2_07.phpt
  appsec/tests/extension/track_user_login_success_v2_08.phpt
Due: none

Amend conditional
  appsec/src/extension/user_tracking.c
Due: none

Add new waf addresses
  appsec/src/extension/tags.c
  appsec/src/extension/user_tracking.c
  appsec/src/extension/user_tracking.h
  appsec/tests/extension/track_user_login_success_v2_04.phpt
  appsec/tests/extension/track_user_login_success_v2_05.phpt
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
  appsec/tests/integration/src/test/www/base/public/user_login_failure_v2.php
  appsec/tests/integration/src/test/www/base/public/user_login_success_v2.php
Due: none

Fix pipelines for gitlab tags
  .gitlab/append-build-id.sh
Due: none

Fix pipelines for gitlab tags (#3267)
  .gitlab/append-build-id.sh
Due: none

chore: update latest versions
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
