Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*

cleanup
  profiling/build.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/mod.rs
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
Due: benchmarks-profiler

Fix lint issues
  appsec/src/extension/configuration.c
  appsec/src/helper/subscriber/waf.cpp
Due: none

add moar comments
  profiling/src/allocation/allocation_ge84.rs
Due: benchmarks-profiler

Fix appsec pipeline (#2982)
  .circleci/continue_config.yml
  appsec/src/extension/configuration.c
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/client_test.cpp
Due: none

Wrap lfi functions
  Makefile
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
  tests/Integrations/Filesystem/FilesystemTest.php
  tests/Integrations/Filesystem/dummy
  tests/Integrations/Filesystem/index.php
Due: benchmarks-tracer

Test LFi functions
  appsec/tests/integration/build.gradle
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
  appsec/tests/integration/src/test/www/base/public/filesystem.php
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
Due: benchmarks-tracer

Add optional rasp metrics
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/src/helper/tags.hpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/waf_test.cpp
Due: none

Add rasp duration tag
  appsec/src/extension/commands/request_exec.c
  appsec/src/extension/commands/request_exec.h
  appsec/src/extension/ddappsec.c
  appsec/src/extension/user_tracking.c
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/subscriber/base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/src/helper/tags.hpp
  appsec/tests/extension/actions_handling_01.phpt
  appsec/tests/extension/push_params_ok_01.phpt
  appsec/tests/extension/push_params_ok_02.phpt
  appsec/tests/extension/push_params_ok_03.phpt
  appsec/tests/extension/request_exec.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_login_success.phpt
  appsec/tests/extension/user_tracking_do_nothing_from_set_user.phpt
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/waf_test.cpp
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
  tests/Appsec/Mock.php
  tests/Integrations/Filesystem/.gitignore
  tests/Integrations/Filesystem/FilesystemTest.php
Due: benchmarks-tracer

Avoid unnecesary new zvals
  appsec/src/extension/backtrace.c
Due: none

Add DD_APPSEC_RASP_ENABLED configuration
  appsec/src/extension/configuration.h
  appsec/src/extension/ddappsec.c
  appsec/tests/extension/push_params_ok_04.phpt
  appsec/tests/extension/push_params_ok_05.phpt
Due: none

Add duration_ext tag
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
  src/api/Tag.php
  tests/Integrations/Filesystem/FilesystemTest.php
Due: benchmarks-tracer

Add lfi capability
  appsec/src/helper/remote_config/listeners/engine_listener.hpp
  appsec/src/helper/remote_config/product.hpp
Due: none

Amend issue with rasp events tags
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
Due: benchmarks-tracer

Ensure rasp tags are created
  appsec/src/extension/ddappsec.c
Due: none

Move rasp.duration_ext to appsec extension
  appsec/src/extension/ddappsec.c
  appsec/src/extension/tags.c
  appsec/src/extension/tags.h
  appsec/tests/extension/push_params_ok_04.phpt
  appsec/tests/extension/push_params_ok_05.phpt
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
  src/api/Tag.php
Due: benchmarks-tracer

Avoid loaded wrappers when appsec no loaded
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
Due: benchmarks-tracer

Ensure duration_ext is added
  appsec/src/extension/ddappsec.c
Due: none

Disable rasp by default
  appsec/src/extension/configuration.h
Due: none

Change comment
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
Due: benchmarks-tracer

Add more rasp tests
  appsec/tests/extension/push_params_ok_06.phpt
Due: none

Lint
  appsec/src/extension/ddappsec.c
  appsec/src/extension/tags.c
  appsec/src/extension/tags.h
Due: none

Stop creating not needed spans
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
Due: benchmarks-tracer

Fix error loading filesytem integration on test_c tests
  tests/ext/includes/dummy_filesystem_integration.inc
  tests/ext/includes/request_replayer.inc
Due: none

Amend test
  appsec/tests/helper/waf_test.cpp
Due: none

Lint
  appsec/tests/helper/engine_test.cpp
Due: none

Lint
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
Due: none

Enable rasp manually on integration tests
  appsec/tests/integration/src/test/bin/enable_extensions.sh
Due: none

Remove stat and lstat
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  ext/integrations/integrations.c
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
  tests/Integrations/Filesystem/FilesystemTest.php
Due: benchmarks-tracer

Change approach to calculate elapsed
  appsec/src/extension/ddappsec.c
  appsec/src/extension/tags.c
  appsec/src/extension/tags.h
Due: none

Reduce calls to waf on LFI functions
  ext/configuration.h
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
Due: benchmarks-tracer

Changes suggested on PR
  appsec/src/extension/ddappsec.c
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
Due: benchmarks-tracer

Avoid reporting filesytem integration on telemetry
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  tests/ext/telemetry/integration_filesystem.phpt
Due: benchmarks-tracer

Fix tests adding new filesystem integration
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
Due: none

Test filesystem integration
  tests/ext/telemetry/integration_filesystem_01.phpt
  tests/ext/telemetry/integration_filesystem_02.phpt
  tests/ext/telemetry/integration_filesystem_03.phpt
  tests/ext/telemetry/integration_filesystem_04.phpt
Due: none

Return not loaded when filesytem integration is wrapping no functions
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
Due: benchmarks-tracer

feat(appsec: extension): create new function for automated user login failure event
  appsec/src/extension/tags.c
  appsec/tests/extension/track_user_login_failure_event.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_anon_mode.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_anon_mode_compat.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_anon_mode_full_name.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_default_mode.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_disabled_config.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_disabled_mode.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_ident_mode.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_ident_mode_02.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_ident_mode_compat.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_ident_mode_full_name.phpt
  appsec/tests/extension/track_user_login_failure_event_automated_invalid_mode.phpt
  appsec/tests/extension/track_user_login_failure_event_existing_user.phpt
  appsec/tests/extension/track_user_login_failure_event_no_root_span.phpt
  appsec/tests/extension/track_user_login_failure_event_no_user.phpt
  appsec/tests/extension/track_user_login_failure_event_sdk_takes_priority.phpt
  appsec/tests/extension/track_user_login_failure_event_sdk_takes_priority_02.phpt
  appsec/tests/extension/track_user_login_failure_event_sdk_takes_priority_03.phpt
  appsec/tests/extension/track_user_login_failure_event_sdk_takes_priority_04.phpt
  appsec/tests/extension/track_user_login_failure_event_sdk_takes_priority_05.phpt
  appsec/tests/extension/track_user_login_failure_event_sdk_takes_priority_06.phpt
  appsec/tests/extension/track_user_login_success_event.phpt
  tests/Appsec/Mock.php
Due: none

Exit if execv failed
  loader/dd_library_loader.c
Due: none

feat(appsec: extension): create new function for automated user login success event
  appsec/src/extension/tags.c
  appsec/tests/extension/headers_collection_03.phpt
  appsec/tests/extension/headers_collection_04.phpt
  appsec/tests/extension/headers_collection_05.phpt
  appsec/tests/extension/headers_collection_06.phpt
  appsec/tests/extension/headers_collection_07.phpt
  appsec/tests/extension/headers_collection_08.phpt
  appsec/tests/extension/headers_collection_09.phpt
  appsec/tests/extension/headers_collection_10.phpt
  appsec/tests/extension/headers_collection_11.phpt
  appsec/tests/extension/headers_collection_12.phpt
  appsec/tests/extension/headers_collection_13.phpt
  appsec/tests/extension/track_user_login_success_event.phpt
  appsec/tests/extension/track_user_login_success_event_automated_anon_mode.phpt
  appsec/tests/extension/track_user_login_success_event_automated_anon_mode_compat.phpt
  appsec/tests/extension/track_user_login_success_event_automated_anon_mode_full_name.phpt
  appsec/tests/extension/track_user_login_success_event_automated_default_mode.phpt
  appsec/tests/extension/track_user_login_success_event_automated_disabled_config.phpt
  appsec/tests/extension/track_user_login_success_event_automated_disabled_mode.phpt
  appsec/tests/extension/track_user_login_success_event_automated_ident_mode.phpt
  appsec/tests/extension/track_user_login_success_event_automated_ident_mode_02.phpt
  appsec/tests/extension/track_user_login_success_event_automated_ident_mode_compat.phpt
  appsec/tests/extension/track_user_login_success_event_automated_ident_mode_full_name.phpt
  appsec/tests/extension/track_user_login_success_event_automated_invalid_mode.phpt
  appsec/tests/extension/track_user_login_success_event_empty_user.phpt
  appsec/tests/extension/track_user_login_success_event_no_root_span.phpt
  appsec/tests/extension/track_user_login_success_event_sdk_takes_priority.phpt
  appsec/tests/extension/track_user_login_success_event_sdk_takes_priority_02.phpt
  appsec/tests/extension/track_user_login_success_event_sdk_takes_priority_03.phpt
  tests/Appsec/Mock.php
Due: none

Rename appsec module on tracer
  ext/asm_event.c
  ext/asm_event.h
  ext/auto_flush.c
  ext/ddtrace.c
  ext/handlers_http.h
  ext/serializer.c
Due: benchmarks-tracer

Amend dm and priority on asm events
  appsec/src/extension/configuration.h
  appsec/src/extension/ddtrace.h
  appsec/src/extension/tags.c
  config.m4
  config.w32
  ext/asm_event.c
  ext/priority_sampling/priority_sampling.h
  tests/ext/background-sender/agent_sampling-standalone-asm_02.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_propagate_asm_event.phpt
Due: benchmarks-tracer
