Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*

Switch back to 0.26
  .circleci/continue_config.yml
Due: none

0.27?
  .circleci/continue_config.yml
Due: none

Minor tweaks
  appsec/src/helper/subscriber/waf.cpp
Due: none

Pull newest libdatadog
  .circleci/continue_config.yml
  Cargo.lock
  components-rs/Cargo.toml
  components-rs/lib.rs
Due: none

Add support for file based configuration (library-config) (#3068)
  .circleci/continue_config.yml
  Cargo.lock
  Makefile
  appsec/cmake/extension.cmake
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/ddtrace.h
  components-rs/lib.rs
  components-rs/library-config.h
  components-rs/live-debugger.h
  components-rs/sidecar.h
  components-rs/sidecar.rs
  components-rs/telemetry.h
  config.m4
  config.w32
  ddtrace.sym
  docker-compose.linux.override.yml
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/bindings/mod.rs
  tests/ext/library_config/default_config.phpt
  tests/ext/library_config/default_config.yaml
  tests/ext/library_config/default_config_overloads_env.phpt
  tests/ext/library_config/default_config_overloads_ini.phpt
  tests/ext/library_config/system_config.phpt
  tests/ext/library_config/system_config_overloads_env.phpt
  tests/ext/library_config/system_config_overloads_ini.phpt
  zend_abstract_interface/CMakeLists.txt
  zend_abstract_interface/components_rs.cmake
  zend_abstract_interface/config/CMakeLists.txt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_stable_file.c
  zend_abstract_interface/config/config_stable_file.h
Due: benchmarks-profiler, benchmarks-tracer

Add a ratchet integration
  Makefile
  ext/configuration.h
  ext/ddtrace.stub.php
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  ext/startup_logging.c
  ext/telemetry.c
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
  src/api/Type.php
  src/ddtrace_php_api.stubs.php
  tests/Common/SpanChecker.php
  tests/Integrations/Ratchet/V0_4/RatchetTest.php
  tests/Integrations/Ratchet/V0_4/composer.json
  tests/api/Unit/UserAvailableConstantsTest.php
  tests/bootstrap_common.php
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_runtime.c
  zend_abstract_interface/hook/hook.c
Due: benchmarks-tracer

Rename variable for clarilty
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
Due: benchmarks-tracer

Fix carrying tracing info to the new trace
  ext/distributed_tracing_headers.c
  ext/priority_sampling/priority_sampling.c
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
  tests/Integrations/Ratchet/V0_4/RatchetTest.php
  tests/ext/integrations/curl/distributed_tracing_curl_propagate_asm_event.phpt
Due: benchmarks-tracer

Add a ratchet integration (#3115)
  Makefile
  ext/configuration.h
  ext/ddtrace.stub.php
  ext/distributed_tracing_headers.c
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  ext/priority_sampling/priority_sampling.c
  ext/startup_logging.c
  ext/telemetry.c
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
  src/api/Type.php
  src/ddtrace_php_api.stubs.php
  tests/Common/SpanChecker.php
  tests/Integrations/Ratchet/V0_4/RatchetTest.php
  tests/Integrations/Ratchet/V0_4/composer.json
  tests/api/Unit/UserAvailableConstantsTest.php
  tests/bootstrap_common.php
  tests/ext/integrations/curl/distributed_tracing_curl_propagate_asm_event.phpt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_runtime.c
  zend_abstract_interface/hook/hook.c
Due: benchmarks-tracer

Transfer baggage in ratchetintegration
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
Due: benchmarks-tracer

Regenerate stubs
  src/ddtrace_php_api.stubs.php
Due: benchmarks-tracer

tests: Add testSilencedSpansAreDropped for Symfony CLI Tests
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Common/TracerTestTrait.php
  tests/Frameworks/Symfony/Latest/src/Command/SttyCommand.php
  tests/Frameworks/Symfony/Version_4_4/src/Command/SttyCommand.php
  tests/Frameworks/Symfony/Version_5_2/src/Command/SttyCommand.php
  tests/Frameworks/Symfony/Version_6_2/src/Command/SttyCommand.php
  tests/Integrations/CLI/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V6_2/CommonScenariosTest.php
  tests/snapshots/tests.integrations.cli.symfony.latest.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v4_4.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v5_2.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v6_2.common_scenarios_test.test_silenced_spans_are_dropped.json
Due: benchmarks-tracer

Profiling is not available on PHP 7.0
  loader/dd_library_loader.c
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_php_output.php
  tooling/bin/generate-ssi-package.sh
Due: none

Add the product as a tag
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
  loader/tests/functional/includes/assert.php
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_error.php
  tooling/bin/generate-ssi-package.sh
Due: none

Strip symbols to reduce the package size
  tooling/bin/generate-ssi-package.sh
Due: none

Test profiling/appssec are loaded
  loader/tests/functional/test_php_output.php
Due: none

Add profiling and appsec to SSIo
  tooling/bin/generate-ssi-package.sh
Due: none

Fix tests
  loader/tests/functional/includes/assert.php
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_telemetry_complete.php
  loader/tests/functional/test_telemetry_error.php
  loader/tests/functional/test_telemetry_php5.php
Due: none

Inject profiling and appsec
  loader/dd_library_loader.c
  loader/tests/functional/test_incompatibility_jit.php
  loader/tests/functional/test_telemetry_error.php
  tooling/bin/generate-ssi-package.sh
Due: none

Disable tests with valgrind as it does not work with stripped so
  .circleci/continue_config.yml
Due: none

Re-enable symbols stripping
  dockerfiles/packaging/fpm_packaging/Dockerfile
  tooling/bin/generate-ssi-package.sh
Due: none

Disable symbols stripping
  tooling/bin/generate-ssi-package.sh
Due: none

Add test
  loader/tests/functional/test_profiling_and_appsec_can_be_enabled.php
Due: none

Profiling should be disabled by default
  loader/dd_library_loader.c
  loader/tests/functional/includes/autoload.php
  loader/tests/functional/test_profiling_and_appsec_are_disabled_by_default.php
Due: none

Prepare for rebase
  .circleci/continue_config.yml
Due: none

Fix makefile dep causing problem in appsec int tests
  config.m4
Due: none

Update libdatadog
  Cargo.lock
  components-rs/sidecar.h
Due: none

Address comments
  loader/dd_library_loader.c
  loader/php_dd_library_loader.h
  loader/tests/functional/test_ddtrace_already_loaded.php
  loader/tests/functional/test_profiling_and_appsec_can_be_enabled.php
  loader/tests/functional/test_telemetry_complete.php
  loader/tests/functional/test_telemetry_error.php
  tooling/bin/generate-ssi-package.sh
Due: none

chore: Update supported versions (#3141)
  aggregated_tested_versions.json
  integration_versions.md
Due: none

fix: Laravel, Symfony, and WordPress tests failures
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  tests/Frameworks/Laravel/Version_5_7/.env
  tests/Frameworks/Laravel/Version_5_7/app/Http/Kernel.php
  tests/Frameworks/Laravel/Version_5_7/config/session.php
  tests/Frameworks/Laravel/Version_5_7/routes/web.php
  tests/Frameworks/Laravel/Version_5_8/.env
  tests/Frameworks/Laravel/Version_5_8/app/Http/Kernel.php
  tests/Frameworks/Laravel/Version_5_8/config/session.php
  tests/Frameworks/Laravel/Version_5_8/routes/web.php
  tests/Frameworks/Symfony/Version_4_4/src/Security/LoginFormAuthenticator.php
  tests/Frameworks/Symfony/Version_5_2/config/packages/security.yaml
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_dynamic_route.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
Due: benchmarks-tracer

fix: Laravel, Symfony, and WordPress tests failures (#3143)
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  tests/Frameworks/Laravel/Version_5_7/.env
  tests/Frameworks/Laravel/Version_5_7/app/Http/Kernel.php
  tests/Frameworks/Laravel/Version_5_7/config/session.php
  tests/Frameworks/Laravel/Version_5_7/routes/web.php
  tests/Frameworks/Laravel/Version_5_8/.env
  tests/Frameworks/Laravel/Version_5_8/app/Http/Kernel.php
  tests/Frameworks/Laravel/Version_5_8/config/session.php
  tests/Frameworks/Laravel/Version_5_8/routes/web.php
  tests/Frameworks/Symfony/Version_4_4/src/Security/LoginFormAuthenticator.php
  tests/Frameworks/Symfony/Version_5_2/config/packages/security.yaml
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_dynamic_route.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v5_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
Due: benchmarks-tracer

- Avoid serializing empty key / value - Avoid redundant config default checks - Sprinkle some ZVAL_COPY_DEREF()s
  Cargo.lock
  components-rs/sidecar.h
  ext/compatibility.h
  ext/distributed_tracing_headers.c
  ext/handlers_http.h
  ext/serializer.c
Due: benchmarks-tracer

Baggage Header Propagation Support (#3102)
  Cargo.lock
  components-rs/sidecar.h
  ext/compatibility.h
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/distributed_tracing_headers.c
  ext/distributed_tracing_headers.h
  ext/handlers_http.h
  ext/serializer.c
  ext/span.h
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
  src/DDTrace/OpenTelemetry/Context.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  src/DDTrace/Span.php
  src/api/Data/Span.php
  src/ddtrace_php_api.stubs.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/Unit/SpanTest.php
  tests/ext/active_span.phpt
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_alone.phpt
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_configured_bytes.phpt
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_configured_items.phpt
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_context_propagated.phpt
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_decoding_encoding.phpt
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_default.phpt
  tests/ext/distributed_tracing/baggage/distributed_trace_baggage_first.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_disabled_baggage.phpt
  tests/ext/sandbox/span_clone.phpt
Due: benchmarks-tracer

Fixes for update to 1.23/1.24
  appsec/src/helper/json_helper.cpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: none

Merge master
  ext/ddtrace_arginfo.h
Due: benchmarks-tracer

Fix stable config precedence
  components-rs/common.h
  ddtrace.sym
  tests/ext/library_config/default_config.phpt
  tests/ext/library_config/default_config.yaml
  tests/ext/library_config/default_config_overloads_env.phpt
  tests/ext/library_config/default_config_overloads_ini.phpt
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/fleet_config.yaml
  tests/ext/library_config/fleet_config_overloads_env.phpt
  tests/ext/library_config/fleet_config_overloads_ini.phpt
  tests/ext/library_config/local_config.phpt
  tests/ext/library_config/local_config.yaml
  tests/ext/library_config/local_config_does_not_overload_env.phpt
  tests/ext/library_config/local_config_overloads_ini.phpt
  tests/ext/library_config/system_config.phpt
  tests/ext/library_config/system_config_overloads_env.phpt
  tests/ext/library_config/system_config_overloads_ini.phpt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_stable_file.c
  zend_abstract_interface/config/config_stable_file.h
Due: benchmarks-tracer

Update libdatadog to last version
  Cargo.lock
  profiling/Cargo.toml
Due: benchmarks-profiler

tests: Update active_span.phpt & span_clone.phpt
  tests/ext/active_span.phpt
  tests/ext/sandbox/span_clone.phpt
Due: none
