Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-appsec

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-appsec: any of: appsec/src/**/*

Merge pull request #4071 from DataDog/leo.romanovsky/fix-openfeature-warning-exception
  src/DDTrace/OpenFeature/DataDogProvider.php
  src/api/FeatureFlags/Client.php
  src/api/FeatureFlags/Internal/NativeEvaluator.php
  src/api/Log/NonThrowingLogger.php
  src/api/Log/TriggerErrorLogger.php
  src/bridge/_files_tracer.php
  tests/OpenFeature/DataDogProviderTest.php
  tests/api/Unit/FeatureFlags/ClientTest.php
  tests/api/Unit/Log/NonThrowingLoggerTest.php
  tests/ext/ffe/system_test_data_evaluate.phpt
Due: none

Bump to 1.23.2
  CHANGELOG.md
  VERSION
Due: none

test(profiling): stub realloc callback dependencies
  profiling/src/allocation/mod.rs
Due: benchmarks-profiler

perf(profiling): remove indirect allocator forwarding (#4070)
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
Due: benchmarks-profiler

Revert "fix(profiling): guard atomic interrupt load on PHP 8.2"
  profiling/src/php_ffi.c
Due: benchmarks-profiler

Revert "perf(profiling): skip idle internal interrupt handling"
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/wall_time.rs
Due: benchmarks-profiler

perf(profiling): use relaxed read to skip idle interrupts
  profiling/src/capi.rs
  profiling/src/wall_time.rs
  tests/tea/profiling/profiling.cc
  tests/tea/profiling/profiling.h
  tracer/engine_hooks.c
Due: benchmarks-profiler

perf(profiling): move interrupt_count to module globals
  profiling/src/allocation/mod.rs
  profiling/src/capi.rs
  profiling/src/lib.rs
  profiling/src/module_globals.rs
  profiling/src/wall_time.rs
Due: benchmarks-profiler

fix(profiling): allow legacy executor globals on macOS
  profiling/build.rs
Due: benchmarks-profiler

fix(profiling): restore OPcache restart hook on shutdown
  profiling/src/timeline.rs
Due: benchmarks-profiler

appsec/benchmark
  appsec/examples/benchmark/.dockerignore
  appsec/examples/benchmark/.gitignore
  appsec/examples/benchmark/Caddyfile
  appsec/examples/benchmark/Dockerfile
  appsec/examples/benchmark/Dockerfile.fpm
  appsec/examples/benchmark/README.md
  appsec/examples/benchmark/docker-compose.fpm.yml
  appsec/examples/benchmark/docker-compose.yml
  appsec/examples/benchmark/nginx.conf
  appsec/examples/benchmark/php-fpm-benchmark.conf
  appsec/examples/benchmark/run-benchmark.py
  appsec/examples/benchmark/www/index.php
Due: none

fix(profiling): restore OPcache restart hook on shutdown (#4076)
  profiling/src/timeline.rs
Due: benchmarks-profiler

bump to 1.23.3
  CHANGELOG.md
  VERSION
Due: none

Revert "perf(profiling): move interrupt_count to module globals"
  profiling/src/allocation/mod.rs
  profiling/src/capi.rs
  profiling/src/lib.rs
  profiling/src/module_globals.rs
  profiling/src/wall_time.rs
Due: benchmarks-profiler

Revert "perf(profiling): use relaxed read to skip idle interrupts"
  profiling/src/capi.rs
  profiling/src/wall_time.rs
  tests/tea/profiling/profiling.cc
  tests/tea/profiling/profiling.h
  tracer/engine_hooks.c
Due: benchmarks-profiler

perf(prof): use TSRM globals for interrupt_count, Ordering::Relaxed
  profiling/src/allocation/mod.rs
  profiling/src/capi.rs
  profiling/src/lib.rs
  profiling/src/module_globals.rs
  profiling/src/profiling/interrupts.rs
  profiling/src/profiling/mod.rs
  profiling/src/wall_time.rs
Due: benchmarks-profiler

Propagate agent configured timeout to sidecar (#4025)
  Makefile
  ext/configuration.h
  ext/sidecar.c
  metadata/supported-configurations.json
  tests/ext/appsec/sca_flag_is_sent_01.phpt
  tests/ext/appsec/sca_flag_is_sent_02.phpt
  tests/ext/appsec/sca_flag_is_sent_03.phpt
  tests/ext/appsec/sca_flag_is_sent_04.phpt
  tests/ext/appsec/sca_flag_is_sent_05.phpt
  tests/ext/background-sender/agent_headers_unix_domain_socket.phpt
  tests/ext/background-sender/background_sender_ipv6_support.phpt
  tests/ext/background-sender/cli_shutdown_no_hang_unreachable_agent.phpt
  tests/ext/background-sender/default_unix_domain_socket_agent.phpt
  tests/ext/background-sender/sidecar_handles_invalid_agent_url.phpt
  tests/ext/includes/request_replayer.inc
  tests/ext/includes/unix_socket_proxy.php
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/local_config.phpt
  tests/ext/remote_config/dynamic_config_multiconfig.phpt
  tests/ext/remote_config/rc_fork_notify.phpt
  tests/ext/request-replayer/dd_trace_agent_env.phpt
  tests/ext/startup_logging_diagnostics.phpt
  tests/ext/telemetry/broken_pipe.phpt
  tests/ext/telemetry/composer.phpt
  tests/ext/telemetry/config.phpt
  tests/ext/telemetry/disabled.phpt
  tests/ext/telemetry/integration.phpt
  tests/ext/telemetry/integration_filesystem_01.phpt
  tests/ext/telemetry/integration_filesystem_02.phpt
  tests/ext/telemetry/integration_filesystem_03.phpt
  tests/ext/telemetry/integration_filesystem_04.phpt
  tests/ext/telemetry/integration_runtime_error.phpt
  tests/ext/telemetry/metrics_logs_created.phpt
  tests/ext/telemetry/metrics_spans_created.phpt
  tests/ext/telemetry/simple.phpt
  tests/ext/telemetry/telemetry_process_tags.phpt
  tracer/coms.c
Due: none

fix(ci): isolate PHPTs from Fabric egress proxy
  .gitlab/generate-appsec.php
  .gitlab/generate-profiler.php
Due: none

fix(ci): isolate integration tests from Fabric proxy
  .gitlab/generate-appsec.php
  .gitlab/generate-package.php
  .gitlab/generate-profiler.php
  .gitlab/generate-tracer.php
  .gitlab/run_php_language_tests.sh
Due: none

fix(ci): diagnose missing PHP language core dumps
  .gitlab/generate-profiler.php
Due: none

appsec phpt tests: unset HTTP_PROXY
  appsec/cmake/run-tests-wrapper.sh
Due: none

fix(appsec): unset proxy in test wrapper
  .gitlab/generate-appsec.php
  appsec/cmake/run-tests-wrapper.sh
Due: none

fix(ci): isolate tests from egress proxy (#4078)
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
  .gitlab/run_php_language_tests.sh
  appsec/cmake/run-tests-wrapper.sh
Due: none

Onboard CI image publication off the public-images job-token trigger
  .gitlab/generate-ci-images.php
Due: none

Send raw response bodies to the waf
  appsec/src/extension/commands/request_shutdown.c
  appsec/src/extension/configuration.h
  appsec/tests/extension/rshutdown_command_raw_body_disabled.phpt
  appsec/tests/extension/rshutdown_command_raw_body_json.phpt
  appsec/tests/extension/rshutdown_command_raw_body_plain_text.phpt
  appsec/tests/extension/rshutdown_command_raw_body_xml.phpt
Due: benchmarks-appsec

Add new capability
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/mock_agent/rem_cfg/Capability.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RawResponseBodyTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
  appsec/tests/integration/src/test/www/base/public/raw_response_body.php
  components-rs/common.h
  components-rs/remote_config.rs
Due: none

Fix pipeline
  appsec/src/extension/commands/request_shutdown.c
  appsec/tests/extension/rshutdown_command_raw_body_disabled.phpt
  appsec/tests/extension/rshutdown_command_raw_body_json.phpt
  appsec/tests/extension/rshutdown_command_raw_body_plain_text.phpt
  appsec/tests/extension/rshutdown_command_raw_body_xml.phpt
  metadata/supported-configurations.json
Due: benchmarks-appsec

Fix tests
  appsec/tests/mock_helper/mock_helper_main.cc
Due: none

Fix tests
  appsec/tests/extension/rinit_rshutdown_basic.phpt
Due: none

Fix binary strings
  appsec/src/extension/commands/request_shutdown.c
Due: benchmarks-appsec

Fix tests
  appsec/src/helper/network/msgpack_helpers.cpp
Due: benchmarks-appsec

Trim the publish template comment to what is not obvious from the code
  .gitlab/generate-ci-images.php
Due: none

perf(prof): speed up interrupt_count checks (#4074)
  profiling/src/allocation/mod.rs
  profiling/src/capi.rs
  profiling/src/lib.rs
  profiling/src/module_globals.rs
  profiling/src/profiling/interrupts.rs
  profiling/src/profiling/mod.rs
  profiling/src/wall_time.rs
Due: benchmarks-profiler

fix(profiling): support PHP 8.6
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
Due: benchmarks-profiler

fix(profiling): allow version-dependent ini cast
  profiling/src/config.rs
Due: benchmarks-profiler

found `ZEND_INTERNAL_FUNCTION` in another header file
  profiling/src/bindings/mod.rs
  profiling/src/php_ffi.h
Due: benchmarks-profiler

Publish CI images on arm64 to the public registry set
  .gitlab/generate-ci-images.php
Due: none

Update the CI image publishing runbook for direct publication
  dockerfiles/ci/README.md
Due: none
