Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*

clearify some things regarding ZTS
  profiling/src/exception.rs
  profiling/tests/phpt/exceptions_01.phpt
  profiling/tests/phpt/exceptions_zts_01.phpt
Due: benchmarks-profiler

feat: Draft the instrumentation of `createCompletion`
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
  src/api/Type.php
Due: benchmarks-tracer

Enable appsec by ini only when enable-appsec present
  datadog-setup.php
Due: none

cleanup naming
  benchmark/runall.sh
  profiling/benches/timeline.json
Due: benchmarks-profiler, benchmarks-tracer

style(profiling): add eg! and sg! macros
  profiling/build.rs
  profiling/src/allocation.rs
  profiling/src/bindings/mod.rs
  profiling/src/bindings/tsrm.rs
  profiling/src/exception.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/timeline.rs
Due: benchmarks-profiler

fix: take sapi_request_info by ref
  profiling/src/lib.rs
  profiling/src/sapi.rs
Due: benchmarks-profiler

Load the OpenAI Integration on OpenAI\Factory::__construct
  ext/integrations/integrations.c
Due: benchmarks-tracer

fix: Typo
  ext/integrations/integrations.c
Due: benchmarks-tracer

Load the OpenAI Integration on OpenAI\Factory::make
  ext/integrations/integrations.c
Due: benchmarks-tracer

draft: Fully (no Logs) implement `createCompletion`
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
  src/api/Tag.php
  src/api/Type.php
Due: benchmarks-tracer

style(profiling): clean up some imports
  profiling/src/bindings/mod.rs
Due: benchmarks-profiler

style(profiling): clean up some imports (#2571)
  profiling/src/bindings/mod.rs
Due: benchmarks-profiler

Amend style
  tests/ext/appsec/sca_test.inc
Due: none

Refactor configuration parser
  ext/configuration.c
Due: benchmarks-tracer

Enable appsec by ini only when enable-appsec present (#2567)
  datadog-setup.php
Due: none

ci(profiling) add tests for exception profiling in ZTS builds (#2562)
  .github/workflows/prof_correctness.yml
  .gitlab/ci-images.yml
  dockerfiles/ci/bookworm/build-extensions.sh
  dockerfiles/ci/buster/build-extensions.sh
  dockerfiles/ci/centos/7/php.Dockerfile
  profiling/src/exception.rs
  profiling/tests/correctness/exceptions_zts.json
  profiling/tests/correctness/exceptions_zts.php
  profiling/tests/phpt/exceptions_zts_01.phpt
  profiling/tests/phpt/zts_01.phpt
Due: benchmarks-profiler

Add DD_APPSEC_SCA_ENABLED new configuration variable (#2557)
  ext/configuration.c
  ext/configuration.h
  ext/telemetry.c
  tests/ext/appsec/sca_flag_is_sent_01.phpt
  tests/ext/appsec/sca_flag_is_sent_02.phpt
  tests/ext/appsec/sca_flag_is_sent_03.phpt
  tests/ext/appsec/sca_flag_is_sent_04.phpt
  tests/ext/appsec/sca_flag_is_sent_05.phpt
  tests/ext/appsec/sca_test.inc
Due: benchmarks-tracer

Add zts support for alpine (#2564)
  .circleci/continue_config.yml
  dockerfiles/ci/alpine_compile_extension/Dockerfile
  dockerfiles/ci/alpine_compile_extension/build-dd-trace-php
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/alpine_compile_extension/env-init
  dockerfiles/ci/alpine_compile_extension/install-php
  tooling/bin/generate-final-artifact.sh
Due: none

fix: disable on fork
  profiling/src/config.rs
Due: benchmarks-profiler

draft: Initial drafty implementation (logs TBC)
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
  src/api/Log/AbstractLogger.php
  src/api/Log/ErrorLogLogger.php
  src/api/Log/Logger.php
Due: benchmarks-tracer

draft: Initial logs quick implementation
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
  src/api/Log/ErrorLogLogger.php
Due: benchmarks-tracer

First draft of remote configuration & live debugging
  Cargo.lock
  Makefile
  cbindgen.toml
  components-rs/Cargo.toml
  components-rs/ddtrace.h
  components-rs/lib.rs
  components-rs/remote_config.rs
  config.m4
  docker-compose.yml
  ext/ddtrace.c
  ext/ddtrace.h
  ext/handlers_pcntl.c
  ext/hook/uhook.c
  ext/hook/uhook.h
  ext/priority_sampling/priority_sampling.c
  ext/remote_config.c
  ext/remote_config.h
  ext/sidecar.c
  ext/sidecar.h
  zend_abstract_interface/hook/hook.c
  zend_abstract_interface/hook/hook.h
Due: benchmarks-tracer

feat: Only log when the span is not being sampled out
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
Due: benchmarks-tracer

feat: Add OpenAI Configuration Options
  ext/configuration.h
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
Due: benchmarks-tracer

Remove `DD_INTEGRATIONS_DISABLED`
  ext/configuration.c
  ext/configuration.h
  ext/startup_logging.c
  tests/Unit/ConfigurationTest.php
  tests/api/Unit/ConfigurationTest.php
  tests/ext/startup_logging.phpt
  tests/ext/startup_logging_config.phpt
  tests/ext/startup_logging_json.phpt
  tests/ext/startup_logging_json_config.phpt
Due: benchmarks-tracer

Remove `DD_SERVICE_NAME`, `DD_TRACE_APP_NAME`, `ddtrace_app_name`
  appsec/src/extension/configuration.h
  appsec/tests/extension/calias_configuration.phpt
  appsec/tests/integration/src/docker/nginx-fpm/default
  dockerfiles/release-candidates/app/ddtrace.php
  dockerfiles/release-candidates/docker-compose.yml
  dockerfiles/testing-environment/Laravel57/docker-scripts/php-fpm.conf
  dockerfiles/testing-environment/Wordpress5/docker-compose.yml
  examples/nginx-php-fpm/www.conf
  ext/configuration.h
  tests/Unit/ConfigurationTest.php
  tests/api/Unit/ConfigurationTest.php
  tests/ext/startup_logging_diagnostics.phpt
  tests/overhead/docker-compose.yml
  zend_abstract_interface/config/config.h
Due: benchmarks-tracer

Remove `DD_TRACE_GLOBAL_TAGS`
  ext/configuration.h
  tests/Unit/ConfigurationTest.php
  tests/api/Unit/ConfigurationTest.php
  tests/ext/startup_logging_diagnostics.phpt
Due: benchmarks-tracer

Remove `DD_TRACE_RESOURCE_URI_MAPPING`
  ext/configuration.h
  src/DDTrace/Util/Normalizer.php
  src/api/Configuration.php
  tests/Unit/ConfigurationTest.php
  tests/Unit/Util/Normalizer/UriTest.php
  tests/api/Unit/ConfigurationTest.php
  tests/ext/single-span_sampling/accept-single-span.phpt
  tests/ext/single-span_sampling/check-sample-rate.phpt
  tests/ext/single-span_sampling/limited-single-span-with-match.phpt
  tests/ext/single-span_sampling/limited-single-span.phpt
  tests/ext/single-span_sampling/name-matching-single-span.phpt
  tests/ext/single-span_sampling/read-single-span-sampling-config-from-file.phpt
Due: benchmarks-tracer

Remove `dd_trace_forward_call`
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  tests/ext/includes/try_catch_finally.php
Due: benchmarks-tracer

Remove `dd_trace_generate_id`, `dd_trace_pop_span_id`, and `dd_trace_push_span_id`
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  src/DDTrace/OpenTracer/SpanContext.php
  src/DDTrace/OpenTracer1/SpanContext.php
  tests/ext/dd_trace_push_span_id_from_userland.phpt
  tests/ext/sandbox/dd_trace_push_span_id.phpt
Due: benchmarks-tracer

Remove `additional_trace_meta`
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
Due: benchmarks-tracer

Remove `DD_PROPAGATION_...`
  ext/configuration.h
  src/api/Configuration.php
  src/api/Format.php
  tests/api/Unit/UserAvailableConstantsTest.php
  tests/ext/distributed_tracing/distributed_trace_inherit_b3-single-span.phpt
  tests/ext/distributed_tracing/distributed_trace_inherit_b3-single-span_no_sampling.phpt
  tests/ext/distributed_tracing/distributed_trace_inherit_b3.phpt
  tests/ext/integrations/curl/distributed_tracing_curl.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_invalid_tags.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_tracestate.phpt
Due: benchmarks-tracer

Remove everything related to the circuit breaker
  config.m4
  config.w32
  ext/circuit_breaker.c
  ext/circuit_breaker.h
  ext/configuration.c
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  tests/Frameworks/Custom/Version_Autoloaded/src/CircuitBreakerController.php
  tests/Frameworks/Custom/Version_Autoloaded/src/routes.php
  tests/Integrations/Custom/Autoloaded/CircuitBreakerTest.php
  tests/ext/circuit_breaker_info.phpt
  tests/ext/circuit_breaker_max_failures.phpt
  tests/ext/circuit_breaker_retry_time.phpt
Due: benchmarks-tracer

fix: Keep `Configuration::getSamplingRate` test fn
  src/api/Configuration.php
Due: benchmarks-tracer

docs: Remove UPGRADE-0.10.md
  UPGRADE-0.10.md
Due: none

refactor: remove dead/deprecated code
  src/DDTrace/Http/Request.php
  src/DDTrace/Span.php
  src/api/Contracts/Span.php
  src/api/NoopSpan.php
  tests/Common/SpanAssertion.php
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/Integrations/Elasticsearch/V1/ElasticSearchIntegrationTest.php
  tests/Integrations/Elasticsearch/V8/ElasticSearchIntegrationTest.php
  tests/Integrations/Guzzle/V5/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V7/GuzzleIntegrationTest.php
  tests/Integrations/Memcache/MemcacheTest.php
  tests/Integrations/Memcached/MemcachedTest.php
  tests/Integrations/Mongo/MongoTest.php
  tests/Integrations/Mysqli/MysqliTest.php
  tests/Integrations/PDO/PDOTest.php
  tests/Integrations/Predis/PredisTest.php
  tests/Integrations/SQLSRV/SQLSRVTest.php
Due: benchmarks-tracer

docs: Update some comments
  .circleci/continue_config.yml
  ext/coms.c
  ext/coms.h
  ext/configuration.c
Due: benchmarks-tracer

Remove irrelevant tests
  tests/Unit/Http/RequestTest.php
Due: none

fix: Build PECL
  package.xml
Due: none
