Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*

Avoid minor perf impact on msgpack serialization with sidecar sender disabled
  ext/serializer.c
Due: benchmarks-tracer

Ensure the msgpack contents include only valid utf8 (#2698)
  components-rs/ddtrace.h
  components-rs/lib.rs
  ext/serializer.c
Due: benchmarks-tracer

target julio's branch for last test agent
  .circleci/continue_config.yml
Due: none

Revert "Enable sidecar by default on PHP 8.3 (#2680)"
  .circleci/continue_config.yml
  Makefile
  docker-compose.yml
  ext/auto_flush.c
  ext/coms.c
  ext/coms.h
  ext/configuration.h
  ext/ddtrace.c
  ext/serializer.c
  ext/serializer.h
  ext/startup_logging.c
  tests/Common/CLITestCase.php
  tests/Common/SpanChecker.php
  tests/Common/TracerTestTrait.php
  tests/Integration/LongRunning/LongRunningScriptTest.php
  tests/Integration/LongRunning/long_running_script_with_trace_function.php
  tests/Integrations/AMQP/AMQPTest.php
  tests/Integrations/Laravel/V8_x/QueueTest.php
  tests/Integrations/Laravel/V8_x/QueueTestNotDistributed.php
  tests/Integrations/PCNTL/PCNTLTest.php
  tests/Integrations/PCNTL/scripts/long-running-manual-flush.php
  tests/Unit/Util/OrphansTest.php
  tests/bootstrap.php
  tests/ext/background-sender/agent_sampling.phpt
  tests/ext/background-sender/agent_sampling_sidecar.phpt
  tests/ext/background-sender/sidecar_fallback.phpt
  tests/ext/dd_trace_span_link_with_exception.phpt
  tests/ext/includes/request_replayer.inc
  tests/ext/request-replayer/CONFLICTS
  tests/ext/sidecar_disabled_when_telemetry_disabled.phpt
  tests/ext/sidecar_enabled.phpt
  tests/ext/startup_logging.phpt
  tests/ext/startup_logging_json.phpt
  tests/ext/startup_logging_skipif_unix.inc
  tests/ext/startup_logging_skipif_unix_83.inc
Due: benchmarks-tracer

Add meta_struct
  appsec/src/extension/ddtrace.c
  appsec/tests/extension/meta_struct_01.phpt
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/serializer.c
  ext/span.h
  tests/ext/active_span.phpt
  tests/ext/sandbox/span_clone.phpt
Due: benchmarks-tracer

WIP
  ext/serializer.c
Due: benchmarks-tracer

DELETE ME
  appsec/src/extension/ddtrace.c
Due: none

Avoid double encoding
  ext/serializer.c
Due: benchmarks-tracer

wip
  ext/serializer.c
Due: benchmarks-tracer

Serialise metastruct
  appsec/src/extension/ddtrace.c
  ext/serializer.c
Due: benchmarks-tracer

wip
  appsec/src/extension/ddtrace.c
  ext/serializer.c
Due: benchmarks-tracer

Update arginfo
  ext/ddtrace_arginfo.h
Due: benchmarks-tracer

disable sidecar on 8.3
  ext/configuration.h
  tests/ext/sidecar_disabled_when_telemetry_disabled.phpt
  tests/ext/sidecar_enabled.phpt
  tests/ext/startup_logging_skip_unless_unix_83.inc
Due: benchmarks-tracer

Update sidecar_fallback.phpt
  tests/ext/background-sender/sidecar_fallback.phpt
Due: none

Ensure DDTRACE_G(active_stack) is always NULL when the root span is being pushed
  ext/ddtrace.c
Due: benchmarks-tracer

Run tests without explicit sidecar
  Makefile
Due: none

remove error margin, now that prof-correctness has a proper fix
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions_zts.json
Due: benchmarks-profiler

Ensure DDTRACE_G(active_stack) is always NULL when the root span is being pushed (#2701)
  ext/ddtrace.c
Due: benchmarks-tracer

Disable sidecar on 8.3 (#2700)
  Makefile
  ext/configuration.h
  tests/ext/background-sender/sidecar_fallback.phpt
  tests/ext/sidecar_disabled_when_telemetry_disabled.phpt
  tests/ext/sidecar_enabled.phpt
  tests/ext/startup_logging_skip_unless_unix_83.inc
Due: benchmarks-tracer

Cleanup
  config.m4
  config.w32
  ext/handlers_api.c
  ext/handlers_internal.c
  ext/handlers_librdkafka.c
  src/Integrations/Integrations/PHPRdKafka/RdKafkaIntegration.php
Due: benchmarks-tracer

Bump to 1.1
  VERSION
  package.xml
Due: none

Update package.xml
  package.xml
Due: none

+ "usage"
  package.xml
Due: none

feat(profiling): `thread id` label on every sample (#2692)
  profiling/src/bindings/mod.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/tests/correctness/allocations.json
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions_zts.json
  profiling/tests/correctness/strange_frames.json
  profiling/tests/correctness/time.json
  profiling/tests/phpt/exceptions_01.phpt
  profiling/tests/phpt/exceptions_fibers_throw.phpt
  profiling/tests/phpt/exceptions_zts_01.phpt
Due: benchmarks-profiler

add `Generator::throw()`-fix docs (#2687)
  profiling/src/exception.rs
Due: benchmarks-profiler

Add missing labels for timeline
  profiling/tests/correctness/timeline.json
Due: benchmarks-profiler

format json
  profiling/tests/correctness/allocations.json
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions_zts.json
  profiling/tests/correctness/strange_frames.json
  profiling/tests/correctness/time.json
  profiling/tests/correctness/timeline.json
Due: benchmarks-profiler

Bump to 1.1 (#2703)
  VERSION
  package.xml
Due: none

ci(profiling): cleanup correctness tests (#2702)
  profiling/tests/correctness/allocations.json
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions_zts.json
  profiling/tests/correctness/strange_frames.json
  profiling/tests/correctness/time.json
  profiling/tests/correctness/timeline.json
Due: benchmarks-profiler

refactor: extract StringCache, document safety
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/string_set.rs
Due: benchmarks-profiler

Fix PHP binary detection in package post-install script
  package/post-install.sh
Due: none

Fix leak
  ext/serializer.c
Due: benchmarks-tracer

Test meta_struct
  tests/ext/meta_struct.phpt
Due: none

Remove appsec
  appsec/src/extension/ddtrace.c
  appsec/tests/extension/meta_struct_01.phpt
Due: none

Fix PHP binary detection in package post-install script (#2707)
  package/post-install.sh
Due: none
