Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-appsec

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 90m
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-appsec:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 90m
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

feat(CI): add healthcheck to SQLSRV server setup (#3619)
  .gitlab/generate-tracer.php
  .gitlab/wait-for-service-ready.sh
Due: none

fix(CI: test_metrics): add explicit flush in logging (#3637)
  ext/signals.c
Due: none

Adds process_tags to live debugger payloads (#3580)
  Makefile
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/TelemetryHelpers.groovy
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/live-debugger.h
  components-rs/sidecar.h
  ext/live_debugger.c
  ext/process_tags.c
  ext/serializer.c
  tests/ext/crashtracker_jit_tags.phpt
  tests/ext/crashtracker_segfault.phpt
  tests/ext/crashtracker_segfault_disabled.phpt
  tests/ext/crashtracker_segfault_windows.phpt
  tests/ext/live-debugger/debugger_log_probe.phpt
  tests/ext/live-debugger/debugger_log_probe_process_tags.phpt
  tests/ext/live-debugger/debugger_span_decoration_probe.phpt
  tests/ext/live-debugger/exception-replay_001.phpt
  tests/ext/live-debugger/exception-replay_002.phpt
  tests/ext/live-debugger/exception-replay_non_regression_2989_mysqli.phpt
  tests/ext/telemetry/integration_runtime_error.phpt
Due: none

chore(profiling): update libdatadog 26 to 27 (#3640)
  .gitlab/one-pipeline.locked.yml
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

process tags were removed while rebasing to sign commit
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

test(custom-webserver): invalidate git cache data and wait for nginx to be ready
  ext/git.c
  tests/Nginx/NginxServer.php
  tests/WebServer.php
Due: none

test(Laravel-Octane): resolve race condition in Laravel Octane test callbacks
  tests/Integrations/Laravel/Octane/Latest/CommonScenariosTest.php
Due: none

Add different approach to test
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Laravel8xTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Symfony62Tests.groovy
  appsec/tests/integration/src/test/www/laravel8x/public/outside_of_framework.php
  appsec/tests/integration/src/test/www/symfony62/public/outside_of_framework.php
Due: none

fix(ffe): Address code review findings across FFI, PHP provider, and OpenFeature layers
  components-rs/ffe.rs
  src/DDTrace/FeatureFlags/ExposureWriter.php
  src/DDTrace/FeatureFlags/Provider.php
  src/DDTrace/OpenFeature/DataDogProvider.php
Due: none

feat(profiling): process_tags on uploader (#3609)
  ddtrace.sym
  ext/process_tags.h
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

test(CI): use older sqlserver image
  .gitlab/generate-common.php
  tests/Nginx/NginxServer.php
  tests/WebServer.php
Due: none

chore: fix implementation and default for multiple keys
  appsec/src/extension/configuration.h
  ext/configuration.h
  metadata/supported-configurations.json
  tooling/generate-supported-configurations.sh
Due: benchmarks-appsec

chore: update script to generate config, keeping same implementation when different of A
  metadata/supported-configurations.json
  tooling/generate-supported-configurations.sh
Due: none

test: fix multiple CI flakiness issues (#3639)
  .gitlab/generate-common.php
  ext/git.c
  tests/Integrations/Laravel/Octane/Latest/CommonScenariosTest.php
  tests/Nginx/NginxServer.php
  tests/WebServer.php
Due: none

Fix flaky appsec integration tests (#3641)
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/TelemetryHelpers.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Laravel8xTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Symfony62Tests.groovy
  appsec/tests/integration/src/test/www/base/public/endpoint_collection.php
  appsec/tests/integration/src/test/www/laravel8x/public/outside_of_framework.php
  appsec/tests/integration/src/test/www/symfony62/public/outside_of_framework.php
Due: none

fix tests
  ext/sidecar.c
Due: none

fix crashtracker test
  tests/ext/crashtracker_process_tags.phpt
Due: none

chore: update lock/fmt
  Cargo.lock
  profiling/src/config.rs
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

Adds process_tags to telemetry application metadata
  components-rs/sidecar.h
  ext/ddtrace.c
  ext/sidecar.c
  ext/sidecar.h
  tests/ext/telemetry/process_tags.phpt
Due: none

chore: update lock/fmt (#3644)
  Cargo.lock
  profiling/src/config.rs
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

fix(profiling): reduce shutdown CPU
  profiling/src/profiling/thread_utils.rs
Due: benchmarks-profiler

test only on 7.2+
  tests/ext/crashtracker_process_tags.phpt
Due: none

refactor(profiling): use libdd-profiling's ThinStr
  profiling/src/lib.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/string_set.rs
  profiling/src/thin_str.rs
Due: benchmarks-profiler

make cbindgen
  Cargo.lock
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/sidecar.h
Due: none

fix: supported-configurations.json have valid version/types/default
  metadata/supported-configurations.json
  tooling/generate-supported-configurations.sh
Due: none

ci: update one-pipeline, mark BACKFILLED as true
  .gitlab-ci.yml
  .gitlab/one-pipeline.locked.yml
Due: none

add libdatadog-ffe to Makefile
  Makefile
Due: none

test(drupal): skip dev dependencies to avoid PhantomJS packages
  Makefile
Due: none

test(drupal): skip dev dependencies (#3646)
  Makefile
Due: none

ci(profiling): increase memory limit to prevent OOM during Rust compilation
  .gitlab/generate-profiler.php
Due: none

feat(prof): add I/O profiling for macOS
  profiling/src/io/got_elf64.rs
  profiling/src/io/got_macho.rs
  profiling/src/io/mod.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

ci: add allow_failure to all manual jobs to prevent pipeline hanging
  .gitlab/benchmarks.yml
  .gitlab/ci-images.yml
  .gitlab/generate-appsec.php
  .gitlab/generate-package.php
  .gitlab/generate-tracer.php
Due: none

Fix flaky test and add more info in case of failure
  tests/ext/background-sender/agent_sampling-standalone-asm_01.phpt
Due: none

refactor(profiling): use libdd-profiling's ThinStr (#3631)
  profiling/src/lib.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/string_set.rs
  profiling/src/thin_str.rs
Due: benchmarks-profiler

Handle appsec and profiler configs and fix default handling
  .github/workflows/supported_configurations_sync.yml
  .gitlab/generate-shared.php
  ext/auto_flush.c
  ext/configuration.h
  ext/dogstatsd.c
  metadata/supported-configurations.json
  tooling/generate-supported-configurations.sh
Due: none

chore: remove unused configuration
  appsec/src/extension/configuration.h
  metadata/supported-configurations.json
Due: benchmarks-appsec

Fix flaky test and add more info in case of failure (#3650)
  tests/ext/background-sender/agent_sampling-standalone-asm_01.phpt
Due: none

perf(profiling): try libdatadog v28-dev
  Cargo.lock
  components-rs/lib.rs
  components-rs/log.rs
  components-rs/php_sidecar_mockgen/src/bin/php_sidecar_mockgen.rs
  components-rs/remote_config.rs
  components-rs/sidecar.rs
  components-rs/telemetry.rs
  profiling/Cargo.toml
Due: benchmarks-profiler

feat(profiling): add opcache SHM cache for function/file names
  profiling/.cargo/config.toml
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/stack_walking.rs
  profiling/src/shm_cache.rs
  profiling/src/vec_ext.rs
Due: benchmarks-profiler

feat(profiling): cache function names for internal/native functions
  profiling/src/profiling/stack_walking.rs
  profiling/src/shm_cache.rs
Due: benchmarks-profiler

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-appsec: any of: appsec/src/**/*
