Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

chore: update supported versions
  aggregated_tested_versions.json
  integration_versions.md
Due: none

fix: Don't open Draft PR when updating supported versions
  tooling/tested_versions/create_or_update_supported_versions_pr.sh
Due: none

Amend tests
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: none

chore: Update supported versions (#3071)
  aggregated_tested_versions.json
Due: none

fix: Don't open Draft PR when updating supported versions (#3072)
  tooling/tested_versions/create_or_update_supported_versions_pr.sh
Due: none

Add rasp telemetry (#3061)
  appsec/src/extension/commands/request_exec.c
  appsec/src/extension/commands/request_exec.h
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/ddappsec.c
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/engine.cpp
  appsec/src/helper/engine.hpp
  appsec/src/helper/metrics.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/subscriber/base.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/extension/actions_handling_01.phpt
  appsec/tests/extension/push_params_ok_01.phpt
  appsec/tests/extension/push_params_ok_02.phpt
  appsec/tests/extension/push_params_ok_04.phpt
  appsec/tests/extension/push_params_ok_05.phpt
  appsec/tests/extension/push_params_ok_06.phpt
  appsec/tests/extension/push_params_ok_07.phpt
  appsec/tests/extension/push_params_ok_08.phpt
  appsec/tests/extension/push_params_ok_09.phpt
  appsec/tests/extension/request_exec.phpt
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/engine_test.cpp
  appsec/tests/helper/waf_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
  appsec/tests/integration/src/test/www/base/public/multiple_rasp.php
  src/DDTrace/Integrations/Filesystem/FilesystemIntegration.php
  tests/Appsec/Mock.php
  tests/Integrations/Filesystem/FilesystemTest.php
Due: benchmarks-tracer

also do not merge
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

unique directory per-build ddtrace.so
  .gitlab/compile.yml
  .gitlab/tests.yml
Due: none

need the artifacts
  .gitlab/tests.yml
Due: none

resolve git error
  .gitlab/tests.yml
Due: none

ASAN env var means something to makefile
  .gitlab/compile.yml
  .gitlab/compile_extension.sh
Due: none

always upload artifacts from tests
  .gitlab/tests.yml
Due: none

use correct tests/output path
  .gitlab/tests.yml
Due: none

fix(prof): avoid dlclose if threads did not join
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
Due: benchmarks-profiler

move artifacts into cwd
  .gitlab/check_for_core_dumps.sh
  .gitlab/tests.yml
Due: none

Base Implementation
  ext/configuration.h
  ext/ddtrace.c
  ext/handlers_curl.c
  ext/handlers_curl_php7.c
  ext/serializer.c
  ext/serializer.h
  ext/span.c
  ext/span.h
  tests/ext/inferred_proxy/basic_test.phpt
Due: benchmarks-tracer

Fix log fd opening on windows
  components/atomic_win32_polyfill.h
  ext/logging.c
Due: benchmarks-tracer

Add track_error: false on ignored caught exceptions
  ext/serializer.c
Due: benchmarks-tracer

refactor to panic::resume_unwind immediately
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
Due: benchmarks-profiler

style: reconnect safety comment to unsafe block
  profiling/src/lib.rs
Due: benchmarks-profiler

fix(prof): avoid dlclose if threads did not join (#3075)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
Due: benchmarks-profiler

switch to pthread_atfork() for fork barrier handling
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/pthread.rs
Due: benchmarks-profiler

fix: PackageUpdater failure
  tests/PackageUpdater.php
Due: none

exit 1 on failure
  tests/PackageUpdater.php
Due: none

fix: segfault
  ext/serializer.c
Due: benchmarks-tracer

fix: duration
  ext/ddtrace.c
  ext/span.c
Due: benchmarks-tracer

fix: duration
  ext/span.c
Due: benchmarks-tracer

switch to pthread_atfork() for fork barrier handling (#3058)
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/pthread.rs
Due: benchmarks-profiler

error log start/duration/duration_start
  ext/serializer.c
Due: benchmarks-tracer

fix: PackageUpdater failure (#3078)
  tests/PackageUpdater.php
Due: none

x-dd-proxy-domain-name add debug logs
  ext/span.c
Due: benchmarks-tracer

Initial extracing and injecting simple baggage string
  ext/ddtrace.c
  ext/ddtrace.h
  ext/distributed_tracing_headers.c
  ext/distributed_tracing_headers.h
  ext/handlers_http.h
  ext/serializer.c
  ext/span.h
  tests/ext/distributed_tracing/distributed_trace_consume_func.phpt
Due: benchmarks-tracer

service debug logs
  ext/serializer.c
  ext/span.c
Due: benchmarks-tracer

tests: Laravel x InferredProxy
  tests/Integrations/Laravel/Latest/InferredProxyTest.php
  tests/snapshots/tests.integrations.laravel.latest.inferred_proxy_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.laravel.latest.inferred_proxy_test.test_inferred_proxy_exception.json
Due: none

feat(helper: remote_config): add config aggregator for asm features
  appsec/src/helper/json_helper.cpp
  appsec/src/helper/json_helper.hpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.hpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_features_aggregator.cpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_features_aggregator.hpp
  appsec/src/helper/service_config.hpp
  appsec/tests/helper/remote_config/listeners/asm_features_listener_test.cpp
  appsec/tests/helper/remote_config/listeners/config_aggregators/asm_features_aggregator_test.cpp
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
