Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*

Add alloc feature from allocator-api2
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

fix comments
  profiling/src/allocation/allocation_ge84.rs
Due: benchmarks-profiler

Update libdatadog and bump to 1.9.0 (#3229)
  Cargo.lock
  Makefile
  VERSION
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/library-config.h
  ddtrace.sym
  ext/ddtrace.c
  package.xml
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
  zend_abstract_interface/config/config_stable_file.c
Due: benchmarks-profiler, benchmarks-tracer

fix(prof): follow PHP globals model in allocation profiler (#3175)
  Cargo.lock
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/wall_time.rs
Due: benchmarks-profiler

formatting and comment
  src/DDTrace/Integrations/HttpClientIntegrationHelper.php
Due: benchmarks-tracer

remove some unused debug vars
  ext/configuration.c
  ext/serializer.c
Due: benchmarks-tracer

read this test output wrong locally
  tests/ext/error_status_configuration/http_error_status_server_configuration.phpt
Due: none

spacing
  src/DDTrace/Integrations/Curl/CurlIntegration.php
Due: benchmarks-tracer

updates after local testing attempts
  reports/cov/35507b6d0296f6392f7f1738daa78ee4.cov
  reports/cov/807034e725438bb5985bf5d5a8ba0e77.cov
  reports/cov/8e262c7ef92079bf12a040f19664c4b6.cov
  reports/cov/af7ac4ab609ebd64ef843a472be02491.cov
  reports/cov/testsuite_cakephp45test.cov
  reports/cov/testsuite_metrics.cov
Due: none

formatting fixes
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
  src/DDTrace/Integrations/HttpClientIntegrationHelper.php
  src/DDTrace/Integrations/Psr18/Psr18Integration.php
  tests/ext/error_status_configuration/http_error_status_client_configuration.phpt
  tests/ext/error_status_configuration/http_error_status_parsing.phpt
Due: benchmarks-tracer

only consider http status if explicitly set
  ext/serializer.c
Due: benchmarks-tracer

add http status error configuration
  ext/configuration.c
  ext/configuration.h
  ext/serializer.c
  tests/ext/serialization/http_client_error_status_configured.phpt
  tests/ext/serialization/http_server_error_status_configured.phpt
  tests/ext/serialization/http_server_status_with_explicit_error_set.phpt
  tests/ext/serialization/http_server_vs_client_status.diff
  tests/ext/serialization/http_server_vs_client_status.exp
  tests/ext/serialization/http_server_vs_client_status.out
  tests/ext/serialization/http_server_vs_client_status.php
  tests/ext/serialization/http_server_vs_client_status.phpt
  tests/ext/serialization/http_server_vs_client_status.sh
  tests/ext/serialization/http_status_mixed_range_configuration.phpt
  tests/ext/serialization/http_status_no_configuration_with_exception.phpt
Due: benchmarks-tracer

update error message string
  ext/serializer.c
  tests/ext/error_status_configuration/http_error_status_client_configuration.phpt
Due: benchmarks-tracer

remove testing artifacts
  tests/ext/serialization/http_server_vs_client_status.diff
  tests/ext/serialization/http_server_vs_client_status.exp
  tests/ext/serialization/http_server_vs_client_status.out
  tests/ext/serialization/http_server_vs_client_status.php
  tests/ext/serialization/http_server_vs_client_status.sh
Due: none

use a different macro
  ext/serializer.c
Due: benchmarks-tracer

remove left overs from local testing
  tests/ext/error_status_configuration/http_error_status_is_client_error.phpt
  tests/ext/error_status_configuration/http_server_error_status_configured.phpt
Due: none

space
  src/DDTrace/Integrations/Curl/CurlIntegration.php
Due: benchmarks-tracer

refactoring for review
  ext/serializer.c
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
  src/DDTrace/Integrations/Psr18/Psr18Integration.php
  tests/ext/error_status_configuration/http_error_status_is_client_error.phpt
  tests/ext/error_status_configuration/http_server_error_status_configured.phpt
  tests/ext/serialization/http_client_error_status_configured.phpt
  tests/ext/serialization/http_server_error_status_configured.phpt
  tests/ext/serialization/http_server_status_with_explicit_error_set.phpt
  tests/ext/serialization/http_server_vs_client_status.phpt
  tests/ext/serialization/http_status_mixed_range_configuration.phpt
  tests/ext/serialization/http_status_no_configuration_with_exception.phpt
Due: benchmarks-tracer

addressing review
  ext/configuration.c
  ext/configuration.h
  ext/serializer.c
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
  src/DDTrace/Integrations/HttpClientIntegrationHelper.php
  src/DDTrace/Integrations/Psr18/Psr18Integration.php
  tests/ext/error_status_configuration/http_error_status_client_configuration.phpt
  tests/ext/error_status_configuration/http_error_status_is_client_error.phpt
  tests/ext/error_status_configuration/http_error_status_parsing.phpt
  tests/ext/error_status_configuration/http_server_error_status_configured.phpt
Due: benchmarks-tracer

remove the client default
  src/DDTrace/Integrations/HttpClientIntegrationHelper.php
  tests/ext/error_status_configuration/http_error_status_client_configuration.phpt
Due: benchmarks-tracer

oops missed one
  ext/serializer.c
Due: benchmarks-tracer

don't add a message here
  ext/serializer.c
  tests/ext/error_status_configuration/http_error_status_parsing.phpt
  tests/ext/error_status_configuration/http_error_status_server_configuration.phpt
Due: benchmarks-tracer

remove custom parser
  ext/configuration.c
  ext/configuration.h
Due: benchmarks-tracer

improve system-tests?
  .gitlab/generate-package.php
Due: none

fix broken/unnecessary after_script
  .gitlab/generate-package.php
Due: none

Fix remote config applying with consecutive requests to the same resource
  ext/sidecar.c
Due: benchmarks-tracer

Add missing entry to package.xml
  package.xml
Due: none

Check exception event response (+ SC < 500)
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: benchmarks-tracer

Try to ignore exception if it has a response
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: benchmarks-tracer

foo
  ext/serializer.c
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Frameworks/Laravel/Latest/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Latest/bootstrap/app.php
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/Symfony/Latest/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
Due: benchmarks-tracer

Revise exception ignoring logic
  ext/serializer.c
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.latest.common_scenarios_test.test_scenario_get_to_missing_route.json
Due: benchmarks-tracer

Don't serialize error if ignored
  ext/serializer.c
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.latest.common_scenarios_test.test_scenario_get_to_missing_route.json
Due: benchmarks-tracer

fix serialization order
  ext/serializer.c
Due: benchmarks-tracer

error/exception distinction
  ext/serializer.c
Due: benchmarks-tracer

tmp
  ext/serializer.c
Due: benchmarks-tracer

update snapshots
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_to_missing_route.json
Due: none

update snapshots
  tests/Common/SnapshotTestTrait.php
  tests/Frameworks/Laravel/Latest/app/Exceptions/IgnoredException.php
  tests/Frameworks/Laravel/Latest/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Latest/bootstrap/app.php
  tests/Frameworks/Laravel/Latest/routes/web.php
  tests/Integrations/Laravel/Latest/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_ignored_exception.json
Due: none

Add missing track_error to snapshots/tests
  ext/serializer.c
  tests/Common/SnapshotTestTrait.php
  tests/Integrations/Laravel/V8_x/InternalExceptionsTest.php
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_to_missing_route.json
Due: benchmarks-tracer
