Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

Separate symbols for windows
  config.w32
  ddtrace-windows.sym
Due: none

Mising file
  ddtrace.sym
Due: none

Missing newline
  ddtrace-windows.sym
  ddtrace.sym
Due: none

Add DDTrace\try_drop_span() API
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/handlers_http.h
  ext/span.c
  ext/span.h
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/ext/try_drop_span.phpt
Due: benchmarks-tracer

Serialise new tag _dd.p.ts
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  ext/asm_event.c
  ext/serializer.c
  ext/span.h
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  ext/tracer_tag_propagation/tracer_tag_propagation.h
Due: benchmarks-tracer

Make fingerprint generation unconditional
  appsec/recommended.json
Due: none

Enable benchmarks on ruleset change
  .gitlab/benchmarks.yml
Due: none

Update libdatadog and cbindgen
  .circleci/continue_config.yml
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/ddtrace.h
  components-rs/library-config.h
  components-rs/live-debugger.h
  components-rs/sidecar.h
  components-rs/sidecar.rs
  components-rs/telemetry.h
  config.w32
Due: none

tests: Add testSilencedSpansAreDropped for Symfony CLI Tests
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Frameworks/Symfony/Latest/src/Command/SttyCommand.php
  tests/Frameworks/Symfony/Version_4_4/src/Command/SttyCommand.php
  tests/Frameworks/Symfony/Version_5_2/src/Command/SttyCommand.php
  tests/Frameworks/Symfony/Version_6_2/src/Command/SttyCommand.php
  tests/Integrations/CLI/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V6_2/CommonScenariosTest.php
  tests/snapshots/tests.integrations.cli.symfony.latest.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v4_4.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v5_2.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v6_2.common_scenarios_test.test_silenced_spans_are_dropped.json
Due: benchmarks-tracer

chore: Update supported versions (#3134)
  aggregated_tested_versions.json
  integration_versions.md
Due: none

chore: update latest versions
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
Due: none

Try to fix compilation
  .circleci/continue_config.yml
  Cargo.lock
  Makefile
  appsec/cmake/extension.cmake
  components-rs/Cargo.toml
  ddtrace.sym
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/bindings/mod.rs
  zend_abstract_interface/config/CMakeLists.txt
  zend_abstract_interface/config/config_stable_file.c
Due: benchmarks-profiler, benchmarks-tracer

Add support for file based configuration (library-config)
  Cargo.lock
  Makefile
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/lib.rs
  components-rs/library-config.h
  docker-compose.linux.override.yml
  ext/configuration.c
  ext/configuration.h
  ext/ddtrace.c
Due: benchmarks-tracer

Move to zend_abstract_interface/config so that it's used by all extensions
  config.m4
  config.w32
  ext/configuration.c
  ext/configuration.h
  ext/ddtrace.c
  zend_abstract_interface/config/CMakeLists.txt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_stable_file.c
  zend_abstract_interface/config/config_stable_file.h
Due: benchmarks-tracer

Please appsec & tea
  .circleci/continue_config.yml
  ddtrace.sym
  zend_abstract_interface/CMakeLists.txt
  zend_abstract_interface/components_rs.cmake
Due: benchmarks-tracer

Use an HashTable to store the configuration
  zend_abstract_interface/config/config_stable_file.c
Due: benchmarks-tracer

Replace ZaiConfigOnUpdateIni by zend_alter_ini_entry_ex
  zend_abstract_interface/config/config_stable_file.c
Due: benchmarks-tracer

Address comments
  profiling/Cargo.toml
  tests/ext/library_config/default_config.phpt
  tests/ext/library_config/default_config_overloads_env.phpt
  tests/ext/library_config/default_config_overloads_ini.phpt
  tests/ext/library_config/system_config_overloads_ini.phpt
  zend_abstract_interface/config/config_stable_file.c
Due: benchmarks-profiler, benchmarks-tracer

Set system config at first rinit
  tests/ext/library_config/default_config.yaml
  tests/ext/library_config/system_config.phpt
  tests/ext/library_config/system_config_overloads_env.phpt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_ini.h
  zend_abstract_interface/config/config_stable_file.c
  zend_abstract_interface/config/config_stable_file.h
Due: benchmarks-tracer

Apply config + tests
  Makefile
  tests/ext/library_config/default_config.phpt
  tests/ext/library_config/default_config.yaml
  tests/ext/library_config/default_config_overloads_env.phpt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_stable_file.c
  zend_abstract_interface/config/config_stable_file.h
Due: benchmarks-tracer

Fix test
  tests/ext/library_config/default_config.phpt
  tests/ext/library_config/default_config.yaml
Due: none

Temporary fix
  zend_abstract_interface/config/config_stable_file.c
Due: benchmarks-tracer

Update libdatadog
  profiling/Cargo.toml
  zend_abstract_interface/config/config_stable_file.c
Due: benchmarks-profiler, benchmarks-tracer

Fix symbols not exported in PECL build
  components-rs/lib.rs
Due: none

Cleanup
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_ini.h
Due: benchmarks-tracer

Try to fix Windows
  zend_abstract_interface/config/config_stable_file.c
Due: benchmarks-tracer

chore: Update supported versions (#3139)
  aggregated_tested_versions.json
  integration_versions.md
Due: none

Update crashtracker.h
  components-rs/crashtracker.h
Due: none

Dedup crashtracker.h
  components-rs/crashtracker.h
Due: none

Update cbindgen
  .circleci/continue_config.yml
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
