Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer, benchmarks-appsec

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-appsec:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

Add more xfgails
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/8.4.list
Due: none

Move httpstream startup handler
  ext/ddtrace.c
  ext/handlers_httpstreams.h
  ext/handlers_internal.c
Due: benchmarks-tracer

Replace static ddtrace_ by dd_
  ext/handlers_httpstreams.c
Due: benchmarks-tracer

Avoid pointer for header_keys
  ext/handlers_http.h
  ext/handlers_httpstreams.c
Due: benchmarks-tracer

feat(tracer): handle native HTTP requests (#3366)
  config.m4
  config.w32
  dockerfiles/ci/xfail_tests/7.0.list
  dockerfiles/ci/xfail_tests/7.1.list
  dockerfiles/ci/xfail_tests/7.2.list
  dockerfiles/ci/xfail_tests/7.3.list
  dockerfiles/ci/xfail_tests/7.4.list
  dockerfiles/ci/xfail_tests/8.0.list
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/8.4.list
  ext/ddtrace.c
  ext/handlers_curl.c
  ext/handlers_curl_php7.c
  ext/handlers_http.h
  ext/handlers_httpstreams.c
  ext/handlers_internal.c
  ext/integrations/integrations.h
  tests/Common/IntegrationTestCase.php
  tests/ext/includes/request_replayer.inc
  tests/ext/integrations/http_streams/distributed_tracing.inc
  tests/ext/integrations/http_streams/distributed_tracing_http_streams.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_disabled.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_array.phpt
  tests/ext/integrations/http_streams/distributed_tracing_http_streams_with_headers_string.phpt
Due: benchmarks-tracer

test: add debug logs
  docker-compose.linux.override.yml
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/local_config.phpt
Due: none

Fix names of global git tags for debugger
  ext/sidecar.c
Due: benchmarks-tracer

Fix musl appsec helper shutdown crash
  appsec/.clang-tidy
  appsec/src/helper/main.cpp
  appsec/src/helper/service_manager.cpp
Due: benchmarks-appsec

Fix SQLSRVIntegration resource handling
  config.m4
  config.w32
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/weak_resources.c
  ext/weak_resources.h
  src/DDTrace/Integrations/SQLSRV/SQLSRVIntegration.php
  src/DDTrace/Util/ObjectKVStore.php
Due: benchmarks-tracer

find&replace: prepend static to Closures not using $this
  src/DDTrace/Integrations/AMQP/AMQPIntegration.php
  src/DDTrace/Integrations/CakePHP/CakePHPIntegration.php
  src/DDTrace/Integrations/CakePHP/V3/CakePHPIntegrationLoader.php
  src/DDTrace/Integrations/CodeIgniter/V2/CodeIgniterIntegration.php
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  src/DDTrace/Integrations/Drupal/DrupalIntegration.php
  src/DDTrace/Integrations/ElasticSearch/V1/ElasticSearchIntegration.php
  src/DDTrace/Integrations/ElasticSearch/V8/ElasticSearchIntegration.php
  src/DDTrace/Integrations/Eloquent/EloquentIntegration.php
  src/DDTrace/Integrations/Exec/ExecIntegration.php
  src/DDTrace/Integrations/Frankenphp/FrankenphpIntegration.php
  src/DDTrace/Integrations/GoogleSpanner/GoogleSpannerIntegration.php
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
  src/DDTrace/Integrations/Kafka/KafkaIntegration.php
  src/DDTrace/Integrations/Laminas/LaminasIntegration.php
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/LaravelQueue/LaravelQueueIntegration.php
  src/DDTrace/Integrations/Logs/LogsIntegration.php
  src/DDTrace/Integrations/Lumen/LumenIntegration.php
  src/DDTrace/Integrations/Magento/MagentoIntegration.php
  src/DDTrace/Integrations/Memcache/MemcacheIntegration.php
  src/DDTrace/Integrations/Mongo/MongoIntegration.php
  src/DDTrace/Integrations/MongoDB/MongoDBIntegration.php
  src/DDTrace/Integrations/Mysqli/MysqliIntegration.php
  src/DDTrace/Integrations/Nette/NetteIntegration.php
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
  src/DDTrace/Integrations/PDO/PDOIntegration.php
  src/DDTrace/Integrations/Pcntl/PcntlIntegration.php
  src/DDTrace/Integrations/Psr18/Psr18Integration.php
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
  src/DDTrace/Integrations/Roadrunner/RoadrunnerIntegration.php
  src/DDTrace/Integrations/SQLSRV/SQLSRVIntegration.php
  src/DDTrace/Integrations/Slim/SlimIntegration.php
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
  src/DDTrace/Integrations/SymfonyMessenger/SymfonyMessengerIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
  src/DDTrace/Integrations/Yii/YiiIntegration.php
  src/DDTrace/Integrations/ZendFramework/ZendFrameworkIntegration.php
Due: benchmarks-tracer

Add new function to add endpoint
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: benchmarks-tracer

chore: update baggage telemetry typo
  ext/telemetry.c
Due: benchmarks-tracer

fix: update git remote URL format to use x-access-token for authentication
  tooling/tested_versions/create_or_update_supported_versions_pr.sh
Due: none

fix: update git remote URL format to use x-access-token for authentication (#3383)
  tooling/tested_versions/create_or_update_supported_versions_pr.sh
Due: none

chore: update supported versions (#3283)
  aggregated_tested_versions.json
  integration_versions.md
Due: none

Add building profiler to Makefile
  Makefile
Due: none

Fix
  ext/hook/uhook.c
  src/DDTrace/Integrations/Eloquent/EloquentIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
  zend_abstract_interface/sandbox/call.c
Due: benchmarks-tracer

Replace most ocurrences of *Integration:: by self::
  src/DDTrace/Integrations/AMQP/AMQPIntegration.php
  src/DDTrace/Integrations/CakePHP/CakePHPIntegration.php
  src/DDTrace/Integrations/CodeIgniter/V2/CodeIgniterIntegration.php
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  src/DDTrace/Integrations/Drupal/DrupalIntegration.php
  src/DDTrace/Integrations/ElasticSearch/V1/ElasticSearchIntegration.php
  src/DDTrace/Integrations/ElasticSearch/V8/ElasticSearchIntegration.php
  src/DDTrace/Integrations/Eloquent/EloquentIntegration.php
  src/DDTrace/Integrations/Frankenphp/FrankenphpIntegration.php
  src/DDTrace/Integrations/GoogleSpanner/GoogleSpannerIntegration.php
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
  src/DDTrace/Integrations/Kafka/KafkaIntegration.php
  src/DDTrace/Integrations/Laminas/LaminasIntegration.php
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/LaravelQueue/LaravelQueueIntegration.php
  src/DDTrace/Integrations/Logs/LogsIntegration.php
  src/DDTrace/Integrations/Lumen/LumenIntegration.php
  src/DDTrace/Integrations/Magento/MagentoIntegration.php
  src/DDTrace/Integrations/Memcache/MemcacheIntegration.php
  src/DDTrace/Integrations/Memcached/MemcachedIntegration.php
  src/DDTrace/Integrations/Mongo/MongoIntegration.php
  src/DDTrace/Integrations/MongoDB/MongoDBIntegration.php
  src/DDTrace/Integrations/Mysqli/MysqliIntegration.php
  src/DDTrace/Integrations/Nette/NetteIntegration.php
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
  src/DDTrace/Integrations/PDO/PDOIntegration.php
  src/DDTrace/Integrations/PHPRedis/PHPRedisIntegration.php
  src/DDTrace/Integrations/Pcntl/PcntlIntegration.php
  src/DDTrace/Integrations/Predis/PredisIntegration.php
  src/DDTrace/Integrations/Psr18/Psr18Integration.php
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
  src/DDTrace/Integrations/SQLSRV/SQLSRVIntegration.php
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  src/DDTrace/Integrations/SymfonyMessenger/SymfonyMessengerIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegration.php
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
  src/DDTrace/Integrations/Yii/YiiIntegration.php
  src/DDTrace/Integrations/ZendFramework/V1/TraceRequest.php
  src/DDTrace/Integrations/ZendFramework/ZendFrameworkIntegration.php
Due: benchmarks-tracer

Add HookData->instance
  ext/hook/uhook.c
  ext/hook/uhook.stub.php
  ext/hook/uhook_arginfo.h
  src/DDTrace/Integrations/Integration.php
  src/DDTrace/Integrations/Kafka/KafkaIntegration.php
  src/DDTrace/Integrations/Laminas/LaminasIntegration.php
  src/DDTrace/Integrations/Mysqli/MysqliIntegration.php
  src/DDTrace/Integrations/OpenAI/OpenAIIntegration.php
  src/DDTrace/Integrations/PDO/PDOIntegration.php
  src/DDTrace/Integrations/SymfonyMessenger/SymfonyMessengerIntegration.php
  src/DDTrace/Util/ObjectKVStore.php
Due: benchmarks-tracer

Aproaching solution
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: benchmarks-tracer

Fix typo
  ext/ddtrace.c
  ext/weak_resources.c
  ext/weak_resources.h
Due: benchmarks-tracer

Fix SQLSRVIntegration resource handling (#3379)
  config.m4
  config.w32
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/weak_resources.c
  ext/weak_resources.h
  src/DDTrace/Integrations/SQLSRV/SQLSRVIntegration.php
  src/DDTrace/Util/ObjectKVStore.php
Due: benchmarks-tracer

Use shared cache instead of local
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Due: benchmarks-tracer

Random test
  components-rs/telemetry.rs
Due: benchmarks-tracer

Revert "Random test"
  components-rs/telemetry.rs
Due: benchmarks-tracer

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Frameworks/Slim/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/Guzzle/Latest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
Due: none

fix guzzle and sqlsrv tests
  ext/weak_resources.c
  src/DDTrace/Integrations/SQLSRV/SQLSRVIntegration.php
  tests/Integrations/Guzzle/Latest/composer.json
Due: benchmarks-tracer

test: add debug logs
  docker-compose.linux.override.yml
  dockerfiles/ci/xfail_tests/8.0.list
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/local_config.phpt
Due: none

wip
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  tests/Integrations/Laravel/V9_x/CommonScenariosTest.php
Due: benchmarks-tracer

test: debug sqlsrv integration
  ext/weak_resources.c
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/fleet_config_overloads_env.phpt
  tests/ext/library_config/local_config_does_not_overload_env.phpt
Due: benchmarks-tracer

Properly cache the telemetry cache
  components-rs/telemetry.rs
Due: benchmarks-tracer

Run webserver benchmarks with ddprof
  .gitlab/benchmarks.yml
  Makefile
  tests/Benchmarks/Integrations/EmptyFileBench.php
  tests/Benchmarks/Integrations/FrameworkBenchmarksCase.php
  tests/Benchmarks/Integrations/LaravelBench.php
  tests/Benchmarks/Integrations/SymfonyBench.php
  tests/Benchmarks/Integrations/WordPressBench.php
  tests/Common/WebFrameworkTestCase.php
  tests/Sapi/PhpCgi/PhpCgi.php
  tests/WebServer.php
Due: benchmarks-tracer

Run webserver benchmarks with ddprof (#3385)
  .gitlab/benchmarks.yml
  Makefile
  tests/Benchmarks/Integrations/EmptyFileBench.php
  tests/Benchmarks/Integrations/FrameworkBenchmarksCase.php
  tests/Benchmarks/Integrations/LaravelBench.php
  tests/Benchmarks/Integrations/SymfonyBench.php
  tests/Benchmarks/Integrations/WordPressBench.php
  tests/Common/WebFrameworkTestCase.php
  tests/Sapi/PhpCgi/PhpCgi.php
  tests/WebServer.php
Due: benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: ext/**/*, src/**/*, components/**/*, components-rs/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*, tea/**/*
  benchmarks-appsec: any of: appsec/src/**/*
