Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*

Fix use-after-free in exception replay
  ext/exception_serialize.c
  ext/span.c
Due: benchmarks-tracer

fix: string interpretation
  tooling/bin/generate-final-artifact.sh
Due: none

poc
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
  profiling/src/timeline.rs
Due: benchmarks-profiler

remove socket_accept()
  profiling/src/timeline.rs
Due: benchmarks-profiler

cleanup
  profiling/src/timeline.rs
Due: benchmarks-profiler

Fully disable the sidecar on lambda by setting all related configs to false
  appsec/src/extension/configuration.c
  ext/configuration.c
Due: benchmarks-tracer

Fix double alloc
  Makefile
  ext/agent_info.c
Due: benchmarks-tracer

Fix use-after-free in exception replay (#2947)
  ext/exception_serialize.c
  ext/span.c
Due: benchmarks-tracer

There may or may not be a readable ZEND_TRACE_OP_INFO()
  zend_abstract_interface/jit_utils/jit_blacklist.c
Due: benchmarks-tracer

add timeline active check for fatals (#2945)
  profiling/src/timeline.rs
Due: benchmarks-profiler

feat(profiling) add `stream_select()`-type functions to timeline (#2943)
  profiling/src/lib.rs
  profiling/src/timeline.rs
Due: benchmarks-profiler

fix: Don't use semicolon namespaces
  src/ddtrace_php_api.stubs.php
  tooling/stubs/CustomPrinter.php
  tooling/stubs/generate-stubs.php
Due: benchmarks-tracer

fix: Type mixed cannot be marked as nullable
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
Due: benchmarks-tracer

fix: Bracket mix issues
  ext/hook/uhook.stub.php
  ext/hook/uhook_arginfo.h
  ext/hook/uhook_attributes.stub.php
  ext/hook/uhook_attributes_arginfo.h
Due: benchmarks-tracer

sdf
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

feat: Add tooling to generate stubs for the Public PHP API (#2933)
  .circleci/continue_config.yml
  Makefile
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/hook/uhook.stub.php
  ext/hook/uhook_arginfo.h
  ext/hook/uhook_attributes.stub.php
  ext/hook/uhook_attributes_arginfo.h
  src/ddtrace_php_api.stubs.php
  tooling/bin/generate-final-artifact.sh
  tooling/stubs/CustomPrinter.php
  tooling/stubs/composer.json
  tooling/stubs/generate-stubs.php
Due: benchmarks-tracer

feat(profiling) visualise opcache restarts in the timeline (#2946)
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
  profiling/src/timeline.rs
Due: benchmarks-profiler

Create many tiny artifacts for faster download
  .circleci/continue_config.yml
  Makefile
  datadog-setup.php
  tooling/bin/generate-final-artifact.sh
Due: none

Fix symfony messenger propagation to non-instrumented clients
  src/DDTrace/Integrations/SymfonyMessenger/SymfonyMessengerIntegration.php
Due: benchmarks-tracer

Fix tests
  components-rs/sidecar.h
  tests/ext/request-replayer/dd_trace_agent_env.phpt
Due: none

Fix potential inf loop
  datadog-setup.php
Due: none

tests: Add test for `Serializer` failure
  tests/Common/TracerTestTrait.php
  tests/Frameworks/Symfony/Version_7_0/composer.json
  tests/Frameworks/Symfony/Version_7_0/config/packages/messenger.yaml
  tests/Integrations/Symfony/V7_0/MessengerTest.php
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_with_tracer_disabled_on_consume.json
Due: none

Fix crash when the loader is loaded multiple times
  loader/dd_library_loader.c
  loader/tests/functional/test_load_loader_multiple_times.php
Due: none

Fix crash when the loader is loaded multiple times (#2954)
  loader/dd_library_loader.c
  loader/tests/functional/test_load_loader_multiple_times.php
Due: none

test(helper): add request shutdown fingerprint test
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/main.cpp
Due: none

Try using SerializerStamp
  src/DDTrace/Integrations/SymfonyMessenger/DDTraceStamp.php
  src/DDTrace/Integrations/SymfonyMessenger/SymfonyMessengerIntegration.php
  tests/Common/TracerTestTrait.php
  tests/Frameworks/Symfony/Version_7_0/composer.json
  tests/Frameworks/Symfony/Version_7_0/config/packages/messenger.yaml
  tests/Integrations/Symfony/V5_2/MessengerTest.php
  tests/Integrations/Symfony/V6_2/MessengerTest.php
  tests/Integrations/Symfony/V7_0/MessengerTest.php
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_with_tracer_disabled_on_consume.json
Due: benchmarks-tracer

tests: Update Symfony v6.2 snapshots
  tests/Integrations/Symfony/V6_2/MessengerTest.php
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_success_consumer.json
Due: none

tests: Update Symfony v4.4 snapshots
  tests/Integrations/Symfony/V4_4/MessengerTest.php
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_with_tracer_disabled_on_consume.json
Due: none

tests: Update Symfony v5.2 snapshots
  tests/Integrations/Symfony/V5_2/MessengerTest.php
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_success_consumer.json
Due: none

tests: Update Symfony v7.0 snapshots
  tests/Integrations/Symfony/V7_0/MessengerTest.php
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_success_consumer.json
Due: none

style: Remove debug params
  tests/Integrations/Symfony/V6_2/MessengerTest.php
Due: none

Create many tiny artifacts for faster download (#2951)
  .circleci/continue_config.yml
  Makefile
  datadog-setup.php
  tooling/bin/generate-final-artifact.sh
Due: none

Fully disable the sidecar on lambda by setting all related configs to false (#2948)
  appsec/src/extension/configuration.c
  ext/configuration.c
Due: benchmarks-tracer

Fix windows build
  zend_abstract_interface/jit_utils/jit_blacklist.c
Due: benchmarks-tracer

Exclude PHP 7.2 and 7.3 from tests for agent_env
  tests/ext/request-replayer/dd_trace_agent_env.phpt
Due: none

Collect agent info and apply the env for remote config (#2930)
  Cargo.lock
  Makefile
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/sidecar.h
  config.m4
  config.w32
  dockerfiles/services/request-replayer/src/index.php
  ext/agent_info.c
  ext/agent_info.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/priority_sampling/priority_sampling.c
  ext/serializer.c
  ext/signals.c
  tests/ext/request-replayer/dd_trace_agent_env.phpt
Due: benchmarks-tracer

fix: Symfony Messenger propagation to non-instrumented clients (#2956)
  src/DDTrace/Integrations/SymfonyMessenger/DDTraceStamp.php
  src/DDTrace/Integrations/SymfonyMessenger/SymfonyMessengerIntegration.php
  tests/Common/TracerTestTrait.php
  tests/Frameworks/Symfony/Version_7_0/composer.json
  tests/Frameworks/Symfony/Version_7_0/config/packages/messenger.yaml
  tests/Integrations/Symfony/V4_4/MessengerTest.php
  tests/Integrations/Symfony/V5_2/MessengerTest.php
  tests/Integrations/Symfony/V6_2/MessengerTest.php
  tests/Integrations/Symfony/V7_0/MessengerTest.php
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_with_tracer_disabled_on_consume.json
Due: benchmarks-tracer

There may or may not be a readable ZEND_TRACE_OP_INFO() (#2942)
  zend_abstract_interface/jit_utils/jit_blacklist.c
Due: benchmarks-tracer

Reduce the amount of diagnostic messages sent
  Cargo.lock
  components-rs/remote_config.rs
  components-rs/sidecar.h
Due: none
