Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

fix: Remove `Request.php` from `src/bridge/`
  src/bridge/_files_tracer.php
Due: benchmarks-tracer

Fix fibers with tracer disabled
  ext/ddtrace.c
  tests/ext/fibers/fiber_switch_tracer_disabled.phpt
Due: benchmarks-tracer

cleanup naming (#2569)
  benchmark/runall.sh
  profiling/benches/timeline.json
Due: benchmarks-profiler, benchmarks-tracer

fix: disable on fork (#2572)
  profiling/src/config.rs
Due: benchmarks-profiler

Update Makefile
  Makefile
Due: none

Remove jq dependency
  .circleci/continue_config.yml
  Makefile
Due: none

Get extensions and packages versions to CI artifacts (#2553)
  .circleci/continue_config.yml
  Makefile
  ext/integrations/integrations.c
  tests/Common/IntegrationTestCase.php
Due: benchmarks-tracer

Add exception debugging capabilities
  Cargo.lock
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/live-debugger.h
  components-rs/sidecar.h
  config.m4
  config.w32
  docker-compose.yml
  ext/collect_backtrace.c
  ext/collect_backtrace.h
  ext/configuration.h
  ext/ddtrace.h
  ext/handlers_exception.c
  ext/serializer.c
  ext/span.c
Due: benchmarks-tracer

fix tests
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/OpenTelemetry/Integration/SDK/TracerTest.php
Due: none

handle errors
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/SDK/TracerTest.php
Due: none

fix testGetSpanContextWithRemoteParent
  tests/OpenTelemetry/Integration/API/TracerTest.php
Due: none

fix: Merging Inconsistencies
  .circleci/continue_config.yml
Due: none

style: Indentation
  appsec/src/extension/configuration.h
  ext/configuration.h
Due: benchmarks-tracer

Take the proper span context into account for OTel tracecontext generation
  src/DDTrace/OpenTelemetry/SpanContext.php
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/SDK/TracerTest.php
Due: benchmarks-tracer

fix: pin unbutu runner to 20.04 to avoid sanitizer failures
  .github/workflows/prof_asan.yml
Due: none

Remove `DD_SERVICE_NAME`, `DD_TRACE_APP_NAME`, `ddtrace_app_name`
  appsec/src/extension/configuration.h
  appsec/tests/extension/calias_configuration.phpt
  appsec/tests/integration/src/docker/nginx-fpm/default
  dockerfiles/release-candidates/app/ddtrace.php
  dockerfiles/release-candidates/docker-compose.yml
  dockerfiles/testing-environment/Laravel57/docker-scripts/php-fpm.conf
  dockerfiles/testing-environment/Wordpress5/docker-compose.yml
  examples/nginx-php-fpm/www.conf
  ext/configuration.h
  tests/Unit/ConfigurationTest.php
  tests/api/Unit/ConfigurationTest.php
  tests/ext/startup_logging_diagnostics.phpt
  tests/overhead/docker-compose.yml
  zend_abstract_interface/config/config.h
Due: benchmarks-tracer

debug: Print the content of the `php.ini` file
  appsec/tests/integration/src/test/bin/enable_extensions.sh
Due: none

ci(profiling) fix asan test
  .github/workflows/prof_asan.yml
Due: none

ci(profiling) fix asan test (#2578)
  .github/workflows/prof_asan.yml
Due: none

test(profiling): setting for wall-time enabled/disabled
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

ci(profiling) Add exceptions benchmark
  benchmark/runall.sh
  profiling/benches/exceptions.json
  profiling/benches/exceptions.php
Due: benchmarks-profiler, benchmarks-tracer

make allocation profiling thread safe by using thread local storage for the heap and the previous function pointers (if any)
  profiling/src/allocation.rs
  profiling/tests/phpt/jit_01.phpt
  profiling/tests/phpt/jit_02.phpt
  profiling/tests/phpt/phpinfo_02.phpt
Due: benchmarks-profiler

more docs and reduce unwrap calls
  profiling/src/allocation.rs
Due: benchmarks-profiler

add safety comments
  profiling/src/allocation.rs
Due: benchmarks-profiler

docs: shorten ZendMMState docstrings
  profiling/src/allocation.rs
Due: benchmarks-profiler

style: rename missed functions for alloc_prof_* prefix
  profiling/src/allocation.rs
Due: benchmarks-profiler

refactor: introduce TLS_ZEND_MM_STATE macro
  profiling/src/allocation.rs
Due: benchmarks-profiler

make all prev and handlers tls
  profiling/src/allocation.rs
Due: benchmarks-profiler

refactor: avoid references in a few places and avoid holding TLS for various calls
  profiling/src/allocation.rs
  profiling/src/lib.rs
  profiling/src/pcntl.rs
Due: benchmarks-profiler

style: fix allocation profiling thread locals
  profiling/src/allocation.rs
Due: benchmarks-profiler

apparently macros are lowercase
  profiling/src/allocation.rs
Due: benchmarks-profiler

update ZTS support in readme
  profiling/README.md
Due: benchmarks-profiler

w3c phase 2: add last parent_id to tracestate (#2549)
  docker-compose.yml
  ext/ddtrace.c
  ext/distributed_tracing_headers.c
  ext/handlers_http.h
  src/DDTrace/OpenTelemetry/SpanContext.php
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/OpenTelemetry/Integration/SDK/TracerTest.php
  tests/ext/distributed_tracestate_consumption.phpt
  tests/ext/integrations/curl/distributed_tracing_curl.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_invalid_tags.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_tracestate.phpt
Due: benchmarks-tracer

Make naming consistent with tracer reporting
  tests/Common/IntegrationTestCase.php
Due: none

Remove `DD_INTEGRATIONS_DISABLED`
  ext/configuration.c
  ext/configuration.h
  ext/startup_logging.c
  tests/Unit/ConfigurationTest.php
  tests/api/Unit/ConfigurationTest.php
  tests/ext/startup_logging.phpt
  tests/ext/startup_logging_config.phpt
  tests/ext/startup_logging_json.phpt
  tests/ext/startup_logging_json_config.phpt
Due: benchmarks-tracer

Make naming consistent with tracer reporting (#2580)
  tests/Common/IntegrationTestCase.php
Due: none

fix: Include `ext/version.h` in `configuration.c`
  ext/configuration.c
Due: benchmarks-tracer

Append -lrt to linker
  config.m4
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
