Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

feat: add datadog-thin-str crate
  thin-str/Cargo.toml
  thin-str/LICENSE
  thin-str/src/lib.rs
  thin-str/src/thin_str.rs
  thin-str/src/thin_string.rs
Due: none

perf: reduce memory usage in profiling
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/string_set.rs
  profiling/src/thin_str.rs
  profiling/src/timeline.rs
  profiling/src/well_known.rs
Due: benchmarks-profiler

chore: Install `rdkafka` extension
  dockerfiles/ci/buster/build-extensions.sh
Due: none

chore: Install `librdkafka-dev` library
  dockerfiles/ci/buster/Dockerfile
Due: none

Install `librdkafka-dev` on some base images
  dockerfiles/ci/alpine/Dockerfile
  dockerfiles/ci/alpine_compile_extension/base.Dockerfile
  dockerfiles/ci/bookworm/Dockerfile
  dockerfiles/ci/centos/7/base.Dockerfile
Due: none

Add a dirty first version
  Makefile
  config.m4
  config.w32
  docker-compose.yml
  ext/ddtrace.c
  ext/handlers_api.c
  ext/handlers_curl.c
  ext/handlers_internal.c
  ext/handlers_kafka.c
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/DDTrace/Integrations/Kafka/KafkaIntegration.php
  src/api/Tag.php
  src/api/Type.php
  tests/Integrations/Kafka/KafkaTest.php
  tests/Integrations/Kafka/scripts/consumer-highlevel.php
  tests/Integrations/Kafka/scripts/consumer-lowlevel.php
  tests/Integrations/Kafka/scripts/producer.php
  tests/api/Unit/UserAvailableConstantsTest.php
Due: benchmarks-tracer

Upload snapshots
  docker-compose.yml
  tests/Integrations/Kafka/KafkaTest.php
  tests/Integrations/Kafka/scripts/consumer-highlevel.php
  tests/Integrations/Kafka/scripts/consumer-lowlevel.php
  tests/Integrations/Kafka/scripts/producer.php
  tests/snapshots/tests.integrations.kafka_test.test_distributed_tracing_high_level_consumer.json
  tests/snapshots/tests.integrations.kafka_test.test_distributed_tracing_high_level_producer.json
  tests/snapshots/tests.integrations.kafka_test.test_distributed_tracing_low_level_consumer.json
  tests/snapshots/tests.integrations.kafka_test.test_distributed_tracing_low_level_producer.json
Due: none

Fix instances
  src/DDTrace/Integrations/Kafka/KafkaIntegration.php
Due: benchmarks-tracer

ci: Increase timeout time from 1h to 4h
  .gitlab/ci-images.yml
Due: none

Refactor the integration
  src/DDTrace/Integrations/Kafka/KafkaIntegration.php
  tests/Integrations/Kafka/KafkaTest.php
Due: benchmarks-tracer

Add destination kind
  src/DDTrace/Integrations/Kafka/KafkaIntegration.php
Due: benchmarks-tracer

fix compile errors
  ext/handlers_api.c
Due: benchmarks-tracer

fix compile errors
  ext/handlers_kafka.c
Due: benchmarks-tracer

ASM Standalone (#2903)
  appsec/recommended.json
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/configuration.h
  appsec/src/extension/ddtrace.c
  appsec/src/extension/ddtrace.h
  appsec/src/extension/tags.c
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/inc/mock_helper.php
  appsec/tests/extension/rinit_asm_events_propagate_tags.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  config.m4
  config.w32
  ddtrace.sym
  ext/asm_event.c
  ext/asm_event.h
  ext/auto_flush.c
  ext/coms.c
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/handlers_http.h
  ext/limiter/limiter.c
  ext/priority_sampling/priority_sampling.c
  ext/priority_sampling/priority_sampling.h
  ext/serializer.c
  ext/standalone_limiter.c
  ext/standalone_limiter.h
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  ext/tracer_tag_propagation/tracer_tag_propagation.h
  tests/ext/background-sender/agent_sampling-standalone-asm_01.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_02.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_03.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_01.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_02.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_propagate_asm_event.phpt
  tests/ext/limiter/003-limiter-with-asm-standalone.phpt
  tests/ext/priority_sampling/asm-standalone.phpt
Due: benchmarks-tracer

fix compile errors in PHP 7
  ext/handlers_kafka.c
Due: benchmarks-tracer

wrap everything to exclude windows
  ext/handlers_kafka.c
Due: benchmarks-tracer

install librdkafka-devel on centos7 builds
  dockerfiles/ci/centos/7/base.Dockerfile
Due: none

Replicate issue on a PHPT tests
  appsec/tests/extension/push_params_block_02.phpt
Due: none

Refactor bailing out strategy
  appsec/tests/extension/push_params_block_02.phpt
  appsec/tests/extension/push_params_block_03.phpt
  zend_abstract_interface/sandbox/php7/sandbox.c
  zend_abstract_interface/sandbox/php8/sandbox.c
  zend_abstract_interface/sandbox/sandbox.h
  zend_abstract_interface/symbols/call.c
Due: benchmarks-tracer

Draft of how to overcome problem
  appsec/tests/extension/push_params_block_02.phpt
  zend_abstract_interface/symbols/call.c
Due: benchmarks-tracer

style: re-organize, refine docs
  thin-str/src/lib.rs
  thin-str/src/thin_string.rs
Due: none

intentionally break build to see what needs this
  thin-str/src/thin_string.rs
Due: none

fix segfault
  ext/handlers_kafka.c
Due: benchmarks-tracer

chore(doc): improve contributing.md
  CONTRIBUTING.md
Due: none

feat(telemetry): send integration error logs through telemetry
  components-rs/ddtrace.h
  components-rs/log.rs
  components-rs/telemetry.rs
  components/telemetry/telemetry.c
  components/telemetry/telemetry.h
  config.m4
  ext/configuration.h
  ext/hook/uhook.c
  ext/integrations/integrations.c
  ext/sidecar.c
  ext/telemetry.c
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  tests/ext/telemetry/curl_helper.inc
  tests/ext/telemetry/integration_load_error.phpt
  tests/ext/telemetry/integration_runtime_error.phpt
Due: benchmarks-tracer

Block signals for more functions
  ext/handlers_signal.c
Due: benchmarks-tracer

fix distributed tracing
  src/DDTrace/Integrations/Kafka/KafkaIntegration.php
Due: benchmarks-tracer

I/O profiling using GOT/PLT manipulation PoC
  profiling/Cargo.toml
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
Due: benchmarks-profiler

fix windows compilation
  ext/handlers_internal.c
Due: benchmarks-tracer

Add DD_TRACE_KAFKA_DISTRIBUTED_TRACING
  ext/configuration.h
Due: benchmarks-tracer

Let standard limiters to work when standalone not enabled
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  ext/asm_event.c
  tests/ext/integrations/curl/distributed_tracing_curl_propagate_asm_event.phpt
Due: benchmarks-tracer

Restart usleep() on EINTR
  appsec/src/extension/network.c
Due: none

repo: mandatory issue templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  SECURITY.md
Due: none

Add v2 with debug logs
  ext/handlers_kafka.c
  src/DDTrace/Integrations/Kafka/KafkaIntegration.php
  tests/Integrations/Kafka/KafkaTest.php
Due: benchmarks-tracer

Add http.route tag to SymfonyIntegration.php
  appsec/tests/integration/src/docker/php/build_dev_php.sh
  appsec/tests/integration/src/test/www/symfony62/config/packages/test/framework.yaml
  appsec/tests/integration/src/test/www/symfony62/src/Controller/HomeController.php
  docker-compose.yml
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Common/TracerTestTrait.php
  tests/Common/WebFrameworkTestCase.php
  tests/Frameworks/Symfony/Version_6_2/src/Controller/CommonScenariosController.php
  tests/Integrations/Symfony/V3_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_3/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_3/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_4/AutofinishedTracesSymfony34Test.php
  tests/Integrations/Symfony/V3_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_4/TemplateEnginesTest.php
  tests/Integrations/Symfony/V3_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_1/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_1/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V6_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V6_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V7_0/CommonScenariosTest.php
  tests/composer.json
Due: benchmarks-tracer

symfony http.route: use existing hook instead
  Makefile
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.route_name_test.test_resource_to_uri_mapping.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_8.route_name_test.test_resource_to_uri_mapping.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v5_2.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v6_2.messenger_test.test_async_with_tracer_disabled_on_consume.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v7_0.messenger_test.test_async_with_tracer_disabled_on_consume.json
Due: benchmarks-tracer

Cache routes
  appsec/tests/integration/src/docker/php/build_dev_php.sh
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Integrations/Symfony/V3_0/CommonScenariosTest.php
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.route_name_test.test_resource_to_uri_mapping.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_8.route_name_test.test_resource_to_uri_mapping.json
Due: benchmarks-tracer

only php 8+
  ext/handlers_internal.c
  ext/handlers_kafka.c
Due: benchmarks-tracer

Support php 7
  ext/handlers_internal.c
  ext/handlers_kafka.c
Due: benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
