Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*

Send sdk v2 telemetry metrics
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/telemetry.c
  appsec/src/extension/telemetry.h
  appsec/src/extension/user_tracking.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
  appsec/tests/integration/src/test/www/base/public/multiple_user_tracking_events.php
Due: none

Fix telemetry
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/telemetry.c
  appsec/src/extension/user_tracking.c
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/TelemetryTests.groovy
Due: none

Fix leak
  appsec/src/extension/telemetry.c
Due: none

Handle stack-allocated execute_data but outside of stack allocated func
  ext/ddtrace.c
Due: benchmarks-tracer

Format
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/user_tracking.c
Due: none

Send telemetry regardless appsec status
  appsec/src/extension/telemetry.c
  appsec/src/extension/telemetry.h
  appsec/src/extension/user_tracking.c
Due: none

Lint
  appsec/tests/helper/waf_test.cpp
Due: none

Update rasp metrics
  appsec/src/helper/subscriber/waf.cpp
  appsec/tests/helper/waf_test.cpp
Due: none

Rename waf_error tag
  appsec/src/helper/subscriber/waf.cpp
Due: none

Add appsec.rasp.error metric
  appsec/src/extension/commands_helpers.c
  appsec/src/helper/metrics.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/waf_test.cpp
Due: none

Clarify rule_variant
  appsec/src/helper/subscriber/waf.cpp
Due: none

Fix rasp error slo tag
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/waf_test.cpp
Due: none

Truncate data sent to WAF
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/msgpack_helpers.c
  appsec/tests/extension/input_truncated_01.phpt
  appsec/tests/extension/input_truncated_02.phpt
  appsec/tests/extension/input_truncated_03.phpt
  appsec/tests/extension/input_truncated_04.phpt
Due: none

Truncate string inputs
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/ddappsec.c
  appsec/src/extension/msgpack_helpers.c
  appsec/src/extension/msgpack_helpers.h
  appsec/tests/extension/rshutdown_telemetry_truncated.phpt
Due: none

Lint
  appsec/src/extension/msgpack_helpers.c
Due: none

Amend leak
  appsec/src/extension/commands_helpers.c
Due: none

Fix from PR
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/msgpack_helpers.c
Due: none

chore: remove non actionnable telemetry logs
  ext/autoload_php_files.c
  ext/integrations/integrations.c
  tests/ext/telemetry/integration_load_error.phpt
Due: benchmarks-tracer

chore: update supported versions (#3266)
  aggregated_tested_versions.json
  integration_versions.md
Due: none

refactor: improve callback handling in WordPress integration
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
Due: benchmarks-tracer

Fix exception serialize arena cleanup
  ext/exception_serialize.c
Due: benchmarks-tracer

Fix exception serialize arena cleanup (#3272)
  ext/exception_serialize.c
Due: benchmarks-tracer

Enhance Guzzle integration to handle promise fulfillment state (#3260)
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
  tests/Integrations/Guzzle/Latest/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V5/response_body_stream_closed.phpt
  tests/Integrations/Guzzle/V6/response_body_stream_closed.phpt
Due: benchmarks-tracer

Handle stack-allocated execute_data but outside of stack allocated func (#3273)
  ext/ddtrace.c
Due: benchmarks-tracer

Filter SSI paths from installer ini paths
  datadog-setup.php
Due: none

Revert most useful integration error submissions
  ext/autoload_php_files.c
  ext/integrations/integrations.c
Due: benchmarks-tracer

Fixup key reading from baggage tags
  ext/distributed_tracing_headers.c
Due: benchmarks-tracer

Fix Laravel error reporting (#3185)
  ext/serializer.c
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Frameworks/Laravel/Latest/app/Exceptions/IgnoredException.php
  tests/Frameworks/Laravel/Latest/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Latest/bootstrap/app.php
  tests/Frameworks/Laravel/Latest/routes/web.php
  tests/Frameworks/Laravel/Version_10_x/app/Exceptions/ExceptionExtendingIgnored.php
  tests/Frameworks/Laravel/Version_10_x/app/Exceptions/Handler.php
  tests/Frameworks/Laravel/Version_10_x/app/Exceptions/IgnoredException.php
  tests/Frameworks/Laravel/Version_10_x/app/Http/Controllers/CommonSpecsController.php
  tests/Frameworks/Laravel/Version_10_x/routes/web.php
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/Laravel/Latest/CommonScenariosTest.php
  tests/Integrations/Laravel/V10_x/CommonScenariosTest.php
  tests/Integrations/Laravel/V8_x/InternalExceptionsTest.php
  tests/Integrations/Symfony/Latest/CommonScenariosTest.php
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.latest.common_scenarios_test.test_scenario_get_with_ignored_exception.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_ignored_exception.json
  tests/snapshots/tests.integrations.symfony.latest.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route_apache.json
Due: benchmarks-tracer

Baggage span tags (#3262)
  ext/configuration.h
  ext/distributed_tracing_headers.c
  tests/ext/distributed_tracing/baggage/baggage_span_tags.phpt
  tests/ext/distributed_tracing/baggage/baggage_span_tags_empty.phpt
  tests/ext/distributed_tracing/baggage/baggage_span_tags_keys.phpt
  tests/ext/distributed_tracing/baggage/baggage_span_tags_wildcard.phpt
Due: benchmarks-tracer

style: Make the hook target format uniform regardless of whether it's a static or instance method
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
Due: benchmarks-tracer

Add injection information to phpinfo output for the SSI loader
  loader/compat_php.c
  loader/config.m4
  loader/dd_library_loader.c
  loader/dd_library_loader_module.c
  loader/php_dd_library_loader.h
  loader/tests/functional/fixtures/opcache_jit.php
  loader/tests/functional/test_incompatibility_jit.php
  loader/tests/functional/test_phpinfo.php
Due: none

Fixes
  loader/dd_library_loader_module.c
  loader/php_dd_library_loader.h
Due: none

fix: WordPress integration hook handling for "static" and object methods (#3274)
  src/DDTrace/Integrations/WordPress/WordPressIntegrationLoader.php
Due: benchmarks-tracer

re-enable for PHP 8.4.7
  profiling/src/allocation/allocation_ge84.rs
  profiling/tests/phpt/jit_03.phpt
Due: benchmarks-profiler

feat: Implement exponential backoff for server readiness check in WebServer class
  tests/WebServer.php
Due: none

feat: Add web server restart logic in RetryTrait for framework tests
  tests/Common/RetryTraitVersionGeneric.php
  tests/WebServer.php
Due: none

Fix test
  loader/tests/functional/test_phpinfo.php
Due: none

Filter SSI paths from installer ini paths (#3275)
  datadog-setup.php
Due: none
