Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

Amend flaky tests
  tests/ext/background-sender/agent_sampling-standalone-asm_01.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_02.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_03.phpt
Due: none

Fix tests
  tests/ext/background-sender/agent_sampling-standalone-asm_01.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_02.php
  tests/ext/background-sender/agent_sampling-standalone-asm_03.phpt
Due: none

Try to ignore exception if it has a response
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: benchmarks-tracer

Initialize baggage in RINIT
  ext/ddtrace.c
  ext/handlers_http.h
Due: benchmarks-tracer

Delete file commited by accident
  tests/ext/background-sender/agent_sampling-standalone-asm_02.php
Due: none

Initialize baggage in RINIT (#3148)
  ext/ddtrace.c
  ext/handlers_http.h
Due: benchmarks-tracer

Enable the sidecar sender by default on AWS lambda
  appsec/src/extension/configuration.c
  ext/configuration.c
Due: benchmarks-tracer

fix: select the log level for integration error telemetry
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/autoload_php_files.c
  ext/hook/uhook.c
  ext/integrations/integrations.c
  ext/telemetry.c
  ext/telemetry.h
  tests/ext/telemetry/integration_runtime_error.phpt
Due: benchmarks-tracer

Avoid pcre JIT to prevent valgrind complaining
  tests/ext/inferred_proxy/sampling_rules.phpt
Due: none

Enable the sidecar sender by default on AWS lambda (#3147)
  appsec/src/extension/configuration.c
  ext/configuration.c
Due: benchmarks-tracer

bob review
  components-rs/ddtrace.h
  ext/integrations/integrations.c
Due: benchmarks-tracer

Add DDTrace\try_drop_span() API
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/handlers_http.h
  ext/span.c
  ext/span.h
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/ext/try_drop_span.phpt
Due: benchmarks-tracer

tests: Add testSilencedSpansAreDropped for Symfony CLI Tests
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
  tests/Common/TracerTestTrait.php
  tests/Frameworks/Symfony/Latest/src/Command/SttyCommand.php
  tests/Frameworks/Symfony/Version_4_4/src/Command/SttyCommand.php
  tests/Frameworks/Symfony/Version_5_2/src/Command/SttyCommand.php
  tests/Frameworks/Symfony/Version_6_2/src/Command/SttyCommand.php
  tests/Integrations/CLI/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V5_2/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V6_2/CommonScenariosTest.php
  tests/snapshots/tests.integrations.cli.symfony.latest.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v4_4.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v5_2.common_scenarios_test.test_silenced_spans_are_dropped.json
  tests/snapshots/tests.integrations.cli.symfony.v6_2.common_scenarios_test.test_silenced_spans_are_dropped.json
Due: benchmarks-tracer

Fix tests
  tests/ext/background-sender/agent_sampling-standalone-asm_01.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_02.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_03.phpt
Due: none

Check exception event response (+ SC < 500)
  src/DDTrace/Integrations/Symfony/SymfonyIntegration.php
Due: benchmarks-tracer

Remove third-party dependency
  tests/Common/IntegrationTestCase.php
  tests/Common/RetryAnnotationTrait.php
  tests/Common/RetryTrait.php
  tests/Common/RetryTraitCommon.php
  tests/Common/RetryTraitFactory.php
  tests/Common/RetryTraitVersionGeneric.php
  tests/Common/RetryTraitVersionSpecific70.php
  tests/composer.json
Due: none

thats a lot
  profiling/src/io.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

remove `readv` hooking
  profiling/src/io.rs
Due: benchmarks-profiler

fix
  profiling/build.rs
Due: benchmarks-profiler

cleanup
  profiling/src/io.rs
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

asdf
  profiling/src/io.rs
Due: benchmarks-profiler

cleanup for gathering sample type offsets
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

cleanup
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

Implement Disable APM Tracing (#3080)
  appsec/src/extension/configuration.h
  appsec/src/extension/tags.c
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/rinit_asm_events_propagate_tags.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  config.m4
  config.w32
  ext/asm_event.c
  ext/asm_event.h
  ext/auto_flush.c
  ext/coms.c
  ext/configuration.h
  ext/ddtrace.c
  ext/handlers_http.h
  ext/limiter/limiter.c
  ext/priority_sampling/priority_sampling.c
  ext/serializer.c
  ext/trace_source.c
  ext/trace_source.h
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  tests/ext/background-sender/agent_sampling-standalone-asm_01.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_02.phpt
  tests/ext/background-sender/agent_sampling-standalone-asm_03.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_01.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_02.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_03.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_04.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_05.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_06.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_07.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_08.phpt
  tests/ext/distributed_tracing/distributed_trace_asm_standalone_09.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_existing_headers_004.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_existing_headers_005.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_existing_headers_006.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_existing_headers_007.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_propagate_asm_event.phpt
  tests/ext/limiter/003-limiter-with-asm-standalone.phpt
  tests/ext/priority_sampling/asm-standalone.phpt
Due: benchmarks-tracer

Update profiling/src/profiling/mod.rs
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

Update .gitlab/one-pipeline.locked.yaml
  .gitlab/one-pipeline.locked.yaml
Due: none

promise stuff
  Makefile
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/DDTrace/Integrations/DiscordPHP/DiscordPHPIntegration.php
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
  src/DDTrace/Integrations/ReactPromise/ReactPromiseIntegration.php
  tests/Common/SpanChecker.php
  tests/Integrations/DiscordPHP/V10/DiscordPHPTest.php
  tests/Integrations/DiscordPHP/V10/composer.json
  tests/Integrations/ReactPromise/V1/ReactPromiseTest.php
  tests/Integrations/ReactPromise/V1/composer.json
  tests/bootstrap_common.php
Due: benchmarks-tracer

fix(profiling) upscaling of I/O profiles (#3146)
  profiling/build.rs
  profiling/src/io.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

Fixup span pointer direction
  src/DDTrace/Integrations/Ratchet/RatchetIntegration.php
Due: benchmarks-tracer

test: print date/time in asan test_internal_api_randomized
  tests/internal-api-stress-test.php
Due: none

feat(prof): add 'tracing' features to capture time spent walking the stack (#3094)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
Due: benchmarks-profiler

fix(prof): avoid OOM panics when collecting stack
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/vec_ext.rs
Due: benchmarks-profiler

feat(prof)!: avoid long strings (> u16::MAX)
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/vec_ext.rs
Due: benchmarks-profiler

style(prof): cargo +nightly fmt
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

style(prof): cargo +nightly fmt (#3153)
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

test: print date/time in asan test_internal_api_randomized (#3152)
  tests/internal-api-stress-test.php
Due: none

ci: add gitlab builds for php debug and debug-zts-asan
  .gitlab-ci.yml
  .gitlab/append-build-id.sh
  .gitlab/compile.yml
  .gitlab/compile_extension.sh
Due: none

chore: update latest versions
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/Elasticsearch/Latest/composer.json
  tests/Integrations/Guzzle/Latest/composer.json
  tests/Integrations/Logs/MonologLatest/composer.json
Due: none

feat: API Gateway Tracing (#3116)
  Makefile
  config.m4
  config.w32
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/distributed_tracing_headers.c
  ext/distributed_tracing_headers.h
  ext/inferred_proxy_headers.c
  ext/inferred_proxy_headers.h
  ext/priority_sampling/priority_sampling.c
  ext/serializer.c
  ext/serializer.h
  ext/span.c
  ext/span.h
  tests/Integrations/Laravel/APIGWTest.php
  tests/Integrations/Laravel/Octane/APIGWTest.php
  tests/Integrations/Roadrunner/APIGWTest.php
  tests/ext/active_span.phpt
  tests/ext/inferred_proxy/alter_service.phpt
  tests/ext/inferred_proxy/basic_test.phpt
  tests/ext/inferred_proxy/consume_distributed_tracing_headers.phpt
  tests/ext/inferred_proxy/distributed_tracing.phpt
  tests/ext/inferred_proxy/error_propagated.phpt
  tests/ext/inferred_proxy/fallback_service_name.phpt
  tests/ext/inferred_proxy/incomplete_headers.phpt
  tests/ext/inferred_proxy/multiple_traces.phpt
  tests/ext/inferred_proxy/propagated_tags_after_span_start.phpt
  tests/ext/inferred_proxy/propagated_tags_before_span_start.phpt
  tests/ext/inferred_proxy/sampling_rules.phpt
  tests/ext/sandbox/span_clone.phpt
  tests/phpunit.xml
  tests/snapshots/tests.integrations.laravel.apigw_test.test_laravel_inferred_proxy.json
  tests/snapshots/tests.integrations.laravel.apigw_test.test_laravel_inferred_proxy_exception.json
  tests/snapshots/tests.integrations.laravel.octane.apigw_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.laravel.octane.apigw_test.test_inferred_proxy_exception.json
  tests/snapshots/tests.integrations.roadrunner.apigw_test.test_inferred_proxy.json
  tests/snapshots/tests.integrations.roadrunner.apigw_test.test_inferred_proxy_exception.json
Due: benchmarks-tracer

fix: OTel 7.4 Compatibility
  src/DDTrace/OpenTelemetry/Context.php
Due: benchmarks-tracer

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
