Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer, benchmarks-appsec

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-appsec:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

refactor: clean up safety conditions
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/bindings/mod.rs
  profiling/src/profiling/stack_walking.rs
Due: benchmarks-profiler

fix(profiling): validate `opline` before access (#3319)
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/bindings/mod.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/stack_walking.rs
  profiling/tests/phpt/allocation_generator_01.phpt
Due: benchmarks-profiler

chore(generate-tracer): use sudo for GitHub CLI installation commands in CI setup
  .gitlab/generate-tracer.php
Due: none

chore(generate-tracer): remove GitHub CLI installation commands from CI setup
  .gitlab/generate-tracer.php
Due: none

chore(generate-tracer): update GitHub token retrieval to use existing policy in CI setup
  .gitlab/generate-tracer.php
Due: none

chore(gitlab-ci): update subject and claim patterns for GitLab CI aggregate versions
  .github/chainguard/gitlab-ci-aggregate-versions.sts.yaml
  .gitlab/generate-tracer.php
Due: none

chore(gitlab-ci): refine subject and claim patterns for version aggregation in CI configuration
  .github/chainguard/gitlab-ci-aggregate-versions.sts.yaml
Due: none

chore(CODEOWNERS): remove DD Octo STS trust policies entry from CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(generate-common): update Kafka service configuration and rename service reference
  .gitlab/generate-common.php
  .gitlab/generate-tracer.php
Due: none

chore(generate-tracer): restrict PR creation to master branch only
  .gitlab/generate-tracer.php
Due: none

typo
  .gitlab/generate-tracer.php
Due: none

Treat opcache.jit=0 as JIT disabled
  loader/dd_library_loader.c
Due: none

Add extra log on service manager
  appsec/src/helper/service_manager.cpp
Due: benchmarks-appsec

Fix engine hashing
  appsec/src/helper/engine_settings.hpp
Due: benchmarks-appsec

build(prof): bump patch versions, drop indexmap
  Cargo.lock
  profiling/Cargo.toml
Due: benchmarks-profiler

feat(prof): use reqwest to send profiles to agent
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

Fix CI
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/ddtrace_basic.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  appsec/tests/extension/rinit_record_span_tags_fail.phpt
  appsec/tests/extension/rinit_root_span_add_tag.phpt
  appsec/tests/extension/root_span_add_tag.phpt
  appsec/tests/extension/root_span_add_tag_with_intermediate_spans.phpt
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
  tests/Integrations/Symfony/V4_4/MessengerTest.php
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_3.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_3.route_name_test.test_resource_to_uri_mapping.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.symfony.v2_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.symfony.v2_8.route_name_test.test_resource_to_uri_mapping.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_failure.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_failure_consumer.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_success.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_success_consumer.json
  tests/snapshots/tests.integrations.symfony.v4_4.messenger_test.test_async_with_tracer_disabled_on_consume.json
Due: none

feat(prof): switch to UDS
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

fix(prof): enable IO & time on tokio runtime
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

feat: add telemetry caching system for SHM read operation
  Cargo.lock
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/ddtrace.h
  components-rs/sidecar.h
  components-rs/telemetry.rs
  ext/ddtrace.c
  ext/ddtrace.h
  ext/sidecar.c
  ext/telemetry.c
  ext/telemetry.h
Due: benchmarks-tracer

chore: update latest versions
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
Due: none

Push datadog-setup to latest (#3335)
  .gitlab/generate-package.php
Due: none

refactor: move back to blocking now that upstream supports it
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/uploader.rs
Due: benchmarks-profiler

fix: use rustls to avoid libssl and libcrypto as runtime deps
  Cargo.lock
  profiling/Cargo.toml
Due: benchmarks-profiler

Avoid code duplication
  .gitlab/generate-tracer.php
Due: none

chore(generate-tracer): streamline version aggregation and PR creation process in CI
  .gitlab/generate-tracer.php
  tooling/tested_versions/create_or_update_supported_versions_pr.sh
Due: none

Disable legacy Gitlab exec in order to fix jobs failing with green status
  .gitlab/benchmarks.yml
Due: none

Disable legacy Gitlab exec in order to fix jobs failing with green status (#3342)
  .gitlab/benchmarks.yml
Due: none

Fix new appsec service being created for each worker
  .gitlab/generate-appsec.php
  appsec/src/helper/client.cpp
  appsec/src/helper/client.hpp
  appsec/src/helper/main.cpp
  appsec/src/helper/service.cpp
  appsec/src/helper/service.hpp
  appsec/src/helper/service_manager.cpp
  appsec/src/helper/service_manager.hpp
  appsec/src/helper/sidecar_settings.hpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/service_manager_test.cpp
  appsec/tests/integration/src/docker/fpm-common/www.conf
  appsec/tests/integration/src/test/bin/enable_extensions.sh
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Apache2FpmTests.groovy
Due: benchmarks-appsec

release mutable borrow early
  profiling/src/exception.rs
Due: benchmarks-profiler

format
  profiling/src/exception.rs
Due: benchmarks-profiler

less borrowing
  profiling/src/io.rs
Due: benchmarks-profiler

less borrow for allocations
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
Due: benchmarks-profiler

mark cold functions
  profiling/src/allocation/mod.rs
  profiling/src/exception.rs
  profiling/src/io.rs
Due: benchmarks-profiler

fix: borrow errors for REQUEST_LOCALS instead of panicking
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/capi.rs
  profiling/src/exception.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
  profiling/src/wall_time.rs
Due: benchmarks-profiler

fix: borrow errors for CACHED_STRINGS/FUNCTION_CACHE_STATS instead of panicking
  profiling/src/profiling/stack_walking.rs
Due: benchmarks-profiler

fix: borrow errors for ALLOCATION_PROFILING_STATS instead of panicking
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
Due: benchmarks-profiler

style: remove unused import
  profiling/src/allocation/allocation_le83.rs
Due: benchmarks-profiler

fix: borrow errors for EXCEPTION_PROFILING_STATS instead of panicking
  profiling/src/exception.rs
Due: benchmarks-profiler

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: ext/**/*, src/**/*, components/**/*, components-rs/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*, tea/**/*
  benchmarks-appsec: any of: appsec/src/**/*
