Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

cleanup
  .github/workflows/prof_correctness.yml
  profiling/src/allocation/mod.rs
  profiling/src/config.rs
Due: benchmarks-profiler

fix segfault in case `zend_ini_get_value()` returns NULL
  ext/signals.c
Due: benchmarks-tracer

actually this is just a pointer and we are not supposed to free it anyway
  ext/signals.c
Due: benchmarks-tracer

tests(otel): update resource assertions to align with spec changes
  tests/OpenTelemetry/Integration/API/BaggageTest.php
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/OpenTelemetry/composer-pre-8.1.json
  tests/OpenTelemetry/composer.json
Due: none

chore: Update supported versions (#3232)
  aggregated_tested_versions.json
  integration_versions.md
Due: none

style: use Cell instead of UnsafeCell
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
Due: benchmarks-profiler

Attempt fixing some packaging tests
  .gitlab/generate-common.php
  .gitlab/generate-package.php
  .gitlab/generate-tests.php
Due: none

Attempt fixing more packaging tests
  .circleci/continue_config.yml
  .gitlab/generate-common.php
  .gitlab/generate-package.php
  .gitlab/generate-tests.php
  CONTRIBUTING.md
  Makefile
  dockerfiles/ci/alpine/Dockerfile
  dockerfiles/ci/xfail_tests/7.4.list
  dockerfiles/ci/xfail_tests/8.0.list
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/8.4.list
  dockerfiles/frameworks/Makefile
  dockerfiles/packaging/Makefile
  dockerfiles/release-candidates/README.md
  dockerfiles/testing-environment/Laravel57/Makefile
  dockerfiles/verify_packages/Makefile
  examples/apache-mod_php/README.md
  examples/long-running/README.md
  examples/nginx-php-fpm/README.md
  tests/Frameworks/Laminas/ApiTools/Latest/Dockerfile
  tests/Frameworks/Laminas/ApiTools/Latest/README.md
  tests/Frameworks/Laminas/ApiTools/Latest/public/index.php
  tests/Frameworks/Laminas/Mvc/Latest/README.md
  tests/Frameworks/Laminas/Mvc/Latest/public/index.php
  tests/Frameworks/Laminas/Mvc/Version_3_3/README.md
  tests/Frameworks/Laminas/Mvc/Version_3_3/public/index.php
  tests/Frameworks/Slim/Latest/README.md
  tests/Frameworks/Slim/Version_4_8/README.md
  tests/Frameworks/Yii/Latest/README.md
  tests/Frameworks/Yii/Version_2_0_49/README.md
  tests/Integration/TracerTest.php
  tests/PostInstallHook/README.md
  tests/overhead/Makefile
  tests/randomized/lib/run-base-docker-compose.sh
  tests/randomized/lib/templates/Makefile.scenario.template
Due: none

fix: add missing cfg(not(php_zts))
  profiling/src/allocation/allocation_ge84.rs
Due: benchmarks-profiler

Revert "Merge branch 'master' into florian/zts-global-state"
  Makefile
  aggregated_tested_versions.json
  integration_versions.md
  tests/Frameworks/CakePHP/Latest/composer.json
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Symfony/Latest/composer.json
  tests/Integrations/GoogleSpanner/Latest/composer.json
  tests/Integrations/OpenAI/Latest/composer.json
  tests/Integrations/Predis/Latest/composer.json
  tests/Integrations/Predis/V2/PredisTest.php
  tests/Integrations/Predis/V2/composer.json
  tests/OpenTelemetry/Integration/API/BaggageTest.php
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/OpenTelemetry/composer-pre-8.1.json
  tests/OpenTelemetry/composer.json
Due: none

style(prof): use Cell instead of UnsafeCell
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
Due: benchmarks-profiler

More fixes
  .gitlab/generate-package.php
  .gitlab/generate-tests.php
  dockerfiles/verify_packages/centos/install.sh
  dockerfiles/verify_packages/debian/install.sh
  dockerfiles/verify_packages/verify.sh
Due: none

Rollback docker-compose rename
  .circleci/continue_config.yml
  CONTRIBUTING.md
  dockerfiles/ci/alpine/Dockerfile
  dockerfiles/frameworks/Makefile
  dockerfiles/packaging/Makefile
  dockerfiles/release-candidates/README.md
  dockerfiles/testing-environment/Laravel57/Makefile
  dockerfiles/verify_packages/Makefile
  examples/apache-mod_php/README.md
  examples/long-running/README.md
  examples/nginx-php-fpm/README.md
  tests/Frameworks/Laminas/ApiTools/Latest/Dockerfile
  tests/Frameworks/Laminas/ApiTools/Latest/README.md
  tests/Frameworks/Laminas/ApiTools/Latest/public/index.php
  tests/Frameworks/Laminas/Mvc/Latest/README.md
  tests/Frameworks/Laminas/Mvc/Latest/public/index.php
  tests/Frameworks/Laminas/Mvc/Version_3_3/README.md
  tests/Frameworks/Laminas/Mvc/Version_3_3/public/index.php
  tests/Frameworks/Slim/Latest/README.md
  tests/Frameworks/Slim/Version_4_8/README.md
  tests/Frameworks/Yii/Latest/README.md
  tests/Frameworks/Yii/Version_2_0_49/README.md
  tests/PostInstallHook/README.md
  tests/overhead/Makefile
  tests/randomized/lib/run-base-docker-compose.sh
  tests/randomized/lib/templates/Makefile.scenario.template
Due: none

Install docker-compose
  .gitlab/generate-package.php
Due: none

style: fix tons of clippy lints
  Cargo.lock
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/wall_time.rs
Due: benchmarks-profiler

fix: revert feature cfg for tests to pass
  profiling/src/profiling/stack_walking.rs
Due: benchmarks-profiler

More packages fixes
  .gitlab/generate-package.php
  .gitlab/generate-tests.php
  dockerfiles/frameworks/Makefile
  dockerfiles/verify_packages/Makefile
Due: none

Use initialized instead of initialised
  profiling/src/allocation/mod.rs
Due: benchmarks-profiler

More packages fixes
  .gitlab/generate-package.php
  .gitlab/generate-tests.php
  dockerfiles/verify_packages/centos/install.sh
  dockerfiles/verify_packages/installer/test_install_subdir_from_file.sh
  dockerfiles/verify_packages/installer/test_install_uninstall_install_tracer_profiling.sh
Due: none

Remove unnecessary export_name
  profiling/src/allocation/allocation_le83.rs
Due: benchmarks-profiler

don't add a message here
  ext/serializer.c
  tests/ext/error_status_configuration/http_error_status_parsing.phpt
  tests/ext/error_status_configuration/http_error_status_server_configuration.phpt
Due: benchmarks-tracer

package loader
  .gitlab/generate-common.php
  .gitlab/generate-package.php
  .gitlab/generate-tests.php
  tooling/bin/generate-ssi-package.sh
Due: none

read this test output wrong locally
  tests/ext/error_status_configuration/http_error_status_server_configuration.phpt
Due: none

style(prof): fix tons of clippy lints (#3235)
  Cargo.lock
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/wall_time.rs
Due: benchmarks-profiler

use default
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

fix trailing whitespace
  .editorconfig
Due: none

feat(prof): configurable allocation sampling distance (#3227)
  .github/workflows/prof_correctness.yml
  profiling/src/allocation/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/tests/phpt/allocation_bind_static_01.phpt
  profiling/tests/phpt/jit_03.phpt
Due: benchmarks-profiler

package loader
  .gitlab/generate-package.php
Due: none

Update libdatadog and bump to 1.9.0
  Cargo.lock
  Makefile
  VERSION
  components-rs/Cargo.toml
  components-rs/common.h
  components-rs/crashtracker.h
  components-rs/library-config.h
  ddtrace.sym
  package.xml
  zend_abstract_interface/config/config_stable_file.c
Due: benchmarks-tracer

Bump the libdatadog version
  Makefile
  package.xml
  profiling/Cargo.toml
Due: benchmarks-profiler

Comment out loader stuff for now
  .gitlab/generate-package.php
Due: none

Fix appsec build and test
  appsec/src/helper/remote_config/config.hpp
  appsec/src/helper/sidecar_settings.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/telemetry.hpp
  appsec/tests/extension/rinit_rshutdown_basic.phpt
  appsec/tests/fuzzer/CMakeLists.txt
Due: none

Add apt update
  .gitlab/generate-package.php
Due: none

Fix profiling with v18
  Cargo.lock
  Makefile
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
Due: benchmarks-profiler

Fix Windows VirtualProtect call
  ext/ddtrace.c
  package.xml
Due: benchmarks-tracer

fix trailing whitespace (#3237)
  .editorconfig
Due: none

updates after local testing attempts
  reports/cov/35507b6d0296f6392f7f1738daa78ee4.cov
  reports/cov/807034e725438bb5985bf5d5a8ba0e77.cov
  reports/cov/8e262c7ef92079bf12a040f19664c4b6.cov
  reports/cov/af7ac4ab609ebd64ef843a472be02491.cov
  reports/cov/testsuite_cakephp45test.cov
  reports/cov/testsuite_metrics.cov
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
