Repository DataDog/dd-trace-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: benchmarks-profiler, benchmarks-tracer

benchmarks-profiler:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

benchmarks-tracer:
  stage: benchmarks
  tags:
  - runner:apm-k8s-tweaked-metal
  needs: []
  image:
    name: $BASE_CI_IMAGE
  interruptible: true
  timeout: 1h
  script:
  - export ARTIFACTS_DIR="$(pwd)/reports" && (mkdir "${ARTIFACTS_DIR}" || :)
  ...

Bump to 1.8.3
  VERSION
  package.xml
Due: none

add compile loader jobs
  .gitlab/build-loader.sh
  .gitlab/generate-package.php
Due: none

add package extension job
  .gitlab/generate-package.php
  .gitlab/package-extension.sh
Due: none

try without --network net
  .gitlab/generate-package.php
Due: none

fix container name
  .gitlab/generate-package.php
Due: none

Add ddtrace-windows.sym to package.xml
  package.xml
Due: none

fix allowing command to fail
  .gitlab/generate-package.php
Due: none

use windowsversion:1809
  .gitlab/generate-package.php
Due: none

Store the source and the config_id of the library config
  components-rs/common.h
  ddtrace.sym
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_stable_file.c
  zend_abstract_interface/config/config_stable_file.h
Due: benchmarks-tracer

Add support for local/fleet stable config config origin
  ext/telemetry.c
  profiling/src/bindings/mod.rs
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/local_config.phpt
  zend_abstract_interface/config/config.c
  zend_abstract_interface/config/config.h
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/config_stable_file.c
  zend_abstract_interface/config/config_stable_file.h
Due: benchmarks-profiler, benchmarks-tracer

Update revision of datadog-library-config-ffi in the profiler
  profiling/Cargo.toml
Due: benchmarks-profiler

Fix: arena are not persistents
  zend_abstract_interface/config/config_stable_file.c
Due: benchmarks-tracer

Set the config_id
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/telemetry.c
  profiling/Cargo.toml
  tests/ext/appsec/sca_flag_is_sent_01.phpt
  tests/ext/appsec/sca_flag_is_sent_02.phpt
  tests/ext/appsec/sca_flag_is_sent_03.phpt
  tests/ext/appsec/sca_flag_is_sent_04.phpt
  tests/ext/appsec/sca_flag_is_sent_05.phpt
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/fleet_config.yaml
  tests/ext/library_config/local_config.phpt
  tests/ext/library_config/local_config.yaml
  tests/ext/telemetry/config.phpt
Due: benchmarks-profiler, benchmarks-tracer

Fix tests
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/ext/library_config/fleet_config.phpt
  tests/ext/library_config/local_config.phpt
Due: none

Fix return type
  zend_abstract_interface/config/config_stable_file.c
Due: benchmarks-tracer

Update libdatadog
  Cargo.lock
  components-rs/sidecar.h
  components-rs/telemetry.h
  profiling/Cargo.toml
Due: benchmarks-profiler

SSI Test: Enable K8s lib injection tests
  .gitlab-ci.yml
Due: none

Fix sqli non valid sql queries
  tests/Appsec/Mock.php
Due: none

Fix RASP related test failures
  tests/Appsec/Mock.php
Due: none

Ignore failure in ext/opcache/tests/jit/fetch_obj_001.phpt
  dockerfiles/ci/xfail_tests/8.1.list
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/8.4.list
Due: none

Add comment to SYSTEM_TESTS_SCENARIOS_GROUPS variable
  .gitlab-ci.yml
Due: none

Add lib-injection-profiling to system tests
  .gitlab-ci.yml
Due: none

cleanup compile windows extension
  .gitlab/generate-package.php
Due: none

fix package extensions job
  .gitlab/generate-package.php
  .gitlab/package-extension.sh
  Makefile
Due: none

debug package extensions
  .gitlab/package-extension.sh
Due: none

cleanup
  .gitlab/generate-package.php
  .gitlab/package-extension.sh
Due: none

use project_root for packaging steps
  Makefile
Due: none

update final artifact script
  tooling/bin/generate-final-artifact.sh
Due: none

add compile tracing extension asan
  .gitlab/build-tracing-asan.sh
  .gitlab/generate-package.php
Due: none

cp in gitlab
  tooling/bin/generate-final-artifact.sh
Due: none

Changes to avoid double free of stack data
  ext/coms.c
Due: benchmarks-tracer

chore: update latest versions
  tests/Frameworks/Laravel/Latest/composer.json
  tests/Frameworks/Laravel/Octane/Latest/composer.json
  tests/Integrations/MongoDB/Latest/composer.json
Due: none

feat: implement MongoDB command subscribers with and without return types
  src/DDTrace/Integrations/MongoDB/DatadogSubscriberLoader.php
  src/DDTrace/Integrations/MongoDB/DatadogSubscriberWithReturnTypes.php
  src/DDTrace/Integrations/MongoDB/DatadogSubscriberWithoutReturnTypes.php
  src/DDTrace/Integrations/MongoDB/MongoDBIntegration.php
  tests/Integrations/MongoDB/Latest/MongoDBTest.php
Due: benchmarks-tracer

Ensure artifacts are generated
  .gitlab/generate-tests.php
Due: none

Try with strace
  .gitlab/generate-tests.php
Due: none

run onboarding tests profiling scenarios
  .gitlab-ci.yml
Due: none

Reduce test parallelism a bit
  .gitlab/generate-tests.php
Due: none

Set HTTPBIN_PORT
  .gitlab/generate-tests.php
Due: none

SSI Test: Enable K8s lib injection tests (#3205)
  .gitlab-ci.yml
Due: none

Path conditions:
  benchmarks-profiler: any of: profiling/**/*
  benchmarks-tracer: any of: bridge/*, ext/**/*, src/**/*, zend_abstract_interface/**/*, tests/Benchmarks/**/*, benchmark/*
